= form_tag '${$item.target_url}', :remote => true, :"data-submit_button" => true, :class => "summary" do

  %h1
    {{if type == "order"}}
    ${_jed("Change Orderer")}
    {{else}}
    ${_jed("Change Borrower")}
    {{/if}}
    
  %p.subtitle 
    ${_jed("to substitute")}:
    ${user.firstname} ${user.lastname}
  
  .navigation
    %button.button.white.close_dialog
      .icon.return
      ${_jed("Back")}
    %button.button.green.hide_on_error{:disabled => :disabled, :type => "submit", :"data-on_success" => '${$item.on_success}'}
      {{if type == "order"}}
      ${_jed("Change Orderer")}
      {{else}}
      ${_jed("Change Borrower")}
      {{/if}}

  
  {{if $item.error}}
  .flash_message.visible
    ${$item.error}
  {{else}}
  .flash_message
  {{/if}}
  
  %br

  %section{:class => "new highlighted{{if type == 'order'}} orderer{{else}} borrower{{/if}}"}
    .input_container
      %label.top{:for => "select_user"}
        {{if type == "order"}}
        ${_jed("New Orderer")}
        {{else}}
        ${_jed("New Borrower")}
        {{/if}}
      %input.autocomplete.focus.prevent-scanner-submit{:type => "text", :placeholder => '${_jed("Name / ID")}', :name => "select_user", :autocomplete => "off",
      :"data-url" => "/backend/inventory_pools/${currentInventoryPool.id}/search?types[]=user&with[zip]=1&with[city]=1",
      :"data-autocomplete_class" => "user", 
      :"data-autocomplete_element_tmpl" => "tmpl/autocomplete/user",
      :"data-autocomplete_select_callback" => "SwapUser.setNewUser"}
  
  %hr

  %section.lines.scalable
    ${$grouped_lines = App.Line.groupByDateRanges(lines), ""}
    {{tmpl($grouped_lines) "tmpl/dialog/summary/linegroup"}}
