{{partial 'manage/views/users/cell' user() '{"grid":"col1of8"}'/}}

.col1of8.line-col {{diffToday created_at/}}

.col1of8.line-col.text-align-center{:"data-type" => "lines-cell"} {{include tmpl='manage/views/reservations/cell'/}}

.col1of8.line-col
  {{>getMaxRange()}}
  {{jed getMaxRange() "day" "days"/}}

.col2of8.line-col.text-align-left
  %strong {{jed "Rejected"/}}

.col2of8.line-col.line-actions
  