{{partial 'manage/views/users/cell' user() "col1of8"/}}

.col1of8.line-col {{diffToday created_at/}}

.col1of8.line-col.text-align-center{:"data-type" => "lines-cell"} {{include tmpl='manage/views/lines/cell'/}}

.col1of8.line-col
  {{>getMaxRange()}}
  {{jed getMaxRange() "day" "days"/}}

.col2of8.line-col.text-align-left
  %strong {{jed "Signed"/}}
  {{jed "Contract"/}}
  {{>id}}

.col2of8.line-col.line-actions
  .multibutton
    %a.button.white.text-ellipsis{:href => "{{>user().url('take_back')}}"}
      {{jed "Take Back"/}}
    .dropdown-holder.inline-block
      .button.white.dropdown-toggle
        .arrow.down
      %ul.dropdown.right
        %li
          %a.dropdown-item{:href => "{{>url()}}", :target => "_blank"}
            %i.icon-file-alt
            = _("Contract")
        %li
          %a.dropdown-item{:href => "{{>url('value_list')}}", :target => "_blank"}
            %i.icon-list-ol
            = _("Value List")