{{partial 'manage/views/users/cell' user() '{"grid":"col1of8"}'/}}

.col1of8.line-col {{diffToday created_at/}}

.col1of8.line-col.text-align-center{:"data-type" => "lines-cell"} {{include tmpl='manage/views/reservations/cell'/}}

.col1of8.line-col
  {{>getMaxRange()}}
  {{jed getMaxRange() "day" "days"/}}

.col2of8.line-col.text-align-left {{include tmpl='manage/views/purposes/cell'/}}

.col2of8.line-col.line-actions
  .multibutton
    %a.button.white.text-ellipsis{:"data-order-approve" => true}
      %i.fa.fa-thumbs-up
      {{if is_to_be_verified}}
      {{jed "Verify"/}} + {{jed "Approve"/}}
      {{else}}
      {{jed "Approve"/}}
      {{/if}}
    .dropdown-holder.inline-block
      .button.white.dropdown-toggle
        .arrow.down
      %ul.dropdown.right
        %li
          %a.dropdown-item{:href => "{{>editPath()}}"}
            %i.fa.fa-edit
            {{jed "Edit"/}}
        %li
          %a.dropdown-item.red{:"data-order-reject" => true}
            %i.fa.fa-thumbs-down
            {{jed "Reject"/}}
