
var beta_warning_html = '\
<div style="margin: 10px;"> \
<%= icon_tag("wrench") %> \
Beta warning \
</div> \
';


var beta_warning = new Ext.Panel({
							title: 'Leihs 2.0 Beta',
							html: beta_warning_html,
							closable: true
						});