<style type="text/css">
#doc-box {
    line-height:14px;
    font-size:11px;
	overflow:auto;
}

#sample-ct {
    padding:2px;
}

#sample-ct p i {
    color: #c33;
	font-style:normal;
	font-weight:bold;
}

#sample-ct h2 {
    border-bottom: 2px solid #99bbe8;
    cursor:pointer;
    padding-top:6px;
	-moz-user-select:none;
	-khtml-user-select:none;
}
#sample-ct h2 div {
    background:transparent url(/javascripts/ext/resources/images/default/grid/group-expand-sprite.gif) no-repeat 3px -47px;
    padding:4px 4px 4px 17px;
    color:#3764a0;
    font:bold 11px tahoma, arial, helvetica, sans-serif;
}
#sample-ct .collapsed h2 div {
    background-position: 3px 3px;
}
#sample-ct .collapsed dl {
    display:none;
}

/* mini view */

.mini-view #sample-ct dd {
    float:left;
    width:75px;
    height:75px;
    margin:5px 5px 5px 10px;
    cursor:pointer;
	text-align:center;
}
.mini-view #sample-ct dd img {
    width:50px;
    height:64px;
    margin:5px 2px 0;
    float:none;
}

.mini-view #sample-ct dd div {
    float:none;
    width:auto;
    margin-left:0;
}

.mini-view #sample-ct dd h4 {
    font-family:tahoma,arial,san-serif;
    color:#666;
    font-size:9px;
    font-weight:normal;
	text-align:center;
	margin:0;
	white-space: nowrap;
	overflow: hidden;
}
.mini-view #sample-ct dd p {
    display:none;
}
.mini-view #sample-ct dd.over {
	background:#ebf7d2;
}
.mini-view #sample-ct dd.over h4 {
	color:#1860A8;
}

</style>	


  <%= javascript_tag do -%>
	Ext.namespace('Frontend');
	   
    Frontend.start = function(){
		<%= render :partial => 'users/documents2' %>
    };

	Ext.onReady(Frontend.start);

  <% end -%>  
  
	        

<div id="doc-box" class="mini-view">
</div>
