${$availability = new App.Availability(availability_for_inventory_pool, $item.data),""}
${$user = new App.User(Line.get_user($item.data)), ""}
${$item.data.is_available = $availability.isAvailable(moment(start_date).toDate(), moment(end_date).toDate(), quantity, $user.groupIds()), ""}
{{html $problems = Line.get_problems($item.data), ""}}

%ul{:class => "line ${type} take_back{{if $problems.length}} error{{/if}}", :"data-id" => "${id}"}
  
  .main  
    %li.select
      %label
        %input{:type => "checkbox"}
    %li.inventory_code
      ${item.inventory_code}
      
    {{tmpl($item.data) "tmpl/cell/model"}}
    {{tmpl(purpose) "tmpl/cell/purpose"}}
    
    {{tmpl({problems: $problems}) "tmpl/line/problems"}}

  .actions     
    %li.actions
      .multibutton
        .alternatives
          .trigger
            .arrow

          = link_to "/backend/inventory_pools/${currentInventoryPool.id}/users/${contract.user.id}/take_back/update_lines",
          :class => "button white open_dialog", 
          :"data-tmpl" => "tmpl/dialog/calendar", 
          :"data-dialog_class" => "calendar medium",
          :"data-on_success" => 'TakeBack.update_visits(response);',
          :"data-dialog_ready" => "new BookingCalendar({limitMaxQuantity: false, startDateDisabled: true, withoutQuantity: true})",
          :"data-ref_for_dialog" => "Line.data_for_edit_lines($(_this).closest('.line').tmplItem().data)" do
            .icon.timerange
            ${_jed("Edit")}
            
          = link_to "/backend/inventory_pools/${currentInventoryPool.id}/models/${model.id}/timeline", :class => "button white open_dialog",
          :"data-tmpl" => "tmpl/dialog/availability/timeline",
          :"data-ref_for_dialog" => "$(this).closest('.line').tmplItem().data",
          :"data-dialog_class" => "full_width timeline" do
            .icon.timeline
            ${_jed("Timeline")}

          = link_to "/backend/inventory_pools/${currentInventoryPool.id}/users/${contract.user.id}/take_back/inspection",
          :class => "button white open_dialog", 
          :"data-tmpl" => "tmpl/dialog/take_back/inspect",
          :"data-dialog_class" => "medium inspect", 
          :"data-on_success" => 'TakeBack.update_visits(response);',
          :"data-ref_for_dialog" => "$(this).closest('.line').tmplItem().data" do
            .icon.view_item
            ${_jed("Inspect")}
            
        = link_to "#", :class => "button white open_dialog",
        :"data-tmpl" => "tmpl/dialog/documents/contract",
        :"data-url_for_dialog" => "/backend/inventory_pools/${currentInventoryPool.id}/contracts/${contract.id}.json",
        :"data-dialog_id" => "print",
        :"data-dialog_class" => "medium documents value_list" do
          .contract.icon
          ${_jed("Contract")}
          ${contract.id}