.inline-tab-navigation
  .inline-tab-item.active= names[0]

.list-of-lines

.margin-bottom-m
  .row.text-align-center.padding-top-xs
    %a.button.inset.focus-hover-thin.hidden{:"data-type" => "show-all", :href => link}
      = _("Show all found %s") % names[0]
