= render partial: 'content_for', locals: { container_title: _("Models") }

#models-search-results.wrapper.margin-top-m

  = render :partial => 'manage/tabs/search', :locals => {:active_tab => "model_search".to_sym}

  = render 'search_results_title'

:coffeescript
  
  jQuery ->
    new App.SearchResultsModelsController
      el: $("#models-search-results")
      searchTerm: #{@search_term.to_json}
