- @search_results_title = _("Search results (%s) for %s") % [_("Software"), @search_term]
- content_for :title, @search_results_title
- content_for :search_section, "focus-thin"

#models-search-results.wrapper.margin-top-m

  = render :partial => 'manage/tabs/search', :locals => {:active_tab => "model_search".to_sym}

  = render 'search_results_title'

:coffeescript
  
  jQuery ->
    new App.SearchResultsModelsController
      el: $("#models-search-results")
      type: "#{params[:type]}"
      searchTerm: #{@search_term.to_json}
