= render partial: 'content_for', locals: { container_title: _("Options") }

#options-search-results.wrapper.margin-top-m

  = render :partial => 'manage/tabs/search', :locals => {:active_tab => :option_search}

  = render 'search_results_title'

:coffeescript
  
  jQuery ->
    new App.SearchResultsOptionsController
      el: $("#options-search-results")
      searchTerm: #{@search_term.to_json}
