= render partial: 'content_for', locals: { container_title: _("Users") }

#users-search-results.wrapper.margin-top-m

  = render :partial => 'manage/tabs/search', :locals => {:active_tab => :user_search}

  = render 'search_results_title'

:coffeescript
  
  jQuery ->
    new App.SearchResultsUsersController
      el: $("#users-search-results")
      searchTerm: #{@search_term.to_json}
