$border-width: 1px
$border-color: rgb(50,50,50)

.ui-dialog.documents section.document
  color: black !important
  font-size: 1.1em
  
  .barcode
    position: relative
    margin: 22px 26px 0 26px
  
  p
    font-size: 1.0em
    display: block
    margin: 0 3% 0 3%
    width: 93%
     
  hr
    background: none
    border-bottom: 2px solid black 
    margin: 0 3% 0 3%
    width: 93% 
      
  h1
    font-size: 1.5em
    font-weight: bold
    display: block
    margin: 0 3% 0 3%
    width: 93%
    
  h2
    font-size: 1.0em
    font-weight: bold
    display: block
    margin: 30px 3% 0 3%
    padding-bottom: 6px
    width: 93%
    
  .date
    display: inline-block
    position: absolute
    top: 72px
    margin: 0 3%
    right: 0
    
  .parties
    clear: both
    padding: 24px 0 0
    margin: 0 3%
    
    .customer
      display: block
      float: left
      width: 30%
  
    .inventory_pool
      display: block
      float: left
      
    .customer, .inventory_pool
      &>span
        display: block
      &>label
        font-weight: bold
  
  table
    border-collapse: collapse
    cellspacing: 0
    cellpadding: 0
    empty-cells: show
    margin: 0 3%
    width: 93%
  
    tr td
      border: $border-width solid $border-color
      padding: 2px 4px
    
    thead tr td
      font-size: 0.9em
      font-weight: bold
      
  .list
    margin-bottom
    
  .terms_and_signature
    display: block
    margin: 30px 0
    width: 100%
    
    .terms
      width: 65%

    span
      font-size: 0.9em
      font-weight: bold
      display: inline-block
      margin: 4px 3% 0 3%
      position: absolute
      right: 3%
