.ui-dialog.documents section.value_list
      
  h1
    margin-top: 55px
    
  .date
    top: 65px 
    
  .parties
    padding-bottom: 24px
    
  .list
    .item_price, .total .value
      text-align: right
      white-space: nowrap
 
  .quantity
    text-align: center
    
  .consecutive_number
    white-space: nowrap