%h4= format('%d %s', @h.values.flatten.count, _('Requests'))

- @h.each_pair do |budget_period, requests|
  :ruby
    if @filter['categories_with_requests'] == '1'
      categories_with_requests = @categories.where(id: requests.map(&:category_id))
      categories_with_requests ||= []
    end
    grouped_categories = (categories_with_requests or @categories).group_by(&:main_category).sort_by {|k,v| k.name}.to_h

  = render partial: 'procurement/requests/overview/budget_period',
           locals: { budget_period: budget_period,
                     grouped_categories: grouped_categories,
                     requests: requests }

:scss
  .panel-body {
    padding-top: 0;
    padding-bottom: 0;

    .list-group-item {
      padding-left: 0;
      padding-right: 0;

      .quantities .label {
        min-width: 4em;
        display: inline-block;
      }
    }
  }
