.row.margin-top-l.padding-bottom-m
  .text-align-right.margin-right-m
    %span.badge.medium.padding-inset-xs.text-shadow{:style => "background-color: #999999"} {{jed "Take Backs"/}}
    %span.badge.medium.padding-inset-xs.text-shadow{:style => "background-color: #cccccc"} {{jed "Hand Overs"/}}

.bar-chart