.row.margin-top-l.padding-bottom-m
  .text-align-right.margin-right-m
    %span.badge.medium.padding-inset-xs.text-shadow{:style => "background-color: #999999"}= _("Take Backs")
    %span.badge.medium.padding-inset-xs.text-shadow{:style => "background-color: #cccccc"}= _("Hand Overs")

.bar-chart