.row.line.font-size-xs
  %input{:type => :hidden, :name => "{{>~paramName}}", :value => "{{>id}}"}
  .line-col.col5of6.text-align-left{:"data-user-name" => true}
    {{>name()}}
  .line-col.col1of6.text-align-right
    %button.button.inset.small{:"data-remove-user" => true} {{jed "Remove"/}}
