.ui-autocomplete 
  @extend .dropdown
  
  a 
    @extend .dropdown-item
    @extend .text-ellipsis
    font-weight: normal !important
    font-size: $font-size-xxs !important
    max-width: 100%

  a.ui-state-focus, a.ui-state-hover, a:hover 
    @extend .focus-thin