.content-wrapper
  background: white
  border: 1px solid $lightergrey
  border-bottom: 1px solid darken($lightergrey, 10%)
  @include border-radius($border-radius-m)
  @include box-shadow (0 2px 8px -1px rgba(0,0,0,0.2))