.dropdown-holder
  position: relative

.dropdown
  background: white
  border: 1px solid $almostwhite
  display: none
  font-size: $font-size-xs
  font-weight: normal
  line-height: 1.5em
  position: absolute
  left: -1px
  top: 100%
  z-index: 999
  @include border-radius($border-radius-m)
  @include box-shadow($default-box-shadow)

  &:not(.full-width)
    max-width: 350px
    min-width: 160px

  &.full-width
    width: 100%

  &.right
    left: auto
    right: 1px

  &:not(.straight-top)
    li:first-child .dropdown-item
      @include border-top-radius($border-radius-m)
  li
    &:last-child .dropdown-item
      @include border-bottom-radius($border-radius-m)

.dropdown-item, a.dropdown-item
  color: black
  display: block
  font-weight: bold
  padding: 6px $space-xs
  cursor: pointer
  white-space: nowrap
  width: 100%
  @include box-sizing(border-box)
  @include user-select(none)
  @include border-radius($border-radius-xs)
  @extend .focus-hover-thin

  &:not([class*='text-align'])
    text-align: left

  &.red, &.red:hover
    color: $red !important