input + .addon
  @extend .button
  @extend .button.white
  height: 100%
  position: absolute
  right: -2px
  top: 0
  @include box-sizing(border-box)
  @include border-left-radius(0)

  &.transparent, &.transparent:hover, &.transparent:active
    background: none
    border: none
    @include box-shadow(none)

input
  &.has-addon
    height: 100%
    padding-right: 35px

    &.small
      padding-right: 16px

  &.round-borders + .addon
    @include border-right-radius(22px)