.line
  border-bottom: 1px solid $lightergrey
  border-left: 1px solid transparent
  border-right: 1px solid transparent
  border-top: 1px solid white
  display: table
  width: 100%

  &
    @include link-colors($darkergrey, $darkergrey, $darkergrey, $darkergrey, $darkergrey)

  &:not([class*='height'])
    height: $space-xxl

  &.small:not([class*='height'])
    height: $space-l

  &:not(.start-even):nth-child(even)
    background: rgba(200,200,200,0.1)

  &.start-even:nth-child(odd)
    background: rgba(200,200,200,0.1)

  &.focus-hover-thin:hover
    @include border-radius($border-radius-m)

  &.light:not(:hover)
    background: rgba(200,200,200,0.1)

  &.grayed-out
    color: $lightgrey

    img
      @include opacity(0.3)

    .button
      color: $lightgrey

.line-actions
  
  .button
    max-width: 160px

.line-col
  float: none
  display: table-cell
  height: 100%
  line-height: $line-height-s
  vertical-align: middle

  &:not([class*='padding'])
    padding: 0 0 0 $space-m

  &:not([class*='text-align'])
    text-align: right

  &:not(.line-actions)
    font-size: $font-size-xs

  &:first-child
    text-align: left

  &:last-child
    padding-right: $space-s

.line-info
  height: 100%
  left: 0
  position: absolute
  margin: 1px 0 0 1px
  padding: 1px 0 0 1px
  top: 0
  width: 6px
  @include opacity(0.5)

  &.red
    background: $red

  &+.line-col
    text-align: left