.pearls
  @extend .separated-bottom
  position: relative
  margin-bottom: 36px
  margin-top: -12px

.pearl
  @extend .button
  @extend .button-inset
  @extend .focus-hover-thin
  background: white
  bottom: -14px