.tooltipster-default
  display: inline-block
  border: 1px solid $almostwhite
  @include background(linear-gradient(white 20%, $lightestgrey 80%))
  @include border-radius($border-radius-m)
  @include box-shadow($default-box-shadow)

  &.red-tooltip
    border: 1px solid $red !important
    @include box-shadow(inset 0 0 1px white, 0 0 1px $red, 0 3px 6px -1px $red)

.tooltipster-default .tooltipster-content
  color: $darkergrey
  padding: $space-m $space-s
  @include text-shadow (1px 1px 0 white)

.tooltipster-arrow-border
  border-color: darken($lightergrey, 10) !important

  &+span:last-child
    border-color: $lightestgrey transparent !important