.topbar
  background: $almostwhite
  border: 1px solid $lightergrey
  border-top: 1px solid lighten($lightergrey, 5%)
  border-bottom: 1px solid darken($lightergrey, 5%)
  display: block
  height: 40px
  margin: 0 auto
  position: relative
  z-index: 2001
  @include background(linear-gradient(top, white 50%, darken($almostwhite, 3%) 50%))
  @include border-radius($border-radius-s)
  @include box-shadow (0 2px 8px -1px rgba(0,0,0,0.1))

a.topbar-logo, a.topbar-logo:hover
  color: $darkergrey
  @include text-shadow (0 0 1px white)
  
.topbar-logo
  display: inline-block
  height: 100%
  float: left
  font-size: 21px
  font-weight: bold
  letter-spacing: -1px
  line-height: 1.9em
    
.topbar-navigation 
  display: inline-block
  height: 100%
  float: right

.topbar-item
  background: rgba(190,190,190,0.2)
  cursor: pointer
  float: left
  height: 100%
  position: relative

  .arrow
    @include change-all-arrow-colors($grey)
  
.topbar-item-inner, a.topbar-item-inner
  color: $darkergrey
  display: block
  font-weight: bold
  font-size: 1.2em
  line-height: 3.5em
  height: 100%
  padding: 0 16px
  @include text-shadow (0 0 1px rgba(255,255,255,0.4))

.topbar-item.active, .topbar-item:hover 
  background: none
  @include box-shadow(none)

  .topbar-item-inner
    @include text-shadow (1px 1px 1px white)

  .arrow
    @include change-all-arrow-colors($darkergrey)

.topbar.dark
  background: $grey
  @include background(linear-gradient(top, lighten($grey, 5%) 50%, $grey 50%))
  @include border-radius($border-radius-s)
  border: 1px solid $darkgrey
  border-top: 1px solid transparent
  
  a.topbar-logo, a.topbar-logo:hover
    color: white
    @include text-shadow (1px 1px 0 rgba(0,0,0,0.5))

  .topbar-item-inner, a.topbar-item-inner
    color: rgba(255,255,255,0.8)
    @include text-shadow (1px 1px 0 rgba(0,0,0,0.3))

  .arrow
    @include change-all-arrow-colors(rgba(255,255,255,0.8))

  .topbar-item.active, .topbar-item:hover
    background: rgba(255,255,255,0.3)

    .topbar-item-inner
      color: white
      @include text-shadow (1px 1px 0 rgba(0,0,0,0.5))
      
    .arrow
      @include change-all-arrow-colors(white transparent transparent)