.topbar
  background: $almostwhite
  border-top: 1px solid lighten($lightergrey, 5%)
  border-bottom: 1px solid darken($lightergrey, 5%)
  display: block
  height: 42px
  margin: 0 auto
  position: relative
  z-index: 1999 // modal is 2000
  @include background(linear-gradient(top, white 50%, darken($almostwhite, 3%) 50%))
  @include box-shadow (0 2px 8px -1px rgba(0,0,0,0.1))

a.topbar-logo, a.topbar-logo:hover
  color: $darkergrey
  @include text-shadow (0 0 1px white)
  
.topbar-logo
  display: inline-block
  float: left
  font-size: 21px
  font-weight: bold
  letter-spacing: -1px
  line-height: 1.9em
  text-align: center

  img
    max-height: 38px
    max-width: 100px
    vertical-align: text-top
    
.topbar-navigation 
  display: inline-block
  height: 100%
  position: relative

.topbar-item
  cursor: pointer
  float: left

  .arrow
    @include change-all-arrow-colors($grey)
  
.topbar-item-inner, a.topbar-item-inner
  color: $darkergrey
  display: block
  border: 1px solid rgba(255,255,255,0)
  font-weight: bold
  font-size: 1.2em
  line-height: 27px
  padding: 0 12px
  margin: 6px 1px
  position: relative
  @include border-radius($border-radius-s)
  @include text-shadow (0 0 1px rgba(255,255,255,0.4))
  @extend .text-ellipsis

.topbar-item:not([class*='max-width']) .topbar-item-inner
  @extend .max-width-s-alt

.topbar-item-inner
  @extend .focus-hover-thin

.topbar-item:active, .topbar-item.active
  .topbar-item-inner
    @extend .focus-thin