.topbar-search
  vertical-align: middle
  width: 110px
  z-index: 100
  @include transition(width 0.3s)

  &, &.topbar-item:hover
    border: none !important
    @include box-shadow(none !important)

  input[type='text']
    font-size: $font-size-xs
    height: $space-l

  &.active
    width: 100%

  label
    padding: 6px

  i
    position: relative
    bottom: 2px
    vertical-align: middle

  img
    vertical-align: text-bottom

  .ui-autocomplete
    width: 600px !important