%div.field-inline-entry
  %input{:type => :hidden, :name => "group[partitions_attributes][][model_id]", :value => "${id}"}
  %input{:type => :hidden, :name => "group[partitions_attributes][][inventory_pool_id]", :value => "${currentInventoryPool.id}"}
  %input{:type => :hidden, :name => "group[partitions_attributes][][_destroy]", :value => nil}
  %span.text-ellipsis{:style => "display: block; float: left; max-width: 200px; line-height: 1em"} ${name}
  .floatright
    .capacity{:style => "display: inline-block; padding-right: 16px"}
      %input{:type => :text, :name => "group[partitions_attributes][][quantity]", :value => 1, :min => 1, :style => "width: 30px; text-align: center"}
      = "/"
      ${max_partition_capacity}
    %div{:style => "display: inline-block;"}
      %a.clickable.remove ${_jed("Remove")}