- content_for :title, _("Audits")

.wrapper.margin-top-m

  = render partial: "admin/statistics/tabs"

  .row.content-wrapper.min-height-xl.min-width-full.straight-top

    .events.row.margin-top-l.padding-horizontal-m

      .row.text-align-right.padding-top-l.padding-bottom-l
        = form_tag nil, method: :get do
          %label
            %input.has-addon.datepicker{type: "text", name: "start_date", placeholder: _("Start date"), value: params[:start_date]}
            .addon
              %i.icon-calendar
          %label
            %input.has-addon.datepicker{type: "text", name: "end_date", placeholder: _("End date"), value: params[:end_date]}
            .addon
              %i.icon-calendar
          %button.button.white{type: "submit", style: "vertical-align: top"}= _("Filter")

      = render partial: 'admin/audits/audits', collection: @audits

    .progress.row.margin-top-m.margin-bottom-m.text-align-center
      .icon-spinner

:coffeescript
  @Pages =
    reset: ->
      @current = 1
      @loading = false
      @all_pages_loaded = false
      @load_next() # in case the first page is not filling the window
    load_next: ->
      if @loading == false and not @all_pages_loaded and ($(window).scrollTop() + $(window).height() > $(".events").height())
        @loading = true
        $.ajax
          url: document.location.href
          data: {format: 'js', page: @current + 1}
          dataType: "html"
          beforeSend: =>
            @loading = true
            $(".events + .progress").show()
          success: (html) =>
            if html.trim().length
              @current += 1
              $(html).hide().appendTo(".events").fadeIn(1000) #$(".events").append html
            else
              $("#all_pages_loaded").show()
              @all_pages_loaded = true
          complete: =>
            @loading = false
            $(".events + .progress").hide()
            if ($(window).scrollTop() + $(window).height() > $(".events").height())
              @load_next()

  $(document).on 'scroll', -> Pages.load_next()

  $(document).ready ->
    Pages.reset()
    $(".datepicker").datepicker()
