
<div id="controller">
	<% form_tag( {} ) do %>
	<% params.each do |p| %>
		<%= hidden_field_tag(p[0], p[1]) unless p[0] == "text" %>
	<% end %>	
	<p>
	<%= text_field_tag 'text', params[:text] %>

	</p>
	<% end %>
</div>

<%= display_with_children @categories  %>
