%i.icon-adjust{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-anchor{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-asterisk{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-ban-circle{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-bar-chart{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-barcode{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-beaker{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-beer{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-bell-alt{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-bell{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-bolt{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-book{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-bookmark-empty{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-bookmark{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-briefcase{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-bullhorn{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-bullseye{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-calendar-empty{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-calendar{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-camera-retro{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-camera{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-certificate{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-check-empty{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-check-minus{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-check-sign{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-check{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-circle-blank{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-circle{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-cloud-download{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-cloud-upload{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-cloud{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-code-fork{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-code{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-coffee{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-cog{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-cogs{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-collapse-alt{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-comment-alt{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-comment{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-comments-alt{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-comments{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-credit-card{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-crop{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-dashboard{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-desktop{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-download-alt{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-download{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-edit-sign{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-edit{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-ellipsis-horizontal{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-ellipsis-vertical{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-envelope-alt{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-envelope{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-eraser{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-exchange{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-exclamation-sign{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-exclamation{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-expand-alt{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-external-link-sign{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-external-link{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-eye-close{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-eye-open{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-facetime-video{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-fighter-jet{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-film{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-filter{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-fire-extinguisher{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-fire{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-flag-alt{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-flag-checkered{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-flag{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-folder-close-alt{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-folder-close{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-folder-open-alt{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-folder-open{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-food{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-frown{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-gamepad{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-gift{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-glass{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-globe{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-group{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-hdd{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-headphones{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-heart-empty{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-heart{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-home{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-inbox{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-info-sign{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-info{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-key{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-keyboard{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-laptop{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-leaf{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-legal{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-lemon{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-level-down{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-level-up{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-lightbulb{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-location-arrow{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-lock{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-magic{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-magnet{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-mail-forward{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-mail-reply{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-mail-reply-all{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-map-marker{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-meh{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-microphone-off{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-microphone{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-minus-sign-alt{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-minus-sign{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-minus{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-mobile-phone{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-money{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-move{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-music{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-off{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-ok-circle{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-ok-sign{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-ok{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-pencil{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-phone-sign{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-phone{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-picture{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-plane{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-plus-sign{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-plus{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-print{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-pushpin{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-puzzle-piece{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-qrcode{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-question-sign{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-question{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-quote-left{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-quote-right{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-random{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-refresh{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-remove-circle{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-remove-sign{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-remove{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-reorder{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-reply-all{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-reply{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-resize-horizontal{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-resize-vertical{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-retweet{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-road{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-rocket{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-rotate-left{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-rotate-right{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-rss-sign{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-rss{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-screenshot{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-search{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-share-alt{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-share-sign{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-share{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-shield{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-shopping-cart{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-sign-blank{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-signal{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-signin{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-signout{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-sitemap{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-smile{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-sort-down{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-sort-up{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-sort{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-spinner{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-star-empty{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-star-half-full{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-star-half-empty{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-star-half{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-star{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-tablet{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-tag{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-tags{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-tasks{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-terminal{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-thumbs-down{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-thumbs-up{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-ticket{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-time{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-tint{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-trash{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-trophy{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-truck{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-umbrella{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-unlock-alt{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-unlock{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-upload-alt{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-upload{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-user-md{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-user{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-volume-down{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-volume-off{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-volume-up{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-warning-sign{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-wrench{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-zoom-in{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-zoom-out{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-file{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-file-alt{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-cut{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-copy{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-paste{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-save{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-undo{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-repeat{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-text-height{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-text-width{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-align-left{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-align-center{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-align-right{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-align-justify{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-indent-left{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-indent-right{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-font{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-bold{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-italic{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-strikethrough{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-underline{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-superscript{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-subscript{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-link{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-unlink{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-paper-clip{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-eraser{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-columns{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-table{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-th-large{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-th{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-th-list{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-list{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-list-ol{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-list-ul{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-list-alt{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-angle-left{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-angle-right{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-angle-up{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-angle-down{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-arrow-down{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-arrow-left{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-arrow-right{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-arrow-up{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-caret-down{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-caret-left{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-caret-right{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-caret-up{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-chevron-down{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-chevron-left{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-chevron-right{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-chevron-up{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-chevron-sign-left{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-chevron-sign-right{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-chevron-sign-up{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-chevron-sign-down{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-circle-arrow-down{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-circle-arrow-left{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-circle-arrow-right{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-circle-arrow-up{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-double-angle-left{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-double-angle-right{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-double-angle-up{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-double-angle-down{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-hand-down{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-hand-left{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-hand-right{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-hand-up{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-play-circle{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-play-sign{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-play{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-pause{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-stop{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-eject{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-backward{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-forward{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-fast-backward{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-fast-forward{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-step-backward{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-step-forward{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-fullscreen{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-resize-full{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-resize-small{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-css3{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-facebook{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-facebook-sign{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-twitter{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-twitter-sign{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-github{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-github-sign{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-html5{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-linkedin{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-linkedin-sign{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-maxcdn{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-pinterest{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-pinterest-sign{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-google-plus{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-google-plus-sign{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-ambulance{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-beaker{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-h-sign{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-hospital{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-medkit{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-plus-sign-alt{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-stethoscope{:class => defined?(additional_class) ? additional_class : ""}
%i.icon-user-md{:class => defined?(additional_class) ? additional_class : ""}

