[submodule "legacy"]
	path = legacy
	url = https://github.com/leihs/leihs_legacy
[submodule "database"]
	path = database
	url = https://github.com/leihs/leihs_database
[submodule "deploy"]
	path = deploy
	url = https://github.com/leihs/leihs_deploy
[submodule "zhdk-inventory"]
	path = zhdk-inventory
	url = https://github.com/leihs/leihs_zhdk-inventory
[submodule "documentation"]
	path = documentation
  url = https://github.com/leihs/leihs_documentation
[submodule "admin"]
	path = admin
	url = https://github.com/leihs/leihs-admin.git
[submodule "procure"]
	path = procure
	url = https://github.com/leihs/leihs-procure
[submodule "my"]
	path = my
	url = https://github.com/leihs/leihs-my
[submodule "integration-tests"]
	path = integration-tests
	url = https://github.com/leihs/leihs-integration-tests.git
[submodule "mail"]
	path = mail
        url = https://github.com/leihs/leihs-mail.git
[submodule "borrow"]
	path = borrow
	url = https://github.com/leihs/leihs-borrow.git
[submodule "leihs-inventory"]
	path = leihs-inventory
	url = https://github.com/leihs/leihs-inventory.git
