.DS_Store
/.clj-kondo/
/.lsp/
/archive
/audits-archiver
/integration
/inventory
/system
/tmp
/zhdk-aai-shibboleth-auth-system
/zhdk-agw-auth-system
/zhdk-sync

# NOTE: must keep those in order!
/config/*
!/config/releases/
