*.swp
.tmp_*~
*~
.loadpath
.project
log/*
tmp/*
config/environments/development_mail.rb
config/development.sphinx.conf
config/cucumber.sphinx.conf
config/culerity.sphinx.conf
config/database.yml
db/sphinx/
.DS_Store
doc/todo.html
public/images/graphs/*
rerun.txt

