[submodule "legacy"]
	path = legacy
	url = https://github.com/leihs/leihs_legacy
[submodule "database"]
	path = database
	url = https://github.com/leihs/leihs_database
[submodule "deploy"]
	path = deploy
	url = https://github.com/leihs/leihs_deploy
[submodule "system"]
	path = system
	url = https://github.com/leihs/leihs_system
[submodule "zhdk-inventory"]
	path = zhdk-inventory
	url = https://github.com/leihs/leihs_zhdk-inventory
[submodule "documentation"]
	path = documentation
  url = https://github.com/leihs/leihs_documentation
[submodule "admin"]
	path = admin
	url = https://github.com/leihs/leihs-admin.git
