*.swp
.tmp_*~
*~
.loadpath
.project
.ruby-version
.sass-cache
jhw.*
log/*
config/environments/development_mail.rb
config/development.sphinx.conf
config/cucumber.sphinx.conf
config/culerity.sphinx.conf
config/database.yml
config/database_local.yml
db/sphinx/
db/backups/
.DS_Store
doc/todo.html
public/images/graphs/*
rerun.txt
public/images/attachments
public/attachments
.jhw-cache
public/assets
db/structure.sql
doc/diagrams/generated/captures.dot
.idea/
chrome*
public/attachments/*
Gemfile.local*
.vagrant/*
.vagrant*
/tags
db/exports/
tmp/
features/reports/*
.settings
.byebug_history
