<div id="tabs">
	<ul>
		<li <%= 'class="active"' if controller.action_name == "index" %>><%= link_to "<span>" + _("Acknowledge") +
		"<em> (#{@submitted_orders_size})</em></span>", :controller => 'acknowledge' %></li>
	</ul>
</div>