= render :partial => '/layouts/backend/tabs'
= render :partial => '/layouts/frontend/content_box_head_fullwidth'

.innercontent
  %h1
    = abbr_daynames()

= render :partial => '/layouts/frontend/content_box_foot'
