%li.separated-bottom.exclude-last-child.width-xl
  %a
    .row
      .col1of3
        %strong
          {{>inventoryCode}}
      .col2of3.text-ellipsis{:title => "{{>name}}"}
        %span.grey-text {{>name}}
