.date_range
  .date
    ${moment(start_date).format(i18n.date.L)} - ${moment(end_date).format(i18n.date.L)}
  .range
    ${moment(end_date).diff(moment(start_date), "days")}
    = _("Days")
    
.clear
.list
  {{each(i, line) lines}}
  %input{:type => :hidden, :name => "line_ids[]", :value => "${line.id}"}
  
  {{if line.returned_quantity}}
  %input{:type => :hidden, :name => "returned_quantity[${line.id}]", :value => "${line.returned_quantity}"}
  {{/if}}
  
  %ul{:class => "line {{if !line.is_available}} unavailable{{/if}}"}
    .main
      %li.quantity
        {{if line.returned_quantity}}
        ${line.returned_quantity}
        = "/"
        {{/if}}
        ${line.quantity}
      %li.model
        ${line.model.name}
    {{if !line.is_available && line.type != "option_line"}}
    %li.problems
      = _("Problems")
    {{/if}}
  {{/each}}  