%select.width-full{:name => "{{>~field.getFormName()}}"}
  {{for ~field.values}}
  {{if ~field.getValue(~itemData, ~field.attribute, true) == value}}
  %option{:value => "{{>value}}", :selected => true}
    {{jed label/}}
  {{else}}
  %option{:value => "{{>value}}"}
    {{jed label/}}
  {{/if}}
  {{/for}}