%form#assign.row{:autocomplete => :off}

  %label.row.margin-bottom-xxs{:for => "assign"}= _("Assign")
  .row
    %input.row.has-addon{:autocomplete => :off, :id => "assign-input", :"data-add-contract-line" => true, :name => "input", :type => :text, :placeholder => "#{_("Inventory code")}", :"data-barcode-scanner-target" => true}
    %button.addon{:type => :submit, :title => _("Add")}
      %i.icon-ok-sign
