.padding-top-m.padding-left-m.padding-bottom-m

  .multibutton{:disabled => :disabled}
    %button.button.green{:disabled => :disabled, :"data-selection-enabled" => true, :"data-take-back-selection" => true}
      = _("Take Back Selection")
      %span#line-selection-counter.badge.dark 0
    .dropdown-holder.inline-block
      .button.green.dropdown-toggle
        .arrow.down
      %ul.dropdown.right
        %li
          %a.dropdown-item{:"data-edit-lines" => "selected-lines"}
            %i.icon-calendar
            = _("Edit Selection")