%section
  .inner
    .field
      %h3.key= _("Inventory Code")
      .value
        - if is_super_user?
          %input#item_inventory_code{:type => :text, :name => "item[inventory_code]", :value => @item.inventory_code}
        - else
          %span= @item.inventory_code
          = f.hidden_field :inventory_code