
<% tabnav :item_edit do %>

	<ul>
		<li><b>Name:</b> <%= @item.model.name %></li>
		<li><b>Manufacturer:</b> <%= @item.model.manufacturer %></li>
	</ul>
	

	<hr />
	<div id="search_query">
		<%= _("Set new model") %>: <%= text_field_tag('search', _("search"),
							:onfocus => "this.value='';",
							:onchange => remote_function(:update => 'search_result',
														 :url => { :action => 'search_model', :id => @item },
														 :with => "'search=*' + value + '*'" )) %>
	</div>
	<div id="search_result">
	</div>
	

<% end %>