
<% tabnav :item_edit do %>

	<ul>
		<li><b>Status:</b> <%= @item.status_const %></li>
		<li><b>In Stock?:</b> <%= @item.in_stock? %></li>
		<li>TODO: currently borrowed by user ...</li>
	</ul>
	
	<hr />
	<%= link_to _('Toggle borrowable status'),
		:action => 'toggle_status',
		:id => @item %>
	

<% end %>