@import "main"

#print > .dialog
  display: block !important
  
  &>*
    display: none !important
    
  &>.documents
    display: block !important
    
    &>*
      display: none !important
      
    &>.contract
      display: block !important
    
#print .contract
  width: 100%
  
  .barcode
    display: block
    height: 1cm
    width: 100%

  h1
    font-size: 13pt
    display: block
    padding-bottom: 1cm
  
  table
    &>.start_date, &>.end_date, &>.returning_date
      letter-spacing: -1pt
  
  .date
    display: inline-block
    position: absolute
    top: 1.6cm
    right: 0
  
  .parties
    margin-bottom: 1.5cm
  
    .customer
      display: block
      float: left
      width: 45%
  
    .inventory_pool
      display: block
      float: right
    width: 45%

    .customer, .inventory_pool
      &>span
        display: block
      &>label
        font-weight: bold

  .purposes
    margin-top: 1.5cm
    
    h2
      display: block
      page-break-after: avoid
    p
      display: block
      page-break-before: avoid

  .signature
    border-top: $border-width solid $border-color
    display: block
    margin-top: 2cm
    width: 100%

    span
      font-weight: bold
      display: inline-block
      position: absolute
      top: 0.1cm
      right: 0.1cm
