#print section.value_list
  .date
    top: 0.2cm
  
  .item_price, .total .value
    text-align: right
    white-space: nowrap
  
  .quantity
    text-align: center
  
  .consecutive_number
    white-space: nowrap