:css
  .simple_tree ul {
    margin-left: 2em;
  }

:coffeescript
  jQuery ->
    $(".simple_tree input[type='checkbox']").change ()->
      $(".simple_tree input[type='checkbox'][value='"+this.value+"']").attr('checked', this.checked)

:ruby
  def category_node(category, parent_id)
    {:data => {:title => category.label(parent_id)},
     :attr => {:id => category.id},
     :children => category.children.order("name asc").map{|c| category_node(c, category.id) } }
  end

  def category_root
    {:data => {:title => _("All")},
     :attr => {:id => 0},
     :state => "open",
     :children => Category.roots.order("name asc").map{|c| category_node(c, 0) } }
  end

  def simple_category_tree_root(nodes, links)
    capture_haml do
      haml_tag :ul, :class => "simple_tree" do
        nodes.collect do |node|
          haml_tag :li do
            haml_tag :label do
              haml_concat check_box_tag "category_ids[]", node[:attr][:id], links.include?(node[:attr][:id])
              haml_concat " #{node[:data][:title]}"
            end
            haml_concat simple_category_tree_root(node[:children], links) unless node[:children].empty?
          end
        end
      end
    end
  end


%section#model-categories
  .inner
    .field
      %h3.key= "#{_("Categories")}:"
      .clear
      %br
      .indent= simple_category_tree_root category_root[:children], (@model.try(:categories) || []).collect(&:id)
