<%= render :partial => 'index_row_common', :locals => { :model => model } %>
<td>
	<%= model.manufacturer %>
</td>

<% max_available = model.availability_changes_in(current_inventory_pool).maximum_available_in_period_for_user(@user, @start_date, @end_date) %>
<% content_tag :td, :class => "valid_#{(max_available > 0)}" do %>
     <%= max_available %>
<% end %>
 
<td class="buttons">
	<% var_id = (model.is_a?(Model) ? "model_id" : "model_group_id")
	   glue = (params[:source_path].include?('?') ? '&' : '?' )
	   url = "#{params[:source_path]}#{glue}#{var_id}=#{model.id}"
	 %>
	<%=	link_to(icon_tag("package_add") + " " + _("Select"), url,
				:method => 'post', :target=> '_top') if @line.nil? or @line.model != model %>
</td>