= table_with_search_and_pagination :columns => ["", [_("Model"), 'name'], (params[:source_path] ? [_("Manufacturer"), 'manufacturer'] : _("Categories")), _("Available Items"), _("Action")],
                                    :records => @models do |model|
  %tr{:id => "model_#{model.id}"}
    - if params[:source_path] # we are in a greybox
      = render :partial => 'index_row_greybox', :locals => { :model => model }
    - else
      = render :partial => 'index_row_plain',   :locals => { :model => model }
