
<div id="tabs">	
	<ul>
		<li <%= 'class="active"' if controller.action_name == "index" %>><%= link_to "<span>" + _("Models") + "<em> (#{@models.size})</em></span>",
																				:controller => 'models' %></li>


</ul>
</div>
