<% unless @model.accessories.empty? %>

	<% form_tag :action => 'accessories', :id => @model do %>

		<ul>
		<% @model.accessories.each do |a| %>
			<li><%= check_box_tag 'accessory_ids[]',
								  a.id,
								  @current_inventory_pool.accessories.include?(a) %>
				<b><%= a.name %></b>
			</li>
		<% end %>
		</ul>
			
		<br />
							
		<%= submit_tag 'Set' %>
	<% end %>
	
<% end %>
	
