<div class="blatt">
	<h2>Infos zum Gerätepark</h2>
	Reservierte Geräte holen Sie bitte unter Vorlage eines Ausweises bei dem jeweiligen Verleiher ab. Rechts sehen Sie, welchen Verleiher sie im Augenblick besuchen.
</div>