%form#model-form
  %input{type: :hidden, name: "model[type]", value: "software"}

  .col1of2.padding-right-xs

    = render :partial => "manage/models/form/name"

    = render :partial => "manage/models/form/manufacturer"

  .col1of2

    = render :partial => "manage/models/form/technical_details"

    = render :partial => "manage/models/form/attachments"
