- unless Procurement::BudgetPeriod.current
  .alert.alert-danger
    %i.fa.fa-warning.text-danger
    = _('Current budget period not defined yet')

- unless Procurement::Group.exists?
  .alert.alert-danger
    %i.fa.fa-warning.text-danger
    = _('No groups defined yet')

- if Procurement::Access.admins.empty?
  .alert.alert-danger
    %i.fa.fa-warning.text-danger
    = _('No admins defined yet')

- if Procurement::Access.requesters.empty?
  .alert.alert-danger
    %i.fa.fa-warning.text-danger
    = _('No requesters defined yet')
