.emboss.white.padding-inset-xxs
  .row
    %p.paragraph-s
      %strong
        {{>firstname}}
        {{>lastname}}
    .position-absolute-topright.padding-inset-xxs
      %a.grey#remove-user.padding-inset-xxs
        %i.fa.fa-times-circle.icon-m