.modal.medium.hide.fade.ui-modal.padding-inset-m.padding-horizontal-l{:role => "dialog", :tabindex => "-1"}

  %form

    .row.padding-vertical-m
      .col1of2
        %h3.headline-l {{jed "Change orderer"/}}

      .col1of2
        .float-right
          %a.modal-close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button", :title => '{{jed "close dialog"/}}', :class => "weak"}
            Abbrechen
          %button.button.white.text-ellipsis{:type => :submit}
            {{jed "Change orderer"/}}

    #errors.padding-vertical-m.hidden
      .row.emboss.red.text-align-center.font-size-m.padding-inset-s
        %strong

    #user.row.padding-vertical-m

      .row.emboss.padding-inset-m

        #swapped-person.col4of9.text-align-center

          %input#user-id{:autocomplete => :off, :type => :text, :placeholder => "{{jed 'Name / ID'/}}", :autofocus => :autofocus, :"data-barcode-scanner-target" => true, :"data-prevent-barcode-scanner-submit" => true}

          #selected-user

        .col1of9.text-align-center
          %i.icon-exchange.icon-size-xxl

        .col4of9.text-align-center

          %p.paragraph-s.padding-top-xxs.margin-top-xxs
            %strong
              {{>user().firstname}}
              {{>user().lastname}}
