- @sections[@current_section].each do |section|
  %a.button{:href => "##{section}"}= section.camelize

%h3.headline-m.light.padding-vertical-m.margin-bottom-m.margin-top-m .grey-text

- @sections[@current_section].each do |section|
  %a.grey-text.button{:href => "##{section}"}= section.camelize