.row
  .col1of2
    %ul
      %li Lorem
      %li ipsum 
      %li dolor
      %li sit
      %li amet
  .col1of2
    %ol
      %li Lorem
      %li ipsum 
      %li dolor
      %li sit
      %li amet

%h3.headline-m.light.padding-vertical-m.margin-bottom-m.margin-top-m .inline

.row
  .col1of2
    %ul
      %li.inline Lorem
      %li.inline ipsum 
      %li.inline dolor
      %li.inline sit
      %li.inline amet
  .col1of2
    %ol
      %li.inline Lorem
      %li.inline ipsum 
      %li.inline dolor
      %li.inline sit
      %li.inline amet