%h3.headline-m.light.padding-vertical-m.margin-bottom-m .separated-right
.row.min-height-s.separated-right

%h3.headline-m.light.padding-vertical-m.margin-bottom-m .separated-left
.row.min-height-s.separated-left

%h3.headline-m.light.padding-vertical-m.margin-bottom-m .separated-top
.row.min-height-s.separated-top

%h3.headline-m.light.padding-vertical-m.margin-bottom-m .separated-bottom
%div
  .row.min-height-s.separated-bottom
  .row.min-height-s.margin-top-s.separated-bottom.exclude-last-child .exclude-last-child