%h3.headline-m.light.padding-vertical-m.margin-bottom-m= "max-width"
.emboss
  .emboss.max-width-s .max-width-s
.emboss
  .emboss.max-width-m .max-width-m
.emboss
  .emboss.max-width-l .max-width-l
.emboss
  .emboss.max-width-xxs .max-width-xxs

.emboss
  .emboss.max-width-full .max-width-full

%h3.headline-m.light.padding-vertical-m.margin-bottom-m= "min-height"

.emboss.margin-bottom-s.min-height-s .min-height-s
.emboss.margin-bottom-s.min-height-m .min-height-m
.emboss.margin-bottom-s.min-height-l .min-height-l

%h3.headline-m.light.padding-vertical-m.margin-bottom-m= "min-width"

.emboss.margin-bottom-s
  .emboss.min-width-s .min-width-s
  .emboss.min-width-m .min-width-m
  .emboss.min-width-l .min-width-l
  .emboss.min-width-full .min-width-full