%h3.headline-m.light.padding-vertical-m.margin-bottom-m= "max-height"
.emboss
  .emboss.max-height-xxs .max-height-xxs
.emboss
  .emboss.max-height-xs .max-height-xs
.emboss
  .emboss.max-height-xs-alt .max-height-xs-alt
.emboss
  .emboss.max-height-s .max-height-s
.emboss
  .emboss.max-height-m .max-height-m
.emboss
  .emboss.max-height-l .max-height-l

.emboss
  .emboss.max-height-full .max-height-full

%h3.headline-m.light.padding-vertical-m.margin-bottom-m= "max-width"
.emboss
  .emboss.max-width-xxs .max-width-xxs
.emboss
  .emboss.max-width-xs .max-width-xs
.emboss
  .emboss.max-width-xs-alt .max-width-xs-alt
.emboss
  .emboss.max-width-s .max-width-s
.emboss
  .emboss.max-width-m .max-width-m
.emboss
  .emboss.max-width-l .max-width-l

.emboss
  .emboss.max-width-full .max-width-full

%h3.headline-m.light.padding-vertical-m.margin-bottom-m= "min-height"

.emboss.margin-bottom-s.min-height-s .min-height-s
.emboss.margin-bottom-s.min-height-m .min-height-m
.emboss.margin-bottom-s.min-height-l .min-height-l

%h3.headline-m.light.padding-vertical-m.margin-bottom-m= "min-width"

.emboss.margin-bottom-s
  .emboss.min-width-s .min-width-s
  .emboss.min-width-m .min-width-m
  .emboss.min-width-l .min-width-l
  .emboss.min-width-full .min-width-full
