<td><%= link_to _("Order from %s") % order.user.name, backend_inventory_pool_order_path(current_inventory_pool, order) %></td>
<td><%= short_date(order.created_at) %>
<td><%= order.status_string %></td>
<td><%= order.purpose %></td>