%div{:"data-id" => "{{>id}}", 
     :class => "row line height-xs{{if availableQuantityForInventoryPools}}{{if availableQuantityForInventoryPools(~inventory_pool_ids) == 0}} grayed-out{{/if}}{{/if}}"}

  .line-col.col1of6.no-padding
    .padding-inset-xxs.text-align-center

      {{if id}}
      %img.max-height-xxs-alt.max-width-xs{src: "/models/{{>id}}/image_thumb"}
      {{else}}
      .padding-inset-s
        %img.margin-horziontal-auto.max-height-xxs-alt.max-width-micro{:src => image_path("loading.gif")}
      {{/if}}

  .line-col.col3of6.text-align-left
    {{if id}}
    {{>name}}
    {{/if}}

  .line-col.col1of6
    {{if id}}
    {{>manufacturer}}
    {{/if}}

  .line-col.col1of6
    {{if id}}
    %button.button.small.focus-hover.inset{:title => "Add to order"}
      .padding-horizontal-xxs
        %i.icon-plus.icon-size-xxs
    {{/if}}
