<ul>
	<li><%= link_to _('New Order'), :controller => 'orders', :action => 'new' %></li>
	<li><%= link_to _('My Orders'), :controller => 'orders', :action => 'index' %></li>
	<li><%= link_to _('My Contracts'), :controller => 'contracts', :action => 'index' %></li>
</ul>
