<ul>
	<li><%= link_to _('New Order'), :controller => 'orders', :action => 'new' %></li>
	<li><%= link_to _('My Orders'), :controller => 'orders', :action => 'index' %></li>
	<li><%= link_to _('My Contracts'), :controller => 'contracts', :action => 'index' %></li>
	<li>
		<%= greybox_link_to_page(image_tag($layout_public_path + "/images/icons/shape_align_left.png") + " " + _("My Timeline"),
		 	{ :controller => 'users', :action => 'timeline' },
			:title => _("Timeline"), :width => 1000 ) %>						
	</li>
</ul>
