<br/>
<div class="blatt">
	<br /><br /><br /><br /><br /><br />
	<h2>Bitte anmelden</h2><br/>

	<% if flash[ :notice ] %>
		<div class="errorExplanation" id="errorExplanation"><h2><%= flash[ :notice ] %></h2></div>
	<% end %>
</div>