    <tr>
      <td><%= contract_line.quantity %></td>
      <td colspan="2"><%= contract_line.model.name%></td>
      <td colspan="4"><%= short_date(contract_line.start_date) %> - <%= short_date(contract_line.end_date) %></td>
    </tr>