%aside#aside
  .header
    .borderright
    .headerinner
      %ul.navigation
        %li.active{:class => "order"}
          %a{:href => "#", :title => _("Order")}
            %span{:class => "icon"}
        %li{:class => "templates"}
          %a{:href => "#", :title => _("Order Templates")}
            %span{:class => "icon"}
    .borderleft
  
  .inner
    = render :partial => "orders/compact_order"
          
    #compactTemplates
      %h3 
        = _("Order Templates")
      %a.edit{:href => ""}
        = _("edit")
      .clear
    
    .clear
    .borderleft
    .borderright      
  
  .footer
    .borderleft
    .footerinner
    .borderright
    
:javascript
  
  $(document).ready(function () {
    AsideNavigation.setup();
  });

  // ASIDE NAVIGATION
  var AsideNavigation = new AsideNavigation();
  function AsideNavigation () {
    
    this.setup = function () {
      $('#aside .navigation .order a').bind('click', function(){
        $('#compactOrder').stop().show();
        $('#compactTemplates').stop().hide();
        AsideNavigation.switchActive($(this).parent());
      });
      
      $('#aside .navigation .templates a').bind('click', function(){
        $('#compactOrder').stop().hide();
        $('#compactTemplates').stop().show();
        AsideNavigation.switchActive($(this).parent());
      });
    }
    
    this.switchActive = function(_newActive) {
      $("#aside .navigation .active").removeClass("active");
      $(_newActive).addClass("active");
    }
  }