<aside id="basket">
	
	<div class="header"><div class="borderright"></div><div class="borderleft"></div></div><!-- header -->
	
	<div class="inner">
	
		<strong class="title"><%= _("Checkout") %></strong>
					
		<a class="edit" href="bearbeiten"><%= _("edit")%></a>
		
		<div class="clear"></div>
		
		<table>
			<tr>
				<td class="amount"><a href="Anzahl">1</a></td>
				<td class="name"><a href="Item_Beschreibung">Item_Beschreibunasdasdasdasdasdasdas</a></td>
				<td class="delete"><a href="delete">x</a></td>
			</tr>
			<tr>
				<td class="amount"><a href="Anzahl">123</a></td>
				<td class="name"><a href="Item_Beschreibung">Item_Beschreibung</a></td>
				<td class="delete"><a href="delete">x</a></td>
			</tr>
			<tr>
				<td class="amount"><a href="Anzahl">123</a></td>
				<td class="name"><a href="Item_Beschreibung">Item_Beschreibung</a></td>
				<td class="delete"><a href="delete">x</a></td>
			</tr>
			<tr>
				<td class="amount"><a href="Anzahl">123</a></td>
				<td class="name"><a href="Item_Beschreibung">Item_Beschreibung</a></td>
				<td class="delete"><a href="delete">x</a></td>
			</tr>
		</table>
		
		<div class="clear"></div>
	
		<div class="button green">
			<a href="#">Bestellung abschicken</a>
		</div><!-- .button -->
		
	
	</div><!-- inner -->
	
	<div class="footer"><div class="borderright"></div><div class="borderleft"></div></div><!-- footer -->
	
</aside><!-- basket -->