<nav id="navigation">
	
	<ul>
		<li class="item first">
			<div class="leftend"></div>
			<a class="anchor" href="" title="Geräte">Geräte</a>
		</li><!-- .item -->
		<li class="item">
			<div class="leftend"></div>
			<a class="anchor" href="" title="Audio">Audio</a>
		</li><!-- .item -->
		<li class="item active">
			<div class="leftend"></div>
			<a class="anchor" href="" title="Lautsprecher">Lautsprecher</a>
		</li><!-- .item -->
	</ul>
			
</nav><!-- #navigation -->
