<section id="search">
	
	<div class="borderleftround"></div>
	
	<div class="inner">
		
		<div class="container">
			<div class="borderleft"></div>
			<input type="text" class="input"/>
			<div class="borderright"></div>
			<input type="image" class="button" src="<%= icon_path('search') %>" alt="search">
		</div><!-- .container -->
		
	</div><!-- .inner -->
		
	<div class="borderrightstraight"></div>
	
</section><!-- #search -->
