{{if sublines}}
{{each sublines}}
= hidden_field("line_ids", "", :value => "${$value.id}")
{{/each}}
{{else}}
= hidden_field("line_ids", "", :value => "${id}")
{{/if}}

${$max_available = new App.Availability(availability_for_inventory_pool).maxAvailableForGroups(moment(start_date).sod().toDate(), moment(end_date).eod().toDate(), new App.User(Line.get_user($item.data)).groupIds()), ""}
%ul.line
  .main
    %li.amount
      %span.requested
        %span.number
          ${quantity}
        %span.label
          ${_jed("requested")}
      {{if (type != "option_line")}} 
      = "/"     
      %br
      %span.grey.available
        %span.number ${$max_available}
        ${_jed("available")}
      {{/if}}
    %li.name
      %strong
        ${model.name}