= hidden_field("line_ids", "", :value => "${id}")
%ul.line
  .main
    %li.amount
      ${quantity}
      {{if (total_rentable || total_rentable == 0)}} 
      = "/"          
      %span.grey
        ="${total_rentable}"
        = _("total rentable")
      {{/if}}
    %li.name
      %strong
        ${model.name}