{{if sublines}}
{{each sublines}}
= hidden_field("line_ids", "", :value => "${$value.id}")
{{/each}}
{{else}}
= hidden_field("line_ids", "", :value => "${id}")
{{/if}}
%ul.line
  .main
    %li.amount
      ${quantity}
      {{if (type != "option_line")}} 
      = "/"     
      %span.grey
        ="${total_rentable}"
        = _("total rentable")
      {{/if}}
    %li.name
      %strong
        ${model.name}