@import "../../../shared/variables";
@import "../../../shared/mixins";

.ui-dialog.hand_over.documents {
  
  section.documents {
    padding-top: 10px;
    
    .navigation {
      top: 77px !important;
      right: 8px !important;
      top: auto;
      z-index: 1000;
    }
    
    section {
      border: 1px solid white;
      display: none;
      margin-top: 12px;
      min-height: 60px;
      z-index: 1;
      @include box-shadow(1px 1px 4px rgba(0,0,0,0.4)); 
      
      &.active {
        display: block;
      }
    }
  }
}