@import "../../../shared/variables";

.ui-dialog.hand_over {
  
  .purpose {
    background: $highlight-grey;
    position: relative;
    padding: 7px 24px 6px;
    margin-top: 12px;
    left: -17px;
    width: 708px;
    
    p:not(.hint) {
      padding-top: 2px;
      float: left;
      font-size: 1.2em;
      width: 80%;
    }
    
    label {
      display: block;
    }
    
    .button {
      float: right;
      margin-bottom: -11px;
      margin-right: 0;
      position: relative;
      top: -13px;
    }
    
    .add_purpose {
      display: none;
      
      #purpose {
        height: 36px;
        width: 97.5%;
      }
    }
    
    &.none {
      .add_purpose { display: block; }
      .button { display: none; }
    }
  }
  
  &.documents {
    section.documents {
      padding: 22px 0;
      
      .navigation {
        right: -3px;
      }
    }
  }
}