%ul.line{:class => "${type}"}
  
  .main
  
    {{tmpl($item.data.user) "tmpl/cell/user_name"}}
    {{tmpl($item.data) "tmpl/cell/items"}}
          
    %li.date
      {{html moment(created_at).format(i18n.date.L)}}
    
    %li.status
      = _("Approved")
      %span.grey.digits
        {{html moment(updated_at).format(i18n.date.L)}}
  
  .actions      
    %li.actions
      = link_to "/backend/inventory_pools/${current_inventory_pool}/order/${id}", :class => "button white" do
        .icon.view_order
        = _("View")