%ul.line{:class => "${type}"}
  
  .main
  
    {{tmpl($item.data.user) "tmpl/cell/user_name"}}
    {{tmpl($item.data) "tmpl/cell/items"}}
          
    %li.date
      {{html moment(created_at).format(i18n.date.L)}}
    
    %li.status
      ${_jed("Approved")}
      %span.grey.digits
        {{html moment(updated_at).format(i18n.date.L)}}
  