%ul.line{:class => "${type}"}
  
  .main
  
    {{tmpl($item.data.user) "tmpl/cell/user_name"}}
    {{tmpl($item.data) "tmpl/cell/items"}}
          
    %li.date
      ${moment(created_at).format(i18n.date.L)}
    
    %li.range
      {{if lines.length}}    
      %span.text
        %span.grey
          ${_jed("for max.")}
      %span.number
        ${$max_range = App.Line.getMaxRange(lines), ""}
        ${$max_range}
      %span.text
        ${_jed($max_range, "day")}
      {{/if}}

    %li.status
      %span.red
        %strong
          ${_jed("Rejected on")}
        ${moment(updated_at).format(i18n.date.L)}
