%ul.line{:class => "${type}"}
  
  .main
  
    {{tmpl($item.data.user) "tmpl/cell/user_name"}}
    {{tmpl($item.data) "tmpl/cell/items"}}
          
    %li.date
      ${moment(created_at).format(i18n.date.L)}
    
    %li.status
      %span.red
        ${_jed("Rejected")}
        ${moment(updated_at).format(i18n.date.L)}
