%ul.line{:class => "${type}", :"data-id" => "${id}"}
  
  .main
  
    {{tmpl($item.data.user) "tmpl/cell/user_name"}}
    {{tmpl($item.data) "tmpl/cell/items"}}
    
    %li.date
      {{html moment(created_at).format(i18n.date.L) }}
    
    %li.range
      {{if lines.length}}    
      %span.text
        %span.grey
          ${_jed("for max.")}
      %span.number
        ${$max_range = App.Line.getMaxRange(lines), ""}
        ${$max_range}
      %span.text
        ${_jed($max_range, "day")}
      {{/if}}
    
    {{tmpl(purpose) "tmpl/cell/purpose"}}
    
  .actions      
    %li.actions
      .multibutton
        .alternatives
          .trigger
            .arrow
          = link_to "/backend/inventory_pools/${currentInventoryPool.id}/acknowledge/${id}", :class => "button white" do
            .icon.edit
            ${_jed("Edit")}
          
          = link_to "/backend/inventory_pools/${currentInventoryPool.id}/acknowledge/${id}/approve", :remote => true,  
            :class => "button white",
            :method => :post,
            :"data-tmpl" => "tmpl/dialog/acknowledge/approve", 
            :"data-dialog_class" => "medium",
            :"data-on_success" => 'window.location = "//"+location.host+"/backend/inventory_pools/${currentInventoryPool.id}/users/${user.id}/hand_over"',
            :"data-ref_for_dialog" => "$(this).closest('.line').tmplItem().data" do
            .icon.hand_over
            ${_jed("Hand Over")}
            
          = link_to "/backend/inventory_pools/${currentInventoryPool.id}/acknowledge/${id}/reject", 
            :class => "button red open_dialog", 
            :"data-tmpl" => "tmpl/dialog/acknowledge/reject", 
            :"data-dialog_class" => "medium with_comment",
            :"data-on_success" => 'Line.remove({"element": $(this).closest(".dialog").data("trigger").closest(".line"), "color": "red"})',
            :"data-ref_for_dialog" => "$(this).closest('.line').tmplItem().data" do
            .icon.delete
            ${_jed("Reject")}
            
        = link_to "/backend/inventory_pools/${currentInventoryPool.id}/acknowledge/${id}/approve", 
          :class => "button white",
          :remote => true,
          :method => :post,
          :"data-tmpl" => "tmpl/dialog/acknowledge/approve", 
          :"data-dialog_class" => "medium with_comment",
          :"data-on_success" => 'Line.remove({"element": $(".order.line[data-id=\'${id}\']"), "color": "green"})',
          :"data-ref_for_dialog" => "$(_this).closest('.line').tmplItem().data" do
          .icon.approve
          ${_jed("Approve")}
