= render :layout => "manage/fields/field", :locals => {key: _("Technical Details")} do
  %textarea.width-full{:type => :text, :name => "model[technical_detail]", :autocomplete => :off}= @model.technical_detail