:ruby
  auto_link_result = auto_link(@model.technical_detail, html: { target: "_blank" })
  entries = auto_link_result.split("\r\n").select {|l| l =~ /href/}
  key = case @model.type
        when "Model"
          _("Technical Details")
        when "Software"
          _("Software Information")
        end

= javascript_include_tag "jquery-autosize/jquery.autosize"

= render :layout => "manage/fields/field", :locals => {key: key, entries: entries, entry_partial: "manage/models/form/technical_details_inline_entry"} do
  %textarea.width-full{:type => :text, :name => "model[technical_detail]", :autocomplete => :off, :rows => 6, :disabled => (@item ? true : false)}= @model.technical_detail

:javascript
  $(document).ready(function() {
    $("textarea[name='model[technical_detail]']").on('focus', function(){
      $(this).autosize();
    }).on('blur', function(){
      $(this).trigger('autosize.destroy');
    });
  });
