<ul>
<% for model in @models %>
	<li id="<%= dom_id(model) %>" style="clear: both;">
		<% unless model.images.empty? %>
			<span class="informal" style="float: left;"><%= image_tag(model.image_thumb) %></span>
		<% end %>
		<div class="name"><%=h model.name %></div>
		<span class="informal"><i><%=h model.manufacturer %></i></span>
	</li>
<% end %>
</ul>
