

	<% form_tag :action => 'update', :id => @model do %>

		<ul>
		<li><b>Name:</b> <%= text_field_tag :name, @model.name %></li>	
		<li><b>Manufacturer:</b> <%= text_field_tag :manufacturer, @model.manufacturer %></li>
		</ul>
	
		<%= submit_tag 'Submit' %>
	<% end %>

