
	<% form_for [:admin, @model] do |f| %>
	
		<ul>
		<li><b>Name:</b> <%= f.text_field :name %></li>	
		<li><b>Manufacturer:</b> <%= f.text_field :manufacturer %></li>
		</ul>
	
		<%= submit_tag 'Submit' %>
	<% end %>

<%
	values = {}
	@model.inventory_pools.each do |ip|
		n = ip.items_size(@model.id)
		values["#{ip.name} (#{n})"] = n
	end
%>
<%=	image_tag GoogleChart.pie_3d_350x150(values).to_url %>
