
	<% form_for [:admin, @model] do |f| %>
	
		<ul>
		<li><b>Name:</b> <%= f.text_field :name %></li>	
		<li><b>Manufacturer:</b> <%= f.text_field :manufacturer %></li>
		</ul>
	
		<%= submit_tag 'Submit' %>
	<% end %>

<%= pie_for_model(@model) %>
