.line-height-xxs
  line-height: $line-height-xxs

.line-height-xs
  line-height: $line-height-xs

.line-height-s
  line-height: $line-height-s

.line-height-m
  line-height: $line-height-m

.line-height-xxl
  line-height: $line-height-xxl