.position-absolute-bottom
  position: absolute
  bottom: 0

.position-absolute-top-xs
  position: absolute
  top: 4px

.negative-top-xxs
  top: -$space-xxs

.position-absolute-left
  position: absolute
  left: 0

.position-absolute-left-xs
  position: absolute
  left: 4px

.position-absolute-right
  position: absolute
  right: 0

.position-relative
  position: relative
  
.position-absolute-topright
  position: absolute
  right: 0
  top: 0

.position-absolute-topleft
  position: absolute
  left: 0
  top: 0