-if current_inventory_pool
  #ipselection
    = link_to "javascript: void(0)", :class => "anchor", :title => current_inventory_pool.name do
      .leftend
      = truncate(current_inventory_pool.name, :length => 28)
      -unless current_managed_inventory_pools.size
        .icon 
      
    .popup
      .inner
        - current_managed_inventory_pools.each do |ip|
          = link_to ip.name, backend_inventory_pool_path(ip)
          %hr
        
:javascript

$(document).ready(function(){
  if($("#ipselection .popup a").length <= 0) {
    $("#ipselection").attr("disabled", true); 
  }
});