<html>
<head>
	<%= javascript_include_tag :defaults %>
</head>
<body>
	<div id="header">
		<%= link_to(_("Acknowledge") + " (#{@new_orders.size})", :controller => 'acknowledge') %>
	</div>
	<div id="flash_notice"></div>
	<%= yield %>
</body>
</html>