%li.overdue_icon
  .overdue.icon{:title => _("Overdue Visit")}

%li.user_name.hastip
  ${firstname} 
  ${lastname}
  .tip.user
    %table.image
      %tr
        %td
          .noimagetext
            = _("no image")
          {{if extended_info}}
          %img{:src => "${image_url}" }
          {{else}}
          .noimage
          {{/if}}
    %h3= "${firstname} ${lastname}"
    %table
      {{if address}}
      %tr
        %td.value
          %p
            ${address}
      {{/if}}
      {{if phone}}
      %tr
        %td.value
          %p
            ${phone}
      {{/if}}
      {{if email}}
      %tr
        %td.value
          %p
            ${email}
      {{/if}}
