${$name = Str.sliced_trunc(name, 30, "... "), ""}
%li.overdue_icon
  .overdue.icon{:title => '${_jed("Overdue Visit")}'}

%li{:class => "user_name hastip{{if suspended}} red{{/if}}"}
  ${$name} 
  {{if suspended}}
  (${_jed("Suspended")})
  {{/if}}
  .tip.user
    %table.image
      %tr
        %td
          .noimagetext ${_jed("no image")}
          {{if image_url}}
          %img{:src => "${image_url}"}
          {{else}}
          .noimage
          {{/if}}
    %h3= "${$name}"
    %table
      {{if badge_id}}
      %tr
        %td.value
          %p
            ${badge_id}
      {{/if}}
      {{if address && zip && city}}
      %tr
        %td.value
          %p
            ${address}
          %p
            ${zip} ${city}
      {{/if}}
      {{if phone}}
      %tr
        %td.value
          %p
            ${phone}
      {{/if}}
      {{if email}}
      %tr
        %td.value
          %p
            ${email}
      {{/if}}
