${$name = Str.sliced_trunc(firstname+lastname, 30, "... "), ""}
%li.overdue_icon
  .overdue.icon{:title => _("Overdue Visit")}

%li.user_name.hastip
  ${$name} 
  .tip.user
    %table.image
      %tr
        %td
          .noimagetext
            = _("no image")
          {{if image_url}}
          %img{:src => "${image_url}"}
          {{else}}
          .noimage
          {{/if}}
    ${$name=firstname+" "+lastname, ""}    
    %h3= "${$name}"
    %table
      {{if address}}
      %tr
        %td.value
          %p
            ${address}
      {{/if}}
      {{if phone}}
      %tr
        %td.value
          %p
            ${phone}
      {{/if}}
      {{if email}}
      %tr
        %td.value
          %p
            ${email}
      {{/if}}
