.line.row.focus-hover-thin{:"data-type" => "license", :"data-id" => "{{>id}}"}
  
  .col1of5.line-col 

  .col2of5.line-col.text-align-left
    .row {{>inventory_code}}
    .row.grey-text
      {{if ~additionalDataFetched}}
      {{if currentLocation()}}{{>currentLocation()}},{{/if}}
      {{else}}
      %span
        {{partial "views/loading" {"size":"micro"}/}}
      {{/if}}
      {{>licenseInformation()}}

  .col1of5.line-col

  .col1of5.line-col.line-actions.padding-right-xs
    {{if ~accessRight.atLeastRole(~currentUserRole, "lending_manager") }}
    .multibutton.width-full.text-align-right
      %a.button.white.text-ellipsis.col4of5.negative-margin-right-xxs{:href => "{{>url('edit')}}", :title => "{{jed 'Edit License'/}}"}
        {{jed "Edit License"/}}
      .dropdown-holder.inline-block.col1of5
        .button.white.dropdown-toggle.width-full.no-padding.text-align-center
          .arrow.down
        %ul.dropdown.right
          %li
            %a.dropdown-item{:href => "{{>url('copy')}}"}
              %i.fa.fa-copy
              {{jed "Copy License"/}}
    {{/if}}