/* 	- - - - - - - - - - - - -
TABS
 - - - - - - - - - - - - - */

#tabs {
	font-size: 90%;
}

#tabs a {
	color: #999;
	text-decoration: none;
}

#tabs ul {
	overflow: hidden; /* stop floating of tabs */
	background: transparent url(../images/bg-tabs.png) bottom left repeat-x;
}

#tabs ul li {
	float: left;
	margin-right: 1em;
	background: #fff url(../images/bg-tab-li.png) bottom left repeat-x;
}

#tabs ul li a {
	display: block;
	background: transparent url(../images/bg-tab-link.png) top left no-repeat;
}

#tabs ul li a span {
	display: block;
	padding: 1em 0;
	margin-left: 1.25em;
	padding-right: 1.25em;
	background: transparent url(../images/bg-tab-link.png) top right no-repeat;
}

#tabs ul li.active a {
	background: transparent url(../images/bg-tab-active.png) top left no-repeat;
}

#tabs ul li.active a span {
	background: transparent url(../images/bg-tab-active.png) top right no-repeat;
}

#tabs ul li a:hover {
	color: #fff;
	background: transparent url(../images/bg-tab-over.png) top left no-repeat;
}

#tabs ul li a:hover span {
	background: transparent url(../images/bg-tab-over.png) top right no-repeat;	
}

#tabs ul li.active a:hover {
	background: transparent url(../images/bg-tab-active.png) top left no-repeat;	
}

#tabs ul li.active a:hover span {
	color: #999;
	background: transparent url(../images/bg-tab-active.png) top right no-repeat;	
}

#tabs ul li a em {
	font-style: normal;
	font-weight: bold;
	margin-left: 0.25em;
}

#meta-bestellung {
	float: left;
	width: 50%;
}

#meta-tabs {
	float: left;
	padding-left: 10%;
	width: 40%;
}

#meta-tabs ul {
	overflow: hidden;
	background: transparent url(../images/bg-tabs.png) bottom left repeat-x;
}

#meta-tabs ul li a {
	display: block;
	float: left;
	margin-right: 0.5em;
	border: 1px solid #b2b2b2;
	padding: 0.25em 0.5em;
	background: #e2e2e2;
	color: #777;
}

#meta-tabs ul li.active a {
	border-bottom: 1px solid white;
	background: white;
}

#meta-tabs-content {
	border: 1px solid #b2b2b2;
	border-top: none;
	padding: 1em;
	height: 100px;
	overflow: hidden;
}