%form{:"data-assign-item-form" => true}
  %input.small.width-full.has-addon{:id => "assigned-item-#{line.id}", :type => :text, :autocomplete => :off}
  %label.addon.small.transparent.padding-right-s{:for => "assigned-item-#{line.id}"}
    .arrow.down