	<h2><%= _("Print contract") %></h2>
	
	<br />
	<div class="buttons">
		<%=	link_to(image_tag($layout_public_path + "/images/icons/script.png") + " " + _("Print Contract #{params[:id]}"),
					 { :controller => 'contracts', :action => 'show', :id => params[:id], :format => 'pdf' },
					 :class => 'positive') %>
					 
		<%=	link_to(image_tag($layout_public_path + "/images/icons/door_out.png") + " " + _("Close"),
					 { :controller => 'hand_over', :action => 'index' },
					 :target=> '_top') %>
	</div>	