<% # TODO 1702** merge with take_back/print_contract template %>

	<h2><%= _("Print contract") %></h2>
	
	<br />
	<div class="buttons">
		<%=	link_to(icon_tag("script") + " " + _("Print Contract #{params[:id]}"),
					 { :controller => 'contracts', :action => 'show', :id => @contract, :format => 'pdf' },
					 :class => 'positive') %>
					 
		<%=	link_to(icon_tag("door_out") + " " + _("Close"),
					 { :controller => 'hand_over', :action => 'index' },
					 :target=> '_top') %>
	</div>	