	<h2><%= _("Do you really want to delete the object?") %></h2>
	<br />
	
	<% @contract_lines.each do	|cl| %>
		<%= cl.model.name %>
		<br />
	<% end %>

	<br />		
	<div class="buttons">


		<%=	link_to(image_tag($layout_public_path + "/images/icons/cancel.png") + " " + _("Delete"),
			 { :action => 'remove_lines', :contract_lines => @contract_lines },
			 :class => 'negative', :method => 'post', :target=> '_top') %>
			
					 
		<%=	cancel_popup_button(_("Cancel") ) %>
	</div>	
	