%ul.line{:class => "${type}", :"data-id" => "${id}"}
  .main
    %li.select
      %label
        = check_box_tag "selected"
    %li.quantity
      .container
        %input{:name => "quantity", :type => "text", :value => "${quantity}", :"data-url" => "/backend/inventory_pools/${currentInventoryPool.id}/users/${contract.user.id}/hand_over/update_lines"}
    %li.inventory_code
      ${item.inventory_code}    
    %li.name
      %strong ${model.name}

  .actions     
    %li.actions
      .multibutton
        .alternatives
          .trigger
            .arrow
          = link_to "/backend/inventory_pools/${currentInventoryPool.id}/users/${contract.user.id}/hand_over/remove_lines?line_ids[]=${id}",
          :class => "button red",
          :method => "delete",
          :remote => "true",
          :"data-tmpl" => "tmpl/dialog/hand_over/delete_line",
          :"data-dialog_class" => "delete_line",
          :"data-on_success" => 'HandOver.remove_lines([$(this).parents(".line")])' ,
          :"data-ref_for_dialog" => "$(this).closest('.line').tmplItem().data" do
            .icon.delete
            ${_jed("Delete")}
            
        = link_to "/backend/inventory_pools/${currentInventoryPool.id}/users/${contract.user.id}/hand_over/update_lines",
          :class => "button white open_dialog", 
          :"data-tmpl" => "tmpl/dialog/calendar", 
          :"data-dialog_class" => "calendar medium",
          :"data-on_success" => 'HandOver.update_visits(response);',
          :"data-dialog_ready" => "new BookingCalendar({computeAvailability: false, limitMaxQuantity: false, quantityMode: 'boolean'})",
          :"data-ref_for_dialog" => "Line.data_for_edit_lines($(_this).closest('.line').tmplItem().data)" do
          .icon.timerange
          ${_jed("Edit")}