#basket {
  display: block;
  float: right;
  margin-right: 14px;
  width: 198px;
  
  .header {
    display: block;
    height: 12px;
    position: relative;
    
    .headerinner {
      background: url(../images/slices-h.png) repeat-x 0 -97px;
      display: block;
      height: 12px;
      margin-left: 6px;
      margin-right: 6px;
    }
    
    .borderright {
      background: url(../images/image-sprite.png) no-repeat -18px -14px;
      display: block;
      height: 12px;
      right: 0;
      position: absolute; 
      top: 0;
      width: 6px;
    }
    
    .borderleft {
      background: url(../images/image-sprite.png) no-repeat -25px -30px;
      display: block;
      height: 12px;
      left: 0;
      position: absolute; 
      top: 0;
      width: 6px;
    }
  }
  
  .navigation {
    position: absolute;
    left: 8px;
    top: -20px;
    
     li {
      display: block;
      float: left;
      margin-right: 1px;
      
      a {
        background: url(../images/image-sprite.png) no-repeat -75px -312px; 
        display: block;
        height: 27px;
        width: 26px;
        
        .icon {
          display: block;
          height: 15px;
          margin: 0 auto;
          opacity: .6;
          position: relative;
          top: 3px;
          width: 15px;
        }
        
        .icon.basket {
          background: url(../images/image-sprite.png) no-repeat -156px -312px; 
        }
        
        .icon.list {
          background: url(../images/image-sprite.png) no-repeat -172px -312px; 
        }
      }
      
      a:hover {
        .icon {
          opacity: 1;
        }
      }
     }
      
    li:hover {
      
      a {
        background: url(../images/image-sprite.png) no-repeat -102px -312px; 
      }
    }
    
    li.active {
    
      a {
        background: url(../images/image-sprite.png) no-repeat -129px -312px; 
       
        .icon {
          opacity: 1;
        }
      }
    }
    
    li.active:hover {
    
      a {
        background: url(../images/image-sprite.png) no-repeat -129px -312px;
      }
    } 
  }
  
  .inner {
    background: #FFF;
    border-left: 1px solid #c9c7c3;
    border-right: 1px solid #c9c7c3;
    display: block;
    padding-bottom: 28px;
    position: relative;
    
    h3 {
      float: left;
      font-size: 1.2em;
      font-weight: bold;
      padding-left: 8px;
      margin-bottom: 0;
      
      a, a:link, a:hover, a:active {
        display: block;
        color: #515151;
        margin-bottom: -23px;
        padding: 10px 0 8px 8px;
        position: relative;
        top: -11px;
        width: 184px;
      }
    }
    
    .edit {
      left: 0;
      position: absolute;
      text-align: right;
      padding-bottom: 2px;
      top: 2px;
      width: 190px;
      @include opacity(0);
    }
    
    table {
      border-spacing: 0;
      float: left;
      table-layout: fixed;
      top: 6px;
      position: relative;
      margin-bottom: 15px;
      width: 100%;
      
      tr {
      
        td {
          font-size: 1.1em;
          line-height: 1.4em;
          padding: 1px 0;
          
          a {
            color: $grey;
            display: block;
            padding: 3px 0;
            width: 100%;
          }
          
          a:hover {
            color: $darkgrey;
          }
        }
<<<<<<< HEAD
=======
        
        td.amount {
          display: inline-block;
          letter-spacing: -1px;
          padding-left: 10px;
          padding-right: 4px;
          width: 20px;
            
        }
        
        td.name {
          display: inline-block;
          overflow: hidden;
          width: 139px;
        }
        
        td.delete {
        width: 18px;
          
          a {
            color: $lightred;
            padding-bottom: 5px;
            padding-left: 5px;
          }
          
          a:hover {
            color: $red;
          }
        }
>>>>>>> 12e7438356aee290d160dc33771fd9ac007eb61a
      }
      
      tr:nth-child(odd) {
        background: $highlight-grey;
      }
      
      tr:hover {
        background: $highlight-darkgrey;
        
        a {
          color: $darkgrey;
        }
      }
    }
    
    #compactOrder {
    
      td.amount {
        letter-spacing: -1px;
        padding-left: 10px;
        width: 10px;
      }
      
      td.name {
        overflow: hidden;
        width: 90px;
      }
      
      td.delete {
        width: 10px;
        
        a {
          color: $lightred;
          padding-bottom: 5px;
          padding-left: 5px;
        }
        
        a:hover {
          color: $red;
        }
      }
      
      tr:hover {
        .delete {
          
          a {
            color: $red;
          }
        }
      }  
    }    
  }
  
  .footer {
    display: block;
    height: 14px;
    position: relative;
    z-index: 1;
    
    .footerinner {
      background: url(../images/slices-h.png) repeat-x 0 -110px;
      display: block;
      height: 14px;
      margin-left: 6px;
      margin-right: 6px;
      
      .button {
        position: absolute;
        top: -27px;
        left: 9px;
        width: 175px;
      }
    }
    
    .borderright {
      background: url(../images/image-sprite.png) no-repeat -25px -15px;
      display: block;
      height: 14px;
      right: 0;
      position: absolute; 
      top: 0;
      width: 6px;
    }
    
    .borderleft {
      background: url(../images/image-sprite.png) no-repeat -25px 0;
      display: block;
      height: 14px;
      left: 0;
      position: absolute; 
      top: 0;
      width: 6px;
    }
  }
}

#basket:hover {
  .edit {
    @include opacity(1.0);
  }
}
