#content.box {
  display: block;
  float: left;
  left: 14px;
  position: relative;
  width: 755px;
  
  .header {
    display: block;
    height: 12px;
    position: relative;
    
    .headerinner {
      background: url(../images/slices-h.png) repeat-x 0 -97px;
      display: block;
      height: 12px;
      margin-left: 6px;
      margin-right: 6px;
    }
    
    .borderright {
      background: url(../images/image-sprite.png) no-repeat -18px -14px;
      display: block;
      height: 12px;
      right: 0;
      position: absolute; 
      top: 0;
      width: 6px;
    }
    
    .borderleft {
      background: url(../images/image-sprite.png) no-repeat -18px -27px;
      display: block;
      height: 12px;
      left: 0;
      position: absolute; 
      top: 0;
      width: 6px;
    }
  }
  
  .inner {
    background: #FFF;
    display: block;
    padding: 8px 16px 16px 12px;
    position: relative;
    left: 1px;
    width: 725px;
    
    .borderleft {
      background: url(../images/slices-v.png) repeat-y -193px 0;
      height: 100%;
      position: absolute;
      top: 0;
      left: -1px;
      width: 1px;
    }
    
    .borderright {
      background: url(../images/slices-v.png) repeat-y -193px 0;
      height: 100%;
      position: absolute;
      top: 0;
      right: -1px;
      width: 1px;
    }
  }
  
  .footer {
    display: block;
    height: 14px;
    position: relative;
    
    .footerinner {
      background: url(../images/slices-h.png) repeat-x 0 -110px;
      display: block;
      height: 14px;
      margin-left: 6px;
      margin-right: 6px;
    }
    
    .borderright {
      background: url(../images/image-sprite.png) no-repeat -25px -15px;
      display: block;
      height: 14px;
      right: 0;
      position: absolute; 
      top: 0;
      width: 6px;
    }
    
    .borderleft {
      background: url(../images/image-sprite.png) no-repeat -25px 0;
      display: block;
      height: 14px;
      left: 0;
      position: absolute; 
      top: 0;
      width: 6px;
    }
  }
}

#content.box.fullwidth {
  display: block;
  float: left;
  left: 14px;
  position: relative;
  width: 963px;
}