#ui-datepicker-div {
  background: #FFF;
  text-align: center;
  width: 150px;
  
  .ui-datepicker-header {
    height: 20px;
    position: relative;
    
    .ui-datepicker-title {
      display: inline-block;
    }
  }
}
