.dialog {
  display: none;
}

.ui-dialog {
  background: #FFF;
  border: 1px solid $lightgrey;
  overflow: hidden;
  position: absolute;
  width: 300px;
  @include borderRadius(6px);
  @include boxShadow (0 0 8px #AAA);
  
  p {
    line-height: 1.5em;
  }
  
  .ui-dialog-titlebar {
    background: url(../images/slices-h.png) repeat-x 0 -218px;
    height: 20px;
    padding: 3px;
    position: relative;
    @include borderRadius(6px);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .ui-dialog-title { 
    float: left;
    font-size: 1.2em;
    font-weight: bold;
    margin: 3px 0 0 6px;
  }
  
  .ui-dialog-titlebar-close {
    background: url(../images/image-sprite.png) no-repeat -114px -826px;
    display: block;
    height: 15px;
    position: absolute;
    right: 3px; 
    top: 5px;
    width: 15px;
    
    span {
      display: none;
    }
  }
  
  .ui-dialog-titlebar-close:hover {
    background: url(../images/image-sprite.png) no-repeat -97px -826px;
  }
  
  .ui-dialog-titlebar-close:active {
    background: url(../images/image-sprite.png) no-repeat -81px -826px;
  }
  
  .ui-dialog-content {
    border-top: 1px solid $lightergrey;    
    position: relative;
    padding: 4px 10px 2px 8px;
    overflow: auto;
    zoom: 1;
   }
   
  .ui-dialog-buttonpane { 
    text-align: left;
    
    .ui-dialog-buttonset { 
      float: right; 
      padding: 0 6px 4px 0;
    }
    
    button { 
      cursor: pointer; 
      padding: 2px 10px;
      @include borderRadius(4px);
    }
  }
}

.ui-widget-overlay {
  background: #f4f2ed;
  position: absolute;
  top: 0;
  left: 0;
  height: 100% !important;
  width: 100% !important;
  @include opacity(0.3);
}

