#ip {
  
  h1 {
    width: 500px;
  }
  
  #contactEmail {
    font-size: 1.4em;
    position: absolute;
    right: 15px;
    top: 9px;
  }
  
  #map {
    float: left;
    border: 1px solid #FFF;
    height: 300px;
    width: 500px;
    @include boxShadow (0 0 8px #AAA);
    @include borderRadius (12px);
  }
  
  .aside {
    float: left;
    margin-left: 18px;
    margin-top: 6px;
    
    table {
      font-size: 1.2em;
      line-height: 1.4em;
      margin-left: 2px;
      width: 200px;
      
      tr {
        
        td {
          padding-top: 2px;
          padding-bottom: 12px;
        }
      }
    }
    
    section {
      margin-bottom: 14px;
    }
    
    section.openingHours {
    
      .today td {
        font-weight: bold;
      }
    }
  }
  
  .description {
    font-size: 1.1em;
    line-height: 1.4em;
    margin-top: 20px;
    
    p {
      margin-bottom: 14px;
    }
  }
  
  section.models {
    @include greylinks;
    @include modelsGrid;
  }  
}
