/* http://sass-lang.com/ */
/* $ sass --watch public/layouts/00-patterns/css/scss:public/layouts/00-patterns/css */

@import "reset.scss";

$darkgrey: #515151;
$grey: #717171;
$lightgrey: #999;
$red: #DD2222;
$lightblue: #6091d9;
$blue: #1d62c9;

html {
	background: #f5f3ee;
	color: $darkgrey;
	font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
	font-size: 62.5%;
	padding-top: 22px;
}

a, a:link, a:visited {   
	color: $lightblue;
	text-decoration: none;
}

a:hover, a:active {
	color: $blue;
	text-decoration: none;
}

.clear {
	clear: both;
}

p {
	font-size: 1.1em;
}

.subtitle {
	font-size: 1.3em;
}

strong {
	font-weight: bold;
}

h1 {
	color: #2d2d2d;
	font-size: 1.8em;
	font-weight: normal;
	margin-bottom: 5px;
}

h2 {
	font-size: 1.6em;
	font-weight: normal;
	margin-bottom: 2px;
}

h3 {
	font-size: 1.4em;
	font-weight: normal;
	margin-top: 1px;
	margin-bottom: 9px;
}

ul {
	list-style-type: none;	
}

hr {
	border : 0;
	height : 15px;
	background : url(../images/slices-h.png) repeat-x 0 -182px;
	margin: 14px 0 0 0;
}

.floatright {
	float: right;
}

.floatleft {
	float: left;
}

.wrapper {
 	clear: both;
 	display: block;
	margin: 0 auto;
	min-width: 990px;
	padding: 0;
	position: relative;
	width: 990px;
}

.red {
  color: $red;
}

@mixin greylinks {
  h2 a, h2 a:link, h2 a:visited, h3 a, h3 a:link, h3 a:visited {
    color: $grey;
  }
  
  h2 a:hover, h2 a:active, h3 a:hover, h3 a:active {
    color: $darkgrey;
  }
  
  a, a:link, a:visited {   
    color: $lightgrey;
  }
  
  a:hover, a:active {
    color: $darkgrey;
  }
}

@mixin bluelinks {
  a, a:link, a:visited {   
    color: $lightblue;
  }
  
  a:hover, a:active {
    color: $blue;
  }
}

@mixin opacity($value) {
  filter: alpha(opacity=$value); // IE5-7
  -moz-opacity: $value; // NETSCAPE & MOZILLA
  -khtml-opacity: $value; // OLD SAFARI
  opacity: $value; // THE REST
}

@import "buttons.scss";
@import "linelist.scss";
@import "topbar.scss";
@import "tabs.scss";
@import "search.scss";
@import "navigation.scss";
@import "content.scss";
@import "start.scss";
@import "basket.scss";
@import "models.scss";
@import "model.scss";
@import "user.scss";