@mixin listanchor {
  a, a:link, a:visited, a:hover, a:active {
    color: $darkgrey;
    display: block;
    padding: 10px 0;
    width: 100%;
  }
}

#models {

  #categories {
    border-right: 1px solid #e3e3e3;
    float: left;
    left: -5px;
    margin-bottom: -46px;
    padding-top: 16px;
    padding-right: 6px;
    position: relative;
    top: -18px;
    width: 167px;
    z-index: 99;
    @include greylinks;

    li {
      list-style-type: none;
      overflow: hidden;
    }
    
    h2 {
      font-size: 1.2em;
      font-weight: bold;
    }
    
    li:hover h2 a {
        color:#515151;
    }
    
    ul {
      padding-bottom: 14px;
      
      a {
        display: block;
        line-height: 1.6em;
        padding-top: 3px;
        padding-bottom: 3px;
      }
    }
  }
  
  #modellist {
    border-left: 1px solid #e3e3e3;
    float: right;
    margin-right: -23px;
    top: 17px;
    position: relative;
    right: 7px;
    width: 569px;
    
    .item {
      border-bottom: 1px solid #e3e3e3;
      height: 70px;
      
      td {
        padding-right: 12px;
      }
      
      .image {
        height: 70px;
        padding: 0 14px 0 10px;
        position: relative;
        text-align: center;
        vertical-align: middle;
        width: 50px;
        @include listanchor;
        
        img {
          max-height: 50px;
          max-width: 50px;
        }
        
        .hover {
          height: 250px;
          left: 70px;
          position: absolute;
          top: -15px;
          z-index: 1;
          
          .header {
            background: url(../images/slices-h.png) repeat-x 0 -94px;
            height: 2px;
            position: relative;
            width: 100%;
            
            .borderleft {
              background: url(../images/slices-v.png) repeat-y 0px 0px;
              height: 100%;
              left: -1px;
              position: absolute;
              top: 0;
              width: 2px;
            }
            
            .borderright {
              background: url(../images/slices-v.png) repeat-y -3px 0;
              height: 100%;
              right: -4px;
              position: absolute;
              top: 0;
              width: 5px;
            }
          }
          
          .inner {
            background: #FFF;
            padding: 9px 11px 11px 10px;
            position: relative;
            
            .borderleft {
              background: url(../images/slices-v.png) repeat-y 0px 0px;
              height: 100%;
              left: -2px;
              position: absolute;
              top: 0;
              width: 2px;
            }
            
            .borderright{
              background: url(../images/slices-v.png) repeat-y -3px 0;
              height: 100%;
              right: -5px;
              position: absolute;
              top: 0;
              width: 5px;
            }
          }
          
          .footer {
            background: url(../images/slices-h.png) repeat-x 0 -87px;
            height: 6px;
            position: relative;
            width: 100%;
            
            .borderleft {
              background: url(../images/image-sprite.png) no-repeat -18px 0;
              height: 6px;
              left: -1px;
              position: absolute;
              top: 0;
              width: 2px;
            }
            
            .borderright{
              background: url(../images/image-sprite.png) no-repeat -18px -7px;
              height: 6px;
              right: -4px;
              position: absolute;
              top: 0;
              width: 5px;
              z-index: 1;
            }
          }
        }
      }
      
      .name {
        font-size: 1.2em;
        height: 70px;
        vertical-align: middle;
        width: 240px;
        @include listanchor;
      }
      
      .manufacturer {
        font-size: 1.2em;
        vertical-align: middle;
        width: 135px;
        @include listanchor;
      }
      
      .availability {
        color: $lightgrey;
        font-size: 1.1em;
        text-align: right;
        padding-right: 0;
        vertical-align: middle;
      }
      
      .add {
        width: 24px;
        padding-right: 16px;
        text-align: right;
        vertical-align: middle;
        
        a {
          font-size: 1.4em;   
          font-weight: bold;
          line-height: 10px;
          padding-left: 1px;
          padding-right: 1px;
        }
      }
    }
    
    .item:nth-child(odd) {
      background: $highlight-grey;
    }
    
    .item:hover {
      background: $highlight-darkgrey;
    }
    
  }
}

#models.fullwidth {
  
  #topfilter {
    width: 741px;
  }
  
  #modellist {
    border-left: 0;
    width: 752px;
    
    .item {
    
      .name {
        width: 310px;
      }
      
      .manufacturer {
        width: 250px;
      }
      
      .pool {
        width: 105px;
      }
    }
   
  }
}