#model {
  padding-bottom: 0;

  h1, h3 {
    width: 600px;
  }
  
  .button {
    position: absolute;
    right: 18px;
    top: 10px;
  }
  
  #images {
    position: relative;
  
    #smallimages {
      float: left;
      padding-top: 10px;
      position: absolute;
      top: 0;
      width: 50px;
      z-index: 999;
      
      a {
        cursor: -webkit-zoom-in;
        cursor: -moz-zoom-in;
              
        img {
          height: auto;
          margin-bottom: 5px;
          @include opacity(0.5);
          width: 50px;
        }
      } 
      
      a:hover {
        img {
          @include opacity(0.9); 
        }
      }
    }
    
    table {
      width: 721px;
      
      tr {
        
        td {
          height: 520px;
          position: relative;
          text-align: center;
          vertical-align: middle;
          
          img {
            max-height: 520px;
            width: auto;
            max-width: 580px;
          }
        }
      }
    }
    
    #hiddenimages {
      position: absolute;
      top: 0;
        
      img {
        display: none;
      }
    }
  }
  
  .description {
    color: #515151;
    font-size: 1.3em;
    line-height: 1.6em;
    padding: 12px 4px 12px 4px;
  }
  
  .details {
    tr {
      td {
        color: #515151;
        display: inline-block;
        font-size: 1.1em;
        line-height: 1.5em;
        padding: 8px 0;
        position: relative;
        top: 0;
        vertical-align: top;
        width: 100%;
      }
      
      .key {
        font-weight: bold;
      }
    }
    
    tr:nth-child(odd)  {
     background: $highlight-grey;
    }
    
    tr:hover  {
     background: $highlight-darkgrey;
     
      .key {
        color: $grey;
      }
    }
    
    tr.detailsswitcher {
      background: none;
      display: none;
        
      td {
        text-align: left;
        padding-bottom: 0;
        padding-left: 4px;
        width: 100%;
        
        a {
          padding: 2px 2px;
        }
        
        .showmore {
          display: none;
        }
        
        .showless {
          display: none;
        }
      }
    }
    
    tr.detailsswitcher:hover {
      background: none;
    }
    
    .key {
      color: $lightgrey;
      margin-right: 8px;
      padding-left: 12px;
      width: 180px;
    }
    
    .value {
      border-left: 1px solid #FFF;
      padding-left: 12px;
      padding-right: 12px;
      width: 492px
    }
  }
  
  #accessories {
     padding-top: 6px;
     @include greylinks;
     
     h2 {
      padding: 0 0 14px 6px;
     }
  
    .row {
      padding-bottom: 34px;
      padding-top: 10px;
      
      .cell {
        float: left;
        padding-left: 6px;
        padding-right: 12px;
        width: 165px;
        
        h1, h3 {
          width: 147px;
        }
        
        a {
          display: block;
        }
        
        img {
          height: 80px;
          @include opacity(0.5);
          max-width: 160px;
          margin-bottom: 10px;
        }
        
        h3 {
          height: 36px;
          padding: 0;
          margin: 0;
          overflow: hidden;
        }
      }
      
      .cell:nth-child(4n) {
        padding-left: 0;
        padding-right: 0;
      }
      
      .cell:hover {
        img {
          @include opacity(1);
        }
        
        a {
          color: $darkgrey;
        }
      }
    }
  }
}