#model {
  h1, h3 {
    width: 600px;
  }
  
  .button {
    position: absolute;
    right: 20px;
    top: 10px;
  }
  
  #images {
    float: left;
    padding-top: 10px;
    padding-right: 14px;
    width: 50px;
    
    a {
      cursor: -webkit-zoom-in;
      cursor: -moz-zoom-in;
            
      img {
        height: auto;
        margin-bottom: 5px;
        @include opacity(0.5);
        width: 50px;
      }
    } 
    
    a:hover {
      img {
        @include opacity(0.9); 
      }
    }
  }
  
  #bigimages {
    padding-top: 10px;
    position: relative;
    float: left;
    width: 650px;
    
    img {
      width: 100%;
      height: auto;
      max-height: 550px;
      width: auto;
    }
    
    .hidden {
      display: none;
      position: absolute;
    }
  }
  
  .description {
    color: #515151;
    font-size: 1.3em;
    line-height: 1.6em;
    padding: 18px 0 20px 6px;
  }
  
  .details {
    tr td {
      color: #515151;
      display: inline-block;
      font-size: 1.1em;
      line-height: 1.5em;
      padding: 8px 0;
      position: relative;
      top: 0;
      vertical-align: top;
    }
    
    tr:nth-child(odd)  {
     background: $highlight-grey;
    }
    
    tr:hover  {
     background: $highlight-darkgrey;
     
      .key {
        color: $grey;
      }
    }
    
    .key {
      color: #999;
      margin-right: 8px;
      padding-left: 12px;
      width: 180px;
    }
    
    .value {
      border-left: 1px solid #FFF;
      padding-left: 12px;
      padding-right: 12px;
      width: 488px
    }
  }
  
  #suggested {
     padding-top: 12px;
     @include greylinks;
  
    .row {
      padding-bottom: 28px;
      padding-top: 8px;
      
      .cell {
        float: left;
        padding-left: 6px;
        padding-right: 12px;
        width: 165px;
        
        h1, h3 {
          width: 147px;
        }
        
        a {
          display: block;
        }
        
        img {
          height: 80px;
          @include opacity(0.5);
          max-width: 160px;
          margin-bottom: 10px;
        }
        
        h3 {
          height: 36px;
          padding: 0;
          margin: 0;
          overflow: hidden;
        }
      }
      
      .cell:nth-child(4n) {
        padding-left: 0;
        padding-right: 0;
      }
      
      .cell:hover {
        img {
          @include opacity(1);
        }
        
        a {
          color: $darkgrey;
        }
      }
    }
  }
  
}