#topfilter {
  border-bottom: 1px solid #e3e3e3;
  color: #858585;
  height: 34px;
  padding-right: 10px;
  position: absolute;
  top: -10px;
  right: 1px;
  width: 558px;
  
  .sort {
    background: none;
    border-right: 1px solid #e2e0de;
    float: right;
    height: 20px;
    padding-right: 12px;
    position: relative;
    top: 8px;
    width: 250px;
    
    .submit {
      margin-left: 12px;
    }
    
    .container {
      float: right;
      position: relative;
      width: 140px;
    
      .select {
        float: right;
        position: absolute;
        height: 20px;
        overflow: hidden;
        padding: 4px 25px 0 0;
        text-align: right;
        width: 125px;
      }
      
      .arrow {
        background: url(../images/image-sprite.png) no-repeat -53px -37px;
        height: 6px;
        position: absolute;
        top: 8px;
        left: 135px;
        width: 7px;
      }
      
      select {
        border: 0;
        color: $grey;
        margin-right: 10px;
        padding: 4px 12px 2px 8px;
        position: relative;
        text-align: right;
        width: 140px;
      }
      
    }
    
    .submit {
      float: right;
      cursor: pointer;
      @include opacity(0.5);
    }
    
    .submit:hover {
      @include opacity(0.9);
     }
  }
  
  .availability {
    float: right;
    margin: 0 0 0 12px;
    padding: 1px 0 0 0;
    position: relative;
    top: 7px;
    
    .date {
      background: url(../images/image-sprite.png) no-repeat 0 -312px;
      border: none;
      color: #858585;
      font-size: 1.0em;
      height: 18px;
      padding: 0 10px 0 6px;
      width: 58px;
    }
    
    .checkarea {
      cursor: pointer;
      display: inline-block;
      margin-left: 2px;
    }
    
    .checkarea:hover {
      color: $darkgrey;
    }
    
    .checkarea.active {
      color: $darkgrey;
    }
    
  }
}