#user {
  
  .userdata {
    padding-left: 1px;
  
    h3 {
      display: inline-block;
      float: left;
    }
    
    .edit {
      float: left;
      padding: 5px 12px 8px 6px;
    }
    
    dl {
      display: inline-block;
      float: left;
      
      dt {
        color: $lightgrey;
        padding-bottom: 2px;
        padding-right: 16px;
      }
      
      dd {
        font-weight: bold;
        line-height: 1.4em;
        padding-right: 34px;
      }
    }
  }
  
  .pools {
    @include greylinks;
  }
}