%h4 Who borrowed the most things?
= Statistics::Base.most_borrower

%h4 Which inventory pool is busiest?
= Statistics::Base.busiest_inventory_pool

%h4 Who bought the most items?
= Statistics::Base.most_items_inventory_pool
