${$item.start_date = moment(start_date).sod(), ""}
${$item.end_date = moment(end_date).eod(), ""}
${$item.days = $item.end_date.diff($item.start_date, "days"), ""}

.indent
  .linegroup
    .dates
      %input.select_group{:type => "checkbox", :name => "select_group"}
      {{if moment($item.start_date).sod().diff(moment().sod(),"days") == 0}}
      %strong ${_jed("Today")}
      {{else}}
      ${i18n.days.full[$item.start_date.toDate().getDay()]}
      {{/if}} 
      ${$item.start_date.format(i18n.date.L)}
      = "-"
      {{if moment($item.end_date).eod().diff(moment().eod(),"days") == 0}}
      %strong ${_jed("Today")}
      {{else}}
      ${i18n.days.full[$item.end_date.toDate().getDay()]}
      {{/if}}
      ${$item.end_date.format(i18n.date.L)}
    .days
      ${$item.days}
      ${_jed($item.days, "day")}
    .lines.list
      {{tmpl(lines) "tmpl/line"}}