${$item.start_date = moment(start_date).sod(), ""}
${$item.end_date = moment(end_date).eod(), ""}
${$item.days = $item.end_date.diff($item.start_date, "days"), ""}
${$item.start_data_is_closed_day = currentInventoryPool.closed_days.indexOf(moment($item.start_date).day())>-1, ""}
${$item.end_data_is_closed_day = currentInventoryPool.closed_days.indexOf(moment($item.end_date).day())>-1, ""}

.indent
  .linegroup

    .dates
      %input.select_group{:type => "checkbox", :name => "select_group"}

      %span{:class => "start_date{{if $item.start_data_is_closed_day}} non-working-day{{/if}}"}<
        {{if moment($item.start_date).sod().diff(moment().sod(),"days") == 0}}
        %strong ${_jed("Today")}
        {{else}}
        ${i18n.days.full[$item.start_date.toDate().getDay()]}
        {{/if}} 
        ${$item.start_date.format(i18n.date.L)}
        {{if $item.start_data_is_closed_day}}(${_jed("non-working day")}){{/if}}

      = "-"

      %span{:class => "end_date{{if $item.end_data_is_closed_day}} non-working-day{{/if}}"}<
        {{if moment($item.end_date).eod().diff(moment().eod(),"days") == 0}}
        %strong ${_jed("Today")}
        {{else}}
        ${i18n.days.full[$item.end_date.toDate().getDay()]}
        {{/if}}
        ${$item.end_date.format(i18n.date.L)}
        {{if $item.end_data_is_closed_day}}(${_jed("non-working day")}){{/if}}

    .days
      ${$item.days}
      ${_jed($item.days, "day")}
    .lines.list
      {{tmpl(lines) "tmpl/line"}}