.visit
  .date
    {{if moment().sod().diff(moment(date).sod(),"days") == 0}}
    %strong ${_jed("Today")}
    {{/if}} 
    ${moment(date).format(i18n.date.XL)}
  {{if lines.length>0}}
  ${$grouped_lines = App.Line.groupByDateRanges(lines), ""}
  {{tmpl($grouped_lines) "tmpl/linegroup"}}
  {{/if}}
  %hr