{{if model_id}}
{{partial 'manage/views/reservations/hand_over_line/item_line' #view.data #view.ctx/}}
{{else option_id}}
{{partial 'manage/views/reservations/hand_over_line/option_line' #view.data #view.ctx/}}
{{/if}}
