- content_for :title, _("To pick up")

.wrapper.margin-top-m

  = render :partial => 'borrow/tabs', :locals => {:tabs => [[request.fullpath , _("To pick up")]]}

  .row.content-wrapper.straight-top-left

    - @grouped_and_merged_lines.each_pair do |k, v|

      .row.padding-inset-l
        .col1of7
          %h3.headline-m= l(k[:start_date])
        .col5of7
          %h2.headline-m= k[:inventory_pool]

      .separated-top.padding-bottom-l

        = render :partial => "borrow/to_pick_up/merged_lines", :collection => v, :as => :line