%ul{:class => "line toggler ${type}{{if is_package}} package{{/if}}{{if max_available <= 0}} error{{/if}}", :"data-id" => "${id}"}
    
  .main
    
    %li.image
      .container
        {{if image_thumb}}
        %img{:src => "${image_thumb}"}
        {{else}}
        .noimage
          ${_jed("no image")}
        {{/if}}
      
    %li.modelname
      ${name}
      {{if is_package}}
      .package.icon{:title => "${_jed('this is a package')}"}
      {{/if}}
    
    {{if $item.data.total_rentable != undefined}}
    %li.availability.wide
      ${max_available}
      = "(${max_available_in_total})"
      = "/"
      ${total_rentable}
    {{/if}}
  
  .actions    
    %li.actions
      %button.button.white.select-model
        ${_jed("Select")}