%ul.line{:class => "${action}"}
  %div{:class => "main {{if is_overdue}}overdue{{/if}}"}
  
    {{tmpl($item.data.user) "tmpl/cell/user_name"}}
    {{tmpl($item.data) "tmpl/cell/items"}}
    
    %li.date
      ${moment(date).format(i18n.date.L)}
    
    %li{:class => "range"}
      {{if is_overdue}}
      %span.number
        %strong
          ${$days = moment().sod().diff(moment(date).sod(), "days"), ""}
          ${$days}
      %span.text
        %strong
          ${_jed($days, "day")}
          ${_jed("overdue")}
      {{else}}
      %span.text.grey
        ${_jed("for max.")}
      %span.number
        ${$max_range = App.Line.getMaxRange(lines), ""}
        ${$max_range}
      %span.text
        ${_jed($max_range, "day")}
      {{/if}}
  
  .actions      
    %li.actions
      .multibutton
        .alternatives
          .trigger
            .arrow
          = link_to "/backend/inventory_pools/${current_inventory_pool}/users/${user.id}/hand_over/delete_visit?visit_id=${id}",
          :class => "button red",
          :method => 'delete',
          :remote => "true",
          :"data-tmpl" => "tmpl/dialog/hand_over/delete",
          :"data-dialog_class" => "medium",
          :"data-on_success" => 'Line.remove({"element": $(this).parents(".line"), "color": "red"})' ,
          :"data-ref_for_dialog" => "$(this).closest('.line').tmplItem().data" do
            .icon.delete
            ${_jed("Delete")}
        = link_to "/backend/inventory_pools/${current_inventory_pool}/users/${user.id}/hand_over",  :class => "button white" do
          .icon.hand_over
          ${_jed("Hand Over")}
