%ul{:class => "line toggler ${type}{{if children}} package{{/if}}"}

  .main
    
    {{if children}}
    %li.toggle{:"data-toggle_target" => "#item_${id}_children"}
      .text{:title => "${_jed('show package parts')}"}
        .icon
        ${children.length}
    {{/if}}
    
    {{if $item.package}}  
    {{if children}}   
    {{else}}
    %li.package_code{:title => "${_jed('Package Code')}"}
      %span.lightgrey ${$item.package.inventory_code}
    {{/if}}
    %li.inventory_code{:title => "${_jed('Inventory Code')}"}
      ${inventory_code}
    {{if model}}
    %li.modelname
      ${model.name}
    {{/if}}
    {{else}}
    {{if model}}
    %li.modelname
      ${model.name}
    {{/if}}
    %li.inventory_code{:title => "${_jed('Inventory Code')}"}
      ${inventory_code}
    {{/if}}
  
    {{if current_borrower}}
    %li.item_location.borrower
      .hand_over.icon
      %span
        {{if $item.data.inventory_pool.name}}
        ${$item.data.inventory_pool.name},
        {{/if}}
        ${current_borrower.firstname} ${current_borrower.lastname}
        ${_jed("until")}
        ${moment(current_return_date).format(i18n.date.L)}
    {{else}}
    %li.item_location ${$item.data.location}
    {{/if}}
    
    %li.item_status      
      {{if is_broken}}
      %span.red
        %b ${_jed("Broken")}
      {{/if}}
      
      {{if is_incomplete}}
      {{if is_broken}}
      = ", "
      {{/if}}
      %span.red
        %b ${_jed("Incomplete")}
      {{/if}}
    
  .actions  
    %li.actions
      .multibutton
        .alternatives
          .trigger
            .arrow
          = link_to "/backend/inventory_pools/${currentInventoryPool.id}/items/${id}/copy", :class => "button white" do
            .icon.additem
            ${_jed("Copy Item")}

          {{if App.Item.is_retirable($item.data)}}
          = link_to "/backend/inventory_pools/${currentInventoryPool.id}/items/${id}/retire",
            :class => "button red open_dialog",
            :"data-tmpl" => "tmpl/dialog/item_line/retire", 
            :"data-dialog_class" => "medium",
            :"data-on_success" => 'Line.remove({"element": $(this).closest(".dialog").data("trigger").closest(".line"), "color": "red"})',
            :"data-ref_for_dialog" => "$(this).closest('.line').tmplItem().data" do
            .icon.retire
            ${_jed("Retire Item")}
          {{/if}}

        = link_to "/backend/inventory_pools/${currentInventoryPool.id}/items/${id}", :class => "button white" do
          .icon.item
          ${_jed("Edit Item")}

{{if children}}
.children{:id => "item_${id}_children"}
  {{tmpl(children, {package: $item.data}) "tmpl/line/item"}}
{{/if}}
