%ul{:class => "line toggler ${type}{{if is_package}} package{{/if}}"}
    
  .main

    {{if items}}    
    %li.toggle{:"data-toggle_target" => "#model_${id}_items"}
      .text{:title => "{{if is_package}}${_jed('show packages')}{{else}}${_jed('show items')}{{/if}}", :"data-open_title" => "${_jed('hide items')}"}
        .icon
        ${items.length}
    {{/if}}
    
    %li.image
      .container
        {{if image_thumb}}
        %img{:src => "${image_thumb}"}
        {{else}}
        .noimage
          ${_jed("no image")}
        {{/if}}
      
    %li.modelname
      ${name}
      {{if is_package}}
      .package.icon{:title => "${_jed('this is a package')}"}
      {{/if}}
    
    {{if $item.data.total_rentable_in_stock != undefined}}
    %li.availability
      ${total_rentable_in_stock} ${_jed('in stock')}
      = "/"
      ${total_rentable} ${_jed('rentable')}
    {{/if}}
  
  .actions    
    %li.actions
      .multibutton
        .alternatives
          .trigger
            .arrow
          = link_to "/backend/inventory_pools/${currentInventoryPool.id}/models/${id}/timeline", :class => "button white open_dialog",
            :"data-tmpl" => "tmpl/dialog/availability/timeline",
            :"data-ref_for_dialog" => "$(this).closest('.line').tmplItem().data",
            :"data-dialog_class" => "full_width timeline" do
            .icon.timeline
            ${_jed("Timeline")}
          {{if is_destroyable}}
          %a{:href => "/backend/inventory_pools/${currentInventoryPool.id}/models/${id}", :class => "button red", "data-remote" => "true", "data-method" => "delete", "data-on_success" => 'Line.remove({"element": $(this).closest(".line"), "color": "red"})'}
            .delete.icon
            ${_jed("Delete %s", _jed("Model"))}
          {{/if}}
        = link_to "/backend/inventory_pools/${currentInventoryPool.id}/models/${id}/edit", :class => "button white" do
          .icon.edit
          ${_jed("Edit Model")}

{{if items}}
.items.children{:id => "model_${id}_items"}
  {{tmpl(items) "tmpl/line/item"}}
{{/if}}

