%ul.line{:class => "${type}"}
  
  .main
    
    %li.modelname
      ${name}

    %li.inventory_code{:title => _("Inventory Code")}
      ${inventory_code.replace("/", " / ")}

    %li.price{:title => _("Price")}
      {{if price}}
      ${price}
      {{/if}}
  
  .actions    
    %li.actions
      .multibutton
        .alternatives
          .trigger
            .arrow
          = link_to "/backend/inventory_pools/${current_inventory_pool}/models/${id}/edit",  :class => "button white" do
            .icon.edit
            = _("Edit")
        = link_to "/backend/inventory_pools/${current_inventory_pool}/models/${id}", :class => "button white" do
          .icon.view_model
          = _("View Option")