%ul.line{:class => "${type}"}
  
  .main
    
    %li.inventory_code{:title => _("Inventory Code")}
      ${inventory_code}
      
    %li.modelname
      ${name}

    %li.price{:title => _("Price")}
      {{if price}}
      ${accounting.formatMoney(parseFloat(price))}
      {{/if}}
  
  .actions    
    %li.actions
      = link_to "/backend/inventory_pools/${currentInventoryPool.id}/options/${id}/edit", :class => "button white" do
        .icon.edit
        ${_jed("Edit Option")}