%ul.line{:class => "${type}"}
  
  .main
    
    %li.select
      %label
        = check_box_tag "selected"
        
    %li.quantity
      %input{:type => "text", :value => "${quantity}"}
      
    %li.name
      ${model.name}
      (${model.inventory_code})
