{{if status_const == 2}}
{{tmpl "tmpl/line/order/submitted"}}
{{/if}}
{{if status_const == 3}}
{{tmpl "tmpl/line/order/approved"}}
{{/if}}
{{if status_const == 4}}
{{tmpl "tmpl/line/order/rejected"}}
{{/if}}