{{if status_const == 2}}
{{tmpl "tmpl/line/order_submitted"}}
{{/if}}
{{if status_const == 3}}
{{tmpl "tmpl/line/order_approved"}}
{{/if}}
{{if status_const == 4}}
{{tmpl "tmpl/line/order_rejected"}}
{{/if}}