{{if problems.length != 0}}
%li.problems.hastip
  .tip.problems
    %ul
      {{each(i, problem) problems}}
      %li
        {{tmpl(problem) "tmpl/line/problems/"+problem.type}}
      {{/each}}
  .container
    %strong
      ${problems.length}
    .problem.icon
{{/if}}

