{{if problems.length != 0}}
%li.problems.hastip
  .tip.problems
    %ul
      {{each(i, problem) problems}}

      {{if problem.value instanceof Object}}
      %li{:class => "${problem.key}"}
        %table
          {{each(j, row) problem.value}}
          %tr
            %td= "${row.key}:"
            %td= "${row.value}"
          {{/each}}

      {{else}}
      %li{:class => "${problem.key}"}= "${problem.value}"
      {{/if}}

      {{/each}}
  %strong
    ${problems.length}
    {{if problems.length > 1}} 
    = _("Problems")
    {{else}}
    = _("Problem")
    {{/if}}
{{/if}}

