%ul.line{:class => "${action}"}
  
  %div{:class => "main {{if is_overdue}}overdue{{/if}}"}
    
    {{tmpl($item.data.user) "tmpl/cell/user_name"}}
    {{tmpl($item.data) "tmpl/cell/items"}}
    
    %li.date
      ${moment(date).format(i18n.date.L)}
    
    %li.range
      {{if is_overdue}}
      %span.number
        %strong
          ${$days = moment().sod().diff(moment(date).sod(), "days"), ""}
          ${$days}
      {{/if}}
      %span.text
        {{if is_overdue}}
        %strong 
          ${_jed($days, "day")}
          ${_jed("overdue")}
        {{else}}
        %span.grey
          ${_jed("since max.")}
        {{/if}}      
      {{if !is_overdue}}
      %span.number
        ${$min_date = App.Line.getMinDate(lines), ""}
        ${$min_days = moment().diff($min_date, "days"), ""}
        ${$min_days}
      %span.text
        ${_jed($min_days, "day")}
      {{/if}}
        
    {{if is_overdue}}
    %li.reminder
      %span{:class => "text{{if latest_remind}} visible{{else}} invisible{{/if}}"}
        ${_jed("Latest Reminder")}:
      %span{:class => "date{{if latest_remind}} visible{{else}} invisible{{/if}}"}
        {{if latest_remind}}
        %strong
          ${moment(latest_remind, "YYYY-MM-DD HH:mm:ss ZZ").from(moment())}
        {{/if}}
      %span{:class => "grey{{if latest_remind}} invisible{{else}} visible{{/if}}"}
        ${_jed("No reminder yet")}
    {{else}}
    
    %li.note
      ${moment($min_date).format(i18n.date.L)}
    {{/if}}
  
  .actions 
    %li.actions
      {{if is_overdue}}
      .multibutton
        .alternatives
          .trigger
            .arrow
          = link_to "/backend/inventory_pools/${currentInventoryPool.id}/users/${user.id}/remind", :class => "button white", :remote => true, :"data-tmpl" => "tmpl/dialog/take_back/remind", :"data-dialog_class" => "take_back", :"data-on_success" => 'List.update_reminder($(this).parents(".line"))' , :"data-ref_for_dialog" => "$(this).closest('.line').tmplItem().data" do
            .icon.send
            ${_jed("Remind")}
        = link_to "/backend/inventory_pools/${currentInventoryPool.id}/users/${user.id}/take_back", :class => "button white" do
          .icon.take_back
          ${_jed("Take Back")}
      {{else}}
      = link_to "/backend/inventory_pools/${currentInventoryPool.id}/users/${user.id}/take_back", :class => "button white" do
        .icon.take_back
        ${_jed("Take Back")}
      {{/if}}