<%
#    This file is part of leihs.
#
#    leihs is free software; you can redistribute it and/or modify
#    it under the terms of the GNU General Public License as published by
#    the Free Software Foundation; either version 3 of the License, or
#    (at your option) any later version.
#
#    leihs is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU General Public License for more details.
#
#    You should have received a copy of the GNU General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
#    leihs is (C) Zurich University of the Arts
#    
#    This file was written by:
#    Magnus Rembold
%>
<!--[form:gegenstand]-->
<p><label for="paket_name">Name</label><br/>
<%= text_field 'paket', 'name'  %></p>

<div id="select_art" class="abstand">
	<label for="paket_art">Art</label><br/>
	<%= select 'paket', 'art', Paket.selectliste_art %>
	<%= link_to_function( image_tag( "icon_stift.png", :class => 'icon' ), "Element.toggle( 'select_art', 'neu_art' )", :title => 'Neue Art eingeben' ) %>
</div>

<div id="neu_art" class="abstand" style="display:none;">
	<%= link_to_function( image_tag( "icon_kreuz.png", :class => 'icon' ), "Element.toggle( 'select_art', 'neu_art' )", :title => 'Zur Art zurück' ) %><label for="paket_art">Neue Art</label><br/>
	<%= text_field 'paket', 'neue_art'  %>
</div>

<p><label for="paket_gestell">Gestell</label><br/>
  <%= text_field 'paket', 'gestell' %></p>

<p><label for="paket_status">Status</label><br/>
  <%= select 'paket', 'status', Paket::STATUS_TEXT %></p>

<table style="margin-bottom: 0.6em;">
	<tr>
		<td width="50%">
			<label for="paket_ausleihbefugnis">Ausleihbefugnis</label><br/>
<%= select 'paket', 'ausleihbefugnis', Paket::AUSLEIHBEFUGNIS_TEXT %>
		</td>
		<td width="50%">
			<label for="paket_geraetepark_id">Gerätepark:</label><br/>
		  <%= select "paket", "geraetepark_id", Geraetepark.select_liste %>
		</td>
	</tr>
</table>

<p><label for="paket_hinweise">Beschreibung des Pakets für Reservierende</label><br/>
  <%= text_area 'paket', 'hinweise', :rows => 10 %></p>

<p><label for="paket_hinweise_ausleih">Hinweise für Herausgeber</label><br/>
  <%= text_area 'paket', 'hinweise_ausleih', :rows => 5  %></p>
<!--[eoform:gegenstand]-->
