<!-- Anzeige eines Zeitraums mit Datum und Uhrzeit und optionaler Dauer -->
<div class="gegenstand_blatt">
	<div class="boxtitel">Zeitraum der Ausleihe</div>
	<%= datetime_select( 'leihzeitraum', 'beginn' ) %>
	<%= datetime_select( 'leihzeitraum', 'ende' ) %>
</div>