<div class="boxtitel">
	Leih-Paket mit <%= list_gegenstaende_paket.size %> ausgewaehlten Gegenst&auml;nden
</div>

<%= render_partial 'gegenstands/items_gegenstaende_sammlung', list_gegenstaende_paket %>
