<div class="reiter_block">
	<div class="reiter_select">
		<%= link_to( image_tag( 'icon_stift.png', :class => 'icon' ),
					{ :action => 'edit',
						:id => paket.id } ) %>Paket mit <%= paket.gegenstands.size %> Gegenst&auml;nden
	</div>
</div>
<div class="reiter_abschluss"></div>