<div class="blatt_vor_tabelle">
	<h2 class="anschluss"><%= @pakets.size %> unvollständige Pakete im Inventar</h2>
	
	<%= render_partial 'gemeinsam/flashs' %>
</div>

<%= render :partial => 'list_pakete' %>