.date.container
  .start_date
    %input#start_date{:name => :start_date, :type => :text, :value => '${moment(start_date).format("YYYY-MM-DD")}',:tabindex => "2", :autocomplete => "off"}
    %label{:for => "start_date"}
      ${_jed("Start Date")}
      .icon.jumpto.fc-goto-start{:title => '${_jed("jump to this date")}'}
  .dash
    = "-"
  .end_date
    %input#end_date{:name => :end_date, :type => :text, :value => '${moment(end_date).format("YYYY-MM-DD")}',:tabindex => "3", :autocomplete => "off"}
    %label{:for => "end_date"}
      ${_jed("End Date")}
      .icon.jumpto.fc-goto-end{:title => '${_jed("jump to this date")}'}