{{if partitions}}
.partition.container
  %span.select
    %span.name
      ${_jed("Borrower")}
    .arrow
    %select{:id => "partition", :name => "partition"}
      %option{:value => "${JSON.stringify(user_group_ids)}", :"data-name" => '${_jed("Borrower")}'}
        ${_jed("Borrower")}
      {{if partitions.included.length}}
      %optgroup.customer_groups{:label => '${_jed("This customer\'s groups")}'}
        {{each(i, partition) partitions.included}}
        %option{:value => "[${partition.group_id}]", :"data-name" => '${_jed("Group %s", partition.group.name)}'}
          ${_jed("Group %s", partition.group.name)}
        {{/each}}
      {{/if}}
      {{if partitions.not_included.length}}
      %optgroup.other_groups{:label => '${_jed("Other Groups")}'}
        {{each(i, partition) partitions.not_included}}
        %option{:value => "[${partition.group_id}]", :"data-name" => '${_jed("Group %s", partition.group.name)}'}
          ${_jed("Group %s", partition.group.name)}
        {{/each}}
      {{/if}}
      
  %label{:for => "partition"}
    ${_jed("Show Availability")}
{{else}}
.partition.container
  %span.select
    %span.name
      ${_jed("Borrower")}
    .arrow
    %select{:id => "partition", :name => "partition"}
      %option{:value => "${JSON.stringify(user_group_ids)}", :"data-name" => '${_jed("Borrower")}'}
        ${_jed("Borrower")}      
      
  %label{:for => "partition"}
    ${_jed("Show Availability")}
{{/if}}