{{if quantity}}
.quantity.container{:style => "display: {{if $item.quantity == false}}none{{/if}}"}
  = text_field_tag :quantity, "${quantity}", :min => 1, :max => "${total_rentable}", :tabindex => "1", :class => "focus", :autocomplete => "off"
  %label{:for => "quantity"}
    ${_jed("Quantity")}
  .increase
    %span.icon
  .decrease
    %span.icon
{{/if}}