- if line.model_id
  = render :partial => "manage/reservations/hand_over_line/item_line", :locals => {:line => line}
- elsif line.option_id
  = render :partial => "manage/reservations/hand_over_line/option_line", :locals => {:line => line}