<br /><br /><br />
<h3>Temporär deaktiviert</h3>
<p>
	Die Funktion musste leider vorübergehend ausser Betrieb gesetzt werden, weil sie in manchen Fällen noch Fehler enthält. Voraussichtlich am 24.2. wieder verfügbar.<br />
	Vielen Dank für euer Verständnis
</p>