<span class="indikator"><img alt="" src="/images/clear.gif" class="indikator_vorne_<%= ueberlappt[ :vorne ] %>" width="4"><img alt="" src="/images/clear.gif" class="indikator_mitte_<%= ueberlappt[ :mitte] %>" width="4"><img alt="" src="/images/clear.gif" class="indikator_hinten_<%= ueberlappt[ :hinten ] %>" width="4"></span>