/* --- Allgemeine Tag Formate ------------------------------ */

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	min-height: 100%;
	background-color: #EEE;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: 13px;
	line-height: 1.25em;
}
input, textarea {
  font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: 13px;
	line-height: 1.25em;
}
h1 {
  margin: 0 0 0.25em 0;
  padding: 0;
	font-size: 2em;
	line-height: 1.1em;
	color: #DDD;
	border-bottom: 2px solid #DDD;
}
h2 {
	margin: 0;
	margin-bottom: 1em;
	font-size: 1.2em;
}
.blatt > h2 {
	margin: 0;
	margin-bottom: 1em;
	padding: 0 0 0.25em 0;
	font-size: 2em;
	line-height: 1.1em;
	color: #DDD;
	border-bottom: 2px solid #DDD;
}
span.h2 {
	font-size: 1.25em;
	font-weight: bold;
}
h2.anschluss { margin-bottom: 0.5em; }
h3 {
	margin: 0;
	margin-bottom: 0.5em;
	padding: 0;
	font-size: 1em;
	font-weight: bold;
}
h3.ueber_tabelle { margin: 2em 0 0.5em 1.5em; }
h3.hilfe_einblender {
	padding: 2px;
	background-color: #E0E0E0;
	border-bottom: 1px solid #C0C0C0;
	border-right: 1px solid #C0C0C0;
}
h3.hilfe_einblender a { color: black; }
h4 {
	margin: 0;
	font-size: 0.9em;
	font-weight: bold;
	color: #999;
}
p {
	margin: 0;
	margin-bottom: 0.75em;
}
img { border: 0; }
img.icon{
	margin: 1px 2px 2px 0px;
	padding-bottom: 1px;
	vertical-align: sub;
}
ul {
	margin:0;
	margin-left: 1.75em;
	padding:0;
}
ol {
	margin-top: 1em;
	margin-left: 1.75em;
	padding: 0;
	list-style-type: decimal;
}
li { margin-bottom: 0.5em; }
input[ type=text ],
input[ type=password ] {
  margin: 0.2em 0 0.2em 0;
}
textarea {
  padding: 0.2em;
  width: 100%;
}
hr { margin: 1em 0; }

/* --- Links --- */

a {
	color: #05A;
	font-weight: bold;
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
	color: #06C;
}
a:active { color: #08E; }
a.neben_icon { vertical-align: super; }
a.normal {
	color: 0;
	font-weight: normal;
}
.hervor a.normal { font-weight: bold; }
.zusatzinfo_klein a.normal { color: #999; }
a.kleingrau {
	color: #999;
	font-size: 0.8em;
}
a.link_symbol {
	font-size: 0.7em;
	background: #DDF;
	padding: 1px 1px 0px 1px;
	border: 1px solid #BBE;
}

/* --- Allgemeine Tabellenformate --- */

table, tr {
	margin: 0;
	padding: 0;
	border-spacing: 0;
	width: 100%;
	font-size: 1em;
	line-height: 1.2em;
}
table.liste { width: 100% }
table.liste td, th {
	padding: 4px 2px 1px 2px;
	text-align: left;
	vertical-align: top;
	background-color: #F0F0F0;
}
table.liste th.icon { min-width: 4em; text-align: left; }
table.liste td.text_right { text-align: right }
table.liste td p { margin: 0; }

td p {
	margin: 0;
	margin-bottom: 0.5em;
}
td ul {
	margin-bottom: 2px;
	list-style: square;
}
td.abstand { padding: 0 3px; }
td.aussen_abstand { margin: 0 5px; }
td.tabzelle_hinweise p { margin-bottom: 0.5em; }

/* --- Tabellenzellen für Paketblatt Feldanzeige --- */

table.felder { border-spacing: 3px; }
td.feldname { white-space: nowrap; }
td.feldinhalt { width: 99%; }

/* --- Tabellenzellen für Schrittanzeige --- */

td.schritt_aktiv {
  vertical-align: bottom;
	padding-right: 1em;
	padding-bottom: 0.4em;
}
td.schritt_aktiv_nr {
	width: 1%;
	padding: 0;
	padding-right: 0.1em;
  vertical-align: bottom;
	color: #0B0;
	font-size: 3em;
	font-weight: bold;
}
td.schritt_inaktiv {
	color: #CCC;
  vertical-align: bottom;
	padding-right: 1em;
	padding-bottom: 0.4em;
}
td.schritt_inaktiv_nr {
	width: 1%;
	padding: 0;
	padding-right: 0.1em;
  vertical-align: bottom;
	color: #DDD;
	font-size: 3em;
	font-weight: bold;
}
td.balken_aktiv {
	height: 6px;
	background-color: #AEA;
	border-right: 6px solid white;
}
td.balken_inaktiv {
	height: 6px;
	background-color: #DDD;
	border-right: 6px solid white;
}

th {
	background-color: #79B;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	font-size: 0.9em;
}
th a { color: #FFF; }
th a:hover { color: #EEF; }

table.liste td.icon, table.liste th.icon {
	white-space: nowrap;
	text-align: right;
}
th#maxbreit, td#maxbreit { width: 99%; }

tr.ausserhalb td { background-color: #FFF; }
tr.hell td { background-color: #F8F8F8; }

tr.res_genehm td, tr.res_zurueck td, tr.res_aus td, tr.res_ueber td, tr.res_neu td { border-bottom: 1px solid white; }
tr.res_genehm td { background-color: #FEC; }
tr.res_zurueck td { background-color: #DFD; }
tr.res_aus td { background-color: #FDD; }
tr.res_ueber td { background-color: #FBB; }
tr.res_neu td { background-color: #FFB; }

table.geraetepark { width: 0; }
table.geraetepark tr { background-color: white; }
table.geraetepark td {
	vertical-align: top;
	padding: 0.5em;
	border-bottom: 1px solid black;
}

table.reservationen_klein {
	width: 99%;
	font-size: 0.8em;
	color: #444;
}
table.reservationen_klein .variabel { color: #999; }

.kein_umbruch, .terig_keinum { white-space: nowrap; }
.text_right, .terig_keinum { text-align: right; }

/* --- Container für dreispaltiges Layout --- */

div#alles {
	margin: 0;
	padding: 0;
	height: 100%;
	min-height: 100%;
	background-color: #F0F0F0;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: 13px;
}
div#menu {
	position: absolute;
	top: 0;
	left: 0;
	width: 15em;
	height: 100%;
	min-height: 100%;
	background-color: #E0E0E0;
	text-align: left;
	vertical-align: top;
}
/* nur fuer moderne Browser */
html>body #menu {
	position: fixed;
}
div#hilfe {
	float: right;
	width: 20%;
	height: 100%;
	min-height: 100%;
	padding: 2em;
	border-left: 2px solid #E0E0E0;
	vertical-align: top;
}
div#hilfe_klein {
	float: right;
	width: 2em;
	height: 100%;
	min-height: 100%;
	padding: 3em 0em 2em 0.5em;
	border-left: 2px solid #E0E0E0;
	vertical-align: top;
}
div#inhalt {
	min-height: 800px;
	margin-left: 15em;
	/* margin-right: 30%; */
	padding: 1em;
	background-color: #FFF;
	border-right: 3px solid #D0D0D0;
	vertical-align: top;
	overflow: auto;
}

/* --- Menu Links --- */

a#logo {
	color: #000;
	font-family: Helvetica, AvantGarde, sans-serif;
	font-size: 42px;
	text-decoration: none;
}
.menu_kopf {
	font-size: 0.9em;
	line-height: 1.15em;
	margin: 2.5em 2em 1em 2em;
}
.menublock {
	background-color: #F0F0F0;
	border: 0;
	border-bottom: 2px solid #C0C0C0;
	border-right: 1px solid #E0E0E0;
	padding: 0.5em 0.3em 0.3em 0.5em;
	padding-right: 1em;
	margin-left: 2em;
	margin-bottom: 3px;
}
.menublock#sel {
	background-color: #FFF;
	border: 0;
	border-bottom: 2px solid #C0C0C0;
}
a.menublock_gruppenkopf {
	color: #888;
	font-size: 0.85em;
}
.menu_gruppen {
	font-size: 0.9em;
	line-height: 1.15em;
	margin: 0 1em 1em 2em;
	text-align: right;
}
.geraeteparks { margin: 0.8em 0em; }
a.gruppe_select{
	background-color: #DEF;
	padding: 2px 4px;
	margin: 1px;
	border: 1px solid #06A;
}
a.gruppe_normal{
	background-color: #EEE;
	padding: 2px 4px;
	margin: 1px 0px;
	border: 1px solid #CCC;
}

/* --- Anzeige der ausgewählten Pakete in der Menuzeile --- */
.auswahl {
	background-color: #FFC;
	border-top: 1px dotted #999;
	border-bottom: 1px dotted #999;
	border-right: 1px solid #FFA;
	padding: 0.5em 1em 0.5em 1em;
	margin-top: 2em;
	text-align: left;
	font-size: 0.85em;
}
.paketauswahl_liste {
  margin-bottom: 0.75em;
}
.paketauswahl_liste_scroll {
  height: 6.5em;
  margin-bottom: 0.75em;
  overflow: auto;
}

/* --- Format für Suchresultate --- */

div.auswahl_liste {
	background-color: white;
	border-bottom: 2px solid #BBB;
	border-right: 2px solid #BBB;
	padding: 0.5em;
	margin: 0 0 0 3.5em;
}

/* --- Formate für den Indikator --- */

.indikator_vorne_gruen, .indikator_mitte_gruen, .indikator_hinten_gruen, .indikator_vorne_rot, .indikator_mitte_rot, .indikator_hinten_rot, .indikator_vorne_gelb, .indikator_mitte_gelb, .indikator_hinten_gelb {
	border: 1px solid #444;
	height: 5px;
	margin: 3px 0 3px 0;
}
.indikator_vorne_gruen, .indikator_mitte_gruen, .indikator_hinten_gruen { background-color: #0A0; }
.indikator_vorne_rot, .indikator_mitte_rot, .indikator_hinten_rot { background-color: #D00; }
.indikator_vorne_gelb, .indikator_mitte_gelb, .indikator_hinten_gelb { background-color: #FF0;
}
.indikator_vorne_gruen, .indikator_mitte_gruen, .indikator_vorne_rot, .indikator_mitte_rot, .indikator_vorne_gelb, .indikator_mitte_gelb { border-right: 0; }
.indikator_hinten_gruen, .indikator_mitte_gruen, .indikator_hinten_rot, .indikator_mitte_rot, .indikator_hinten_gelb, .indikator_mitte_gelb { border-left: 0; }

/* --- Formate für die Auszeichnung von Reservationen --- */

span.res_aus { font-weight: bold; color: #A44; }
span.res_zurueck { font-weight: bold; color: #0A0; }
span.res_ueber { font-weight: bold; color: #E00; }
span.res_neu { font-weight: bold; color: #CB0; }
span.res_sonst { font-weight: bold; color: #999; }

span.einruecker { width: 5em; }

span.reservation_titel {
	font-size: 1.25em;
	font-weight: bold;
}

div.res_paragraph { margin-bottom: 0.5em; }

/* --- Reiter fuer die Gegenstaende --------------------- */

.reiter_block {
	font-size: 0.9em;
	font-weight: bold;
	color: #999;
	padding-bottom: 0.5em;
	margin-top: 2em;
}
.reiter, .reiter_select {
	width: auto;
	padding: 0.5em 1em;
	margin-right: 0.5em;
	border: 0;
	border-right: 2px solid #D0D0D0;
	background-color: #DDE;
	float: left;
}
.reiter_select {
	color: #338;
	background-color: #EEF;
}
.reiter_neu {
	padding: 0.2em 0.5em;
	float: right;
}
.reiter_abschluss {
	clear: both;
}

/* --- Listenformatierungen item_liste ---------------------- */

.item_liste {
	background-color: #DDF;
}
.item_liste h3 { margin: 1em 10px; }
.item_liste p.dazu_link {
	margin: 0 10px;
	text-align: right;
}
.filterblock { margin: 0; }
.filterblock_gelb {
	padding: 10px;
	border: 1px solid #AAA;
	background-color: #FFD;
}
.filterblock_titel {
	font-size: 0.9em;
	font-weight: bold;
	color: #666;
	margin-top: 0.6em;
	margin-bottom: 0.3em;
}

/* --- Formate fuer Blatt mit oder ohne Reiter --- */

.blatt, .blatt_vor_tabelle {
	margin: 1.5em;
}
.blatt_vor_tabelle { margin-bottom: 0.5em; }
.paket_blatt, .gegenstand_blatt, .reservation_blatt, .reservation_genehm_blatt, .ausleihe_blatt, .ausleihe_zurueck_blatt, .user_blatt {
	width: 30em;
	padding: 2em;
	border: 0;
	border-right: 2px solid #D0D0D0;
	border-bottom: 2px solid #D0D0D0;
}
.paket_blatt { background-color: #FFE; }
.gegenstand_blatt {
	background-color: #EEF;
	border-top: 0;
}
.reservation_blatt, .reservation_genehm_blatt, .ausleihe_blatt, .ausleihe_zurueck_blatt {
	margin-top: 2em;
}
.reservation_blatt, .mini_reservation { background-color: #FFC; }
.reservation_genehm_blatt, .mini_reservation_genehm { background-color: #FEB; }
.ausleihe_blatt, .mini_ausleihe, .mini_ausleihe_ueber { background-color: #FCC; }
.ausleihe_zurueck_blatt, .mini_ausleihe_zurueck { background-color: #CFC; }
.paket_blatt h3, .gegenstand_blatt h3, .reservation_blatt h3 { margin: 1em 10px; }
.user_blatt { background-color: #EEF; }

/* --- Kleine Anzeige von Reservationen --- */

.mini_reservation, .mini_reservation_genehm, .mini_reservation_grau, .mini_ausleihe, .mini_ausleihe_ueber, .mini_ausleihe_zurueck {
	margin-top: 1em;
	padding: 1em 2em;
	border-bottom: 2px solid #DDD;
	border-right: 2px solid #DDD;
}
.mini_reservation_grau { background-color: #EEE; }
.mini_ausleihe_ueber { border: 3px solid #E00; }
span.mini_titel { font-size: 1.1em; font-weight: bold; }

.item_form {
	padding: 10px;
	border: 1px solid #AAA;
	border-top: 0;
	background-color: #EEF;
}
.blatt p {
	padding:0;
	margin:0;
	margin-bottom:0.6em;
}
.blatt label {
	margin-left: 0.3em;
	font-style: italic;
}
.kategorie {
	font-size: 0.9em;
	font-weight: bold;
	color: #666;
	margin-top: 0.5em;
	margin-bottom: 0.25em;
}
.icon_right {
	padding-right: 4px;
	border: 0;
}

.paket_item { padding: 1px; }
.paket_item#sel { font-weight: bold; }
.paket_infos {
	margin-left: 15px;
	margin-bottom: 0.6em;
}
.paket_infos_titel {
	font-weight: bold;
	color: #666;
	margin-top: 0.5em;
}
.paket_infos_text { font-weight: normal; }
.paket_name a { font-size: 0.9em; }

.paketinhalt {
	border: 1px solid #CCE;
	padding: 0 0.5em 0.5em;
	margin: 0.5em 0 1.5em;
	background-color: #DDF;
}
table.liste .paketinhalt {
	border: 1px dotted #AAA;
	background-color: #FFF;
	margin: 0.5em 0;
}

.reservation_paketliste_item {
	padding: 0.1em 0;
}

.rueck_paket {
	padding-top: 0.25em;
	border-top: 1px dotted #CC0;
	margin-top: 0.5em;
}

/* --- Formate fuer Datenblätter --- */

.zeitbereich {
	padding: 10px;
	border: 1px solid #AAA;
	background-color: #FFD;
}
.boxtitel {
	margin-bottom: 0.7em;
	font-size: 0.9em;
	font-weight: bold;
	color: #999;
}
.auswahltitel {
	font-size: 1.1em;
	font-weight: bold;
	margin: 0.5em 0;
}
.feldname {
	margin: 0.5em 0 0;
	padding: 0.2em;
	font-size: 0.8em;
	font-weight: bold;
	text-transform: uppercase;
}
.feldinhalt {
	padding: 0.3em;
	border: 1px solid #DDD;
	background-color: white;
}
.feldinhalt p { margin: 0.4em 0em 0.4em; }
.zelle_hinweise p { margin: 0.4em 0em 0.4em; }

.minifoto {
	height: 9px;
	border: 1px solid #666;
	margin-top: 1px;
}
.kleingrau {
	font-size: 0.8em;
	font-weight: bold;
	color: #999;
}
.hervor { font-weight: bold; }
.fett_gruen { font-weight: bold; color: #0A0; }
.fett_rot { font-weight: bold; color: #C00; }
.ajax_einblender {
	background-color: #EEE;
	border: 1px dotted #BBB;
	margin: 0.5em 0 1em 0;
	padding: 1em 1em 0 1em;
}
.reservation_paketliste .ajax_einblender {
	margin: 0.5em 1em 1em 3.5em;
}
.zusatzinfo_klein{
	font-size: 0.9em;
	color: #999;
}
.leichter_hinweis{ color: #999; }
.auswahlliste_hinweis {
	color: #999;
	font-size: 0.8em;
	margin-bottom: 0.5em;
}
/* --- Eingabeformular Formate & Attribute --------------- */
.attributformular {
	margin-top: 1em;
	padding: 0.75em;
	padding-bottom: 0;
	background-color: #FFF;
	border: 1px solid #DDE;
}
.submit_tasten {
	margin-top: 1em;
	text-align: right;
}

/* --- Scaffold Tabellenformate --- */
.scaffold table, .scaffold tr {
	font-size: 9px;
	margin: 0;
	padding: 0;
	width: 100%;
}
.scaffold td {
	padding: 0;
	margin: 0;
	background-color: #eee;
}

/* --- Scaffold Fehlerformate für Rails --------------------- */

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}
#errorExplanation {
  border: 2px solid #red;
  margin-bottom: 1em;
  background-color: #f0f0f0;
}
#errorExplanation h2 {
  text-align: left;
  font-size: 12px;
  font-weight: bold;
  padding: 4px;
	margin: 0;
  background-color: #c00;
  color: #fff;
}
#errorExplanation p {
  color: #333;
  padding: 5px;
	margin: 0;
}
#errorExplanation ul {
	margin-bottom: 4px;
  list-style: square;
}

/* --- Formate fuer Flash Meldungen ---------------------- */

.flash {
  font-weight: bold;
  padding: 0.25em 0.5em 0.25em 0.5em;
}

.notice {
  color: #66F;
  background-color: #DDF;
  border-top: 1px solid #99F;
  border-bottom: 1px solid #99F;
}
.error {
  color: #A00;
  background-color: #FCC;
  border-top: 1px solid #A00;
  border-bottom: 1px solid #A00;
}
.alarm {
  font-size: 1.2em;
  color: #D40;
  background-color: #FDC;
  border-top: 2px dotted #F60;
  border-bottom: 2px dotted #F60;
}

.warning {
  padding: 1em;
  margin-bottom: 1em;
  color: #A00;
  background-color: #FDB;
  border-top: 1px solid #DB9;
  border-bottom: 1px solid #DB9;
}
.warning h2 {
  font-size: 1.0em;
  margin: 0;
  padding: 0;
}
.warning p {
  margin: 0;
  padding: 0;
}

/* --- Ende --- */