.line.light.row.focus-hover-thin{:"data-line-type" => "item_line", :"data-id" => "{{>id}}"}

  %div{:class => "{{if ~renderAvailability && anyProblems()}}line-info red{{/if}}"}
  
  .line-col.padding-left-xs
    .row
      .col1of4
        %label.padding-inset-s
          %input{:type => :checkbox, :"data-select-line" => true, :autocomplete => :off}

  .col2of10.line-col.text-align-center
    .row 
      {{if item()}}
      {{partial 'manage/views/lines/hand_over_line/assigned_item' #view.data/}}
      {{else}}
      {{partial 'manage/views/lines/hand_over_line/unassigned_item' #view.data/}}
      {{/if}}

  .col4of10.line-col.text-align-left
    %strong {{>model().name}}
    {{if model().hand_over_note}}
    %br
    %span.grey-text {{>model().hand_over_note}}
    {{/if}}

  .col1of10.line-col.text-align-center
    {{if purpose_id}}
    .tooltip{:"title" => "{{>purpose().description}}", :"data-tooltip-template" => "manage/views/purposes/tooltip"}
      %i.icon-comment.grey
    {{/if}}

  .col1of10.line-col.text-align-center
    {{if ~renderAvailability && anyProblems()}}
    .emboss.red.padding-inset-xxs-alt.text-align-center.tooltip{:"data-tooltip-data" => "{{JSON getProblems()/}}", :"data-tooltip-template" => "manage/views/lines/problems_tooltip"}
      %strong {{>getProblems().length}}
    {{/if}}

  .col2of10.line-col.line-actions.padding-left-xxs.padding-right-s
    .multibutton
      %button.button.white.text-ellipsis{:"data-edit-lines" => true, :"data-ids" => "[{{>id/}}]"} {{jed "Change entry"/}}
      .dropdown-holder.inline-block
        .button.white.dropdown-toggle
          .arrow.down
        %ul.dropdown.right
          %li
            %a.dropdown-item{:"data-open-time-line" => true, :"data-model-id" => "{{>model().id}}"}
              %i.icon-align-left
              {{jed "Timeline"/}}
          %li
            %a.dropdown-item.red{:"data-destroy-line" => true}
              %i.icon-trash
              {{jed "Delete"/}}
