.line.light.row.focus-hover-thin{:"data-line-type" => "option_line", :"data-id" => "{{>id}}"}

  %div{:class => "line-info{{if ~renderAvailability && anyProblems()}} red{{/if}}"}
  
  .line-col.padding-left-xs
    .row
      .col1of4
        %label.padding-inset-s
          %input{:type => :checkbox, :"data-select-line" => true, :autocomplete => :off}

  .col1of10.line-col
    %input.small.width-full.text-align-center{:type => :text, :value => "{{>quantity}}",  :"data-line-quantity" => true}

  .col1of10.line-col.text-align-center
    %span.grey-text {{>option().inventory_code}}

  .col4of10.line-col.text-align-left
    %strong {{>option().name()}}

  .col1of10.line-col.text-align-center
    {{if purpose_id}}
    .tooltip{:"title" => "{{>purpose().description}}", :"data-tooltip-template" => "manage/views/purposes/tooltip"}
      %i.icon-comment.grey
    {{/if}}

  .col1of10.line-col.text-align-center
    {{if ~renderAvailability && anyProblems()}}
    .emboss.red.padding-inset-xxs-alt.text-align-center.tooltip{:"data-tooltip-data" => "{{JSON getProblems()/}}", :"data-tooltip-template" => "manage/views/lines/problems_tooltip"}
      %strong {{>getProblems().length}}
    {{else ~renderAvailability && !anyProblems()}}
    .padding-inset-xxs-alt.text-align-center
      %i.icon-ok
    {{/if}}

  .col2of10.line-col.line-actions.padding-left-xxs.padding-right-s
    .multibutton
      %button.button.white.text-ellipsis{:"data-edit-lines" => true, :"data-ids" => "[{{>id}}]"} {{jed 'Change entry'/}}
      .dropdown-holder.inline-block
        .button.white.dropdown-toggle
          .arrow.down
        %ul.dropdown.right
          %li
            %a.dropdown-item{:"data-open-time-line" => true, :"data-model-id" => "{{>model().id}}"}
              %i.icon-align-left
              {{jed "Timeline"/}}
          %li
            %a.dropdown-item.red{:"data-destroy-line" => true}
              %i.icon-trash
              {{jed "Delete"/}}
