%form{:"data-assign-item-form" => true}
  %input.small.width-full.has-addon.text-align-center{:autocomplete => :off, :id => "assigned-item-{{>id}}", :type => :text, :"data-assign-item" => true}
  %label.addon.small.transparent.padding-right-s{:for => "assigned-item-{{>id}}"}
    .arrow.down
