// BLACK
$black: rgb(20,20,20)

// GREY
$grey: #7d7c76
$lightgrey: #9e9d97
$lightergrey: #CCC
$lightestgrey: #EEE
$darkgrey: #515151
$darkergrey: #3a3a3a

// RED
$red: #DD2222
$darkred: darken($red, 10)
$lightred: #FF7777

// GREEN
$green: #87e96e
$darkgreen: darken($green, 15)
$darkergreen: darken($green, 25)
$lightgreen: #acff99

// BLUE
$blue: #1d62c9
$darkblue: darken($blue, 10)
$lightblue: #6091d9
$lighterblue: #BBD5FA

// WHITE
$almostwhite: #FAFAFA

// BEIGE
$beige: #F3F1EB

// SEPARATORS
$seperator-white: rgba(255,255,255,0.2)
$seperator-black: rgba(0,0,0,0.2)
