
    :css
      body {
        background: rgba(50, 255, 50, 0.5) !important;
      }

    %div{:style => "width: 100%; position: absolute;"}
      %div{:style => "width: 100%; margin: 0 auto; text-align: center; font-weight: bold; line-height: 1.8em; text-shadow: 1px 1px 0 white; color: rgba(0,0,0,0.8); font-size: 1.2em; min-width: 970px; white-space: nowrap;"}