.button {
  background: none;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-size: 1.3em;
  font-weight: bold;
  height: 31px;
  text-align: center;
  margin-right: 6px;
  padding: 0 10px;
  position: relative;
  vertical-align: middle;
  @include borderRadius(6px);
  
  &>img.loading {
    display: inline-block;
    height: 14px;
    width: 14px;
    @include opacity(0.8);
  }
  
  &.loading {
    @include opacity(1.0 !important);
    @include boxShadow (0 0 3px #BBB);
    margin-right: 5px;
  }
}

.button:active {
  line-height: 1.5em;
}

a.button {
  padding-top: 6px;
  height: 23px;
  
  .icon {
    top: -2px;
  }
}

@mixin button($color, $color2, $color3, $color4, $pos, $pos-hover, $pos-active) {
  color: $color;
  border: 1px solid $color2;
  border-top: 1px solid $color3;
  background: url($slices-h) repeat-x 0 $pos;
  
  &:hover {
    background: url($slices-h) repeat-x 0 $pos-hover;
    color: $color4;
  }
  
  &:active {
    background: url($slices-h) repeat-x 0 $pos-active;
  }
  
  &.disabled, &.disabled:hover, &.disabled:active {
    background: url($slices-h) repeat-x 0 $pos;
    cursor: default;
    color: $color !important;
    @include opacity(0.6);
  }
}

.button.green {@include button(#388533, $lightgrey, #47c23e, #515151, -156px, -188px, -220px)};
.button.white {@include button(#808080, $lightgrey, #c0c0c0, #515151, -252px, -284px, -316px)};
.button.red {@include button(#db5252, #df7070, #ea9090, #f60000, -252px, -284px, -316px)};

// SMALLBUTTON ////////////////////////////////

.button.small {
  font-size: 1.2em;
  font-weight: normal;
  height: 22px;
  padding: 0 8px;
  margin-right: 2px;
}

button.button.small {
  height: 24px;
}

a.button.small {
  padding-top: 3px;
  height: 19px;
}

.button.small:active {
  line-height: 1.4em;
}

.button.small.green {@include button(#4d9148, $lightgrey, #47c23e, #515151, -444px, -467px, -490px)};
.button.small.white {@include button(#808080, $lightgrey, #c0c0c0, #515151, -513px, -536px, -559px)};
.button.small.red {@include button(#db5252, #df7070, #ea9090, #f60000, -582px, -605px, -628px)};