#content.box {
  display: block;
  float: left;
  margin-left: 14px;
  margin-bottom: 20px;
  position: relative;
  width: 755px;
  
  .contentheader {
    display: block;
    height: 12px;
    position: relative;
    
    .headerinner {
      background: url($slices-h) repeat-x 0 -87px;
      display: block;
      height: 12px;
      margin-left: 6px;
      margin-right: 6px;
    }
    
    .borderright {
      background: url($image-sprite) no-repeat -18px -14px;
      display: block;
      height: 12px;
      right: 0;
      position: absolute; 
      top: 0;
      width: 6px;
    }
    
    .borderleft {
      background: url($image-sprite) no-repeat -18px -27px;
      display: block;
      height: 12px;
      left: 0;
      position: absolute; 
      top: 0;
      width: 6px;
    }
  }
  
  .innercontent {
    background: #FFF;
    border-left: 1px solid $bordergrey;
    border-right: 1px solid $bordergrey;
    display: block;
    padding: 8px 16px 8px 12px;
    position: relative;
    
    .content_navigation {
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }
  
  .contentfooter {
    display: block;
    height: 14px;
    position: relative;
    
    .footerinner {
      background: url($slices-h) repeat-x 0 -100px;
      display: block;
      height: 14px;
      margin-left: 6px;
      margin-right: 6px;
    }
    
    .borderright {
      background: url($image-sprite) no-repeat -25px -15px;
      display: block;
      height: 14px;
      right: 0;
      position: absolute; 
      top: 0;
      width: 6px;
    }
    
    .borderleft {
      background: url($image-sprite) no-repeat -25px 0;
      display: block;
      height: 14px;
      left: 0;
      position: absolute; 
      top: 0;
      width: 6px;
    }
  }
}

#content.box.fullwidth {
  display: block;
  float: left;
  position: relative;
  width: 963px;
}