.ui-dialog {
  background: #FFF;
  border: 1px solid $lightgrey;
  display: inline-block;
  position: absolute;
  @include borderRadius(6px);
  @include boxShadow (0 0 8px #AAA);
  
  &.error {
    border: 3px solid red;  
  }
  
  .scalable {
    @include forceScrollBar();
  }
  
  .navigation {
    position: absolute;
    right: 16px;
    top: 20px;
  }
  
  textarea {
    border: 1px solid $lightgrey;
    display: block;
    font-size: 1.3em;
    margin-top: 12px;
    padding: 10px;
    @include borderRadius(6px);
  }
  
  .flash_message {
    display: none;
    border: 1px solid red;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    padding: 12px;
    margin: 4px 0 16px 0;
    @include boxShadow (0 0 8px #AAA);  
  }
  
  section.lines {
    
    .topline {
      margin-top: 22px;
      
      &:nth-child(1) {
        margin-top: 10px;
      }
      
      .date {
        float: left;
        font-size: 1.2em;
        font-weight: bold;
      }
      
      .range {
        color: $lightgrey;
        float: right;
        font-size: 1.2em;
        text-align: right;
        padding-right: 4px;
        width: 150px;
      }
    }
  }
  
  section.comment {
    padding-top: 24px;
  }
  
  .list {
    margin-top: 6px;
    margin-bottom: 0;
    border-top: 1px solid $borderlightgrey;
    
    .line {
      
      &:hover {
        @include noBoxShadow;
      }
      
      &:nth-child(even):hover {
        background: $highlight-grey !important;
      }
    }
    
    .line > a > li:first-child, .line > li:first-child, .line > div > li:first-child {
      padding-left: 0; 
    }
  }
  
  .ui-dialog-titlebar {
    background: url($slices-h) repeat-x 0 -129px;
    display: none;
    height: 20px;
    padding: 3px;
    position: relative;
  }
  
  .ui-dialog-title { 
    float: left;
    font-size: 1.3em;
    font-weight: bold;
    margin: 3px 0 0 6px;
  }
  
  .ui-dialog-titlebar-close {
    background: url($slices-h) repeat-x 0 -7px;
    border: 1px solid $borderlightgrey;
    color: $lightgrey !important;
    display: block;
    font-weight: bold;
    height: 15px;
    position: absolute;
    right: 3px; 
    top: 5px;
    width: 15px;
    @include borderRadius(4px);
    
    span {
      display: block;
      padding-left: 1px;
      position: relative;
      text-align: center;
      top: 1px;
    }
    
    &:hover {
      color: $grey !important;
    }
  }
  
  .ui-dialog-titlebar-close:hover {
    background: url($slices-h) repeat-x 0 -46px;
  }
  
  .ui-dialog-titlebar-close:active {
    padding-top: 1px;
    height: 13px;
  }
  
  .ui-dialog-content {
    border-top: 1px solid $lightergrey;    
    position: relative;
    padding: 20px;
    zoom: 1;
   }
   
  .ui-dialog-buttonpane { 
    text-align: left;
    
    .ui-dialog-buttonset { 
      float: right; 
      padding: 0 6px 4px 0;
    }
    
    button { 
      cursor: pointer; 
      padding: 2px 10px;
      @include borderRadius(4px);
    }
  }
}

.ui-widget-overlay {
  background: #857f73;
  position: absolute;
  top: 0;
  left: 0;
  @include opacity(0.5);
}

