#navigation {
	position: relative;
	z-index: 2;
	width: 750px;
	@include greylinks;
	
	ul {
    position: relative;
    
    li {
      display: inline;
      position: relative;
    }
  }
 
  .item {
    display: inline-block;
    font-size: 1.2em;
    font-weight: bold;
    position: relative;
    margin-right: -2px;
    
    .anchor {
      background: url($image-sprite) no-repeat right -91px;
      color: $grey;
      display: block;
      padding: 7px 17px 0 12px;
      position: relative;
      height: 21px;
    }
    
    .leftend {
      background: url($image-sprite) no-repeat -73px 0;
      height: 100%;
      position: absolute;
      left: -9px;
      top: 0;
      width: 9px;
    }
  }
  
  .item.first {
    .anchor {
      padding-left: 15px;
    }
    
    .leftend {
      display: none;
    }
  }
  
  .item:hover {
  
    .anchor {
      background: url($image-sprite) no-repeat right -120px;
      color: $darkergrey;
    }
    
    .leftend {
      background: url($image-sprite) no-repeat -63px 0;
    }
  }
  
  .item.active {
  
    .anchor {
      background: url($image-sprite) no-repeat right -149px;
      color: $darkergrey;
      height: 28px;
      padding-right: 14px;  
    }
    
    .leftend {
      background: url($image-sprite) no-repeat -53px 0;
    }
  }
  
  .item.active:hover {
  
    .anchor {
      background: url($image-sprite) no-repeat right -149px;
      height: 28px;
      color: $darkergrey;
    }
    
    .leftend {
      background: url($image-sprite) no-repeat -53px 0;
    }
  }
}