.highlight {
  background: yellow;
}

.ui-autocomplete {
  background: #FFF;
  border-right: 1px solid #c3c3c3;
  border-left: 1px solid #c3c3c3;
  border-bottom: 1px solid #c3c3c3;
  left: 0 !important;
  margin-top: 3px;
  padding: 0 12px;
  position: absolute;
  width: 350px !important;
  z-index: 1009 !important;
  @include boxShadow (2px 2px 2px #DDD);
  
  .marked {
    background: none;
    color: $lightgrey;
    font-weight: normal;
  }
  
  a:hover {
    .marked {
      color: $grey;
    }
  }
  
  .seperator {
    display: block;
    height: 10px;
  } 
  
  .ui-menu-item.model {
    border-bottom: 1px solid #e3e3e3;
    height: 65px;
    margin-left: -12px;
    margin-right: -12px;
    position: relative;
    @include darkGreylinks();
    
    table.image {
      height: 65px;
      position: absolute;
      right: 8px;
    
      tr {
        td {
          vertical-align: middle;
          
          img {
            max-height: 65px;
            max-width: 70px;
          }
        }      
      }
    }
    
    a {
      cursor: pointer;
      display: table-cell;
      height: 65px;
      font-size: 1.2em;
      font-weight: bold;
      padding-left: 12px;
      position: relative;
      vertical-align: middle;
      width: 338px;
      
      span.label {
        display: inline-block;
        width: 240px;
      }
    }
  }
  
  .ui-menu-item.model:nth-child(odd) {
    background: $highlight-grey;
  }
    
  .ui-menu-item.model:hover {
    background: $highlight-darkgrey;
  }
  
  .ui-menu-item.category {
    display: inline-block;
    font-size: 1.4em;
    margin-bottom: 2px;
    margin-right: 8px;
    margin-top: 4px;
    @include darkGreylinks();
  }
}

#search {
	position: relative;
	width: 150px;
	z-index: 3;
  
  .inner {
    background: url($image-sprite) repeat-x 0 -91px;
    height: 28px;
    float: left;
    padding-left: 5px;
    padding-right: 6px;
    position: relative;
    
    input[type=text] {
      background: white;
      border: 1px solid $borderlightgrey;
      color: $grey;
      display: block;
      font-size: 1.2em;
      height: 15px;
      margin-top: 4px;
      padding-top: 2px;
      padding-left: 6px;
      padding-right: 18px;
      padding-bottom: 2px;
      position: relative;
      width: 92px;
      @include borderRadius(8px);
    }
    
    .icon {
      background: transparent url($image-sprite) no-repeat -32px -30px;
      border: none;
      cursor: pointer;
      height: 12px;
      position: absolute;
      left: 106px;
      top: 9px;
      width: 13px;
      @include opacity(0.7);
    }
    
    .icon:hover {
      @include opacity(1.0);
    }
    
    .borderright {
      background: white;
      border-right: 1px solid $bordergrey;
      height: 26px;
      position: absolute;
      right: 0;
      top: 1px;
      width: 1px;
    }
  }
}

#search:hover {
  
  .inner {
    background: url($image-sprite) repeat-x 0 -120px;
  }
}

#search.active {
  
  .inner {
    background: url($image-sprite) repeat-x 0 -149px;
    height: 35px;
  }
}
