$bordergrey: #cac9c5; 
$borderdarkgrey: #afaca9; 
$borderlightgrey: #d0d0d0;
$borderlightergrey: #e5e5e5;
$grey: #717171;
$darkgrey: #3d3d3b;
$darkergrey: #515151;
$lightgrey: #999;
$lightergrey: #CCC;
$highlight-grey: #f8f8f8;
$highlight-darkgrey: #EBEBEB;
$lightred: #FFAAAA;
$red: #DD2222;
$lightblue: #6091d9;
$blue: #1d62c9;
$image-sprite: "image-sprite.png";
$slices-h: "slices-h.png";