@import "mixins";
@import "variables";

.button {
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-size: 1.3em;
  font-weight: bold;
  height: 31px;
  text-align: center;
  margin: 0 2px;
  padding: 0 10px;
  position: relative;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  @include border-radius(6px);
  @include unselectable();
  @include box-shadow(0 1px 0 rgba(255,255,255,0.2));
  
  &>img.loading {
    display: inline-block;
    height: 16px;
    margin-right: 4px;
    position: relative;
    top: 0 !important;
    width: 16px;
    @include opacity(0.8);
  }
  
  &.loading {
    @include opacity(1.0 !important);
    @include box-shadow (0 0 3px #BBB);
    margin-right: 5px;
  }
}

a.button {
  padding-top: 6px;
  height: 23px;
  
  .icon {
    margin-left: 3px;
    top: -2px;
  }
}

@mixin button($color, $hover_color, $grad_color_1, $grad_color_2, $grad_color_hover, $grad_color_1_active, $grad_color_2_active) {
  color: $color;
  border: 1px solid rgba(80,80,80,0.3);
  border-bottom: 1px solid rgba(80,80,80,0.4);
  @include vertical-gradient($grad_color_1, $grad_color_2, 20%, 80%);
  
  &:hover:not([disabled]) {
    @include vertical-gradient($grad_color_hover, $grad_color_hover, 20%, 80%);
    color: $hover_color;
  }
  
  &:active:not([disabled]), &.active {
    @include vertical-gradient($grad_color_1_active, $grad_color_2_active, 20%, 80%);
    @include box-shadow(inset 0 -2px 3px rgba(0,0,0,0.1));
  }
  
  &.disabled, &.disabled:hover, &.disabled:active, &[disabled=disabled], &[disabled=disabled]:hover, &[disabled=disabled]:active {
    cursor: default;
    color: $color !important;
    @include vertical-gradient($grad_color_1, $grad_color_2, 20%, 80%);
    @include opacity(0.6);
  }
}

.button.green {@include button(#2e7929, #1d5f18, rgb(141,206,88), rgb(175,236,129), rgb(157,219,106), rgb(148,209,98), rgb(131,201,74))};
.button.white {@include button(#808080, #515151, rgb(230,230,230), white, rgb(235,235,235), rgb(226,226,226), rgb(232,232,232))};
.button.red {@include button(#db5252, #f60000, rgb(230,230,230), white, rgb(235,235,235), rgb(226,226,226), rgb(232,232,232))};

// SMALLBUTTON ////////////////////////////////

.button.small {
  font-size: 1.2em;
  font-weight: bold;
  padding: 0 8px;
  vertical-align: bottom;
}

button.button.small {
  height: 26px;
}

a.button.small {
  padding-top: 3px;
  height: 21px;
}

.button.small:active:not([disabled]) {
  line-height: 1.4em;
}