@import "mixins";
@import "variables";

.button {
  background: none;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-size: 1.3em;
  font-weight: bold;
  height: 31px;
  text-align: center;
  padding: 0 8px;
  position: relative;
  vertical-align: middle;
  white-space: nowrap;
  @include border-radius(6px);
  @include unselectable();
  @include box-shadow(0 1px 0 rgba(255,255,255,0.2));
  
  &>img.loading {
    display: inline-block;
    height: 16px;
    margin-right: 4px;
    position: relative;
    top: 0 !important;
    width: 16px;
    @include opacity(0.8);
  }
  
  &.loading {
    @include opacity(1.0 !important);
    @include box-shadow (0 0 3px #BBB);
    margin-right: 5px;
  }
}

a.button {
  padding-top: 6px;
  height: 23px;
  
  .icon {
    margin-left: 3px;
    top: -2px;
  }
}

@mixin button($color, $color4, $pos, $pos-hover, $pos-active) {
  color: $color;
  border: 1px solid rgba(80,80,80,0.3);
  border-bottom: 1px solid rgba(80,80,80,0.4);
  background: url($slices-h) repeat-x 0 $pos;
  
  &:hover:not([disabled]) {
    background: url($slices-h) repeat-x 0 $pos-hover;
    color: $color4;
  }
  
  &:active:not([disabled]) {
    background: url($slices-h) repeat-x 0 $pos-active;
    @include box-shadow(inset 0 -2px 3px rgba(0,0,0,0.1));
  }
  
  &.disabled, &.disabled:hover, &.disabled:active, &[disabled=disabled], &[disabled=disabled]:hover, &[disabled=disabled]:active {
    background: url($slices-h) repeat-x 0 $pos;
    cursor: default;
    color: $color !important;
    @include opacity(0.6);
  }
}

.button.green {@include button(#2e7929, #1d5f18, -156px, -188px, -220px)};
.button.white {@include button(#808080, #515151, -252px, -284px, -316px)};
.button.red {@include button(#db5252, #f60000, -252px, -284px, -316px)};

// SMALLBUTTON ////////////////////////////////

.button.small {
  font-size: 1.2em;
  font-weight: normal;
  height: 22px;
  padding: 0 8px;
  margin-right: 2px;
}

button.button.small {
  height: 24px;
}

a.button.small {
  padding-top: 3px;
  height: 19px;
}

.button.small:active:not([disabled]) {
  line-height: 1.4em;
}

.button.small.green {@include button(#2e7929, #1d5f18, -444px, -467px, -490px)};
.button.small.white {@include button(#808080, #515151, -513px, -536px, -559px)};
.button.small.red {@include button(#db5252, #f60000, -582px, -605px, -628px)};