@import "mixins";
@import "variables";

#content.box {
  display: block;
  float: left;
  margin-left: 14px;
  margin-bottom: 20px;
  position: relative;
  width: 755px;
  
  .contentheader {
    display: block;
    height: 12px;
    position: relative;
    
    .headerinner {
      background: url($slices-h) repeat-x 0 -87px;
      display: block;
      height: 12px;
      margin-left: 6px;
      margin-right: 6px;
    }
    
    .borderright {
      background: url($image-sprite) no-repeat -18px -14px;
      display: block;
      height: 12px;
      right: 0;
      position: absolute; 
      top: 0;
      width: 6px;
    }
    
    .borderleft {
      background: url($image-sprite) no-repeat -18px -27px;
      display: block;
      height: 12px;
      left: 0;
      position: absolute; 
      top: 0;
      width: 6px;
    }
  }
  
  .innercontent {
    background: #FFF;
    border-left: 1px solid $bordergrey;
    border-right: 1px solid $bordergrey;
    display: block;
    padding: 8px 0 8px 0;
    position: relative;
    @include box-shadow(0 8px 12px rgba(0,0,0,0.1));  
    
    .top {
      padding-left: $inner-padding-left;
      margin-bottom: 24px;
    } 
    
    .content_navigation {
      display: inline-block;
      position: absolute;
      right: 10px;
      text-align: right;
      top: 10px;
      white-space: nowrap;
      width: 40%;
    }
    
    .indent {
      padding-left: $inner-padding-left;
      padding-right: $inner-padding-right;
    }
  }
  
  .contentfooter {
    display: block;
    height: 14px;
    position: relative;
    z-index: 101;
    
    .footerinner {
      background: url($slices-h) repeat-x 0 -100px;
      display: block;
      height: 14px;
      margin-left: 6px;
      margin-right: 6px;
    }
    
    .borderright {
      background: url($image-sprite) no-repeat -25px -15px;
      display: block;
      height: 14px;
      right: 0;
      position: absolute; 
      top: 0;
      width: 6px;
    }
    
    .borderleft {
      background: url($image-sprite) no-repeat -25px 0;
      display: block;
      height: 14px;
      left: 0;
      position: absolute; 
      top: 0;
      width: 6px;
    }
  }
}

#content.box.fullwidth {
  display: block;
  float: left;
  position: relative;
  width: 963px;
}