@import "mixins";
@import "variables";

#ui-datepicker-div {
  font-size: 1.2em;
  background: white;
  border: 1px solid $borderlightgrey;
  display: none;
  left: -75px;
  text-align: center;
  margin-left: -40px;
  position: absolute;
  z-index: 1005 !important;
  @include grey-links;
  @include border-radius(12px);
  @include box-shadow (0 0 4px #AAA);
  
  .ui-datepicker-header {
    background: url($slices-h) repeat-x 0 -131px;
    height: 22px;
    
    .ui-datepicker-title {
      color: $darkgrey;
      font-size: 1.1em;
      font-weight: bold;
      display: inline-block;
      position: relative;
      top: 4px;
    }
    
    .ui-datepicker-prev, .ui-datepicker-next {
      background: url($slices-h) repeat-x 0 -7px;
      border: 1px solid $borderlightgrey;
      cursor: pointer;
      display: block;
      height: 14px;
      padding: 1px 2px 3px 2px;
      position: absolute;
      top: 1px;
      width: 14px;
      @include border-radius(4px);
    }
    
    .ui-datepicker-prev {
      left: 2px;
    }
    
    .ui-datepicker-next {
      right: 2px;
    }
    
    .ui-datepicker-prev:hover, .ui-datepicker-next:hover {
      background: url($slices-h) repeat-x 0 -46px;
    }
    
    .ui-datepicker-prev:active, .ui-datepicker-next:active {
      padding-top: 1px;
      height: 13px;
    }
  }
  
  .ui-datepicker-calendar {
    background: white;
    display: block;
    padding: 4px;
    
    thead {
      tr {
        background: none;
        
        th {
          text-align: center;
          padding: 3px 4px;
        }
      }
    }
    
    tbody {
      tr {
        td {
          text-align: center;
          a {
            border-right: 1px solid #FFF;
            color: $grey;
            display: block;
            padding: 3px 4px;
            text-align: center;
          }
          
          a:hover {
            background: $highlight-darkgrey !important;
          }
          
          .ui-state-active {
            background: $highlight-darkgrey !important;
             color: $darkgrey !important;

            font-weight: bold;
          }
        }
        
        td:nth-last-child(1) {
          a {
            border-right: none;
            padding-right: 5px;
          }
        }
        
        .ui-datepicker-other-month {
        
            a {
              background: none !important;
              color: $lightgrey !important;
            }
            
            a:hover {
              color: $grey !important;
            }
         }
         
         .ui-datepicker-unselectable {
            color: $lightergrey;
            padding: 3px 4px;
         } 
      }
      
      tr:nth-child(odd) {
        td {
          a {
            background: $highlight-grey;  
          }
        }
      }
    }
  }
}