@import "../shared/mixins";
@import "../shared/variables";

.icon {
  background: url($backend-image-sprite) no-repeat 14px 14px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.placeholder {
  position: absolute;
}

a.button .icon {
  vertical-align: middle;
}

button .icon {
  vertical-align: top;
}

.datepicker.icon { 
  background-position: -132px 0;
  height: 14px;
  width: 14px;
}

.back.icon {
  background: url($image-sprite) no-repeat 14px 14px; 
  background-position: -102px 0;
  height: 14px;
  width: 14px;
  @include opacity(0.6);
}

.button:not([disabled=disabled]):hover {
  .back.icon {@include opacity(1.0)}
}

.forward.icon {
  background: url($image-sprite) no-repeat 14px 14px; 
  background-position: -102px -15px;
  height: 14px;
  width: 14px;
  @include opacity(0.6);
}

.button:not([disabled=disabled]):hover {
  .forward.icon {@include opacity(1.0)}
}

.orders.icon {
  background-position: -112px 0;
  height: 14px;
  width: 19px;
}

.hand_over.icon {
  background-position: -90px -17px;
  height: 16px;
  left: -2px;
  margin-right: -4px !important;
  width: 23px;
}

.overdue_hand_over.icon {
  background-position: -147px 0;
  height: 16px;
  width: 24px;
}

.overdue.icon {
  background-position: -96px 0;
  height: 16px;
  width: 15px;
}

.take_back.icon {
  background-position: -48px 0;
  height: 16px;
  left: -2px;
  margin-right: -4px !important;
  width: 21px;
}

.overdue_take_back.icon {
  background-position: -147px -17px;
  height: 16px;
  width: 24px;
}

.edit.icon {
  background-position: -116px -15px;
  height: 16px;
  width: 15px;
}

.approve.icon {
  background-position: -74px -17px;
  height: 15px;
  width: 15px;
}

.delete.icon {
  background-position: -59px -17px;
  height: 15px;
  width: 14px;
}

.send.icon {
  background-position: -28px 0;
  height: 14px;
  width: 19px;
}

.user.icon {
  background-position: -42px -17px;
  height: 16px;
  width: 16px;
}

.contract.icon {
  background-position: -24px -17px;
  height: 16px;
  width: 17px;
}

.item.icon {
  background-position: 0 -134px;
  height: 14px;
  width: 16px;
}

.valuelist.icon {
  background-position: -17px -134px;
  height: 14px;
  width: 14px;
}

.retire.icon {
  background-position: -79px 0;
  height: 16px;
  width: 16px;
}

.model.icon {
  background-position: -32px -134px;
  height: 14px;
  width: 16px;
}

.return.icon {
  background-position: -49px -134px;
  height: 14px;
  width: 12px;
}

.view_item.icon {
  background-position: -62px -134px;
  height: 14px;
  width: 16px;
}

.view_model.icon {
  background-position: -79px -134px;
  height: 14px;
  width: 16px;
}

.view_order.icon {
  background-position: -96px -134px;
  height: 14px;
  width: 16px;
}

.timerange.icon {
  background-position: -113px -134px;
  height: 14px;
  width: 16px;
}

.swap.icon {
  background-position: -130px -134px;
  height: 14px;
  width: 14px;
}

.jumpto.icon {
  background: url($image-sprite) no-repeat;
  background-position: -102px -30px;
  height: 12px;
  width: 14px;
}

.additem.icon {
  background-position: -160px -134px;
  height: 14px;
  width: 16px;
}

.search.icon {
  background: url($image-sprite) no-repeat scroll -32px -30px transparent;
  height: 12px;
  width: 13px;
}

.loading.icon {
  background: none;
  height: 16px;
  width: 16px;
}

.arrow.icon {
  background: url($image-sprite) no-repeat;
  background-position: -53px -37px;
  height: 6px;
  width: 7px;

  &.down.white {
    background: url($image-sprite) no-repeat;
    background-position: -117px -0;
    height: 7px;
    width: 8px;
  }

  &.left {
    background: url($image-sprite) no-repeat;
    background-position: -117px -22px;
    height: 9px;
    width: 9px;
  }
}

.home.icon {
  background: url($backend-image-sprite) no-repeat -132px -15px;
  height: 16px;
  width: 16px;
}

.clear.icon {
  background: url($backend-image-sprite) no-repeat -145px -134px;
  height: 14px;
  width: 14px;
}

.print.icon {
  background: url($backend-image-sprite) no-repeat -177px -134px;
  height: 16px;
  width: 16px;
}

.package.icon {
  background: url($backend-image-sprite) no-repeat -194px -134px;
  height: 16px;
  width: 16px;
}

.timeline.icon {
  background: url($backend-image-sprite) no-repeat -172px -0px;
  height: 14px;
  width: 16px; 
}

.problem.icon {
  background: url($backend-image-sprite) no-repeat -172px -19px;
  height: 14px;
  width: 16px;  
}

.comment.icon {
  background: url($backend-image-sprite) no-repeat 0 -151px;
  height: 14px;
  width: 16px;   
}

.categories.icon {
  background: url($backend-image-sprite) no-repeat -17px -151px;
  height: 14px;
  width: 16px;   
}