@import "../shared/mixins";
@import "../shared/variables";

.line.toggle {
  background: white !important;
  border-bottom: none !important;
  border-top: 1px solid #CCC !important;
  font-size: 1.2em;
  overflow: hidden;
  position: relative;
  margin-bottom: -32px;
  top: -23px;
  height: 32px;
  z-index: 9;
  @include box-shadow(0 -12px 15px -6px rgba(0, 0, 0, 0.1));
  
  .text {
    top: -2px;
  }
  
  &>li {
    color: $grey;
    height: 32px;
    padding-left: 0 !important;
    text-align: center;
  }
  
  &.show_less {
    border-top: none !important;
    margin-bottom: -12px;
    top: 0;
    
    .icon {
      background: url($image-sprite) no-repeat -73px -37px;  
    }
  }
  
  &:hover {
    li {
      color: $darkgrey;
    }
  }
  
  .hidden {
    display: none;
  }
}

.line.toggle, li.toggle {
  @include unselectable();
  
  .text {
    background: white;
    border: 1px solid #CCC;
    color: $grey;
    cursor: pointer;
    display: inline-block;
    padding: 7px 0 6px 8px;
    position: relative;
    z-index: 101;
    @include border-radius(4px);
    
    &:hover {
      background: #EEE;
      border: 1px solid #BBB;  
      color: $darkergrey;
      
      .icon {
        @include opacity(1.0);
      }
    }
  }
  
  &.open {
    
    .text {
      background: white;
      border: 1px solid #BBB;  
      color: $darkergrey;
      @include box-shadow(0 0 3px rgba(0,0,0,0.1))
    }
    
    .icon {
      @include opacity(1.0);
    }
  }
  
  .icon {
    background: url($image-sprite) no-repeat -53px -37px;
    display: inline-block;
    height: 6px;
    margin-right: 8px;
    margin-left: 6px;
    position: relative;
    top: -1px;
    width: 7px;
    z-index: 102;
    @include opacity(0.8);
  }
}