@import "mixins";
@import "variables";

html {
  background: #F3F1EB;
  color: $darkgrey;
  font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  font-size: 62.5%;
}

body {
  background: #F3F1EB;
  min-width: 990px;
  @include box-shadow(inset 0 28px 42px 7px rgba(255,255,255, 0.5));
}

a, a:link, a:visited {
  color: $lightblue;
  text-decoration: none;
}

a:hover, a:active {
  color: $blue;
  text-decoration: none;
}

.clear {
  clear: both;
}

p {
  font-size: 1.1em;
}

.subtitle {
  font-size: 1.3em;
  line-height: 1.6em;
  margin-bottom: 8px;
  min-height: 20px;
}

strong {
  font-weight: bold;
}

h1 {
  color: $black;
  font-size: 1.8em;
  font-weight: normal;
  margin-bottom: 5px;
}

h2 {
  font-size: 1.6em;
  font-weight: normal;
  margin-bottom: 2px;
}

h3 {
  font-size: 1.4em;
  font-weight: normal;
  margin-top: 1px;
  margin-bottom: 9px;
}

ul {
  list-style-type: none;  
}

hr {
  border : 0;
  height : 14px;
  background : url($slices-h) repeat-x 0 -115px;
  margin: 14px 0 0 0;
}

input[type=text], input[type=password], textarea, select, span.select {
  border: 1px solid rgba(0,0,0,0.25);
  border-top: 1px solid rgba(0,0,0,0.36);
  color: $darkgrey;
  display: inline-block;
  font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  font-size: 1.2em;
  padding: 0 6px;
  position: relative;
  @include border-radius(4px);
  @include box-shadow (inset 0 2px 2px rgba(0,0,0,0.1));
  
  &:not([type=submit]) {
    &:focus {
      border: 1px solid rgba(0,0,0,0.32);
      border-top: 1px solid rgba(0,0,0,0.36);
      color: $darkergrey !important;
      @include box-shadows (inset 0 2px 2px rgba(0,0,0,0.1), 0 0 4px rgba(60,60,250,1));
    }
  }
  
  &:focus+label, &:hover+label {color: $darkergrey !important;}
}

input::-webkit-input-placeholder { color: #888; }
input:-moz-placeholder { color: #888; }
input:-ms-input-placeholder { color: #888; }

input[type=text], input[type=password], select {
  height: 23px;
}

textarea {
  min-height: 23px;
  padding: 6px;
}

label[disabled=disabled] {
  cursor: auto !important;
  @include opacity(0.7);
}

label {
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.floatright {
  float: right;
}

.floatleft {
  float: left;
}

.wrapper {
  clear: both;
  display: block;
  margin: 0 auto;
  min-width: 990px;
  padding: 0;
  position: relative;
  width: 990px;
}

header {
  padding-top: 18px !important;
}

span {
  &.grey {color: $grey;}
  &.lightgrey {color: $lightgrey;}
  &.red {color: $red;}
}

.hidden {
  display: none;
}

.text-align-right {
  text-align: right;
}

.stroke {
  text-decoration: line-through !important;
}

.opacity-hidden {
  height: 100%;
  position: absolute;
  @include opacity(0);
}


.ui-show {
  display: block;
}
.ui-hide {
  display: none;
}

// CHILDREN LEVEL 2
.ui-children .line {
  background: #F8F8F8 !important;
  .main {
    padding-left: 2em;
    width: 70% !important;
  }
}

// CHILDREN LEVEL 3
.ui-children .ui-children .line {
  background: white !important;
  .main {
    padding-left: 4em;
    width: 65% !important;
  }
}

// CHILDREN LEVEL 4
.ui-children .ui-children .ui-children .line {
  background: #F8F8F8 !important;
  .main {
    padding-left: 6em;
    width: 60% !important;
  }
}

.min-height {
  min-height: 500px;
}