@import "mixins";
@import "variables";

html {
  background: #f4f2ed;
  color: $darkgrey;
  font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  font-size: 62.5%;
}

body {
  background: #f4f2ed url($background) repeat-x top center;
}

a, a:link, a:visited {
  color: $lightblue;
  text-decoration: none;
}

a:hover, a:active {
  color: $blue;
  text-decoration: none;
}

.clear {
  clear: both;
}

p {
  font-size: 1.1em;
}

.subtitle {
  font-size: 1.3em;
  line-height: 1.6em;
}

strong {
  font-weight: bold;
}

h1 {
  color: #2d2d2d;
  font-size: 1.8em;
  font-weight: normal;
  margin-bottom: 5px;
}

h2 {
  font-size: 1.6em;
  font-weight: normal;
  margin-bottom: 2px;
}

h3 {
  font-size: 1.4em;
  font-weight: normal;
  margin-top: 1px;
  margin-bottom: 9px;
}

ul {
  list-style-type: none;  
}

hr {
  border : 0;
  height : 14px;
  background : url($slices-h) repeat-x 0 -115px;
  margin: 14px 0 0 0;
}

input, textarea, select, span.select {
  border: 1px solid $lightergrey;
  color: $grey;
  display: inline-block;
  font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  font-size: 1.2em;
  padding: 0 6px;
  position: relative;
  @include borderRadius(4px);
  
  &:not([type=submit]) {
    &:focus, &:hover {
      color: $darkergrey !important;
      border-color: $borderdarkgrey !important;
      @include boxShadow (0 0 6px #DDD);
    }
  }
  
  &:focus+label, &:hover+label {color: $darkergrey !important;}
}

label[disabled=disabled] {
  cursor: auto !important;
  @include opacity(0.7);
}

.floatright {
  float: right;
}

.floatleft {
  float: left;
}

.wrapper {
  clear: both;
  display: block;
  margin: 0 auto;
  min-width: 990px;
  padding: 0;
  position: relative;
  width: 990px;
}

header {
  padding-top: 18px !important;
}
