@mixin forceScrollBar {
  &::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }
  
  &::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: rgba(0,0,0,.5);
      -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
  }
}

@mixin inset-box {
  background: $highlight-grey;
  border-top: 1px solid $borderdarkgrey;
  border-left: 1px solid $bordergrey;
  border-right: 1px solid $borderlightgrey;
  border-bottom: 1px solid $borderlightgrey; 
  @include border-radius(6px);
  @include box-shadow(inset 0 2px 2px #CCC);
}

@mixin box-sizing($value) {
  -moz-box-sizing: $value;
       box-sizing: $value;
}

@mixin text-shadow($value) {
  -moz-text-shadow: $value;
  -webkit-text-shadow: $value;
  -o-text-shadow: $value;
  -ms-text-shadow: $value;
  text-shadow: $value;
}

@mixin grey-links {
  h2 a, h2 a:link, h2 a:visited, h3 a, h3 a:link, h3 a:visited {
    color: $grey;
  }
  
  h2 a:hover, h2 a:active, h3 a:hover, h3 a:active {
    color: $darkgrey;
  }
  
  a, a:link, a:visited {   
    color: $lightgrey;
  }
  
  a:hover, a:active {
    color: $darkgrey;
  }
}

@mixin transition($value) {
  -moz-transition: $value;
  -webkit-transition: $value;
  -o-transition: $value;
  -ms-transition: $value;
  transition: $value;
}

@mixin dark-grey-links {
  h2 a, h2 a:link, h2 a:visited, h3 a, h3 a:link, h3 a:visited {
    color: $grey;
  }
  
  h2 a:hover, h2 a:active, h3 a:hover, h3 a:active {
    color: $darkergrey;
  }
  
  a, a:link, a:visited {   
    color: $grey;
  }
  
  a:hover, a:active {
    color: $darkergrey;
  }
}

@mixin bluelinks {
  a, a:link, a:visited {   
    color: $lightblue;
  }
  
  a:hover, a:active {
    color: $blue;
  }
}

@mixin opacity($value) {
  filter: alpha(opacity=$value); // IE5-7
  -moz-opacity: $value; // NETSCAPE & MOZILLA
  -khtml-opacity: $value; // OLD SAFARI
  opacity: $value; // THE REST
}

@mixin border-radius($value) {
  -moz-border-radius: $value; /* Firefox */
  -webkit-border-radius: $value; /* Safari, Chrome */
  border-radius: $value; /* CSS3 */
}

@mixin bottom-border-radius($value) {
  -moz-border-bottom-left-radius: $value;
  -moz-border-bottom-right-radius: $value;
  -webkit-border-bottom-left-radius: $value;
  -webkit-border-bottom-right-radius: $value;
  -o-border-bottom-left-radius: $value;
  -o-border-bottom-right-radius: $value;
  -ms-border-bottom-left-radius: $value;
  -ms-border-bottom-right-radius: $value;
  border-bottom-left-radius: $value;
  border-bottom-right-radius: $value;
}

@mixin top-border-radius($value) {
  -moz-border-top-left-radius: $value;
  -moz-border-top-right-radius: $value;
  -webkit-border-top-left-radius: $value;
  -webkit-border-top-right-radius: $value;
  -o-border-top-left-radius: $value;
  -o-border-top-right-radius: $value;
  -ms-border-top-left-radius: $value;
  -ms-border-top-right-radius: $value;
  border-top-left-radius: $value;
  border-top-right-radius: $value;
}

@mixin right-border-radius($value) {
  -moz-border-bottom-right-radius: $value;
  -moz-border-top-right-radius: $value;
  -webkit-border-bottom-right-radius: $value;
  -webkit-border-top-right-radius: $value;
  -o-border-bottom-right-radius: $value;
  -o-border-top-right-radius: $value;
  -ms-border-bottom-right-radius: $value;
  -ms-border-top-right-radius: $value;
  border-bottom-right-radius: $value;
  border-top-right-radius: $value;
}

@mixin listanchor {
  a, a:link, a:visited, a:hover, a:active {
    color: $darkgrey;
    display: block;
    padding: 10px 0;
    width: 100%;
  }
}

@mixin box-shadow ($value) {
  -moz-box-shadow: $value;
  -webkit-box-shadow: $value;
  box-shadow: $value;
}

@mixin nobox-shadow () {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

@mixin box-shadows ($value1, $value2) {
  -moz-box-shadow: $value1, $value2;
  -webkit-box-shadow: $value1, $value2;
  box-shadow: $value1, $value2;
}

@mixin modelsGrid () {
  h2 {
    padding: 0 0 14px 6px;
  }

  .row {
    padding-bottom: 34px;
    padding-top: 10px;
  
    .cell {
      float: left;
      padding-left: 6px;
      padding-right: 12px;
      width: 165px;
    
      h1, h3 {
        width: 147px;
      }
      
      a {
        display: block;
      }
    
      img {
        height: 80px;
        @include opacity(0.5);
        max-width: 160px;
        margin-bottom: 10px;
      }
      
      h3 {
        height: 36px;
        padding: 0;
        margin: 0;
        overflow: hidden;
      }
    }
  
    .cell:nth-child(4n) {
      padding-left: 0;
      padding-right: 0;
    }
  
    .cell:hover {
      img {
        @include opacity(1);
      }
    
      a {
        color: $darkgrey;
      }
    }
  }
}

@mixin categoriesGrid() {
  .row {
    padding-bottom: 34px;
  }
  
  .row:nth-last-child(1) {
    padding-bottom: 0;
  }
  
  .cell {
    float: left;
    padding-left: 6px;
    width: 175px;
    
    h2 {
      padding-top: 4px;
    }
  
    table.image {
      margin-bottom: 8px;
      
      tr td {
        height: 120px;
        text-align: left;
        vertical-align: bottom;
        width: 150px;
        
        img {
          max-height: 100px;
          width: auto;
          max-width: 120px;
        }
      }
    }
    
    ul {
      margin-right: 20px;
      margin-top: 5px;
      list-style-type: none;
      
      li {
        display: block;
        line-height: 1.6em;
        margin-bottom: 6px;
        padding-right: 8px;
        
        a {
          font-size: 1.2em;
          color: $grey;
        }
        
        a:hover {
          color: $darkgrey;
        }
      }
    }
  }
  
  .cell:nth-child(4n) {
    padding-left: 0;
  }
  
  .cell:hover {
    h2 a {
      color: #515151;
    }
  }
}

@mixin unselectable() {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin vertical-gradient($color1, $color2, $start1, $start2) {
  filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='$color1', EndColorStr='$color2', GradientType=0); // IE > 5.5
  background-image: -ms-linear-gradient(bottom, $color1 $start1, $color2 $start2); // IE10
  background-image: -moz-linear-gradient(bottom, $color1 $start1, $color2 $start2); // Mozilla Firefox
  background-image: -o-linear-gradient(bottom, $color1 $start1, $color2 $start2); // Opera
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop($start1, $color1), color-stop($start2, $color2)); // Webkit (Safari/Chrome 10)
  background-image: -webkit-linear-gradient(bottom, $color1 $start1, $color2 $start2); // Webkit (Chrome 11+)
  background-image: linear-gradient(bottom, $color1 $start1, $color2 $start2); // Proposed W3C Markup
}