@import "mixins";
@import "variables";

.multibutton {
  display: inline-block;
  position: relative;
  text-align: left;
  @include unselectable();
  
  &[disabled=disabled], &[disabled=disabled]:hover, &[disabled=disabled]:active {
    
    &>.alternatives {
      @include opacity(0.6);

      &:hover {

        .trigger {
          border-bottom-right-radius: 6px;
        }

        .arrow {
          @include opacity(0.6);
        }

        .button {
          display: none;
        }
      }
    }
  }
  
  &>.button {
    display: inline-block;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    margin-right: 29px !important;
    min-width: 60px;
    
    .open_alternatives {
      border-bottom-left-radius: 0;
    }
  }

  .converse > .button {
    border-top-right-radius: 6px !important;
    border-bottom-right-radius: 6px !important;
    border-bottom-left-radius: 6px !important;
    border-top-left-radius: 6px !important;
  }
  
  .alternatives {
    display: inline-block;
    position: absolute;
    top: 31px;
    width: 100%;
    
    .trigger {
      border: 1px solid rgba(80,80,80,0.3);
      border-bottom: 1px solid rgba(80,80,80,0.4);
      border-left: none;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 6px;
      border-top-right-radius: 6px;
      display: block;
      height: 29px;
      position: absolute;
      right: 0;
      top: -31px;
      width: 28px;
      @include vertical-gradient(rgb(230,230,230), white, 20%, 80%);
      
      &.green {
        @include vertical-gradient(rgb(141,206,88), rgb(175,236,129), 20%, 80%);
        
        .arrow {
          @include opacity(1.0);  
        }
      }
      
      .arrow {
        background: url($image-sprite) no-repeat -53px -37px;
        height: 6px;
        left: 11px;
        position: relative;
        top: 13px;
        width: 7px;
        @include opacity(0.6);
      }
    }
    
    .button {
      border: 1px solid rgba(153,153,153,0.7) !important;
      border-top: none !important;
      display: none;
      text-align: left;
      position: relative;
      white-space: nowrap;
      @include border-radius(0);
      @include box-shadow (0 2px 4px rgba(0,0,0,0.4));
      
      .icon {
        margin-left: 2px;
        margin-right: 4px;
      }
      
      &:last-child {
        border-bottom-right-radius: 6px;
        border-bottom-left-radius: 6px;
      }
    }

    button {
      width: 100%;
    }
    
    &:hover:not([disabled]) {
      z-index: 9998;
      
      .trigger {
        border-bottom-right-radius: 0;
        @include vertical-gradient(rgb(235,235,235), rgb(226,226,226), 20%, 80%);
      
        &.green {
          @include vertical-gradient(rgb(157,219,106), rgb(148,209,98), 20%, 80%);
        }
        
        .arrow {
          @include opacity(1.0);
        }
      }
      
      .button {
        display: block;        
      }
      
      &+.button {
        border-bottom-left-radius: 0;
      }
    }
  }
  
  &.open {
    
    .alternatives {
      z-index: 9998;
      
      .trigger {
        border-bottom-right-radius: 0;
        @include vertical-gradient(rgb(235,235,235), rgb(226,226,226), 20%, 80%);
      
        &.green {
          @include vertical-gradient(rgb(157,219,106), rgb(148,209,98), 20%, 80%);
        }
        
        .arrow {
          @include opacity(1.0);
        }
      }
      
      .button {
        display: block;        
      }
      
      &+.button {
        border-bottom-left-radius: 0;
      }
    }
  }
  
  &.loading {
    @include opacity(1.0 !important);
    .button {
      @include box-shadow (0 2px 4px rgba(0,0,0,0.4));
    }
  }
}