@import "mixins";
@import "variables";

.multibutton {
  display: inline-block;
  position: relative;
  text-align: left;
  
  &[disabled=disabled], &[disabled=disabled]:hover, &[disabled=disabled]:active {
    @include opacity(0.6);
    
    &>.button {
      cursor: default;
      
      &:hover:not([disabled]) {
        background: url($slices-h) repeat-x 0 -252px;
        color: #808080;
        border-bottom-right-radius: 0;
      }
      
      &.green:hover:not([disabled]) {
        color: #2e7929;
        background: url($slices-h) repeat-x 0 -156px;  
      }
    }
    
    &>.alternatives:hover {
      
      .trigger {
        background: url($slices-h) repeat-x 0 -252px;
        border-bottom-right-radius: 6px;
        
        .arrow {
          @include opacity(0.6);
        }
        
        &.green {
          background: url($slices-h) repeat-x 0 -156px;
        }
      }
            
      .button {
        display: none;
      }
      
      &+.button {
        border-bottom-left-radius: 6px;    
      }
    }
  }
  
  &>.button {
    display: inline-block;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    margin-right: 30px !important;
    
    .open_alternatives {
      border-bottom-left-radius: 0;
    }
  }
  
  .alternatives {
    display: block;
    position: absolute;
    top: 31px;
    left: -1px;
    width: 100%;
    
    .trigger {
      background: url($slices-h) repeat-x 0 -252px;
      border: 1px solid rgba(80,80,80,0.3);
      border-bottom: 1px solid rgba(80,80,80,0.4);
      border-left: none;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 6px;
      border-top-right-radius: 6px;
      display: block;
      height: 29px;
      position: absolute;
      right: 0;
      top: -31px;
      width: 28px;
      
      &.green {
        background: url($slices-h) repeat-x 0 -156px;
        
        .arrow {
          @include opacity(1.0);  
        }
      }
      
      .arrow {
        background: url($image-sprite) no-repeat -53px -37px;
        height: 6px;
        left: 11px;
        position: relative;
        top: 13px;
        width: 7px;
        @include opacity(0.6);
      }
    }
    
    .button {
      border: 1px solid rgba(153,153,153,0.7) !important;
      border-top: none !important;
      display: none;
      text-align: left;
      position: relative;
      white-space: nowrap;
      margin-left: 1px;
      @include border-radius(0);
      @include box-shadow (0 2px 4px rgba(0,0,0,0.4));
      
      .icon {
        margin-left: 2px;
        margin-right: 4px;
      }
      
      &:last-child {
        border-bottom-right-radius: 6px;
        border-bottom-left-radius: 6px;
      }
    }
    
    &:hover:not([disabled]) {
      z-index: 9998;
      
      .trigger {
        background: url($slices-h) repeat-x 0 -284px;
        border-bottom-right-radius: 0;
        
        &.green {
          background: url($slices-h) repeat-x 0 -188px;
        }
        
        .arrow {
          @include opacity(1.0);
        }
      }
      
      .button {
        display: block;        
      }
      
      &+.button {
        border-bottom-left-radius: 0;
      }
    }
  }
  
  &.open {
    
    .alternatives {
      z-index: 9998;
      
      .trigger {
        background: url($slices-h) repeat-x 0 -284px;
        border-bottom-right-radius: 0;
        
        &.green {
          background: url($slices-h) repeat-x 0 -188px;
        }
        
        .arrow {
          @include opacity(1.0);
        }
      }
      
      .button {
        display: block;        
      }
      
      &+.button {
        border-bottom-left-radius: 0;
      }
    }
  }
  
  &.loading {
    @include opacity(1.0 !important);
    .button {
      @include box-shadow (0 2px 4px rgba(0,0,0,0.4));
    }
  }
}