@import "mixins";
@import "variables";

.notification {
  z-index: 99999;
  
  &.headline {
    background: #878580;
    border-bottom: 1px solid #9c9a95;
    color: white;
    display: block;
    font-size: 1.7em;
    position: fixed;
    top: 0;
    text-align: center;
    width: 100%;
    @include box-shadow(0 2px 8px rgba(0,0,0,0.4));
    @include text-shadow(0 1px 1px rgba(0,0,0,0.5));
    
    .inner {
      left: 8px;
      margin: auto;
      padding: 8px 12px;
      position: relative;
      text-align: left;
      width: 990px;
      
      span {
        font-size: 0.9em;
        letter-spacing: 0;
        padding-left: 14px;
      }
    }
    
    &.error {
      background: opacify($highlight-darkred,1.0);
      border-bottom: 1px solid rgba(252, 168, 168, 1.0);
      color: black;
      @include text-shadow(0 1px 1px rgba(251, 168, 168, 0.8));
    }
    
    &.success {
      background: opacify($highlight-darkgreen,1.0);
      border-bottom: 1px solid rgba(26, 240, 11, 1.0);
      color: black;
      @include text-shadow(0 1px 1px rgba(26, 240, 11, 0.8));
    }

    &.warning {
      background: opacify($highlight-orange,1.0);
      border-bottom: 1px solid black;
      color: black;
      @include text-shadow(0 1px 1px $highlight-orange);
    }
  }
}
