@import "mixins";
@import "variables";

.pagination_container {
  display: block;
  text-align: center;
  
  .pagination {
    display: inline-block;
    margin: 0 auto;
    
    a, span {
      color: #8a8a8a;
      cursor: pointer;
      display: block;
      font-size: 1.3em;
      float: left;
      border: 1px solid $lightgrey;
      border-top: 1px solid #c0c0c0;
      background: url($slices-h) repeat-x 0 -252px;
      padding: 0.3em 0.5em;
      margin-right: 5px;
      margin-bottom: 5px;
      text-align:center;
      min-width:1em;
      @include border-radius(6px);
      
      &:hover {
        background: url($slices-h) repeat-x 0 -284px;
        color: #515151;
      }
      
      &:active {
        background: url($slices-h) repeat-x 0 -316px;
      }
      
      &[disabled=disabled], &[disabled=disabled]:hover, &[disabled=disabled]:active {
        background: url($slices-h) repeat-x 0 -252px;
        cursor: default;
        color: #8a8a8a !important;
      }
    }
    
    .current, .current:hover {
      background: url($slices-h) repeat-x 0 -252px;
      border: solid 1px $grey;
      color: $darkgrey;
      cursor: default;
    }
    
    .current.prev, .current.next {
      display: none;
      border: 1px solid $lightergrey;
      background: url($slices-h) repeat-x 0 -252px;
      color: $lightgrey !important;
    }
  } 
}