@import "mixins";
@import "variables";

.highlight {
  background: yellow;
}

#tabs .search {
  cursor: text;
  display: block;
	position: relative;
	z-index: 3;
  
  .inner {
    background: url($image-sprite) repeat-x 0 -91px;
    height: 28px;
    float: left;
    padding-left: 5px;
    padding-right: 6px;
    position: relative;
    
    input[type=text] {
      background: white;
      color: $grey;
      display: block;
      font-size: 1.2em;
      height: 15px;
      margin-top: 4px;
      padding-top: 2px;
      padding-left: 7px;
      padding-right: 36px;
      padding-bottom: 2px;
      position: relative;
      width: 90px;
      @include border-radius(8px);
    }
    
    .clear_icon {
      position: absolute;
      left: auto;
      right: 5px;
      margin-right: 0;
      top: 7px;
    }
    
    .loading {
      display: none;
      height: 14px;
      left: 120px;
      position: absolute;
      top: 8px;
      width: 14px;
    }
    
    .icon {
      background: transparent url($image-sprite) no-repeat -32px -30px;
      border: none;
      cursor: pointer;
      height: 12px;
      position: absolute;
      left: 123px;
      top: 9px;
      width: 13px;
      @include opacity(0.7);
    }
    
    .borderright {
      background: white;
      border-right: 1px solid $bordergrey;
      height: 26px;
      position: absolute;
      right: 0;
      top: 1px;
      width: 1px;
    }
  }
  
  .ui-autocomplete {
    background: #FFF;
    border-right: 1px solid #c3c3c3;
    border-left: 1px solid #c3c3c3;
    border-bottom: 1px solid #c3c3c3;
    left: 0 !important;
    margin-top: 3px;
    padding: 0 12px;
    position: absolute;
    width: 350px !important;
    z-index: 1009 !important;
    @include box-shadow (2px 2px 2px #DDD);
    
    .marked {
      background: none;
      color: $lightgrey;
      font-weight: normal;
    }
    
    a:hover {
      .marked {
        color: $grey;
      }
    }
    
    .seperator {
      display: block;
      height: 10px;
    } 
    
    .ui-menu-item.model {
      border-bottom: 1px solid #e3e3e3;
      height: 65px;
      margin-left: -12px;
      margin-right: -12px;
      position: relative;
      @include dark-grey-links();
      
      table.image {
        height: 65px;
        position: absolute;
        right: 8px;
      
        tr {
          td {
            vertical-align: middle;
            
            img {
              max-height: 65px;
              max-width: 70px;
            }
          }      
        }
      }
      
      a {
        cursor: pointer;
        display: table-cell;
        height: 65px;
        font-size: 1.2em;
        font-weight: bold;
        padding-left: 12px;
        position: relative;
        vertical-align: middle;
        width: 338px;
        
        span.label {
          display: inline-block;
          width: 240px;
        }
      }
    }
    
    .ui-menu-item.model:nth-child(odd) {
      background: $highlight-grey;
    }
      
    .ui-menu-item.model:hover {
      background: $highlight-darkgrey;
    }
    
    .ui-menu-item.category {
      display: inline-block;
      font-size: 1.4em;
      margin-bottom: 2px;
      margin-right: 8px;
      margin-top: 4px;
      @include dark-grey-links();
    }
  }
}

#tabs .search:hover {
  
  .inner {
    background: url($image-sprite) repeat-x 0 -120px;
  }
  
  .icon {
    @include opacity(0.8);
  }
}

#tabs .search.active {
  
  .inner {
    background: url($image-sprite) repeat-x 0 -149px;
    height: 35px;
  }
  
  .icon {
    @include opacity(1.0);
  }
}
