/* TABS */
#tabs {
	display: block;
	float: left;
	height: 34px;
	margin-bottom: -7px;
	margin-top: 18px;
	margin-left: 14px;
	position: relative;
	width: 755px;
}

#tabs.fullwidth {
  width: 963px;
}
