.ui-tooltip, .qtip {
  font-size: 1.2em;
	line-height: normal;
	position: absolute;
	z-index: 9999 !important;
	
  p {
    line-height: 1.55em;
  }

	hr {
	  margin: 0 0 0 0;
	  position: relative;
	}
}

