$black: rgb(20,20,20);

$bordergrey: #cac9c5; 
$borderdarkgrey: #a2a19c; 
$borderdarkergrey: #82817a; 
$borderlightgrey: #d0d0d0;
$borderlightergrey: #e5e5e5;
$borderhighlightred: #fe9393;
$borderhighlightgreen: #c6f3c1;

$grey: #616161;
$darkgrey: #515151;
$darkergrey: #3a3a3a;
$lightgrey: #999;
$lightergrey: #CCC;

$highlight-grey: #f8f8f8;
$highlight-darkgrey: #EBEBEB;
$highlight-darkergrey: #e0dfde;
$highlight-red: rgba(254, 102, 102, 0.6);
$highlight-darkred: rgba(254, 102, 102, 0.9);
$highlight-yellow: rgba(247, 238, 100, 0.9);
$highlight-lightred: rgba(254, 102, 102, 0.4);
$highlight-orange: rgba(255, 118, 38, 0.9);

$highlight-green: rgba(126, 217, 101, 0.6);
$highlight-darkgreen: rgba(126, 217, 101, 0.8);
$highlight-lightblue: #e2e9f4;  

$red: #DD2222;
$lightred: #FF9999;
$green: #87e96e;
$blue: #1d62c9;
$lightblue: #6091d9;

$image-sprite: image-path("image-sprite.png");
$slices-h: image-path("slices-h.png");
$background: image-path("background.png");

$inner-padding-left: 12px;
$inner-padding-right: 12px;

$backend-image-sprite: image-path("backend/image-sprite.png");
$backend-slices-h: image-path("backend/slices-h.png");