<% unless @missing_fields.blank?

	content_tag :ul, :style => "border: 1px solid red; background-color: #FFDDDD; padding: 1em; margin: 1em;" do
		@missing_fields.each do |missing_field|
			content_tag :li do %>
				<%= _("User details incomplete: %s is missing") % missing_field %>
			<% end
		end 
	end

	case user.authentication_system.class_name
		when "Zhdk"
			content_tag :div, :style => 'margin: 1em; padding: 1.2em; background: white; border: 2px solid #ff0000; ' do %>
				<p><%= _("Unfortunately, we do not have all your personal information and therefore cannot grant you access to this system. Please log in to the Personensuche system (see link below) and complete the form under 'Meine persönlichen Daten'. If you cannot use the Personensuche system, please contact your department's office and give them your full details. The information we need is: Full name, address, landline phone number, mobile phone number and alternative e-mail address. This information will never be visible to the public unless you explicitly choose to make it visible.") %></p>
				<p style="margin-top: 8px;"><a href="http://www.zhdk.ch/?personensuche">ZHdK-Personensuche</a></p>
			<% end
	end
end %>
