- content_for :title, _("Create %s") % _("Inventory Pool")
- content_for :admin_section, "active"

.wrapper.margin-top-m

  = render :partial => 'admin/tabs', :locals => {:active_tab => :inventory_pools}

  .row.content-wrapper.min-height-xl.min-width-full.straight-top

    = form_tag admin_inventory_pools_path do

      = render partial: "admin/inventory_pools/form"