

	<% form_for [:admin, @inventory_pool] do |f| %>
	
		<ul>
		<li><b>Name:</b> <%= f.text_field :name %></li>	
		<li><b>Description:</b> <%= f.text_area :description, :rows => 6, :cols => 50 %></li>
		</ul>
	
		<%= submit_tag 'Submit' %>
	<% end %>

