<%= hilfe_einblender( 'Anmelden', 'Anmelden', anfangs_offen ) %>
<p>Um sich anzumelden, klicken Sie bitte ganz links in den Link "anmelden". Geben Sie Ihren Anmeldenamen an, den Sie beim Anlegen des Zugangs gewählt  haben und tippen Sie Ihr Passwort</p>
</div>
