<%= hilfe_einblender( 'GerParDef', 'Definition', anfangs_offen ) %>
<p>Ein Gerätepark ist eine Zusammenfassung des Angebots einer bestimmten herausgebenden Stelle. Diese Stelle hat einen Namen, einen Ansprechpartner, meist Öffnungszeiten und einen Ausgaberaum und ein Angebot von Pakete, die dort ausgeliehen werden können.<br />
<br />
<i>Beispiel: Das ITZ ist ein Gerätepark, das Logo findet sich unter einer URL, Ansprechpartner wäre dort Vreni Bazzan</i></p>
</div>