<%= hilfe_einblender( 'PakDef', 'Definition', anfangs_offen ) %>
<p>Ein Paket ist die kleinste Einheit, die separat ausgeliehen werden kann. Es umfasst meist einen oder auch mehrere Gegenstände. Die Gegenstände eines Pakets können nur zusammen herausgegeben werden. Für Reservierende existieren sie nicht separat</p>
</div>