<%= hilfe_einblender( 'PaketAbholen', 'Paket abholen', anfangs_offen ) %>
<p>
Wurde Ihre Reservation genehmigt, dann holen Sie Ihr Paket pünktlich bei der Herausgabestelle ab.</p>
Informationen über Öffnungszeiten, Ort oder Ansprechpartner finden Sie, wenn sie auf das Logo ihres Geräteparks klicken.</p>
</div>
