<%= hilfe_einblender( 'LegStat', 'Legende Status', anfangs_offen ) %>
<p>
	<span class="res_neu">A</span> - neuer Antrag, bisher von keinem Herausgeber bearbeitet<br/>
	? - vorläufige Reservation<br/>
	R - genehmigte Reservation<br/>
	<span class="res_aus">V</span> - Ausleihen<br/>
	<span class="res_ueber">!!</span> - überfällige Reservation<br/>
	<span class="res_zurueck">Z</span> - zurückgebene Ausleihe<br/>
	<span class="res_sonst">X</span> - abgelehnte Reservation<br/>	
</p>
</div>