<%= hilfe_einblender( 'LegSpa', 'Legende Spalten', anfangs_offen ) %>
<p>
	<b>S</b> - Status<br/>
	<b>von, bis</b> - Start und Ende der Reservation<br/>
	<b>Kunde</b> - Nachname des Reservierenden<br/>
	<b>A</b> - Anzahl der reservierten Pakete<br/>
	<b>Paket</b> - Inventarnummer und Name des ersten Gegenstands des ersten reservierten Pakets<br/>
	<b>B</b> - Kürzel des letzten Bearbeiters
</p>
</div>