<%= hilfe_einblender( 'PaketReservierenKurz', 'Paket reservieren', anfangs_offen ) %>
<p>
Um ein Paket zu reservieren, klicken Sie ganz links in den Link "Etwas reservieren", dann geben Sie Ihren Reservationszeitraum an.</p>
<p>
Im nächsten Schritt wählen Sie Pakete aus, die sie reservieren wollen.</p>
<p>
Im letzten Schritt geben Sie an, wozu sie die Geräte brauchen und schicken die Reservation ab. Sie erhalten dann per Mail eine Benachrichtigung, wenn Ihr Antrag genehmigt wurde. Zusätzlich können Sie in diesem System immer ihren Reservationsstatus verfolgen.</p>
</div>
