<%= hilfe_einblender( 'ZugangAnlegen', 'Zugang anlegen', anfangs_offen ) %>
<p>
Einen Zugang richten Sie sich in 2 einfachen Schritten ein:</p>
<p>
Klicken Sie ganz links auf den Link "Zugang einrichten" und tragen Sie auf der folgenden Seite Ihre Informationen ein.<br /><b>Wichtig:</b> Geben Sie eine korrekte eMail-Adresse an</p>
<p>
Rufen Sie Ihre Registrierungs-Mail ab und klicken Sie in den Aktivierungs-Link</p>
</div>
