<h2>Ausleihe Startpunkt&nbsp;<%= link_to( image_tag( 'icon_kreuz.png' ), :controller => 'admin', :action => 'schalte_hilfe' ) %></h2>
<p>Hier ist der Startpunkt der Ausleihe. Mann kann sich erst einmal umsehen was an Dingen da ist oder sich gleich anmelden, um konkret ein bestimmtes Paket zu reservieren.</p>

<h3>Etwas ausleihen</h3>
<p>Um ein Ding auszuleihen, schaut man sich als erstes an, was zum Wunschzeitraum alles verfügbar ist, sucht sich dann etwas aus und reserviert es. Wenn der Leihzeitraum gekommen ist, kann man den Gegenstand beim Verleiher abholen.</p>