<h2>Felder eines Pakets&nbsp;<%= link_to( image_tag( 'icon_kreuz.png' ), :controller => 'admin', :action => 'schalte_hilfe' ) %></h2>
<p>Hier kann ein spezielles Paket editiert werden. Die Felder des Paketes können verändert werden und die enthaltenen Gegenstände entfernt oder neu hinzugefügt werden</p>

<%= render :partial => 'paket_def', :locals => { :anfangs_offen => false } %>
<%= render :partial => 'pak_felder_legende', :locals => { :anfangs_offen => true } %>