<h2>Pakete ausleihen&nbsp;<%= link_to( image_tag( 'icon_kreuz.png' ), :controller => 'admin', :action => 'schalte_hilfe' ) %></h2>
<p>Hier kann für ein bestimmtes Paket eine Reservation erstellt werden. Dazu am besten</p>
<ul>
	<li>einen Zeitraum festlegen, in dem ausgeliehen werden soll</li>
	<li>mit <b>Suchen</b> prüfen, welche Pakete in dieser Zeit zur Verfügung stehen</li>
	<li>In der Liste das gewünschte Paket aussuchen</li>
</ul>
