<h2>Pakete auswählen&nbsp;<%= link_to( image_tag( 'icon_kreuz.png' ), :controller => 'admin', :action => 'schalte_hilfe' ) %></h2>
<p>Pakete können im ausgewählten Zeitraum schon teilweise reserviert sein, nur wenn der Indikator komplett grün ist, ist das Paket verfügbar.</p>
