<h2>Zugang einrichten&nbsp;<%= link_to( image_tag( 'icon_kreuz.png' ), :controller => 'admin', :action => 'schalte_hilfe' ) %></h2>
	<p>
		Um Reservationen in leihs vornehmen zu können, richten Sie sich bitte einen Zugang ein. Dazu müssen die folgenden Felder ausgefüllt werden, bei der ersten Ausleihe werden die Angaben anhand von einer Legitimation überprüft
	</p>
	<p>
		<span class="hervor">Stellen Sie sicher,</span> dass sie Post von Ihrer eMail-Adresse abrufen können, hierhin senden wir eine automatische Aktivierungs-eMail
	</p>
	<br/>

<%= render :partial => 'zugang_felder', :locals => { :anfangs_offen => false } %>