.navigation
  %button.button.white.close_dialog
    .return.icon
    ${_jed("Back")}
    
%section.documents
  
  .navigation
    %button.button.white.print
      ${_jed("Print")}
      .print.icon
      
  %section.contract.document.active{:"data-print_title" => "${_jed('Lending Contract No. %s', id)}"}
    {{tmpl($item.data) "tmpl/documents/contracts/default"}}
