.navigation
  %button.button.white.close_dialog
    .return.icon
    = _("Back")
    
%section.documents
  
  .navigation
    %button.button.white.print
      = _("Print")
      .print.icon
      
  %section.value_list.document.active{:"data-print_title" => _("Value List for Lending Contract No. %s") % ["${id}"]}
    {{tmpl($item.data) "tmpl/documents/value_lists/default"}}