.navigation
  %button.button.white.close_dialog
    .return.icon
    ${_jed("Back")}
    
%section.documents
  
  .navigation
    %button.button.white.print
      ${_jed("Print")}
      .print.icon
      
  %section.value_list.document.active{:"data-print_title" => '${_jed("Value List for Lending Contract No. %s", id)}'}
    {{tmpl($item.data) "tmpl/documents/value_lists/default"}}