${$returned_lines = Line.get_returned(lines), ""}
${$not_returned_lines = Line.get_not_returned(lines), ""}

.contract

  .barcode
    %img{:src => "${barcode}"}
  
  %h1
    ${_jed("Lending Contract No.")}
    ${id}
    ${_jed("from %s", moment(created_at).format(i18n.date.L))}
  .date
    ${$now = moment(),""}
    ${$now.format(i18n.date.L)}
    
  %section.parties
    .customer
      %label ${_jed("Borrower")}
      %span.name ${user.firstname} ${user.lastname} 
      %span.street ${user.address}
      %span.plz_city ${user.zip} ${user.city}
    .inventory_pool
      %label ${_jed("Lender")}
      %span.name ${inventory_pool.name}
      {{if inventory_pool.address}}
      %span.street ${inventory_pool.address.street}
      %span.plz_city ${inventory_pool.address.country_code}-${inventory_pool.address.zip_code} ${inventory_pool.address.city}
      {{/if}} 
    .clear
  
  {{if $returned_lines.length}}
  %section.list.returned_items
    %h2 ${_jed("Returned Items")}
    %table
      %thead
        %tr
          %td.quantity ${_jed("Quantity")}
          %td.inventory_code ${_jed("Inventory code")}
          %td.model_name ${_jed("Model")}
          %td.end_date ${_jed("End date")}
          %td.returning_date ${_jed("Return")}
      %tbody
        {{each(i,line) $returned_lines}}
        %tr  
          %td.quantity ${line.quantity}
          %td.inventory_code ${line.item.inventory_code}
          %td.model_name ${line.model.name}
          %td.end_date ${moment(line.end_date).format(i18n.date.L)}
          %td.returning_date 
            ${moment(line.returned_date).format(i18n.date.L)}
            ${line.returned_to_user}
        {{/each}}
  {{/if}}
  
  {{if $not_returned_lines.length}}
  %section.list.not_returned_items
    %h2 ${_jed("Borrowed Items")}
    %table
      %thead
        %tr
          %td.quantity ${_jed("Quantity")}
          %td.inventory_code ${_jed("Inventory code")}
          %td.model_name ${_jed("Model")}
          %td.end_date ${_jed("End date")}
          %td.returning_date ${_jed("Return")}
      %tbody
        {{each(i,line) $not_returned_lines}}
        %tr
          %td.quantity ${line.quantity}
          %td.inventory_code ${line.item.inventory_code}
          %td.model_name ${line.model.name}
          %td.end_date ${moment(line.end_date).format(i18n.date.L)}
          %td.returning_date
        {{/each}}
  {{/if}}
  
  .dontbreak
    %section.purposes
      %h2 ${_jed("Purpose these items are borrowed for")}
      %p ${Line.concatinate_purposes(lines)}
    %section.note
      {{if note}}
      %h2 ${_jed("Additional notes")}
      %p ${note}
      {{/if}}
    %section.terms_and_signature
      %p.terms ${_jed("Terms and conditions of the lender apply.")}
      %hr
      %span ${_jed("Signature")}

    {{if handed_over_by_user}}
    %section
      %p ${_jed("You were served by %s", handed_over_by_user.name)}
    {{/if}}
