%div
  .row.height-xs.margin-bottom-s
    .pearl#properties-toggle
      %span#show-all-properties-text 
        %i.fa.fa-expand-alt
        {{jed "Show all properties"/}}
      %span#show-less-properties-text.hidden 
        %i.fa.fa-collapse-alt
        {{jed "Show less properties"/}}
  #collapsed-properties.collapsed
    .row.collapsed-inner
    .row.collapsed-shadow
    .row.collapsed-shadow-cover