// TEXT ALIGN

.text-align-right
  text-align: right

.text-align-left
  text-align: left

.text-align-center
  text-align: center

// FLOAT

.float-left
  float: left

.float-right
  float: right

// VERTICAL ALIGN

.vertical-align-middle
  vertical-align: middle

.vertical-align-bottom
  vertical-align: bottom