input.barcode-inserted
  background: $lightblue !important
  border: 1px solid $blue !important
  color: white !important
  @include box-shadow (inset 0 2px 2px rgba(0,0,0,0.1), 0 0 4px $blue !important)
  @include transition(all 0.5s linear)