.row 
  clear: both
  display: block
  position: relative
  width: 100%
  @include micro-clearfix
  @include box-sizing(border-box)

[class^="col"]
  float: left
  @include box-sizing(border-box)

.col1of1 
  float: none
  width: 100%
  @include box-sizing(border-box)

.col1of2, .col2of4
  width: 50%

.col1of3 
  width: 33.333%

.col2of3 
  width: 66.667%

.col1of4 
  width: 25%

.col3of4 
  width: 75%

.col1of5 
  width: 20%

.col2of5 
  width: 40%

.col3of5 
  width: 60%

.col4of5 
  width: 80%

.col1of6 
  width: 16.667%

.col2of6 
  width: 33.333%

.col3of6 
  width: 50%

.col4of6 
  width: 66.667%

.col5of6 
  width: 83.333%

.col1of7
  width: 14.285%

.col2of7
  width: 28.57%

.col3of7
  width: 42.855%

.col4of7
  width: 57.14%

.col5of7
  width: 71.425%

.col6of7
  width: 85.71%

.col1of8 
  width: 12.5%

.col2of8 
  width: 25%

.col3of8 
  width: 37.5%

.col4of8 
  width: 50%

.col5of8 
  width: 62.5%

.col6of8 
  width: 75%

.col7of8 
  width: 87.5%

.col1of9
  width: 11.1%

.col2of9
  width: 22.2%
  
.col3of9
  width: 33.3%
  
.col4of9
  width: 44.4%
  
.col5of9
  width: 55.5%
  
.col6of9
  width: 66.6%
  
.col7of9
  width: 77.7%
  
.col8of9
  width: 88.8%

.col1of10
  width: 10%

.col2of10
  width: 20%
  
.col3of10
  width: 30%
  
.col4of10
  width: 40%
  
.col5of10
  width: 50%
  
.col6of10
  width: 60%
  
.col7of10
  width: 70%
  
.col8of10
  width: 80%
  
.col9of10
  width: 90%