.row 
  clear: both
  display: block
  position: relative
  width: 100%
  @include micro-clearfix
  @include box-sizing(border-box)

.col1of2,
.col1of3, .col2of3,
.col1of4, .col2of4, .col3of4,
.col1of5, .col2of5, .col3of5, .col4of5,
.col1of6, .col2of6, .col3of6, .col4of6, .col5of6,
.col1of8, .col2of8, .col3of8, .col4of8, .col5of8, .col6of8, .col7of8,
.col1of10, .col2of10, .col3of10, .col4of10, .col5of10, .col6of10, .col7of10, .col8of10, .col9of10,
  float: left
  @include box-sizing(border-box)

.col1of1 
  float: none
  width: 100%
  @include box-sizing(border-box)

.col1of2 
  width: 50%

.col1of3 
  width: 33.333%

.col2of3 
  width: 66.667%

.col1of4 
  width: 25%

.col3of4 
  width: 75%

.col1of5 
  width: 20%

.col2of5 
  width: 40%

.col3of5 
  width: 60%

.col4of5 
  width: 80%

.col1of6 
  width: 16.667%

.col2of6 
  width: 33.333%

.col3of6 
  width: 50%

.col4of6 
  width: 66.667%

.col5of6 
  width: 83.333%

.col1of8 
  width: 12.5%

.col2of8 
  width: 25%

.col3of8 
  width: 37.5%

.col4of8 
  width: 50%

.col5of8 
  width: 62.5%

.col6of8 
  width: 75%

.col7of8 
  width: 87.5%

.col1of10
  width: 10%

.col2of10
  width: 20%
  
.col3of10
  width: 30%
  
.col4of10
  width: 40%
  
.col5of10
  width: 50%
  
.col6of10
  width: 60%
  
.col7of10
  width: 70%
  
.col8of10
  width: 80%
  
.col9of10
  width: 90%