.headline-s, .headline-m, .headline-l, .headline-xl, .headline-xxl
  color: $black
  font-weight: normal

  &.light
    color: $darkgrey

.headline-s
  font-size: $font-size-s
  
.headline-m
  font-size: $font-size-m

.headline-l
  font-size: $font-size-l
  font-weight: bold

.headline-xl
  font-size: $font-size-xl  
  font-weight: bold

.headline-xxl
  font-size: $font-size-xxl
  font-weight: bold