a, a:link, a:visited, a:hover, a:active
  text-decoration: none
  cursor: pointer

a, .link
  @include link-colors($blue, $darkblue, $blue, $blue, $blue)
  cursor: pointer

  &.grey
    @include link-colors($lightgrey, $darkgrey, $lightgrey, $lightgrey, $lightgrey)

  &.dark-grey
    @include link-colors($darkgrey, $darkergrey, $darkgrey, $darkgrey, $darkgrey)

  &.straight-grey
    @include link-colors($grey, $grey, $grey, $grey, $grey)

  &.straight-dark-grey
    @include link-colors($darkgrey, $darkgrey, $darkgrey, $darkgrey, $darkgrey)

  &.black
    @include link-colors($black, $black, $black, $black, $black)

a[name]
  color: black !important
  cursor: default
