p
  @extend .paragraph-s

.paragraph-xs
  font-size: $font-size-xxs

.paragraph-s
  font-size: $font-size-xs
  line-height: $line-height-m

.paragraph-m
  font-size: $font-size-s
  line-height: $line-height-m