// BOTTOM

.position-absolute-bottom
  position: absolute
  bottom: 0

// TOP

.position-absolute-top-xs
  position: absolute
  top: 4px

// NEGATIVE TOP

.negative-top-xxs
  top: -$space-xxs

// LEFT

.position-absolute-left
  position: absolute
  left: 0

.position-absolute-left-xs
  position: absolute
  left: 4px

// RIGHT

.position-absolute-right
  position: absolute
  right: 0

// RELATIVE
.position-relative
  position: relative
  