[class*="max-"], [class*="min-"], [class*="width-"], [class*="height-"]
  display: inline-block

// HEIGHT

.height-xxs
  height: 30px

.height-xxs-alt
  height: 40px

.height-xs
  height: 50px

.height-xs-alt
  height: 80px

.height-s
  height: 100px

.height-m
  height: 200px

.height-l
  height: 300px

.height-xl
  height: 400px

.height-full
  height: 100%

// WIDTH

.width-s
  height: 100px

.width-full
  width: 100%

.width-l
  width: 300px

.width-xxl
  width: 600px

// MAX WIDTH

.max-width
  max-width: $max-width

.max-width-micro
  max-width: 16px

.max-width-xxs
  max-width: 30px

.max-width-xxs-alt
  max-width: 40px

.max-width-xs
  max-width: 50px

.max-width-xs-alt
  max-width: 80px

.max-width-s
  max-width: 100px

.max-width-s-alt
  max-width: 150px

.max-width-m
  max-width: 200px

.max-width-l
  max-width: 300px

.max-width-xl
  max-width: 400px

.max-width-full
  max-width: 100%

// MAX HEIGHT

.max-height-micro
  max-height: 16px

.max-height-xxs
  max-height: 30px

.max-height-xxs-alt
  max-height: 40px

.max-height-xs
  max-height: 50px

.max-height-xs-alt
  max-height: 80px

.max-height-s
  max-height: 100px

.max-height-m
  max-height: 200px

.max-height-l
  max-height: 300px

.max-height-xl
  max-height: 400px

.max-height-full
  max-height: 100%

// MIN HEIGHT

.min-height
  min-height: $min-height

.min-height-xxs
  min-height: 30px

.min-height-xs
  min-height: 50px

.min-height-xs-alt
  min-height: 80px

.min-height-s
  min-height: 100px

.min-height-m
  min-height: 200px

.min-height-l
  min-height: 300px

.min-height-xl
  min-height: 400px

.min-height-full
  min-height: 100%

// MIN WIDTH

.min-width-xxs
  min-width: 30px

.min-width-xs
  min-width: 50px

.min-width-s
  min-width: 100px

.min-width-m
  min-width: 200px

.min-width-l
  min-width: 300px

.min-width-full
  min-width: 100%