[class*="max-"], [class*="min-"], [class*="width-"]
  display: inline-block
  @include box-sizing(border-box)

// WIDTH

.width-full
  width: 100%

// MAX WIDTH

.max-width
  max-width: $max-width

.max-width-xxs
  max-width: 16px

.max-width-s
  max-width: 100px

.max-width-s-alt
  max-width: 150px

.max-width-m
  max-width: 200px

.max-width-l
  max-width: 300px

.max-width-full
  max-width: 100%

// MAX HEIGHT

.max-height-xxs
  max-height: 16px

.max-height-s
  max-height: 100px

.max-height-m
  max-height: 200px

.max-height-l
  max-height: 300px

.max-height-full
  max-height: 100%

// MIN HEIGHT

.min-height
  min-height: $min-height

.min-height-xs
  min-height: 50px

.min-height-s
  min-height: 100px

.min-height-m
  min-height: 200px

.min-height-l
  min-height: 300px

.min-height-full
  min-height: 100%

// MIN WIDTH

div[class*=min-width]
  display: inline-block

.min-width-s
  min-width: 100px

.min-width-m
  min-width: 200px

.min-width-l
  min-width: 300px

.min-width-full
  min-width: 100%