strong
  font-weight: bold

.grey
  color: $grey

.blurred-text
  @include text-shadow(0 0 12px black)
  color: transparent
  color: rgba(0,0,0,0)

.font-size-xs
  font-size: 0.9em

.font-size-s
  font-size: 1.0em

.font-size-m
  font-size: 1.2em