.wrapper
  clear: both
  display: block
  margin-left: auto
  margin-right: auto
  min-width: $max-width - ($space-s*2)
  padding-left: $space-s
  padding-right: $space-s
  position: relative
  width: $max-width - ($space-s*2)