.padding-bottom-m.padding-left-m.padding-right-m.margin-bottom-s
  %strong.font-size-m= _("Last Visitors:")
  %span#last-visitors.padding-inset-m
    - @last_visitors.each do |entry|
      %a.button.inset.focus-hover-thin{:href => manage_search_results_path({:search_term => entry[1]})}= entry[1]
    