.inline-tab-navigation
  .inline-tab-item.active
    = _("Workload")
    %i.icon-bar-chart
#workload
  .height-m.padding-top-l
    %img.margin-horziontal-auto.margin-top-xxl.margin-bottom-xxl{:src => asset_path("loading.gif")}