.row.line

  .col3of4.line-col
    %strong= inventory_pool.name

  .col1of4.line-col.line-actions

    - if inventory_pool.can_destroy?

      .multibutton

        %a.button.white{href: manage_edit_inventory_pool_path(inventory_pool)}
          = _("Edit")

        .dropdown-holder.inline-block
          .button.white.dropdown-toggle
            .arrow.down

          %ul.dropdown.right

            %li
              %a.dropdown-item.red{href: manage_delete_inventory_pool_path(inventory_pool), :"data-method" => :delete, :"data-ip-delete" => true}
                %i.icon-trash
                = _("Delete")

    - else

      %a.button.white{href: manage_edit_inventory_pool_path(inventory_pool)}
        = _("Edit")
