#navigation {
  left: 9px; 

  .item {
    margin-right: 5px;
    
    .leftend {
      background: url($image-sprite) no-repeat left -91px;
    }
    
    .anchor {
      padding: 7px 16px 0 7px;
    }
    
    &:hover {
      .leftend {
        background: url($image-sprite) no-repeat left -120px;
      }
    }
    
    &.active {
    
      .leftend {
        background: url($image-sprite) no-repeat left -149px;
      }
      
      &:hover {
      
        .leftend {
          background: url($image-sprite) no-repeat left -149px;
        }
      }
    }
  }
}