@import "../shared/mixins";
@import "../shared/variables";

#splash {
  height: 485px;
  position: relative;
  
  #login.button {
    position: absolute;
    top: 12px;
    right: 18px;
  }
  
  img.splash {
    position: absolute;
    right: 0;
    top: 110px;
  }

  .container {
    margin-top: 24px;
    padding-left: 8px;
    position: relative;
  
    .description {
      font-size: 1.2em;
      line-height: 1.4em;
      margin-bottom: 16px;
      
      span.number {
        font-size: 1.2em;
        float: left;
        width: 28px;
      }
    }
  }
  
  .login {
    position: absolute;
    margin: 10px 0 20px 0;
    padding: 14px 12px 12px;
    top: 4px;
    right: 18px;
    z-index: 11;
    @include inset-box;
    
    .button {
      float: right;
    }
    
    table {
      tr{
        
        td {
          font-size: 1.2em;
          vertical-align: sub;
          
          &:nth-child(1) {
            padding-right: 12px;
          }
        }
      }
    }
    
    input:not(.button) {
      font-size: 1em;
      height: 22px;
      margin-bottom: 8px;
      width: 150px;
    }
  }
}


