%span.badge 5
%span.badge.red 12
%span.badge.dark 2

%h3.headline-m.light.margin-top-m.padding-vertical-m.margin-bottom-m= ".medium"
%span.medium.badge 5
%span.medium.badge.red 12
%span.medium.badge.dark 2