.button .button
.button.green .button.green
.button.white .button.white
.button.red .button.red

%h3.headline-m.light.margin-top-m.padding-vertical-m.margin-bottom-m= ".small"
.button.small .button.small
.button.small.green .button.small.green
.button.small.white .button.small.white
.button.small.red .button.small.red

%h3.headline-m.light.margin-top-m.padding-vertical-m.margin-bottom-m= ".large"
.button.large .button.large
.button.large.green .button.large.green
.button.large.white .button.large.white
.button.large.red .button.large.red