.dropdown-holder
  
  .button
    = ".dropdown-holder"
    .arrow.down
  
  .dropdown

    %a.dropdown-item .dropdown-item
    %a.dropdown-item .dropdown-item
    %button.dropdown-item .dropdown-item 
    %a.dropdown-item.red .dropdown-item.red