.dropdown-holder
  
  .button
    = ".dropdown-holder"
    .arrow.down
  
  .dropdown

    %a.dropdown-item .dropdown-item
    %a.dropdown-item .dropdown-item
    %a.dropdown-item.red .dropdown-item.red

%h3.headline-m.light.margin-top-m.padding-vertical-m.margin-bottom-m= ".dropdown.dark"
.dropdown-holder
  
  .button
    = ".dropdown-holder"
    .arrow.down
  
  .dropdown.dark

    %a.dropdown-item .dropdown-item
    %a.dropdown-item .dropdown-item
    %a.dropdown-item.red .dropdown-item.red