%h3.headline-m.light.margin-top-m.padding-vertical-m.margin-bottom-m.margin-top-m= ".inline-tab-navigation"
.inline-tab-navigation
  .inline-tab-item.active .inline-tab-item.active
  .inline-tab-item .inline-tab-item
  .inline-tab-item .inline-tab-item