%h3.headline-m.light.margin-top-m.padding-vertical-m.margin-bottom-m.margin-top-m= "input.has-addon and .addon"
.row.max-width-m.margin-bottom-m
  %input.min-width-full.has-addon{:type => :text}
  .addon
    %i.icon-plus
.row.max-width-m.margin-bottom-m
  %input.min-width-full.has-addon{:type => :text}
  .addon
    %i.icon-calendar

%h3.headline-m.light.margin-top-m.padding-vertical-m.margin-bottom-m.margin-top-m= ".addon.transparent"
.row.max-width-m.margin-bottom-m
  %input.min-width-full.has-addon{:type => :text}
  .addon.transparent
    %i.icon-calendar