%h3.headline-m.light.margin-top-m.padding-vertical-m.margin-bottom-m.margin-top-m= ".input.has-addon and .input-addon"
.row.max-width-m.margin-bottom-m
  %input.min-width-full.has-addon{:type => :text}
  .input-addon
    %i.icon-plus
.row.max-width-m.margin-bottom-m
  %input.min-width-full.has-addon{:type => :text}
  .input-addon
    %i.icon-calendar