.row

  %h3.headline-m.light.margin-top-m.padding-vertical-m.margin-bottom-m.margin-top-m= ".line"

  .row.line
    .line-col.col1of4 .line-col
    .line-col.col1of4 .line-col
    .line-col.col1of4 .line-col
    .line-col.col1of4 .line-col
  .row.line
    .line-col.col1of4 .line-col
    .line-col.col1of4 .line-col
    .line-col.col1of4 .line-col
    .line-col.col1of4 .line-col
  .row.line
    .line-info.red
    .line-col.col1of4 .line-info
    .line-col.col1of4 .line-col
    .line-col.col1of4 .line-col
    .line-col.line-actions.col1of4
      .button .line-actions
  .row.line
    .line-col.col1of4 .line-col
    .line-col.col1of4 .line-col
    .line-col.col1of4 .line-col
    .line-col.col1of4 .line-col