%h3.headline-m.light.margin-top-m.padding-vertical-m.margin-bottom-m.margin-top-m= ".topbar"
.topbar
  .margin-left-s.topbar-logo .topbar-logo

  %ul.topbar-navigation
    %li.topbar-item.separated-left 
      .topbar-item-inner .topbar-item

%h3.headline-m.light.margin-top-m.padding-vertical-m.margin-bottom-m.margin-top-m= ".topbar.dark"
.topbar.dark
  .margin-left-s.topbar-logo .topbar-logo

  %ul.topbar-navigation
    %li.topbar-item.separated-left 
      .topbar-item-inner .topbar-item