%h2.font-size-m
  %a.black.row.padding-horizontal-s.padding-vertical-s.width-full.emboss.transparent.focus-hover-thin.text-ellipsis.block{href: borrow_models_path(category_id: category.id), title: category.name}= category.name
  = render :partial => "borrow/models/index/explorative_search/grand_child_category", :collection => @grand_children[category.id], :as => :category
