%h3.font-size-s
  %a.straight-dark-grey.padding-left-m.padding-vertical-xs.padding-right-xs.width-full.emboss.transparent.focus-hover-thin.text-ellipsis{href: borrow_models_path(category_id: category.id), title: category.name}= category.name
