<i><%= _("Category") %></i>
<hr />

<% if @category.errors.size > 0 %>
	<ul style="border: 1px solid red; padding: 2px;">
	<% @category.errors.full_messages.each do |e| %>		
		<li><%= e %></li>
	<% end %>	
	</ul>
<% end %>			

<h2><%= @category.name %></h2>

<%  

render_tabnav :category_backend, 
              :generate_css => true do 

	add_tab do |t|
		t.named _('Category')
		t.links_to backend_inventory_pool_category_path(current_inventory_pool, @category, :layout => params[:layout])
		t.highlights_on :action => 'show'
		t.html[:style] = "background-color: red;" if @category.name.blank? 
	end

	add_tab do |t|
		t.named _("Models (%d)") % @category.models.size
		t.links_to backend_inventory_pool_category_models_path(current_inventory_pool, @category, :layout => params[:layout])
		t.highlights_on :controller => 'backend/models', :action => 'index'
	end

	add_tab do |t|
		t.named _("Children (%d)") % @category.children.size
		t.links_to backend_inventory_pool_category_children_path(current_inventory_pool, @category, :layout => params[:layout])
		t.html[:class] = 'active' if request.path_parameters[:controller] == 'backend/categories' and request.env['REQUEST_URI'].include?("children")
	end

	add_tab do |t|
		t.named _("Parents (%d)") % @category.parents.size
		t.links_to backend_inventory_pool_category_parents_path(current_inventory_pool, @category, :layout => params[:layout])
		t.html[:class] = 'active' if request.path_parameters[:controller] == 'backend/categories' and request.env['REQUEST_URI'].include?("parents")
	end

end 
%>