<i>Group</i>
<hr />

<% if @group.errors.size > 0 %>
	<ul style="border: 1px solid red; padding: 2px;">
	<% @group.errors.full_messages.each do |e| %>		
		<li><%= e %></li>
	<% end %>	
	</ul>
<% end %>			

<h2><%= @group.name %></h2>

<%  
render_tabnav :group_backend, 
              :generate_css => true do 

	add_tab do |t|
		t.named _('Group')
		t.links_to backend_inventory_pool_group_path(current_inventory_pool, @group, :layout => params[:layout])
		t.highlights_on :controller => 'backend/groups', :action => 'show'
	end

	add_tab do |t|
		t.named _("Users (%d)") % @group.users.count
		t.links_to users_backend_inventory_pool_group_path(current_inventory_pool, @group, :layout => params[:layout])
		t.highlights_on :controller => 'backend/groups', :action => 'users'
	end

	add_tab do |t|
		t.named _("Models (%d)") % @group.models.count
		t.links_to backend_inventory_pool_models_path(current_inventory_pool, :group_id => @group, :layout => params[:layout])
		t.highlights_on :controller => 'backend/models', :action => 'index'
	end

end 
%>