<i>Inventory Pool</i>
<hr />

<% if @inventory_pool.errors.size > 0 %>
	<ul style="border: 1px solid red; padding: 2px;">
	<% @inventory_pool.errors.full_messages.each do |e| %>		
		<li><%= e %></li>
	<% end %>	
	</ul>
<% end %>			

<h2><%= @inventory_pool.name %></h2>

<%  

render_tabnav :inventory_pool_admin, 
              :generate_css => true do 

	add_tab do |t|
		t.named _('InventoryPool')
		t.links_to admin_inventory_pool_path(@inventory_pool)
		t.highlights_on :action => 'show'
		t.html[:style] = "background-color: red;" if @inventory_pool.name.blank? 
	end

	add_tab do |t|
		t.named _('Locations')
		t.links_to locations_admin_inventory_pool_path(@inventory_pool)
		t.highlights_on :action => 'locations'
		t.html[:style] = "background-color: red;" if @inventory_pool.locations.empty? 
	end

	add_tab do |t|
		t.named _('Items')
		t.links_to admin_inventory_pool_items_path(@inventory_pool)
		t.highlights_on :controller => 'admin/items', :action => 'index'
		t.html[:style] = "background-color: red;" if @inventory_pool.items.empty? 
	end

	add_tab do |t|
		t.named _('Managers')
		t.links_to managers_admin_inventory_pool_path(@inventory_pool)
		t.highlights_on :action => 'managers'
		t.html[:style] = "background-color: red;" if @inventory_pool.managers.empty? 
	end
end 
%>