<i>Item</i>
<hr />

<% if @item.errors.size > 0 %>
	<ul style="border: 1px solid red; padding: 2px;">
	<% @item.errors.full_messages.each do |e| %>		
		<li><%= e %></li>
	<% end %>	
	</ul>
<% end %>			

<% if @item.model %>
	<h2><%= image_tag(@item.model.images.first.public_filename(:thumb)) unless @item.model.images.empty? %>
		<%= @item.model.name %></h2>
<% end %>

<%  
render_tabnav :item_admin, 
              :generate_css => true do 
    
	add_tab do |t|
		t.named _('Item')
		t.links_to :action => 'show' #admin_item_path(@item)
#		t.highlights_on :action => 'show'
		t.html[:style] = "background-color: red;" if @item.inventory_code.blank? 
	end

	add_tab do |t|
		t.named _('Model')
		t.links_to :action => 'model' # model_admin_item_path(@item)
#		t.highlights_on :action => 'model'
		t.html[:style] = "background-color: red;" unless @item.model

#		t.links_to_remote :url => { :action => 'model', :id => @item.id }, :update => "tabbb"
#		t.highlights_on({:action => 'model'})
	end

	add_tab do |t|
		t.named _('InventoryPool')
		t.links_to :action => 'inventory_pool' # inventory_pool_admin_item_path(@item)
#		t.highlights_on :action => 'inventory_pool'
		t.html[:style] = "background-color: red;" unless @item.location
	end

	add_tab do |t|
		t.named _('Notes')
		t.links_to :action => 'notes'
	end

end 
%>
