<i>Model</i>
<hr />

<% if @model.errors.size > 0 %>
	<ul style="border: 1px solid red; padding: 2px;">
	<% @model.errors.full_messages.each do |e| %>		
		<li><%= e %></li>
	<% end %>	
	</ul>
<% end %>			

<h2><%= image_tag(@model.image_thumb) if @model.image_thumb %>
	<%= @model.name %></h2>

<%  

render_tabnav :model_admin, 
              :generate_css => true do 

	add_tab do |t|
		t.named _('Model')
		t.links_to admin_model_path(@model)
		t.highlights_on :action => 'show'
		t.html[:style] = "background-color: red;" if @model.name.blank? 
	end

	add_tab do |t|
		t.named _("Items (%d)") % @model.items.size
		t.links_to admin_model_items_path(@model)
		t.highlights_on :controller => 'admin/items', :action => 'index'
#temp#	t.html[:class] = 'active' if request.path_parameters[:controller] == 'admin/items' and request.path_parameters[:action] == 'index'
		t.html[:style] = "background-color: red;" if @model.items.empty? 
	end

	add_tab do |t|
		t.named _("Categories (%d)") % @model.categories.size
		t.links_to admin_model_categories_path(@model)
		t.highlights_on :controller => 'admin/categories', :action => 'index'
#temp#	t.html[:class] = 'active' if request.path_parameters[:controller] == 'admin/categories' and request.path_parameters[:action] == 'index'
		t.html[:style] = "background-color: red;" if @model.categories.empty?
	end

	add_tab do |t|
		t.named _("Properties (%d)") % @model.properties.size
		t.links_to properties_admin_model_path(@model)
		t.highlights_on :action => 'properties'
		t.html[:style] = "background-color: red;" if @model.properties.empty? 
	end

	add_tab do |t|
		t.named _("Accessories (%d)") % @model.accessories.size
		t.links_to accessories_admin_model_path(@model)
		t.highlights_on :action => 'accessories'
		t.html[:style] = "background-color: red;" if @model.accessories.empty? 
	end

	add_tab do |t|
		t.named _("Images (%d)") % @model.images.size
		t.links_to images_admin_model_path(@model)
		t.highlights_on :action => 'images'
		t.html[:style] = "background-color: red;" if @model.images.empty? 
	end

	add_tab do |t|
		t.named _("Compatibles (%d)") % @model.compatibles.size
		t.links_to admin_model_compatibles_path(@model)
		t.highlights_on :controller => 'admin/models', :action => 'index'
#temp#	t.html[:class] = 'active' if request.path_parameters[:controller] == 'admin/models' and request.path_parameters[:action] == 'index'
	end

end 
%>