<i>Package</i>
<hr />

<% if @model.errors.size > 0 %>
	<ul style="border: 1px solid red; padding: 2px;">
	<% @model.errors.full_messages.each do |e| %>		
		<li><%= e %></li>
	<% end %>	
	</ul>
<% end %>			

<h2><%= image_tag(@model.images.first.public_filename(:thumb)) unless @model.images.empty? %>
	<%= @model.name %></h2>

<%  

render_tabnav :package_backend, 
              :generate_css => true do 

	add_tab do |t|
		t.named _('Package')
		t.links_to package_backend_inventory_pool_model_path(@current_inventory_pool, @model)
		t.highlights_on :action => 'package'
	end

	add_tab do |t|
		t.named _("Items (%d)") % @model.package_items.size
		t.links_to package_items_backend_inventory_pool_model_path(@current_inventory_pool, @model)
		t.highlights_on :action => 'package_items'
	end

#	add_tab do |t|
#		t.named _('Categories')
#		t.links_to backend_inventory_pool_model_categories_path(@current_inventory_pool, @model)
#		t.highlights_on :controller => 'backend/categories', :action => 'index'
#	end

	add_tab do |t|
		t.named _('Location')
		t.links_to package_location_backend_inventory_pool_model_path(@current_inventory_pool, @model)
		t.highlights_on :action => 'package_location'
	end


end 
%>