<i>Template</i>
<hr />

<% if @my_template.errors.size > 0 %>
	<ul style="border: 1px solid red; padding: 2px;">
	<% @my_template.errors.full_messages.each do |e| %>		
		<li><%= e %></li>
	<% end %>	
	</ul>
<% end %>			

<h2><%= @my_template.name %></h2>

<%  

render_tabnav :template_backend, 
              :generate_css => true do 

	add_tab do |t|
		t.named _('Template')
		t.links_to :action => 'show'
	end

	add_tab do |t|
		t.named _("Models (%{m}/%{i})") % { :m => @my_template.models.size, :i => @my_template.total_quantity }
		t.links_to :action => 'models'
	end


end 
%>