<i><%= @user.login %></i>
<hr />

<% if @user.errors.size > 0 %>
	<ul style="border: 1px solid red; padding: 2px;">
	<% @user.errors.full_messages.each do |e| %>		
		<li><%= e %></li>
	<% end %>	
	</ul>
<% end %>			

<% # TODO ajax ??
render_tabnav :user_backend, 
              :generate_css => true do 

	add_tab do |t|
		t.named _('User')
		t.links_to polymorphic_path([:backend, current_inventory_pool, @user].compact, :layout => params[:layout])
		t.highlights_on :controller => 'backend/users', :action => 'show'
	end

	add_tab do |t|
		access_rights = @user.access_rights
		access_rights = access_rights.scoped_by_inventory_pool_id(current_inventory_pool) if current_inventory_pool
		t.named _("Access Rights (%d)") % access_rights.count
		t.links_to polymorphic_path([:access_rights, :backend, current_inventory_pool, @user].compact, :layout => params[:layout])
		t.highlights_on :controller => 'backend/users', :action => 'access_rights'
	end
  
  	add_tab do |t|
		t.named _("Things to return")
		t.links_to polymorphic_path([:things_to_return, :backend, current_inventory_pool, @user].compact, :layout => params[:layout])
		t.highlights_on :controller => 'backend/users', :action => 'things_to_return'
	end if current_inventory_pool

  	add_tab do |t|
		t.named _("Extended Info")
		t.links_to polymorphic_path([:extended_info, :backend, current_inventory_pool, @user].compact, :layout => params[:layout])
		t.highlights_on :controller => 'backend/users', :action => 'extended_info'
	end if @user.extended_info
  

end 
%>