<i><%= @user.login %></i>
<hr />

<% if @user.errors.size > 0 %>
	<ul style="border: 1px solid red; padding: 2px;">
	<% @user.errors.full_messages.each do |e| %>		
		<li><%= e %></li>
	<% end %>	
	</ul>
<% end %>			

<%  

render_tabnav :user_admin, 
              :generate_css => true do 

	add_tab do |t|
		t.named _('User')
		t.links_to :action => 'show'
		t.html[:style] = "background-color: red;" if @user.login.blank? 
	end

	add_tab do |t|
		t.named _("Access Rights (%d)") % @user.access_rights.size
		t.links_to :action => 'access_rights'
		t.html[:style] = "background-color: red;" if @user.access_rights.blank? 
	end

end 
%>