<table>
	<tr>
	<th colspan="2"><%= icon_tag("arrow_undo") + " #{title} " + _("Take Back visits") %></th>
	</tr>
	
<% visits.each do |visit| %>	
	<tr>
		<td>
			<%= short_date(visit.date) %>
			<br />
			<b><%= visit.user.name %></b>
		</td>
		<td class="buttons">
			<%= link_to icon_tag("tab_go"),
					backend_inventory_pool_user_take_back_path(current_inventory_pool, visit.user) %>
		</td>
	</tr>
<% end %>

</table>