					
<!-- start iterator -->
<%
last_date = Date.new
for @line in @contract_lines
  if @line.end_date > last_date
    last_date = @line.end_date
    	%>
		<tr class="line_header"><td colspan="5" class="title"><%= short_date(@line.end_date) %></td></tr>
	<% end %>
	<%= render :partial => @line.type.underscore %>
<% end %>
<!-- end iterator -->						