			
<div class="table-overview boxes">
	
		<%= render :partial => '/application/search' %>
		
		<%#TODO = text_field_tag(:inventory_code, nil, { :size => 10, :onchange => remote_function( :url => { :action => 'return_random_inventory_code' }, :with => "'code=' + value" ) }) %>
	
		<div id="list_table">
			<%= render :partial => 'visits' %>
		</div>
			
						
</div>
			
