	<h2><%= _("Print contract") %></h2>
	
	<br />
	<div class="buttons">
	  <ul>
		<% @contracts.each do |c| %>
			<li><%=	link_to(image_tag($layout_public_path + "/images/icons/script.png") + " " + _("Print Contract #{c.id}"),
						 { :controller => 'contracts', :action => 'show', :id => c.id, :format => 'pdf' },
						 :class => 'positive') %>
			</li>			 
		<% end %>

		<li><%=	link_to(image_tag($layout_public_path + "/images/icons/door_out.png") + " " + _("Close"),
					 { :action => 'index' },
					 :target=> '_top') %>
	 	</li>
	  </ul>
	</div>	
