<% # TODO 1702** merge with hand_over/print_contract template %>

	<h2><%= _("Print contract") %></h2>
	
	<br />
	<div class="buttons">
	  <ul>
		<% @contracts.each do |c| %>
			<li><%=	link_to(icon_tag("script") + " " + _("Print Contract %d") % c.id.to_i,
						 { :controller => 'contracts', :action => 'show', :id => c.id, :format => 'pdf' },
						 :class => 'positive') %>
			</li>			 
		<% end %>

		<li><%=	link_to(icon_tag("door_out") + " " + _("Close"),
					 { :action => 'index' },
					 :target=> '_top') %>
	 	</li>
	  </ul>
	</div>	
