.padding-left-xs
  #ip-selector.dropdown-holder.emboss
    %a.black.button.small.width-full.no-padding
      = _("All inventory pools")
      .arrow.down
    .dropdown
      .separated-bottom
        %a.font-size-xs.dropdown-item{:"data-all" => true}<
          = _("All inventory pools")
      - @inventory_pools.each do |ip|
        %a.font-size-xs.dropdown-item{:"data-id" => ip.id, :"data-name" => ip.name}<
          %input.margin-right-s{:type => :checkbox, :checked => true, :autocomplete => :off}
          = ip.name
