%a.row.line.height-xs.focus-hover-thin{:"data-id" => model.id, :href => @bread_crumbs.path_for(borrow_model_path(model))}
  .line-col.col1of6.no-padding
    .padding-inset-xxs.text-align-center
      %img.max-height-xxs-alt.max-width-xs{src: model_image_thumb_path(model.id)}
  .line-col.col3of6.text-align-left= model.name
  .line-col.col1of6= model.manufacturer
  .line-col.col1of6
    %button.button.small.inset.focus-hover{:title => _("Add to order"), :"data-create-order-line" => true, :"data-model-id" => model.id}
      .padding-horizontal-xxs
        %i.fa.fa-plus.icon-xxs
