#period.row
  .col4of9
    %input#start-date.small.height-full{:name => :start_date, :type => :text, :placeholder => _("Start date"), :title => _("Start date"), :autocomplete => :off}
  .col1of10
    .button.small.width-full= "-"
  .col4of9
    %input#end-date.small.height-full{:name => :end_date, :type => :text, :placeholder => _("End date"), :title => _("End date"), :autocomplete => :off}