#model-list-search.row
  %input.small.has-addon{:type => :text, :placeholder => _("In list"), :title => _("Search in list"), :autocomplete => :off, :autofocus => :autofocus}
  .addon.transparent.small.padding-right-xs
    %i.icon-search.icon-size-xs
