= form_tag '${$item.target_url}', :method => :delete, :remote => true, :"data-submit_button" => true, :class => "summary" do

  %h1
    ${_jed("Delete")}

  %br

  %p.subtitle
    ${_jed("The template \"%s\" will be deleted and no longer available for usage.", name)}

  .navigation
    %button.button.white.close_dialog
      .icon.return
      ${_jed("Back")}
    %button.button.red{:type => "submit", :"data-on_success" => '${$item.on_success}'}
      ${_jed("Delete")}
