:ruby
  lines = (current_user.orders.submitted.collect(&:order_lines) + current_user.contracts.collect(&:item_lines)).flatten
  groupped_lines = lines.sort.reverse.group_by(&:start_date)
  
%section#compactHistory
  %h3 
    = _("Order-History")
  %a.topRight{:href => ""}
    = _("show")
  .clear
  
  %section.entries
    - groupped_lines.each do |date, lines|
      .group
        %h4
          = short_date(date)
        %ul
          - lines.each do |line|
            %li.item
              = link_to truncate(line.model.name, :length => 26), line.model
