<%= render :partial => '/layouts/frontend/00-patterns/tabs' %>
<%= render :partial => '/layouts/frontend/00-patterns/content_box_head_fullwidth' %>

<div class="inner" id="order">
	
	<h1>Order</h1>
		<p>Your list of orders was successfully sent to those responsible and is awaiting <strong>approval</strong>. </p>
	<hr>
	<p>Your Order is being processed and has been sent to those responsible for the inventory pool. They will review your order and either approve or deny it. You will be 
	    notified through E-Mail. You can review your open orders on your profile page found by clicking on your name on the top bar navigation of this site.</p>
	<hr>
	<section id="orderlist">
		
		
		<h4 class="underline">ITZ Ausleihe</h4>
		<table class="item">
			
			<tbody>
			    
				<tr>
					<td class="image"><a href="">Model Picture</a></td>
					<td class="name">Aktivlautsprecher Laney CPC10</td>
					<td class="manufacturer">Laney / BLT Industries</td>
					<td class="manufacturer">ITZ Ausleihe</td>
					<td class="amount">x 1</td>
					<td class="date">15.07.11-07.09.11</td>
				</tr>
				
				                <tr>
                    <td class="image"><a href="">Model Picture</a></td>
                    <td class="name">Aktivlautsprecher Laney CPC10</td>
                    <td class="manufacturer">Laney / BLT Industries</td>
                    <td class="manufacturer">ITZ Ausleihe</td>
                    <td class="amount">x 1</td>
                    <td class="date">15.07.11-07.09.11</td>
                </tr>

                <tr>
                    <td class="image"><a href="">Model Picture</a></td>
                    <td class="name">Aktivlautsprecher Laney CPC10</td>
                    <td class="manufacturer">Laney / BLT Industries</td>
                    <td class="manufacturer">ITZ Ausleihe</td>
                    <td class="amount">x 1</td>
                    <td class="date">15.07.11-07.09.11</td>
                </tr>
                                
			</tbody>
						
		</table><!-- #item -->
		
		<h4 class="underline">AVZ Ausleihe</h4>
        <table class="item">
            
            <tbody>
                
                <tr>
                    <td class="image"><a href="">Model Picture</a></td>
                    <td class="name">Aktivlautsprecher Laney CPC10</td>
                    <td class="manufacturer">Laney / BLT Industries</td>
                    <td class="manufacturer">ITZ Ausleihe</td>
                    <td class="amount">x 1</td>
                    <td class="date">15.07.11-07.09.11</td>
                </tr>
                
                                <tr>
                    <td class="image"><a href="">Model Picture</a></td>
                    <td class="name">Aktivlautsprecher Laney CPC10</td>
                    <td class="manufacturer">Laney / BLT Industries</td>
                    <td class="manufacturer">ITZ Ausleihe</td>
                    <td class="amount">x 1</td>
                    <td class="date">15.07.11-07.09.11</td>
                </tr>

                <tr>
                    <td class="image"><a href="">Model Picture</a></td>
                    <td class="name">Aktivlautsprecher Laney CPC10</td>
                    <td class="manufacturer">Laney / BLT Industries</td>
                    <td class="manufacturer">ITZ Ausleihe</td>
                    <td class="amount">x 1</td>
                    <td class="date">15.07.11-07.09.11</td>
                </tr>
                
                <tr>
                    <td class="image"><a href="">Model Picture</a></td>
                    <td class="name">Aktivlautsprecher Laney CPC10</td>
                    <td class="manufacturer">Laney / BLT Industries</td>
                    <td class="manufacturer">ITZ Ausleihe</td>
                    <td class="amount">x 1</td>
                    <td class="date">15.07.11-07.09.11</td>
                </tr>
                
                                <tr>
                    <td class="image"><a href="">Model Picture</a></td>
                    <td class="name">Aktivlautsprecher Laney CPC10</td>
                    <td class="manufacturer">Laney / BLT Industries</td>
                    <td class="manufacturer">ITZ Ausleihe</td>
                    <td class="amount">x 1</td>
                    <td class="date">15.07.11-07.09.11</td>
                </tr>

                <tr>
                    <td class="image"><a href="">Model Picture</a></td>
                    <td class="name">Aktivlautsprecher Laney CPC10</td>
                    <td class="manufacturer">Laney / BLT Industries</td>
                    <td class="manufacturer">ITZ Ausleihe</td>
                    <td class="amount">x 1</td>
                    <td class="date">15.07.11-07.09.11</td>
                </tr>
                                
            </tbody>
                        
        </table><!-- #item -->
		
		
	</section><!-- #orderlist -->
	
	<hr/>
	
	<div class="orderoption">
	    
	<div class="button green floatright">
        <a href="#">Logout</a>
    </div>
	<div class="button white floatright">
        <a href="#">List of Value</a>
    </div>
	<div class="button white floatright">
        <a href="#">Save Order List</a>
    </div>
    
    </div>
	
	<h3>Parks</h3>
	   <strong>ITZ-Ausleihe</strong><br/><br/>
	   <p>Das ITZ der ZHdK.<br/>
            Zürcher Hochschule der Künste<br/>
            IT-Zentrum (Raum SQ3) <br/>
            Ausstellungsstrasse 60 <br/>
            Postfach CH-8031 Zürich<br/><br/>
            fon +41 43 446 21 21<br/>
            fax +41 43 446 45 21<br/><br/>
            http://ithelp.zhdk.ch<br/>
            http://itz.zhdk.ch<br/><br/>
            Öffnungszeiten: Mo-Fr 12-18 Uhr<br/>
       </p>
       
	<div class="borderleft"></div><div class="borderright"></div>
</div><!-- #order -->

<%= render :partial => '/layouts/frontend/00-patterns/content_box_foot' %>
