.inventory_pool
  %label= _("Lender")
  %span.name= @contract.inventory_pool.name
  - if @contract.inventory_pool.address
    %span.street= @contract.inventory_pool.address.street
    %span.plz_city= "%s-%s %s" % [@contract.inventory_pool.address.country_code, @contract.inventory_pool.address.zip_code, @contract.inventory_pool.address.city]
