<%= error_messages_for 'attribut' %>

<!--[form:attribut]-->
<%= hidden_field 'attribut', 'id' %>
<%= hidden_field 'attribut', 'ding_nr' %>

<p><label for="attribut_schluessel">Schluessel</label><br/>
<%= text_field 'attribut', 'schluessel' %></p>

<p><label for="attribut_wert">Wert</label><br/>
<%= text_field 'attribut', 'wert' %></p>
<!--[eoform:attribut]-->