= javascript_include_tag "jquery.min"    
= javascript_include_tag "verite_timeline/timeline-min"    
= stylesheet_link_tag "verite_timeline/timeline"

:css
  table {
    border: 1px solid black;
    background-color: #ddd;
    margin: 1em;
    width: 800px;
  }
  th {
    border: 1px solid black;
    background-color: #aaa;
  }
  th:last-child {
    width: 400px;
  }
  td {
    border-bottom: 1px solid black;
    vertical-align: top;
  }

#timeline

:javascript
  $(document).ready(function() {
    var timeline = new VMM.Timeline();
    timeline.init("/statistics/activities.json");      
  });
