%nav.topbar
  
  .wrapper
  
    %a.topbar-logo.padding-horizontal-s.margin-right-s{:href => root_path}
      - if Setting::LOGO_URL
        .table
          .table-row
            .table-cell.vertical-align-middle
              %img{:src => Setting::LOGO_URL}   
      - else
        leihs