production:
  host: hostname
  port: 636
  encryption: simple_tls
  log_file: log/ldap_server.log
  log_level: warn
  master_bind_dn: CN=blah,OU=diblah,DC=example,DC=org
  master_bind_pw: 12345
  base_dn: OU=user,DC=example,DC=org
  admin_dn: CN=admin,DC=example,DC=org
  unique_id_field: uid
  log_file: log/ldap_server.log
  search_field: samaccountname
