/*
Syntax error: Invalid CSS after "        }": expected "}", was "<<<<<<< HEAD"
        on line 172 of public/layouts/00-patterns/css/scss/basket.scss

167:           
168:           a:hover {
169:             color: $darkgrey;
170:           }
171:         }
172: <<<<<<< HEAD
173: =======
174:         
175:         td.amount {
176:           display: inline-block;
177:           letter-spacing: -1px;

Backtrace:
public/layouts/00-patterns/css/scss/basket.scss:172
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/scss/parser.rb:898:in `expected'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/scss/parser.rb:841:in `expected'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/scss/parser.rb:836:in `tok!'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/scss/parser.rb:362:in `block'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/scss/parser.rb:355:in `ruleset'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/scss/parser.rb:417:in `declaration_or_ruleset'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/scss/parser.rb:872:in `call'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/scss/parser.rb:872:in `rethrow'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/scss/parser.rb:418:in `declaration_or_ruleset'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/scss/parser.rb:380:in `block_child'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/scss/parser.rb:372:in `block_contents'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/scss/parser.rb:361:in `block'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/scss/parser.rb:355:in `ruleset'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/scss/parser.rb:417:in `declaration_or_ruleset'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/scss/parser.rb:872:in `call'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/scss/parser.rb:872:in `rethrow'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/scss/parser.rb:418:in `declaration_or_ruleset'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/scss/parser.rb:380:in `block_child'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/scss/parser.rb:372:in `block_contents'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/scss/parser.rb:361:in `block'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/scss/parser.rb:355:in `ruleset'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/scss/parser.rb:417:in `declaration_or_ruleset'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/scss/parser.rb:872:in `call'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/scss/parser.rb:872:in `rethrow'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/scss/parser.rb:418:in `declaration_or_ruleset'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/scss/parser.rb:380:in `block_child'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/scss/parser.rb:372:in `block_contents'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/scss/parser.rb:361:in `block'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/scss/parser.rb:355:in `ruleset'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/scss/parser.rb:379:in `block_child'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/scss/parser.rb:369:in `block_contents'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/scss/parser.rb:57:in `stylesheet'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/scss/parser.rb:26:in `parse'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/engine.rb:319:in `_to_tree'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/engine.rb:291:in `_render'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/engine.rb:238:in `render'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/plugin/compiler.rb:319:in `update_stylesheet'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/plugin/compiler.rb:181:in `update_stylesheets'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/plugin/compiler.rb:175:in `each'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/plugin/compiler.rb:175:in `update_stylesheets'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/plugin/compiler.rb:173:in `each'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/plugin/compiler.rb:173:in `update_stylesheets'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/plugin/compiler.rb:252:in `watch'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/vendor/fssm/lib/fssm/path.rb:73:in `call'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/vendor/fssm/lib/fssm/path.rb:73:in `run_callback'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/vendor/fssm/lib/fssm/path.rb:55:in `callback_action'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/vendor/fssm/lib/fssm/path.rb:35:in `update'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/vendor/fssm/lib/fssm/state/directory.rb:39:in `modified'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/vendor/fssm/lib/fssm/state/directory.rb:37:in `each'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/vendor/fssm/lib/fssm/state/directory.rb:37:in `modified'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/vendor/fssm/lib/fssm/state/directory.rb:18:in `refresh'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/vendor/fssm/lib/fssm/backends/fsevents.rb:15:in `add_handler'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/vendor/fssm/lib/fssm/backends/fsevents.rb:14:in `each'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/vendor/fssm/lib/fssm/backends/fsevents.rb:14:in `add_handler'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/vendor/fssm/lib/fssm/backends/rubycocoa/fsevents.rb:107:in `call'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/vendor/fssm/lib/fssm/backends/rubycocoa/fsevents.rb:107:in `initialize'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/vendor/fssm/lib/fssm/backends/fsevents.rb:27:in `call'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/vendor/fssm/lib/fssm/backends/fsevents.rb:27:in `CFRunLoopRun'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/vendor/fssm/lib/fssm/backends/fsevents.rb:27:in `run'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/vendor/fssm/lib/fssm/monitor.rb:26:in `run'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/vendor/fssm/lib/fssm.rb:20:in `monitor'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/plugin/compiler.rb:245:in `watch'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/plugin.rb:111:in `send'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/plugin.rb:111:in `method_missing'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/exec.rb:408:in `watch_or_update'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/exec.rb:294:in `process_result'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/exec.rb:41:in `parse'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/exec.rb:21:in `parse!'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/sass:8
/usr/bin/sass:19:in `load'
/usr/bin/sass:19
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"        }\": expected \"}\", was \"<<<<<<< HEAD\"\A         on line 172 of public/layouts/00-patterns/css/scss/basket.scss\A \A 167:           \A 168:           a:hover {\A 169:             color: $darkgrey;\A 170:           }\A 171:         }\A 172: <<<<<<< HEAD\A 173: =======\A 174:         \A 175:         td.amount {\A 176:           display: inline-block;\A 177:           letter-spacing: -1px;"; }
