/*
Syntax error: Undefined mixin 'opacity'.
        on line 142 of public/layouts/00-patterns/css/scss/basket.scss, in `opacity'
        from line 142 of public/layouts/00-patterns/css/scss/basket.scss

137:       position: absolute;
138:       text-align: right;
139:       padding-bottom: 2px;
140:       top: 2px;
141:       width: 190px;
142:       @include opacity(0);
143:     }
144:     
145:     table {
146:       border-spacing: 0;
147:       float: left;

Backtrace:
public/layouts/00-patterns/css/scss/basket.scss:142:in `opacity'
public/layouts/00-patterns/css/scss/basket.scss:142
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/tree/visitors/perform.rb:169:in `visit_mixin'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/tree/visitors/perform.rb:18:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `map'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/tree/visitors/perform.rb:27:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/tree/visitors/perform.rb:39:in `with_environment'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/tree/visitors/perform.rb:26:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/tree/visitors/perform.rb:230:in `visit_rule'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/tree/visitors/perform.rb:18:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `map'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/tree/visitors/perform.rb:27:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/tree/visitors/perform.rb:39:in `with_environment'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/tree/visitors/perform.rb:26:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/tree/visitors/perform.rb:230:in `visit_rule'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/tree/visitors/perform.rb:18:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `map'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/tree/visitors/perform.rb:27:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/tree/visitors/perform.rb:39:in `with_environment'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/tree/visitors/perform.rb:26:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/tree/visitors/perform.rb:230:in `visit_rule'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/tree/visitors/perform.rb:18:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `map'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/tree/visitors/perform.rb:27:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/tree/visitors/perform.rb:39:in `with_environment'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/tree/visitors/perform.rb:26:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/tree/visitors/perform.rb:47:in `visit_root'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/tree/visitors/perform.rb:18:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/tree/visitors/perform.rb:7:in `send'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/tree/visitors/perform.rb:7:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/tree/root_node.rb:20:in `render'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/engine.rb:291:in `_render'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/engine.rb:238:in `render'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/plugin/compiler.rb:319:in `update_stylesheet'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/plugin/compiler.rb:181:in `update_stylesheets'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/plugin/compiler.rb:175:in `each'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/plugin/compiler.rb:175:in `update_stylesheets'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/plugin/compiler.rb:173:in `each'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/plugin/compiler.rb:173:in `update_stylesheets'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/plugin/compiler.rb:257:in `watch'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/vendor/fssm/lib/fssm/path.rb:73:in `call'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/vendor/fssm/lib/fssm/path.rb:73:in `run_callback'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/vendor/fssm/lib/fssm/path.rb:55:in `callback_action'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/vendor/fssm/lib/fssm/path.rb:31:in `create'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/vendor/fssm/lib/fssm/state/directory.rb:26:in `created'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/vendor/fssm/lib/fssm/state/directory.rb:25:in `each'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/vendor/fssm/lib/fssm/state/directory.rb:25:in `created'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/vendor/fssm/lib/fssm/state/directory.rb:17:in `refresh'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/vendor/fssm/lib/fssm/backends/polling.rb:17:in `run'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/vendor/fssm/lib/fssm/backends/polling.rb:17:in `each'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/vendor/fssm/lib/fssm/backends/polling.rb:17:in `run'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/vendor/fssm/lib/fssm/backends/polling.rb:15:in `loop'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/vendor/fssm/lib/fssm/backends/polling.rb:15:in `run'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/vendor/fssm/lib/fssm/monitor.rb:26:in `run'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/vendor/fssm/lib/fssm.rb:20:in `monitor'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/plugin/compiler.rb:245:in `watch'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/plugin.rb:111:in `send'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/plugin.rb:111:in `method_missing'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/exec.rb:408:in `watch_or_update'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/exec.rb:294:in `process_result'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/exec.rb:41:in `parse'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/../lib/sass/../sass/exec.rb:21:in `parse!'
/Library/Ruby/Gems/1.8/gems/sass-3.1.5/bin/sass:8
/usr/bin/sass:19:in `load'
/usr/bin/sass:19
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'opacity'.\A         on line 142 of public/layouts/00-patterns/css/scss/basket.scss, in `opacity'\A         from line 142 of public/layouts/00-patterns/css/scss/basket.scss\A \A 137:       position: absolute;\A 138:       text-align: right;\A 139:       padding-bottom: 2px;\A 140:       top: 2px;\A 141:       width: 190px;\A 142:       @include opacity(0);\A 143:     }\A 144:     \A 145:     table {\A 146:       border-spacing: 0;\A 147:       float: left;"; }
