/* CONTENT */
#content {
  display: block;
  float: left;
  left: 14px;
  position: relative;
  width: 755px;
}

/* CONTENT HEADER */
#content .header {
	background: url(../images/slices-h.png) repeat-x 0 -97px;
	display: block;
  	height: 12px;
  	position: relative;
}

#content .header .borderright {
	background: url(../images/image-sprite.png) no-repeat -18px -14px;
	display: block;
	height: 12px;
	right: 0;
	position: absolute; 
	top: 0;
	width: 6px;
}

#content .header .borderleft {
	background: url(../images/image-sprite.png) no-repeat -18px -27px;
	display: block;
	height: 12px;
	left: 0;
	position: absolute; 
	top: 0;
	width: 6px;
}

/* CONTENT INNER */
#content .inner {
	background: #FFF;
	border-left: 1px solid #c9c7c3;
	border-right: 1px solid #c9c7c3;
	display: block;
	padding: 8px 16px 16px 16px;
  	position: relative;
}

#content .inner p {
	margin-bottom: 6px;
}

/* CONTENT INNER RENTED */
#content .inner #rented {
	font-size: 1.1em;
}

#content .inner #rented ul li {
	display: inline-block;
	padding: 0 0 8px 0;	
}

#content .inner #rented .purpose {
	max-width: 460px;
	overflow: hidden;
	white-space: nowrap;
}

#content .inner #rented .timeframe {
	color: #717171;
	padding-right: 10px;
}

#content .inner #rented .timeframe a {
	color: #999999;	
	padding-right: 8px;
}

#content .inner #rented .timeframe a:hover {
	color: #515151;	
}

#content .inner #rented .extend button {
	padding: 2px 4px 4px 4px;
}

/* CONTENT INNER STARTCATEGORIES */
#content .inner #startcategories {
	padding-top: 10px;
}

#content .inner #startcategories .row {
	clear: both;
	padding: 2px 0px 19px 0px;
}

#content .inner #startcategories .row .cell {
	float: left;
	width: 180px;
}	

#content .inner #startcategories .row .cell .edit {
	color: #999;
}

#content .inner #startcategories .row .cell .edit:hover {
	color: #515151;
}

#content .inner #startcategories .row .cell a img {
	height: 80px;	
	display: block;
	margin-left: 10px;
	padding-bottom: 15px;
}

#content .inner #startcategories .row .cell h2 {
	padding-left: 8px;
}

#content .inner #startcategories .row .cell ul {
	margin-right: 20px;
	margin-top: 5px;
	list-style-type: none;
}

#content .inner #startcategories .row .cell ul li {
	display: block;
	margin-bottom: 6px;
	padding-left: 8px;
}

#content .inner #startcategories .row .cell ul li a, #content .inner #startcategories .row .cell ul li a:link, #content .inner #startcategories .row .cell ul li a:visited {
	font-size: 1.2em;
	color:#999999;
}

#content .inner #startcategories .row .cell ul li a:hover, #content .inner #startcategories .row .cell ul li a:active {
	color: #515151;
}

#content .inner #startcategories .row .cell:hover h2 a {
	color: #515151;
}

/* CONTENT FOOTER */
#content .footer {
	background: url(../images/slices-h.png) repeat-x 0 -110px;
	display: block;
  	height: 14px;
  	position: relative;
}

#content .footer .borderright {
	background: url(../images/image-sprite.png) no-repeat -25px -15px;
	display: block;
	height: 14px;
	right: 0;
	position: absolute; 
	top: 0;
	width: 6px;
}

#content .footer .borderleft {
	background: url(../images/image-sprite.png) no-repeat -25px 0;
	display: block;
	height: 14px;
	left: 0;
	position: absolute; 
	top: 0;
	width: 6px;
}