#logo {
	color: navy;
	text-decoration: none;
	font-size: x-large;
	font-weight: bold;	
}

table.orders {
	border-collapse: collapse;
	width: 80%;
	border: 1px solid #b2b2b2;
}

table.orders th, table.orders td {
	margin: 0;
	padding: 4px 12px;
	text-align: left;
}

table.orders tr {
	vertical-align: middle;
	background: #f1f1f1;
	border: 1px solid #b2b2b2;
}

table.orders th {
	background: #888;
	color: #e2e2e2;
}

.model_description {
    font-family: arial,tahoma,helvetica,sans-serif;
    padding: 12px;
    font-size: 12px;
}
