#logo {
	color: navy;
	text-decoration: none;
	font-size: x-large;
	font-weight: bold;	
}

table.orders {
	border-collapse: collapse;
	width: 80%;
	border: 1px solid #b2b2b2;
}

table.orders th, table.orders td {
	margin: 0;
	padding: 4px 12px;
	text-align: left;
}

table.orders tr {
	vertical-align: middle;
	background: #f1f1f1;
	border: 1px solid #b2b2b2;
}

table.orders th {
	background: #888;
	color: #e2e2e2;
}

.model_description {
    font-family: arial,tahoma,helvetica,sans-serif;
    padding: 12px;
    font-size: 12px;
}

.model_images {
	float: right;
}


/* It seems that ExtJS by default removes every single
   style that makes sense from plain old normal text :(

   So we have to add that now. */

#blankpage {
    font-family: arial,tahoma,helvetica,sans-serif;
    font-size: 10pt;
    padding: 20px;
}

#blankpage p, #blankpage ul {
    margin-bottom: 12px;
}

#blankpage h1 {
  font-size: 14pt;
	font-weight: bold;
	margin-bottom: 0.4em;
  border-bottom: 1px solid #ccc;
}

#blankpage h2 {
  font-size: 12pt;
	font-weight: bold;
	margin-bottom: 0.5em;
  margin-top: 1.2em;
  background: #fff;
  padding: 0.2em 0.4em 0.2em 0.4em;
  border-bottom: 2px solid #ccc;
}

#blankpage h3 {
    font-size: 10pt;
    font-weight: bold;
    margin-bottom: 8px;
    margin-top: 0.3em;
}

#blankpage h4 {
    font-size: 10pt;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 8px;
    margin-top: 0.3em;
}


#blankpage strong {
    font-weight: bold;
}

#blankpage ul {
    list-style: disc;
}

#blankpage ul li {
    margin-left: 22px;
    margin-bottom: 4px;
}


