#logo {
	color: navy;
	text-decoration: none;
	font-size: x-large;
	font-weight: bold;	
}

table.orders {
	border-collapse: collapse;
	width: 80%;
	border: 1px solid #b2b2b2;
}

table.orders th, table.orders td {
	margin: 0;
	padding: 4px 12px;
	text-align: left;
}

table.orders tr {
	vertical-align: middle;
	background: #f1f1f1;
	border: 1px solid #b2b2b2;
}

table.orders th {
	background: #888;
	color: #e2e2e2;
}

.model_description {
    font-family: arial,tahoma,helvetica,sans-serif;
    padding: 12px;
    font-size: 12px;
}

.model_images {
	float: right;
}


/* It seems that ExtJS by default removes every single
   style that makes sense from plain old normal text :(

   So we have to add that now. */

#betawarning {
    font-family: arial,tahoma,helvetica,sans-serif;
    font-size: 11pt;
    padding: 20px;
}

#betawarning p, #betawarning ul {
    margin-bottom: 12px;
}

#betawarning h3 {
    font-size: 14pt;
    font-weight: bold;
    margin-bottom: 8px;
}

#betawarning strong {
    font-weight: bold;
}

#betawarning ul {
    list-style: disc;
}

#betawarning ul li {
    margin-left: 22px;
    margin-bottom: 4px;
}

#betawarning hr {
    margin: 18px;
}