/* 
Project: leihs 2.0
Author: stefano.vannotti@zhdk.ch
*/

@import url(tabs.css) all;
@import url(buttons.css) all;
@import url(tables.css) all;

/* 	- - - - - - - - - - - - -
GENERAL
 - - - - - - - - - - - - - */

/* Global Reset */

/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}


/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* General Styling */

body {
	font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
	font-size: small;
	background: #f2f2f2;
	color: #555;
}

a {
	text-decoration: none;
	color: #09f;
}

a:hover {
	color: #333;
}

/* Headings */
h1 {
	font-size: 180%;
}

h2 {
	font-size: 150%;
}

h3 {
	font-size: 130%;
}

/* 	- - - - - - - - - - - - -
MAIN STRUCTURE
 - - - - - - - - - - - - - */

#header {
	padding-top: 2em;
	padding-bottom: 5em;
	background: #fff;
}

#banner {
	background: #1089d9;
	clear: both;
}

/*
#comment {
	font-size: 80%;
	padding: 2em;
	background:#EEFFA1;
	border-bottom: 3px solid black;
}
*/

#wrap {
	padding: 0 2em 2em 2em;
	background: #f2f2f2;
}

#container {
	min-width: 800px;
	margin-left: 150px;
}

#inner-container {
	background: white;
	border-right: 1px solid #c2c2c2;
	border-left: 1px solid #c2c2c2;
	border-bottom: 1px solid #c2c2c2;
	padding: 3em 1.5em 0;
	min-height: 200px;
}


/*--------------------------------
	Header
--------------------------------*/

#logo {
	float: left;
	width: 25%;
	padding-left: 3em;
}

#logo h1 {
	margin-bottom: 0.4em;
}

#personal-toolbar {
	float: right;
	text-align: right;
}

#personal-toolbar ul li {
	display: inline;
	padding: 0.5em;
}

/*--------------------------------
	Sidebar
--------------------------------*/

#sidebar {
	float: left;
	width: 150px;
	overflow: auto;
	margin-bottom: 2em;
}

#sidebar ul ul {
	margin-left: 8px;
}

/*--------------------------------
	Banner
--------------------------------*/

#banner {
	padding-left: 240px;
	margin-bottom: 20px;
	border: 1px solid #1089d9;
	height: 50px;
	clear: both;
}

#banner ul li {
	float: left;
	margin: 1em 2.5em 1em 0;
}

#banner ul li a {
	display: block;
	background: #09f;
	padding: 0.5em;
	color: #fff;
	border: 1px solid #fff;
}

#banner ul li a:hover {
	background: #1089d9;
	color: #fff;
	border: 1px solid #fff;
}


/* 	- - - - - - - - - - - - -
Toolbars
 - - - - - - - - - - - - - */

.toolbar-main {
	overflow: hidden;
	padding: 1.5em 1em;
	border-top: 1px solid #d2d2d2;
	border-bottom: 1px solid #d2d2d2;
	background: #E9F9F9;
}


.toolbar-second {
	overflow: hidden;
	background: #e2e2e2;
	padding: 1em;
	border: 1px solid #b2b2b2;
}


/* 	- - - - - - - - - - - - -
CONTENT
 - - - - - - - - - - - - - */

.boxes {
	overflow: hidden;
	margin-bottom: 2em;
}

#inner-container h2 {
	font-weight: normal;
	margin-bottom: 1em;
}

#inner-container h3 {
	font-weight: normal;
	padding-bottom: 0.5em;
	border-bottom: 1px solid #b2b2b2;
	margin-bottom: 0.5em;
}

#inner-container h2 em {
	font-weight: bold;
	font-style: normal;
}

tr.availability td {
	padding: 2px;
	font-size: 10px;
	text-align: center;
}
.available_0 {
	background: red;
}

.available_1 {
	background: orange;
}

.available_2 {
	background: yellow;
}

.available_3 {
	background: lightgreen;
}

.available_4 {
	background: green;
	color:white;
}

.available_5 {
	background: darkgreen;
	color: white;
}

.valid_true {
	/* background-color: #CCFF66; */	
}

.valid_false {
	background-color: #FFCCCC;	
}

/* Model Groups */

ul.model_group {
	padding-top: 5px;
	padding-left: 15px;
	padding-bottom: 5px;
}

ul.model_group > li {
	list-style-type: square;	
}

/* OLD
ul.model_group > li > span {
}

ul.model_group > li.Category > span {
	background-color: #DDDDDD;
}

ul.model_group > li.Template > span {
	background-color: #FFAA00;
}

ul.model_group > li > div {
	margin: 0 15px 15px 15px;
	font-size: 0.92em;
	border-left: 1px solid black;
	padding-left: 2px;
}

ul.model_group > li > div > span.add_button {
	margin-left: 50px;
	color: navy;	
}
*/

/* Barcode */

.barcode_pulldown {
	color: #444;
}

/* Workdays */

.workdays {
	height: 100px;
}

.workday {
	border: 1px solid lightgray;
	width: 100px;
	float: left;
	text-align: center;
	margin: 5px;
	padding: 5px;
	cursor: pointer;
}

.closed {
	background-color: #FFCCCC;
}

.open {
	background-color: #CCFF66;
}

.holiday {
	padding-top: 15px;
	margin-left: 20px;
}

/* 	- - - - - - - - - - - - -
Pagination
 - - - - - - - - - - - - - */

.pagination {
	margin:0.3em;
	padding:0.3em;
}
.pagination a {
	border:1px solid #AAAADD;
	color:#336699;
	margin:0.2em;
	padding:0.1em 0.3em;
	text-decoration:none;
}
.pagination a:hover, .pagination a:active {
	border:1px solid #336699;
	color:#000000;
}
.pagination span.current {
	background-color:#336699;
	border:1px solid #336699;
	color:#FFFFFF;
	font-weight:bold;
	margin:0.2em;
	padding:0.1em 0.3em;
}
.pagination span.disabled {
	border:1px solid #EEEEEE;
	color:#DDDDDD;
	margin:0.2em;
	padding:0.1em 0.3em;
}


/* 	- - - - - - - - - - - - -
Flash
 - - - - - - - - - - - - - */

div.flash {
    padding:10px;
	margin-bottom: 10px; 
    font-weight:bold;
}

div.notice {
    border: 1px solid green;
	background-color: #DDFFDD;    
}

div.error {
    border: 1px solid red;
	background-color: #FFDDDD;    
}

div.flash ul {
	list-style: square;
	margin-left: 10px;
}
