html, body { 
  margin: 0;
  padding: 0;
}

html {
	background: #f5f3ee;
	color: #515151;
	font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
	font-size: 62.5%;
	letter-spacing: 0;
	overflow-y: scroll;
	padding-top: 22px;
}

* {
	outline-width: 0px;
	outline-style: none;
	margin: 0;
	padding: 0;
}

a, a:link, a:visited {   
	color: #6091d9;
	text-decoration: none;
}

a:hover, a:active {
	color: #1d62c9;
	text-decoration: none;
}

img { 
    border:none;
}

.clear {
  	clear: both;
}

p {
	font-size: 1.1em;
}

.subtitle {
	font-size: 1.3em;
}

strong {
	font-weight: bold;
}

h1 {
	color: #2d2d2d;
	font-size: 1.8em;
	font-weight: normal;
	margin-bottom: 5px;
}

h2 {
	font-size: 1.6em;
	font-weight: normal;
	margin-bottom: 2px;
}

h2 a, h2 a:link, h2 a:visited {
	color: #717171;
}

h2 a:hover, h2 a:active {
	color: #515151;
}

h3 {
	font-size: 1.5em;
	font-weight: normal;
	margin-top: 1px;
	margin-bottom: 9px;
}

ul {
	list-style-type: none;	
}

.hr {
	border : 0;
	height : 15px;
	background : url(../images/slices-h.png) repeat-x 0 -182px;
	margin: 14px 0 0 0;
}

.floatright {
	float: right;
}

.floatleft {
	float: left;
}

/* WRAPPER */
.wrapper {
 	clear: both;
 	display: block;
	margin: 0 auto;
	min-width: 990px;
	padding: 0;
	position: relative;
	width: 990px;
}

/* HEADER */
#header {
	display: block;
}

/* INDENT */
.indent {
	padding-left: 1px;
}

/* BUTTONS */
button {
    background: none;
    border: none;
    padding-right: 2px;
}

button div {
    position: relative;
}

button div a {
    display: block;
    position: relative;
}

/* BUTTON */
button.normal {
    display: block;
    height: 32px;
    overflow: hidden;
}

button.normal div {
	height: 31px;	
}

button.normal div a {
	font-size: 1.2em;
	font-weight: bold;
	height: 27px;
	padding: 6px 8px 0 8px;
	text-align: center;
}

button.normal.green div {
	background: url(../images/image-sprite.png) no-repeat 0 -202px;
}

button.normal.green div a {
	background: url(../images/image-sprite.png) no-repeat right -234px;
	color: #4d9148;
}

button.normal.green div a:hover {
    color: #515151;
}

/* SMALL BUTTON */
button.small div {
    font-weight: bold;
    height: 22px;
    text-align: center; 
}

button.small div a {
    font-size: 1.2em;
    color: #727272;
    display: block;
    height: 20px;
}

button.small.green div {
    background: url(../images/image-sprite.png) no-repeat 0 -340px;
}

button.small.green div a {
    background: url(../images/image-sprite.png) no-repeat right -361px;
    color: #4d9148;
}

button.small.green div a:hover {
    color: #515151;
}

/* GREY */
.grey {
    background: #f0f0f0;
}
