/* CATEGORIES */
#categories {
	border-right: 1px solid #f0f0f0;
	left: -5px;
	padding-top: 28px;
	padding-right: 6px;
	position: relative;
	top: -23px;
	width: 167px;
}

#categories li {
	list-style-type: none;
}

#categories h2 {
	font-size: 1.6em;
	padding-bottom: 3px;
}

#categories ul {
	padding-bottom: 14px;
}

#categories li ul li {
	margin-bottom: 6px;	
}

#categories li ul li a, #categories li ul li a:link, #categories li ul li a:visited {
	font-size: 1.2em;
	color:#999999;
}

#categories li ul li a:hover, #categories li ul li a:active {
	color: #515151;
}

/* TOPFILTER */
#topfilter {
	border-bottom: 1px solid #e3e3e3;
	height: 36px;
	position: absolute;
	top: -10px;
	right: 1px;
	width: 566px;
}

/* TOPFILTER SORT */
#topfilter .sort {
	background: none;
	float: right;
	position: relative;
	top: 10px;
	width: 140px;
}

#topfilter .sort .select {
	position: absolute;
	height: 20px;
	color: #858585;
	overflow: hidden;
	padding: 0 0 0 20px;
	text-align: right;
	width: 120px;
}

#topfilter .sort .arrow {
	background: url(../images/image-sprite.png) no-repeat -53px -37px;
	height: 6px;
	position: absolute;
	top: 5px;
	right: 6px;
	width: 7px;
}

#topfilter .sort select {
	border: 0;
	padding: 4px 4px 2px 4px;
}

/* TOPFILTER AVAILABILITY */
#topfilter .availability {
	float: right;
	position: relative;
	top: 10px;
}

