/* CATEGORIES */
#categories {
	border-right: 1px solid #e3e3e3;
	float: left;
	left: -5px;
	margin-bottom: -46px;
	padding-top: 23px;
	padding-right: 6px;
	position: relative;
	top: -18px;
	width: 167px;
	z-index: 99;
}

#categories li {
	list-style-type: none;
}

#categories h2 {
	font-size: 1.6em;
	padding-bottom: 3px;
}

#categories ul {
	padding-bottom: 14px;
}

#categories li ul li {
	margin-bottom: 6px;	
}

#categories li ul li a, #categories li ul li a:link, #categories li ul li a:visited {
	font-size: 1.2em;
	color:#999999;
}

#categories li ul li a:hover, #categories li ul li a:active {
	color: #515151;
}

/* TOPFILTER */
#topfilter {
	border-bottom: 1px solid #e3e3e3;
	color: #858585;
	height: 36px;
	padding-right: 12px;
	position: absolute;
	top: -10px;
	right: 1px;
	width: 554px;
}

/* TOPFILTER SORT */
#topfilter .sort {
	background: none;
	border-right: 1px solid #e2e0de;
	float: right;
	position: relative;
	top: 10px;
	width: 140px;
}

#topfilter .sort .select {
	position: absolute;
	height: 20px;
	overflow: hidden;
	padding: 4px 25px 0 0;
	text-align: right;
	width: 115px;
}

#topfilter .sort .arrow {
	background: url(../images/image-sprite.png) no-repeat -53px -37px;
	height: 6px;
	position: absolute;
	top: 8px;
	right: 10px;
	width: 7px;
}

#topfilter .sort select {
	border: 0;
	padding: 4px 4px 2px 4px;
}

/* TOPFILTER AVAILABILITY */
#topfilter .availability {
	float: right;
	margin: 0 0 0 15px;
	padding: 1px 0 0 0;
	position: relative;
	top: 10px;
}

#topfilter .availability .date {
	background: url(../images/image-sprite.png) no-repeat 0 -312px;
	border: none;
	color: #858585;
	font-size: 1.0em;
	height: 18px;
	padding: 0 10px 0 7px;
	width: 57px;
}

#topfilter .availability .check {
	margin-left: 8px;
}

/* MODEELIST */
#modellist {
	border-left: 1px solid #e3e3e3;
	float: right;
	margin-right: -23px;
	top: 19px;
	position: relative;
	right: 7px;
	vertical-align: center;
	width: 569px;
}

#modellist .item {
	border-bottom: 1px solid #e3e3e3;
	height: 70px;
	display: block;
}

#modellist .image img {
	height: 50px;
	width: auto;
}
