/* MODEL  */
#model h3 {
	padding-bottom: 8px;	
}

#model .button {
	position: absolute;
	right: 20px;
	top: 10px;
}

/* MODEL IMAGES */
#model #images {
    float: left;
    width: 50px;
}

#model #images img {
    height: auto;
    margin-bottom: 5px;
    width: 50px;
}

#model #images a {
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
} 

/* MODEL BIGIMAGE */
#model #bigimage {
   position: relative;
   float: right;
   width: 660px;
}

#model #bigimage img {
	width: 100%;
	height: auto;
}

/* MODEL DESCRIPTION */
#model p.description {
	color: #515151;
	font-size: 1.5em;
	padding-top: 8px;
}

/* MODEL DETAILS */
#model .details tr td {
	color: #515151;
	display: inline-block;
	font-size: 1.1em;
	line-height: 1.5em;
	padding: 8px 0;
	position: relative;
	top: 0;
	vertical-align: top;
}

#model .details tr:nth-child(odd)  {
    background: #f0f0f0;
}

#model .details .key {
	color: #999;
	margin-right: 8px;
	padding-left: 12px;
	width: 180px;
}

#model .details .value {
    border-left: 1px solid #FFF;
    padding-left: 12px;
    padding-right: 12px;
	width: 488px
}

/* MODEL SUGGESTED ITEMS */
#model #suggested .item {
    float: left;
}

#model #suggested .item h3 {
    
}
