#model .button {
  position: absolute;
  right: 20px;
  top: 10px; }
#model #images {
  float: left;
  padding-top: 10px;
  width: 50px; }
  #model #images a {
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in; }
  #model #images img {
    height: auto;
    margin-bottom: 5px;
    width: 50px; }
#model #bigimage {
  padding-top: 10px;
  position: relative;
  float: right;
  width: 660px; }
  #model #bigimage img {
    width: 100%;
    height: auto; }
#model .description {
  color: #515151;
  font-size: 1.3em;
  padding: 0 0 12px 6px; }
#model .details tr td {
  color: #515151;
  display: inline-block;
  font-size: 1.1em;
  line-height: 1.5em;
  padding: 8px 0;
  position: relative;
  top: 0;
  vertical-align: top; }
#model .details tr:nth-child(odd) {
  background: #f0f0f0; }
#model .details .key {
  color: #999;
  margin-right: 8px;
  padding-left: 12px;
  width: 180px; }
#model .details .value {
  border-left: 1px solid #FFF;
  padding-left: 12px;
  padding-right: 12px;
  width: 488px; }
#model #suggested .row {
  padding-top: 8px;
  padding-bottom: 32px; }
  #model #suggested .row .cell {
    float: left;
    margin-right: 20px;
    width: 164px; }
    #model #suggested .row .cell img {
      height: 80px;
      max-width: 160px; }
    #model #suggested .row .cell h3 {
      height: 36px;
      padding-top: 6px;
      overflow: hidden; }
    #model #suggested .row .cell p {
      height: 40px;
      overflow: hidden; }
  #model #suggested .row .cell:nth-child(4n) {
    margin-right: 0; }
