/* SEARCH */
#search {
  position: relative;
  width: 150px;
  z-index: 3; }

#search .borderleftround {
  background: url(../images/image-sprite.png) no-repeat -32px 0;
  display: block;
  float: left;
  height: 28px;
  position: relative;
  width: 6px; }

#search .borderrightstraight {
  background: url(../images/image-sprite.png) no-repeat -39px 0;
  display: block;
  float: left;
  height: 28px;
  position: relative;
  width: 6px; }

#search .inner {
  background: url(../images/slices-h.png) repeat-x 0 -125px;
  height: 34px;
  float: left; }

/* SEARCH CONTAINER */
#search .inner .container {
  background: url(../images/slices-h.png) repeat-x 0 -160px;
  height: 21px;
  margin-left: 6px;
  margin-right: 6px;
  position: relative;
  top: 4px; }

#search .inner .container .borderleft {
  background: url(../images/image-sprite.png) no-repeat -46px 0;
  display: block;
  height: 21px;
  left: -6px;
  position: absolute;
  top: 0;
  width: 6px; }

#search .inner .container .borderright {
  background: url(../images/image-sprite.png) no-repeat -46px -22px;
  display: block;
  height: 21px;
  right: -6px;
  position: absolute;
  top: 0;
  width: 6px; }

#search .inner .container .input {
  background: none;
  border: none;
  height: 19px;
  margin-left: -4px;
  padding-left: 6px;
  padding-right: 16px;
  position: relative;
  top: 2px;
  width: 90px;
  z-index: 1; }

#search .inner .container .button {
  background: none;
  border: none;
  cursor: pointer;
  height: 21px;
  position: absolute;
  right: -6px;
  top: 0;
  width: 20px; }
