/* 	- - - - - - - - - - - - -
Tables
 - - - - - - - - - - - - - */

table {
	border-collapse: collapse;
	width: 100%;
	border: 1px solid #b2b2b2;
	background: #fff;
}

table th, table td {
	margin: 0;
	padding: 8px 20px;
	text-align: center;
	text-align: left;
	vertical-align: middle;
}

table tr {
	background: #f1f1f1;
	border: 1px solid #b2b2b2;
}

table tr.alt-row {
	background: #f8f8f8;
}

table tr.line_header {
	background: #DDDDDD;
}

table tr.line_header td.title {
	color: black;
	font-size: 1.2em;
	font-weight: bold;
}

table th {
	background: #888;
	color: #e2e2e2;
}

.table-overview {
	margin-bottom: 2em;
}

/* Classes */

.fresh {
	font-weight: bold !important;
}

#controller div.result {
	margin: 0 20px 0 20px;
}

#controller div {
	display: inline;
}

