/* 	- - - - - - - - - - - - -
Tables
 - - - - - - - - - - - - - */

table {
	border-collapse: collapse;
	width: 100%;
	border: 1px solid #b2b2b2;
	background: #fff;
}

table th, table td {
	margin: 0;
	padding: 8px 20px;
	text-align: center;
	border: 1px solid #b2b2b2;
	text-align: left;
	vertical-align: middle;
}

table tr {
	background: #f1f1f1;
}

table tr.alt-row {
	background: #f8f8f8;
}

table th {
	background: #888;
	color: #e2e2e2;
}

/* Classes */

.fresh {
	font-weight: bold !important;
}

