/* USER */
#user table {
	font-size: 1.1em;
}

#user table tr .label {
	color: #717171;
	padding-right: 10px;
	text-align: right;
	width: 107px;
}

#user .value {
	font-weight: bold;
	width: 200px;
}

#user section {
	margin-bottom: 14px;
}

/* ITEMS */

#user .timeframe {
    color: #717171;
}

#user .purpose {
	font-weight: bold;
}

#user .line li {
    display: inline-block;
    margin-right: 7px;
    max-width: 415px;
    overflow: hidden;
    padding: 0 0 8px;
    position: relative;
}


/*booked items*/

#user #booked {
	font-size: 1.1em;
}

#user #booked .cancel a {
    color: #999999;
}

#user #booked .cancel a:hover {
	color: #515151;
}



/*overdue items*/


#user #overdue {
	font-size: 1.1em;
	color: #999999;
}

#user #overdue .timeframe {
	color: #EE0000;
}

#user #overdue .purpose a {
	color: #EE0000;
}

#user #overdue .overdue {
	color: #EE0000;
}


/*rented items*/

#user #rented {
	font-size: 1.1em;
}

