<%= error_messages_for 'reservation' %>

<!--[form:reservation]-->
<p><label for="reservation_lock_version">Lock version</label><br/>
<%= text_field 'reservation', 'lock_version'  %></p>

<p><label for="reservation_updated_on">Updated on</label><br/>
</p>

<p><label for="reservation_created_on">Created on</label><br/>
</p>

<p><label for="reservation_prioritaet">Prioritaet</label><br/>
<%= text_field 'reservation', 'prioritaet'  %></p>
<!--[eoform:reservation]-->

