<tr>
	<th class="aussen_abstand">&nbsp;</th>
	<th>&nbsp;</th>
	<th>ID</th>
	<th>S</th>
	<th>von</th>
	<th>bis</th>
	<th>Kunde</th>
	<th>A</th>
	<th id="maxbreit">Paket</th>
	<th>B</th>
	<th class="aussen_abstand">&nbsp;</th>
</tr>
