<%= render :partial => 'reservations/res_ueberschrift', :locals => { :reservation => reservation } %>
	
	<%= render :partial => 'reservations/reservation_teil_oben', :locals => { :reservation => reservation } %>
	
	<hr size="1"/>
	<br/>
		
	<%= render :partial => 'reservations/reservation_teil_unten', :locals => { :reservation => reservation } %>
	
</div>
