<% # --- LOCALS ---
# reservation - Reservation, deren Zubehoer ausgetauscht werden soll
# zubehoer - das Zubehoer, das ausgetauscht werden soll
@zubehoer = zubehoer
-%>
<td class="kein_umbruch">
  <%= check_box 'zubehoer[]', 'zurueck' %>
  <%= text_field 'zubehoer[]', 'anzahl', :size => 3, :style => 'width: auto;' %>
</td>
<td class="maxbreit">
  <%= zubehoer.beschreibung %>
</td>
