<div class="blatt">
	<%= render :partial => 'gemeinsam/flashs' %>
	<%= error_messages_for 'reservation' %>
	
	<%= render :partial => 'reservations/show', :locals => { :reservation => @reservation } %>
</div>