#list-tabs.inline-tab-navigation

  %a.inline-tab-item{class: ("active" unless session[:params].try(:fetch, :type, nil))}
    = _("All")

  %a.inline-tab-item{data: {type: "item"}, class: (session[:params].try(:fetch, :type, nil) == "item" ? "active" : nil)}
    = _("Models")

  %a.inline-tab-item{data: {type: "option"}, class: (session[:params].try(:fetch, :type, nil) == "option" ? "active" : nil)}
    = _("Options")

  %a.inline-tab-item{data: {type: "license"}, class: (session[:params].try(:fetch, :type, nil) == "license" ? "active" : nil)}
    = _("Software")
