:ruby
  key = "#{_("Allocations")}"
  if @model.persisted?
    key += " (#{_("max. %s") % @model.items.where(inventory_pool_id: current_inventory_pool).borrowable.count})"
  end

#allocations
  = render :layout => "manage/fields/field", :locals => {key: key, entries: @model.partitions, entry_partial: "manage/models/form/model/allocation_inline_entry"} do
    .row
      %input.has-addon.width-full{:"data-type" => "autocomplete", :type => :text, :autocomplete => :off, :placeholder => _("Group")}
      .addon.transparent
        %i.arrow.down