.row.line.font-size-xs.focus-hover-thin{:"data-type" => "inline-entry"}
  
  - unless @item
    %input{:type => :hidden, :name => "model[attachments_attributes][#{entry.id}][id]", :value => entry.id}
    %input{:type => :hidden, :name => "model[attachments_attributes][#{entry.id}][_destroy]"}

  .line-col.col7of10.text-align-left
    %a.blue{:href => entry.public_filename, :target => "_blank"}
      = entry.filename

  .line-col.col3of10.text-align-right
    - unless @item
      %button.button.small.inset{:"data-remove" => true, :type => :button}= _("Remove")
