#attachments
  = render :layout => "manage/fields/field", :locals => {key: _("Attachments"), entries: @model.attachments.reverse, entry_partial: "manage/models/form/attachment_inline_entry"} do
    .row
      .col1of3
      .col2of3
        %button.button.inset.width-full{:"data-type" => "select"}= _("Select File")
        %input.invisible.height-full.width-full.position-absolute-topleft{:type => :file, :autocomplete => :false}