.row.list-of-lines

  .row.line
    .line-col.col1of4 .line-col
    .line-col.col1of4 .line-col
    .line-col.col1of4 .line-col
    .line-col.col1of4 .line-col
  .row.line
    .line-col.col1of4 .line-col
    .line-col.col1of4 .line-col
    .line-col.col1of4 .line-col
    .line-col.col1of4 .line-col
  .row.line
    .line-info.red
    .line-col.col1of4 .line-info
    .line-col.col1of4 .line-col
    .line-col.col1of4 .line-col
    .line-col.line-actions.col1of4
      .button.white.text-ellipsis .line-actions .line-actions
  .row.line
    .line-col.col1of4 .line-col
    .line-col.col1of4 .line-col
    .line-col.col1of4 .line-col
    .line-col.col1of4 .line-col

.row.list-of-lines.even.margin-top-m

  .row.line
    .line-col.col1of4 .line-col
    .line-col.col1of4 .line-col
    .line-col.col1of4 .line-col
    .line-col.col1of4 .line-col
  .row.line
    .line-col.col1of4 .line-col
    .line-col.col1of4 .line-col
    .line-col.col1of4 .line-col
    .line-col.col1of4 .line-col
  .row.line
    .line-info.red
    .line-col.col1of4 .line-info
    .line-col.col1of4 .line-col
    .line-col.col1of4 .line-col
    .line-col.line-actions.col1of4
      .button.white.text-ellipsis .line-actions .line-actions
  .row.line
    .line-col.col1of4 .line-col
    .line-col.col1of4 .line-col
    .line-col.col1of4 .line-col
    .line-col.col1of4 .line-col