.row.text-align-right
  .multibutton
    %button.button.white.text-ellipsis
      = _("Approve")
    .button.white.dropdown-toggle
      .arrow.down
    %ul.dropdown.right
      %li
        %a.dropdown-item= _("Edit")
      %li
        %a.dropdown-item= _("Hand Over")
      %li
        %a.dropdown-item= _("Reject")