.inline-tab-navigation
  .inline-tab-item.active{:"data-tab-toggle" => "orders"} Orders
  .inline-tab-item{:"data-tab-toggle" => "visits"} Visits
  .inline-tab-item{:"data-tab-toggle" => "contracts"} Contracts

.row.active{:"data-tab-target" => "orders"} Orders Orders Orders Orders
.row{:"data-tab-target" => "visits"} Visits Visits Visits Visits 
.row{:"data-tab-target" => "contracts"} Contracts Contracts Contracts Contracts 