%div{:"data-field_id" => "${id}", :class => "field ${type}{{if $item.removable}} has-removeable{{/if}}{{if required}} required{{/if}}{{if editable}} editable{{/if}}"}
  
  {{if $item.removable}}
  %a.removable.icon.clear
  {{/if}}
  
  %h3.key 
    ${label}
    {{if required}}
    *
    {{/if}}

  .value

    {{if editable}}

    {{tmpl "app/views/inventory/edit/input"}}
    
    {{/if}}

    {{tmpl "app/views/inventory/edit/readonly"}}
    
  .clear