= form_tag '${$item.target_url}', :remote => true, :"data-submit_button" => true do

  %h1
    ${_jed("Edit purpose for order from")}
    ${user.firstname} ${user.lastname}
  %p.subtitle
    ${_jed(quantity, "Item", "Items")}
    ${_jed("for max.")}
    ${$range = App.Line.getMaxRange(lines), ""}
    ${range}
    ${$range, "day", "days in a row"}
  
  .navigation
    %button.button.white.close_dialog
      .icon.return
      ${_jed("Back")}
    %button.button.green{:type => "submit", :"data-on_success" => '${$item.on_success}'}
      ${_jed("Save")}
   
  %hr
  %section.lines.scalable
    ${$grouped_lines = App.Line.groupByDateRanges(lines), ""}
    {{tmpl($grouped_lines) "tmpl/dialog/summary/linegroup"}}
    
  %section.edit_purpose
    %textarea#purpose.focus{:name => "purpose"}
      {{if purpose}}${purpose.description}{{/if}}
