${$item.start_date = new Date(start_date.replace(/-/g, "/")), ""}
${$item.end_date = new Date(end_date.replace(/-/g, "/")), ""}
${$item.days = Math.round(($item.end_date-$item.start_date) / (1000 * 60 * 60 * 24)+1), ""}

.topline
  .date
    {{html moment($item.start_date).format(i18n.date.L)}}
    
    = "-"
    {{html moment($item.end_date).format(i18n.date.L)}}
  .range
    ${Math.round(($item.end_date - $item.start_date) / (1000 * 60 * 60 * 24)+1)}
    = _("Days")
    
.clear
.list
  {{each(i, line) lines}}
  %ul{:class => "line {{if !line.is_available}} unavailable{{/if}}"}
    .container
      %li.quantity
        ${line.quantity}
      %li.model
        ${line.model.name}
    {{if !line.is_available}}
    %li.availability
      = _("Unavailable")
    {{/if}}
  {{/each}}  