= form_tag '${$item.target_url}', :remote => true, :"data-submit_button" => true, :class => "summary" do
  
  %h1
    ${_jed("Order from")}
    ${user.firstname} ${user.lastname}
  %p.subtitle
    ${_jed(quantity, "Item", "Items")}
    ${_jed("for max.")}
    ${$range = App.Line.getMaxRange(lines), ""}
    ${range}
    ${$range, "day", "days in a row"}
  
  .navigation
    %button.button.white.close_dialog
      .icon.return
      ${_jed("Back")}
    %button.button.red{:type => "submit", :"data-on_success" => '${$item.on_success}'}
      ${_jed("Reject")}
      
  .flash_message
  
  %section.purpose.highlighted
    %label ${_jed("Purpose")}
    %p= "${purpose.description}"  
  
  %hr

  %section.lines.scalable
    ${$grouped_lines = App.Line.groupByDateRanges(lines), ""}
    {{tmpl($grouped_lines) "tmpl/dialog/summary/linegroup"}}
  
  %section.comment
    = text_area_tag "comment", "", :class => "focus"
    %p.hint
      ${_jed("Write a comment. The comment will be part of the rejection e-mail.")}

  %br
