.emboss.padding-inset-m

  .row

    .col7of8.padding-right-m
      .margin-bottom-xs= _("Purpose")
      %p#purpose.paragraph-s.line-height-s= @purpose

    .col1of8.text-align-right
      %button#edit-purpose.button.white= _("Edit Purpose")