.padding-top-m.padding-left-m.padding-bottom-m

  .multibutton{:disabled => :disabled}
    %button.button.white{:disabled => :disabled, :"data-selection-enabled" => true, :"data-edit-lines" => "selected-lines", :autocomplete => :off}
      = _("Edit Selection")
      %span#line-selection-counter.badge.dark 0
    .dropdown-holder.inline-block
      .button.white.dropdown-toggle
        .arrow.down
      %ul.dropdown.right
        %li
          = render partial: 'manage/templates/print_selection', locals: {type: "value_list"}
        %li
          %a.dropdown-item.red{:"data-destroy-selected-lines" => true}
            %i.fa.fa-trash
            = _("Delete Selection")
