- content_for :title, _("Edit")
- content_for :manage_section, "active"

.wrapper.margin-top-m

  = render :partial => 'manage/tabs/manage', :locals => {:active_tab => :buildings}

  .row.content-wrapper.min-height-xl.min-width-full.straight-top

    = render partial: "manage/buildings/show"
