.ui-dialog.acknowledge {
  .list {
    .line {
      &.unavailable {
        background: $highlight-red !important;
      }
      
      li.model {
        width: 500px;
      }
      
      li.availability {
        font-weight: bold;
        padding-right: 12px;
        text-align: right;
      }
      
      &:hover {
        border-bottom: 1px solid $borderlightergrey !important;
      }
    }
  }
  
  .comment {
    display: none;
  }
  
  &.with_comment {
    .comment {
      display: block;
    }
  }
}