@import "../../shared/variables";

.ui-dialog.acknowledge {
  
  .purpose {
    background: $highlight-grey;
    position: relative;
    padding: 4px 24px 6px;
    margin-top: 12px;
    left: -17px;
    width: 708px;
    
    p {
      padding-top: 2px;
      font-size: 1.2em;
    }
  }
  
  .list {
    .line {
      &.unavailable {
        background: $highlight-red !important;
      }
      
      li.model {
        width: 500px;
      }
      
      li.availability {
        font-weight: bold;
        padding-right: 12px;
        text-align: right;
      }
      
      &:hover {
        border-bottom: 1px solid $borderlightergrey !important;
      }
    }
  }
  
  .comment {
    display: none;
  }
  
  &.with_comment {
    .comment {
      display: block;
    }
  }
}