@import "shared/mixins";
@import "shared/variables";

.ui-dialog.calendar {
  
  .calendar_input {
    display: inline-block;
    float: right;
    position: relative;
    top: 21px;
    z-index: 9999;
    
    .container {
      display: block;
      float: left;
      position: relative;
      margin: 20px 16px 2px 0;
      
      label {
        cursor: pointer;
        color: $grey;
        position: absolute;
        top: -16px;
        left: 0;
      }
      
      input{
        height: 23px;
      }
      
      &.inventorypool {display: none;}
      
      &.partition {
        position: absolute;
        right: 288px;
        width: 140px;
        
        .select {
          background: white;
          border: 1px solid #d0d0d0;
          cursor: pointer;
          display: block;
          font-size: 1.2em;
          height: 19px;
          padding-top: 4px;
          position: relative;
          width: 100%;
          @include border-radius(4px);
          
          .name {
            font-weight: bold;
            padding-left: 6px;
          }
          
          .arrow {
            background: url($image-sprite) no-repeat -53px -37px;
            display: block;
            height: 6px;
            position: absolute;
            right: 5px;
            top: 9px;
            width: 7px;
            @include opacity(0.6);
          }
        }
        
        select {
          cursor: pointer;
          font-size: 1.2em;
          height: 24px;
          left: 0;
          padding-right: 8px;
          position: absolute;
          top: 0;
          width: 100%;
          @include opacity(0);
        }
        
        &:hover {
          .select {
            .arrow {
              @include opacity(1);
            }
          }
        }
      }
      
      &.quantity {
        &.hidden {display: none;}
    
        input {
          font-size: 1.4em;
          padding-right: 12px;
          text-align: center;
          width: 30px;
        }
        
        >div {
          display: block;
          height: 12px;
          position: absolute;
          right: 0;
          top: 0;
          width: 11px;
        }
        
        .icon {
          display: block;
          height: 5px;
          position: relative;
          left: 1px;
          width: 5px;
          @include opacity(0.6);
        }
        
        div:hover {
          .icon {
            @include opacity(1.0);
          }
        }
            
        .increase .icon {
          background: url($image-sprite) no-repeat -65px -37px;
          top: 6px;
        }
        
        .decrease {
          top: 12px;
        
          .icon {
            top: 3px;
            background: url($image-sprite) no-repeat -65px -43px;
          } 
        }
      }
      
      &.date {
        margin-right: 0;
        
        input {
          padding-right: 6px;
          padding-left: 5px;
          width: 80px;
          
          &:disabled {
            border: none !important;
            background: none !important;
            padding-left: 0;
            padding-right: 0;
            @include box-shadow(0 0 0 transparent);
          }
        }
        
        &>div {
          float: left;
           position: relative;
        }
        
        .dash {
          padding: 7px 6px 0 6px;
        }
        
        label {
          .icon {
            position: relative;
            top: -2px;
            @include opacity(0.6);
            &:hover {
              @include opacity(1.0);
            }
          }
        }
      }
    }
  }
  
  #fullcalendar {
    margin-bottom: -13px;
    position: relative;
    top: -13px;
    height: 567px;
  }
  
  .list {
    margin-top: 1px;
    margin-left: 3px;
    margin-right: 2px;
    
    .line {
      border-bottom: 1px solid #E5E5E5;

      &.unavailable {
        background-color: $lightred !important;
        border-bottom: 1px solid $red;
      }
      
      &:hover {
        z-index: 99999;
      }
      
      .selection {
        display: none;
      }
      
      .name {
        padding-left: 10px;
        width: 355px;
      }
      
      .amount {
        width: 135px;
      }
      
      .actions {
        text-align: right;
        position: absolute;
        right: 0;
        width: 165px;
        
        .button, .multibutton {
          @include opacity(1.0);
        }
      }

      .unavailable_ranges {
        font-size: 1.0em;
        font-weight: bold;
        letter-spacing: 0;
        width: 200px;
      }
      
      &:nth-child(1) {
        border-top: none;
      }
    }
  }
  
  &.multiple {
    .list {
      
      .selection {
        display: table-cell;
        padding-left: 10px;
        width: 10px;
        
        input {
          cursor: pointer;
          z-index: 99999;
        }
      }
      
      .name {
        padding-left: 0;
        width: 335px;
      }
    }
  }
  
  #fullcalendar {

    .loading {
      left: 48%;
      margin: 0 auto;
      position: relative;
      top: 190px;

      img {
        height: auto;
        width: 36px;
      }
    }
    
    .fc-header-left {
      text-align: left;
      width: 140px;
    }
    
    .fc-header-right {
      text-align: left;
      width: 550px;
    }
  }
}