@import "shared/variables"

.ui-dialog.hand_over 
  
  .purpose 
    
    p:not(.hint) 
      padding-top: 2px
      float: left
      font-size: 1.2em
      width: 80%
    
    label 
      display: block
    
    .button 
      float: right
      margin-bottom: -11px
      margin-right: 0
      position: absolute
      top: 5px
    
    .add_purpose 
      display: none
      
      #purpose 
        height: 36px
        width: 97.5%

    &.none 
      .add_purpose  
        display: block 
      .button  
        display: none 