@import "shared/mixins"
@import "shared/variables"

.ui-dialog.inspect
  
  label
    background: $highlight-grey
    border: 1px solid $highlight-darkergrey
    cursor: pointer
    display: inline-block
    float: left
    font-size: 1.2em
    margin: 2px 6px
    padding: 26px 10px 6px 10px
    position: relative
    @include border-radius(4px)

    .text 
      position: absolute
      top: 6px
      left: 8px