@import "shared/mixins"
@import "shared/variables"

.ui-dialog.swap_user
  
  .new

    &.set
      .input_container *
        display: none
      .input_container label
        display: block

  .user.line
    font-size: 1.2em
    background: white
    border: 1px solid #E0DFDE
    color: $darkgrey
    display: block
    padding: 4px 0 4px 8px
    position: relative
    width: 100%
    @include border-radius(4px)

    .clear.icon
      cursor: pointer
      position: absolute
      right: 6px
      top: 4px
      @include opacity(0.7)

      &:hover
        @include opacity(1.0)
