@import "shared/mixins"

.ui-dialog.timeline

	.loading
		height: 40px
		left: 47%
		position: relative
		top: 150px
		margin-bottom: -50px
		z-index: 1
		width: 40px
		@include opacity(0.4)

	#timeline
		position: relative
		z-index: 1000