.row.line.font-size-xs{:"data-index" => "{{>i}}"}
  %input{:type => :hidden, :name => "inventory_pool[holidays_attributes][{{>i}}][name]", :value => "{{>name}}"}
  %input{:type => :hidden, :name => "inventory_pool[holidays_attributes][{{>i}}][start_date]", :value => "{{>start_date}}"}
  %input{:type => :hidden, :name => "inventory_pool[holidays_attributes][{{>i}}][end_date]", :value => "{{>end_date}}"}
  .line-col.col1of4.text-align-left
    %strong {{>name}}
  .line-col.col2of4.text-align-left
    {{>start_date}} - {{>end_date}}
  .line-col.col1of4
    %button.button.inset.small{:"data-remove-holiday" => true} {{jed "Delete"/}}
