.row.margin-bottom-m

  .col1of2
    .headline-s.padding-vertical-s.text-align-center .headline-s
    .headline-m.padding-vertical-s.text-align-center .headline-m
    .headline-l.padding-vertical-s.text-align-center .headline-l
    .headline-xl.padding-vertical-s.text-align-center .headline-xl
    .headline-xxl.padding-vertical-s.text-align-center .headline-xxl

  .col1of2
    .headline-s.light.padding-vertical-s.text-align-center .headline-s.light
    .headline-m.light.padding-vertical-s.text-align-center .headline-m.light
    .headline-l.light.padding-vertical-s.text-align-center .headline-l.light
    .headline-xl.light.padding-vertical-s.text-align-center .headline-xl.light
    .headline-xxl.light.padding-vertical-s.text-align-center .headline-xxl.light