.row.margin-bottom-m
  %h4.headline-s.light.padding-vertical-m.padding-left-m p
  .padding-inset-m.margin-bottom-m
    %p= "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean arcu est, faucibus eu cursus a, gravida in purus. Suspendisse tempus lobortis elit, et ultrices erat vulputate in. Duis in mi nulla. Aliquam eget turpis vitae dui vehicula consequat. Quisque eget velit at lacus fermentum tristique. Maecenas ultrices tempor turpis in egestas. Phasellus augue elit, feugiat at tempus quis, rutrum vitae turpis."

.row.margin-bottom-m
  %h4.headline-s.light.padding-vertical-m.padding-left-m p.paragraph-xs
  .padding-inset-m.margin-bottom-m
    %p.paragraph-xs= "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean arcu est, faucibus eu cursus a, gravida in purus. Suspendisse tempus lobortis elit, et ultrices erat vulputate in. Duis in mi nulla. Aliquam eget turpis vitae dui vehicula consequat. Quisque eget velit at lacus fermentum tristique. Maecenas ultrices tempor turpis in egestas. Phasellus augue elit, feugiat at tempus quis, rutrum vitae turpis."

.row.margin-bottom-m
  %h4.headline-s.light.padding-vertical-m.padding-left-m p.paragraph-s
  .padding-inset-m.margin-bottom-m
    %p.paragraph-s= "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean arcu est, faucibus eu cursus a, gravida in purus. Suspendisse tempus lobortis elit, et ultrices erat vulputate in. Duis in mi nulla. Aliquam eget turpis vitae dui vehicula consequat. Quisque eget velit at lacus fermentum tristique. Maecenas ultrices tempor turpis in egestas. Phasellus augue elit, feugiat at tempus quis, rutrum vitae turpis."

.row.margin-bottom-m
  %h4.headline-s.light.padding-vertical-m.padding-left-m p.paragraph-m
  .padding-inset-m.margin-bottom-m
    %p.paragraph-m= "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean arcu est, faucibus eu cursus a, gravida in purus. Suspendisse tempus lobortis elit, et ultrices erat vulputate in. Duis in mi nulla. Aliquam eget turpis vitae dui vehicula consequat. Quisque eget velit at lacus fermentum tristique. Maecenas ultrices tempor turpis in egestas. Phasellus augue elit, feugiat at tempus quis, rutrum vitae turpis."