%nav#navigation
  %ul
    
    %li.item.active
      .leftend
      = link_to _("Introduction"), "javascript: void(0)", :class => "anchor"
      
    -# %li.item
      -# .leftend
      -# = link_to _("Features"), "javascript: void(0)", :class => "anchor"