#print

:ruby
  with = {
          lines: {item: {}, model: {}, purpose: {}, returned_date: true},
          user: {email: true, address: true, city: true, phone: true, badge_id: true}
          }
  contract_json = render(:partial => "backend/contracts/show.json.rjson", :locals => {contract: @contract, with: with})

:coffeescript    
  jQuery ->
    $('#print').html($.tmpl("tmpl/print/contract", #{contract_json}))
