%nav#navigation
  %ul
    
    %li.item.first{:class => current_page?(root_path) ? "active" : nil}
      .leftend
      = link_to _("Home"), root_path, :class => "anchor"
    
    - if @category
      %li.item{:class => current_page?(category_models_path(@category)) ? "active" : nil}
        .leftend
        %span.anchor
          = @category
