%nav#navigation
  %ul
    
    %li.item.first{:class => current_page?(categories_path) ? "active" : nil}
      = link_to categories_path, :class => "anchor" do
        .leftend
        = _("Home")
    
    - if @category
      %li.item{:class => current_page?(category_models_path(@category)) ? "active" : nil}
        %span.anchor
          .leftend
          = @category
