%nav#navigation
  %ul
    
    %li.item.first
      .leftend
      %a.anchor
        = _("Home")
    
    %li.item
      .leftend
      %a.anchor
        = "Audio"
        
    %li.item.active
      .leftend
      %a.anchor
        = "Speakers"