%section#search
  .inner
    = form_tag("") do
      %input{:type => "text"}
      = submit_tag "", :class => "icon"
    .borderright

:javascript
  $(document).ready(function(){
    Search.setup();
  });
  
  var Search = new Search();

  function Search() {
  
    this.setup = function() {
      Search.setupBindings();
      Search.setupInput();
      Search.setupAutoComplete();
    }
    
    this.setupBindings = function() {
      $("#search input:text").bind("focus", function() {
        $(this).parents("#search").addClass("active");
      });
      
      $("#search input:text").bind("blur", function() {
        $(this).parents("#search").removeClass("active");
      });
    }
    
    this.setupAutoComplete = function() {
    
      $.widget("custom.catcomplete", $.ui.autocomplete, {
        _renderMenu: function( ul, items ) {
          var self = this;
          var categories = [];
          var lastItemType = "";
          
          $.each( items, function( index, item ) {
              if(item.type != lastItemType && index != 0) {
                ul.append('<li class="seperator"></li>');
              }
              
              var _item = $("<li class='" + item.type + "'></li>");
              _item.data("item.autocomplete", item);
              
              if(item.image) {
                _item.append("<table class='image'><tr><td></td></tr></table>")
                _item.find(".image tr td").append("<img src='" + item.image + "' alt=''/>");
              }
              
              _item.append("<a href='" + item.link + "'></a>")
              
              if(item.type == "category") {
                _item.append(", ");
              }
              
              var _label = item.label;
              var _regExp = new RegExp($("#search input:text").val(), "i" );
              var _match = _label.match(_regExp, $("#search input:text").val());
              _label = _label.replace(_regExp, "<span class='marked'>" + _match + "</span>");
              
              _item.find("a").append("<span class='label'>" + _label + "</span>");
              
              ul.append(_item);
              lastItemType = item.type;
          });
          
          ul.append('<li class="seperator"></li>')
        }
      });
      
      $("#search input:text").catcomplete({
        delay: 500,
        source: "/search",
        minLength: 2,
      	select: function(event, ui) {
      		window.location = ui.item.link;
      	},
      	appendTo: "#search",
      	position: {
          offset: "0 3"      	  
      	}
      });
      
      $("#search input:text").bind("focus", function(event){
        if($(event.target).val().length >= 2) {
          $(".ui-autocomplete").show();        
        }
      });
    }
    
    this.setupInput = function(){
      $("#search input[type=text]").bind("keyup", function(){
        Search.highlightText($(this).val());
      });
    }
    
    this.highlightText = function(highlightWord) {
      if(highlightWord.length > 1){
        $("#modellist .item .name").removeHighlight().highlight(highlightWord);
        $("#modellist .item .manufacturer").removeHighlight().highlight(highlightWord);
        $("#categories").removeHighlight().highlight(highlightWord);
        $(".aside #templates").removeHighlight().highlight(highlightWord);
        $("#iplist h3").removeHighlight().highlight(highlightWord);
        $("#iplist .address").removeHighlight().highlight(highlightWord);
        $("#iplist .categories").removeHighlight().highlight(highlightWord);
      } else {
        $(document).removeHighlight();
      }
    }
  }