= render :layout => "manage/fields/field", locals: {key: _("Hints"), entries: auto_link(@model.hints).split(/\r?\n/), entry_partial: "manage/models/form/software/hint_inline_entry"} do
  = text_area "model", "hints"
