
<div id="tabs">	
	<ul>
		<li <%= 'class="active"' if controller.action_name == "index" %>><%= link_to "<span>" + _("Acknowledge") + "<em> (#{@to_acknowledge_size})</em></span>",
																				:controller => 'acknowledge' %></li>

<% if session[:current_order] %>
		<li <%= 'class="active"' if controller.action_name == "show" %>><%= link_to "<span>" + _("Order:") + " " + session[:current_order][:user_login] + "</span>",
																			 :controller => 'acknowledge',
																			 :action => 'show',
																			 :id => session[:current_order][:id] %></li>
<% end %>
</ul>
</div>
