	<h2><%= _("Purpose") %></h2>
	<br />
	<% form_tag( { }, :name => "f", :target => "_top") do %>
	
	<%= text_area_tag 'purpose', @order.purpose, :size => "40x10" %>
	
	<div class="buttons">
		<%=	submit_button(_("Save"), {:img => $layout_public_path + "/images/icons/arrow_switch.png", :class => 'positive'} ) %>
				 		 
		<%=	cancel_popup_button(_("Cancel") ) %>
	</div>
	
	
	<% end %>
	