	<h2><%= _("Wollen Sie das Objekt wirklich löschen?") %></h2>
	<br />
	<div class="buttons">

		<%=	link_to(image_tag($layout_public_path + "/images/icons/cancel.png") + " " + _("Löschen"),
			 { :controller => 'acknowledge', :action => 'destroy', :id => params[:id] },
			 :class => 'negative', :method => :delete, :target=> '_top') %>
			
					 
		<%=	cancel_popup_button(_("Cancel") ) %>
	</div>	
	