	<h2><%= _("Wollen Sie das Objekt wirklich löschen?") %></h2>
	<br />
	<div class="buttons">

		<%=	link_to(image_tag($layout_public_path + "/images/icons/cancel.png") + " " + _("Löschen"),
			 backend_inventory_pool_user_acknowledge_path(@current_inventory_pool, @order.user, @order),
			 :class => 'negative', :method => :delete, :target=> '_top') %>
			
					 
		<%=	cancel_popup_button(_("Cancel") ) %>
	</div>	
	