%h2= _("Restore to the original order?")
%br
.buttons
  = link_to( icon_tag("disk") + " " + _("Restore"),
             { :action => 'restore', :id => @order },
               :class => 'positive', :method => 'post', :target=> '_top' )
  = cancel_popup_button(_("Cancel") )
