%form.indent.css-form{:name => "form", :novalidate => ""}

  .content_navigation
    %a.button.red{:href => "/backend/inventory_pools/{{current_inventory_pool_id}}/users/{{user.id}}"}
      {{_jed("Cancel Edit")}}
    %button.button.green{"ng-click" => "save()", "ng-disabled" => "form.$invalid"}
      {{_jed("Save %s", "User")}}

  .top
    %h1
      {{user.name | truncate:30}}


  .left
    %section
      .inner
        .field.text.editable
          %h3.key {{_jed("Last name")}}:
          .value
            .input
              %input{:type => "text", "ng-model" => "user.lastname"}
        .field.text.editable
          %h3.key {{_jed("First name")}}:
          .value
            .input
              %input{:type => "text", "ng-model" => "user.firstname"}
        .field.text.editable
          %h3.key {{_jed("Address")}}:
          .value
            .input
              %input{:type => "text", "ng-model" => "user.address"}
        .field.text.editable
          %h3.key {{_jed("Zip")}}:
          .value
            .input
              %input{:type => "text", "ng-model" => "user.zip"}
        .field.text.editable
          %h3.key {{_jed("City")}}:
          .value
            .input
              %input{:type => "text", "ng-model" => "user.city"}
        .field.text.editable
          %h3.key {{_jed("Country")}}:
          .value
            .input
              %input{:type => "text", "ng-model" => "user.country"}
        .field.text.editable
          %h3.key {{_jed("Phone")}}:
          .value
            .input
              %input{:type => "text", "ng-model" => "user.phone"}
        .field.text.editable
          %h3.key {{_jed("E-Mail")}}:
          .value
            .input
              %input{:type => "text", "ng-model" => "user.email"}


  .right
    %section
      .inner
        .field.text.editable
          %h3.key {{_jed("Badge ID")}}:
          .value
            .input
              %input{:type => "text", "ng-model" => "user.badge_id"}
        .field.text.editable
          %h3.key {{_jed("Role")}}:
          .value
            %select{"ng-model" => "user.access_right.role_name", "ng-options" => "role.name as role.text for role in possible_roles"}

        .field.text.editable
          %h3.key {{_jed("Suspended Until")}}:
          .value
            .input
              %input{:type => "text", "ng-model" => "user.access_right.suspended_until", "ui-date" => ""}
        .field.text.editable{"ng-show" => "user.access_right.suspended_until"}
          %h3.key
            {{_jed("Suspended Reason")}}:
            %span.red{"ng-show" => "form.suspended_reason.$error.required", }
              {{_jed("required")}}
          .value
            .input
              %textarea{:name => "suspended_reason", "ng-model" => "user.access_right.suspended_reason", :style => "height: 3em; vertical-align: top;", "ng-required" => "user.access_right.suspended_until"}
  .clear

