.top
  %h1
    {{_jed("List of %s Users", pagination.total_entries)}}
    %img.loading.icon{:src => "/assets/loading.gif", "ng-show" => "isLoading"}
  %span{"ng-show" => "search"}
    {{_jed("Searching for %s", search)}}

  .content_navigation
    %a.button.white{:href => "/backend/inventory_pools/{{current_inventory_pool_id}}/users/new"}
      .icon.user
      {{_jed("New User")}}

%section

  .inlinetabs
    - [ [nil, _("All")],
        ["customers", _("Kunde")],
        ["lending_managers", _("Ausleihe-Verwalter")],
        ["inventory_managers", _("Inventar-Verwalter")],
        ["admins", _("Administrator")],
        ["unknown", _("Unbekannt")]].each do |x|
      %a{:class => "tab#{' active' if x[0].nil?}", :value => x[0], "ng-click" => "setRole(\"#{x[0]}\")"}
        %span.text= x[1]

  .list
    %ul.navigation.line
      .container
        %li.search
          %input{:type => "text",:autocomplete => :off, :placeholder => '{{_jed("Search...")}}', "ng-model" => "search", "ng-change" => "fetch()"}
        %li.filter
          - [ ["suspended", _("Suspended")]].each do |x|
            %label
              %input{:type => :checkbox, "ng-model" => x.first}
              %span= x.last

  .list
    %ul.line.user{"ng-repeat" => "user in users"}

      .main

        %li.overdue_icon
          .overdue.icon{:title => '{{_jed("Overdue Visit")}}'}

        %li.user_name.hastip
          {{user.name | truncate:30}}
          .tip.user
            %table.image
              %tr
                %td
                  .noimagetext {{_jed("no image")}}
                  .noimage{"ui-if" => "!user.image_url"}
                  %span{"ui-if" => "user.image_url"}
                    %img{"ng-src" => "{{user.image_url}}"}
            %h3
              {{user.name | truncate:30}}
            %table
              %tr{"ui-if" => "user.badge_id"}
                %td.value
                  %p
                    {{user.badge_id}}
              %tr{"ui-if" => "user.address && user.zip && user.city"}
                %td.value
                  %p
                    {{user.address}}
                  %p
                    {{user.zip}} {{user.city}}
              %tr{"ui-if" => "user.phone"}
                %td.value
                  %p
                    {{user.phone}}
              %tr{"ui-if" => "user.email"}
                %td.value
                  %p
                    {{user.email}}

        %li.city
          {{user.city}}

        %li.phone
          %span.text
            {{_jed("Phone%s", ":")}}
          %span.digits
            {{user.phone}}

        %li.badge
          {{_jed("Badge%s", ":")}}
          {{user.badge_id}}

      .actions
        %li.actions
          %a.button.white{:href => "mailto:{{user.email}}", "ui-if" => '(role == "admins" || role == "unknown")'}
            .icon.send
            {{_jed("E-Mail")}}
          .multibutton{"ui-if" => '!(role == "admins" || role == "unknown")'}
            .alternatives
              .trigger
                .arrow
              %a.button.white{:href => "mailto:{{user.email}}"}
                .icon.send
                {{_jed("E-Mail")}}
              %a.button.white{:href => "/backend/inventory_pools/{{current_inventory_pool_id}}/users/{{user.id}}/edit"}
                .icon.user
                {{_jed("Edit User")}}
            %a.button.white{:href => "/backend/inventory_pools/{{current_inventory_pool_id}}/users/{{user.id}}/new_contract"}
              .icon.hand_over
              {{_jed("Hand Over")}}

  .top
    %h3{"ng-show" => "pagination.total_pages > pagination.current_page", "when-inview" => "fetch(pagination.current_page+1)"}
      {{_jed("Next %s users", pagination.total_entries - pagination.current_page * pagination.per_page)}}
      %img.loading.icon{:src => "/assets/loading.gif", "ng-show" => "isLoading"}