.list
  %ul.navigation.line
    .container
      %li.search
        %form{:autocomplete => :off, "ng-submit" => "fetch()"}
          %input{:type => "text", :name => "search", :"ng-model" => "search", :placeholder => '{{_jed("Search...")}}'}
      %li.filter
        - [ [nil, _("All")],
            ["customers", _("Kunde")],
            ["lending_managers", _("Ausleihe-Verwalter")],
            ["inventory_managers", _("Inventar-Verwalter")]].each do |x|
          %label
            %input{:type => :radio, :name => "role", :"ng-model" => "role", :value => x.first}
            %span= x.last

.list
  %ul.line.user{"ng-repeat" => "user in users"}

    .main

      %li.overdue_icon
        .overdue.icon{:title => '{{_jed("Overdue Visit")}}'}

      %li.user_name.hastip
        {{user.name | truncate:30}}
        .tip.user
          %table.image
            %tr
              %td
                .noimagetext {{_jed("no image")}}
                .noimage{"ui-if" => "!user.image_url"}
                %span{"ui-if" => "user.image_url"}
                  %img{"ng-src" => "{{user.image_url}}"}
          %h3
            {{user.name | truncate:30}}
          %table
            %tr{"ui-if" => "user.badge_id"}
              %td.value
                %p
                  {{user.badge_id}}
            %tr{"ui-if" => "user.address && user.zip && user.city"}
              %td.value
                %p
                  {{user.address}}
                %p
                  {{user.zip}} {{user.city}}
            %tr{"ui-if" => "user.phone"}
              %td.value
                %p
                  {{user.phone}}
            %tr{"ui-if" => "user.email"}
              %td.value
                %p
                  {{user.email}}

      %li.city{"ui-if" => "user.city"}
        {{user.city}}

      %li.phone{"ui-if" => "user.phone"}
        %span.text
          {{_jed("Phone%s", ":")}}
        %span.digits
          {{user.phone}}

      %li.badge{"ui-if" => "user.badge_id"}
        {{_jed("Badge%s", ":")}}
        {{user.badge_id}}

    .actions
      %li.actions
        .multibutton
          .alternatives
            .trigger
              .arrow
            = mail_to "{{user.email}}", "<div class='icon send'></div>{{_jed('E-Mail')}}".html_safe, :class => "button white"
            = link_to "/backend/inventory_pools/{{current_inventory_pool_id}}/users/{{user.id}}/edit", :class => "button white" do
              .icon.user
              {{_jed("Edit User")}}
          = link_to "/backend/inventory_pools/{{current_inventory_pool_id}}/users/{{user.id}}/new_contract", :class => "button white" do
            .icon.hand_over
            {{_jed("Hand Over")}}
