.top
  %h1
    {{_jed("List of %s Users", pagination.total_entries)}}
    %img.loading.icon{:src => "/assets/loading.gif", "ng-show" => "isLoading"}
  %span{"ng-show" => "search"}
    {{_jed("Searching for %s", search)}}

  .content_navigation
    %a.button.white{:href => "/backend/inventory_pools/{{current_inventory_pool_id}}/users/new"}
      .icon.user
      {{_jed("New User")}}

%section

  .inlinetabs
    - [ [nil, _("All")],
        ["customers", _("Customer")],
        ["lending_managers", _("Lending manager")],
        ["inventory_managers", _("Inventory manager")]].each do |x|
      %a{:class => "tab#{' active' if x[0].nil?}", :value => x[0], "ng-click" => "setRole(\"#{x[0]}\")"}
        %span.text= x[1]

  .list
    %ul.navigation.line
      .container
        %li.search
          %input{:type => "text",:autocomplete => :off, :placeholder => '{{_jed("Search...")}}', "ng-model" => "search"}
        %li.filter
          %label{"ng-show" => '(role == "customers" || role == "lending_managers" || role == "inventory_managers")'}
            %input{:type => :checkbox, "ng-model" => "suspended"}
            %span {{_jed("Suspended")}}


  .list
    %ul.line.user{"ng-repeat" => "user in users"}

      .main

        %li.overdue_icon
          .overdue.icon{:title => '{{_jed("Overdue Visit")}}'}

        %li.user_name.hastip
          {{user.name | truncate:30}}
          .tip.user
            %table.image
              %tr
                %td
                  .noimagetext {{_jed("no image")}}
                  .noimage{"ui-if" => "!user.image_url"}
                  %span{"ui-if" => "user.image_url"}
                    %img{"ng-src" => "{{user.image_url}}"}
            %h3
              {{user.name | truncate:30}}
            %table
              %tr{"ui-if" => "user.badge_id"}
                %td.value
                  %p
                    {{user.badge_id}}
              %tr{"ui-if" => "user.address && user.zip && user.city"}
                %td.value
                  %p
                    {{user.address}}
                  %p
                    {{user.zip}} {{user.city}}
              %tr{"ui-if" => "user.phone"}
                %td.value
                  %p
                    {{user.phone}}
              %tr{"ui-if" => "user.email"}
                %td.value
                  %p
                    {{user.email}}

        %li.phone
          {{user.phone}}

        %li.role
          {{user.role_text()}}

        %li.suspended_status
          %span.red{"ng-show" => "user.access_right.suspended_until"}
            {{_jed("Suspended")}} {{_jed("until")}}
            %br
            {{user.access_right.suspended_until | date: 'dd.MM.yyyy'}}

      .actions
        %li.actions
          %a.button.white{:href => "mailto:{{user.email}}", "ui-if" => '!user.access_right'}
            .icon.send
            {{_jed("E-Mail")}}
          .multibutton{"ui-if" => 'user.access_right'}
            .alternatives
              .trigger
                .arrow
              %a.button.white{:href => "mailto:{{user.email}}"}
                .icon.send
                {{_jed("E-Mail")}}
              %a.button.white{:href => "/backend/inventory_pools/{{current_inventory_pool_id}}/users/{{user.id}}/edit"}
                .icon.user
                {{_jed("Edit User")}}
            %a.button.white{:href => "/backend/inventory_pools/{{current_inventory_pool_id}}/users/{{user.id}}/new_contract"}
              .icon.hand_over
              {{_jed("Hand Over")}}

  .top
    %h3{"ng-show" => "pagination.total_pages > pagination.current_page", "when-inview" => "fetch(pagination.current_page+1)"}
      {{_jed("Next %s users", pagination.total_entries - pagination.current_page * pagination.per_page)}}
      %img.loading.icon{:src => "/assets/loading.gif", "ng-show" => "isLoading"}