${$name = Str.sliced_trunc(customer.name, 20, "... "), ""}
${$subtitle = $name + " " + moment(start_date).format(i18n.date.L) + " - " + moment(end_date).format(i18n.date.L), ""}

= form_tag '${$item.target_url}', :remote => true, :onsubmit => "$(this).find('.close_dialog').attr('disabled', true)", :"data-submit_button" => true do
  
  {{tmpl({title: title, subtitle: $subtitle}) "app/views/shared/dialog/title"}}

  {{tmpl({buttons: ["save"], close: true, on_success: $item.on_success}) "app/views/shared/dialog/navigation"}}

  .flash_message

  {{tmpl($item.data) "tmpl/dialog/calendar/input"}}

  .clear
  
  #fullcalendar
    .loading
      = image_tag "loading.gif"
  
  .list {{tmpl(App.Line.mergeByModel(lines)) "tmpl/line/calendar/line"}}