%h1
  {{if title}}
  ${title}
  {{else}}
  = _("Loading")
  {{/if}}
%p.subtitle
  {{if message}}
  ${message}
  {{else}}
  = _("please wait")
  {{/if}}

%img{:src => "/assets/loading.gif", :class => "loading icon big"}
