%h1
  {{if title}}
  ${title}
  {{else}}
  ${_jed("Loading")}
  {{/if}}
%p.subtitle
  {{if message}}
  ${message}
  {{else}}
  ${_jed("please wait")}
  {{/if}}

%img{:src => "/assets/loading.gif", :class => "loading icon big"}
