<% table_with_search_and_pagination :columns => [_("Name"), _("Parent"), _("Action")],
						   			:records => @roles do |role| %>	

			<tr>
				<td><%= role.name %></td>
				<td><%= role.parent %></td>
				<td class="buttons" nowrap>
				</td>
			</tr>

<% end %>

		