%h1
  %strong
    = _("Error")

%p.subtitle
  = _("while deleting multiple order lines")

.navigation
  %a.button.white.close_dialog
    .icon.return
    = _("Go Back")
    
%hr

{{if $item.error}}
.flash_message.visible
  ${$item.error}
{{/if}}
