.panel-group
  - categories.each do |category|
    .panel.panel-default
      .panel-heading
        = category.name
        %a{href: category_budget_period_user_requests_path(category, @budget_period, @user, request_id: 'new_request')}
          %i.fa.fa-plus-circle
        -#%span.badge.pull-right
          = category.templates.count
      .list-group
        - category.templates.each do |template|
          :ruby
            link = category_budget_period_user_requests_path(category,
                                                             @budget_period,
                                                             @user,
                                                             template_id: template.id)
          %a.list-group-item.show_template{href: link, data: {template_id: template.id}}
            = template
            .label.label-custom.pull-right
              = money_without_cents_and_with_symbol template.price
