.item.line {
  
  li.modelname {
    font-weight: bold;
    width: 265px;
  }
  
  li.inventory_code {
    font-weight: bold;
    width: 100px;
  }
  
  li.serial_number {
    width: 100px;
  }
  
  li.item_status {
    width: 230px;
  }
}
