.model.line {
 
  li.modelname {
    font-weight: bold;
    width: 245px;
  }
  
  li.category {
    width: 190px;
  }
  
  li.categories {
    width: 160px;
    
    .tiptarget {
      width: 60%;
    }
  }
  
  li.availability {
    width: 80px;
  }
}
