.order_line.line {
  
  &.unavailable {
    background: #fbc1c1 !important;
    border-bottom: 1px solid #fe9393 !important;
    
    &:hover {
      background: #ffb1b1 !important;  
    }
  }
  
  li.select {
    padding-right: 5px !important;
  }
  
  li.amount {
    padding-right: 10px !important;
    width: 160px;
    
    span {
      cursor: default;
    }
    
    .selected {
      display: inline-block;
      text-align: right;
      width: 30px;
    }
  }
  
  li.name {
    width: 480px;
  }
  
  li.actions {
    padding-right: 8px;
  }
}