.take_back.line {
  
  li.items {
    width: 142px;
    
    .number {
      display: inline-block;
      padding-right: 2px;
      text-align: right;
      width: 30px;
    }
    
    .tiptarget {
      width: 70%;
    }
  }
  
  .overdue li.items {
    width: 120px !important;
  }

  
  li.range {
    white-space: nowrap;
    width: 115px;
    
    .number {
      display: inline-block;
      padding-right: 2px;
      text-align: right;
      width: 30px;
    }
    
    &.overdue {
      padding-right: 10px !important;
      width: 125px;
      
      .number {
        display: inline-block;
        padding-right: 2px;
        text-align: right;
        width: 30px;
      }
    }
  }
  
  li.reminder {
    padding-left: 10px;
    width: 180px;
  }
}
