@import "shared/mixins";
@import "shared/variables";

.contract.line {
  
  li.number {
    width: 96px;
  }
  
  li.date {
    width: 86px;
  }
  
  li.items {
    width: 120px;
    
    .number {
      display: inline-block;
      padding-right: 2px;
      text-align: right;
      width: 30px;
    }
    
    .tiptarget {
      width: 70%;
    }
  }
  
  li.status {
    width: 360px;
  }
}
