@import "shared/mixins";
@import "shared/variables";

.item_line.line {
  
  &.valid.assigned:not(.error) {
    background: $highlight-green !important;
    border-top: 1px solid $highlight-darkgreen !important;
    border-bottom: 1px solid $borderhighlightgreen !important;
    
    &:hover {
      background: $highlight-darkgreen !important;	
    }
  }
  
  &.error {
    background: $highlight-red !important;  
    border-top: 1px solid $highlight-darkred !important;
    border-bottom: 1px solid $borderhighlightred !important;
    
    &:hover {
      background: $highlight-darkred !important;  
    }
    
    input[type=text] {
      &, &:hover, &:focus {border: 1px solid $highlight-darkred;}
    }
  }
  
  &.assigned .inventory_code {
    input {
      background: rgba(255,255,255,0.2);
      border: 1px dashed rgba(50,50,50,0.2);
      color: $darkgrey !important;
    }
    
    form:hover input, input:focus {
      background: white;
      border: 1px solid $lightergrey;
    }
  }
  
  .inventory_code {
    width: 63px;
    
    .container {
      display: block;
      position: relative;
      
      input {
        font-size: 1.0em;
        color: $lightgrey;
        text-align: center;
        padding: 0 20px 0 10px;
        position: relative;
        width: 95px;
      }
      
      .loading {
        height: 16px;
        position: absolute;
        top: 4px;
        right: 4px;
        width: 16px;
      }
      
      .clear {
        display: none !important;
        position: absolute;
        right: 6px;
        top: 6px;
        @include opacity(0.6);
        
        &:hover { @include opacity(1.0); }
      }
    }
  }
  
  &.assigned {
    .inventory_code .arrow {display: none !important;}
    .inventory_code .clear {display: block !important;}
  }
  
  .name {
    width: 310px;
  }
  
  .purpose {
    width: 200px;
  }
  
  .problems {
    padding-right: 0;
  }
  
  &.take_back {
    .inventory_code {
      width: 68px;
    }
  }
}