@import "shared/mixins";
@import "shared/variables";

.item.line {
  
  &+.children {
    display: none;
    
    .line {
      .main {
        padding-left: 55px !important;
      }
      .modelname {
        width: 280px;
      }
      .item_status {
        display: none;
      }
    }
  }
  
  li.modelname {
    font-weight: bold;
    width: 205px;
  }
  
  li.item_location {
    width: 300px;

    .icon {
      position: relative;
      left: -5px;
    }
  }
  
  li.inventory_code {
    width: 100px;
  }
  
  li.serial_number {
    width: 100px;
  }
  
  li.item_status {
    text-align: right;
    width: 120px;
  }
}
