@import "../../shared/mixins";
@import "../../shared/variables";

.model.line {
  
  &+.items {
    display: none;
    
    .line {
      .main {
        padding-left: 83px;
      }
    }
  }
 
  li.toggle {
    width: 58px
  }
  
  li.modelname {
    font-weight: bold;
    width: 480px;
  }
  
  li.image {
    width: 44px;
    
    .container {
      position: relative;
      text-align: center;
      vertical-align: middle;
      @include listanchor;
      
      img {
        max-height: 38px;
        max-width: 38px;
      }
    }
  }
  
  li.category {
    width: 190px;
  }
  
  li.categories {
    width: 160px;
    
    .tiptarget {
      width: 60%;
    }
  }
  
  li.availability {
    width: 80px;
  }
}
