@import "shared/mixins";
@import "shared/variables";

.model.line {
  
  &.package{
    &+.items { 
      .item_status {
        width: 130px;
      }
    }
  }
  
  li.modelname {
    font-weight: bold;
    width: 600px;
    
    .icon {
      margin: 0 4px;
    }
  }
  
  li.image {
    width: 44px;
    
    .container {
      position: relative;
      text-align: center;
      vertical-align: middle;
      @include listanchor;
      
      img {
        max-height: 38px;
        max-width: 38px;
      }
    }
  }
  
  li.category {
    width: 190px;
  }
  
  li.categories {
    width: 160px;
    
    .tiptarget {
      width: 60%;
    }
  }
  
  li.availability {
    text-align: center;
    width: 87px;
  }

  li.availability.wide {
    width: 120px;
  }
}
