@import "../../shared/mixins";
@import "../../shared/variables";

.option_line.line {
  
  .inventory_code {
    padding-right: 6px;
    width: 63px;
  }
  
  .quantity {
    padding-right: 16px;
    width: 63px;
    
    input {
      text-align: center;
      width: 45px;
    }
  }
}