@import "shared/mixins";
@import "shared/variables";

.option.line {

  li.inventory_code {
    text-align: center;
    width: 123px;
  }
  
  li.modelname {
    font-weight: bold;
    width: 460px;
  }
  
  li.price {
    text-align: right;
    width: 93px;
  }
}