@import "../../shared/mixins";
@import "../../shared/variables";

.option_line.line {
  
  &.valid.assigned:not(.error) {
    background: $highlight-green !important;
    border-top: 1px solid $highlight-darkgreen !important;
    border-bottom: 1px solid $borderhighlightgreen !important;
    
    &:hover {
      background: $highlight-darkgreen !important;  
    }
  }
  
  &.error {
    background: $highlight-red !important;  
    border-top: 1px solid $highlight-darkred !important;
    border-bottom: 1px solid $borderhighlightred !important;
    
    &:hover {
      background: $highlight-darkred !important;  
    }
    
    input[type=text] {
      &, &:hover, &:focus {border: 1px solid $highlight-darkred;}
    }
  }
  
  .name {
    width: 221px;
  }
  
  .purpose {
    width: 200px;
  }
  
  .inventory_code {
    padding-right: 6px;
    width: 63px;
  }
  
  .quantity {
    padding-right: 18px;
    width: 60px;
    
    .container {
      display: block;
      position: relative;
      
      input {
        text-align: center;
        width: 40px;
      }
      
      .loading {
        height: 16px;
        position: absolute;
        top: 4px;
        right: -14px;
        width: 16px;
      }
    }
  }
  
  &.take_back {
    
    .quantity {
      padding-right: 0;
      width: 55px;
      
      input {
        padding-right: 0;
        padding-left: 0;
        width: 49px;
        text-align: center;
      }
    }
    
    .inventory_code {
      width: 82px;
    }
  }
}