@import "shared/mixins";
@import "shared/variables";

.order.line {
  
  li.items {
    width: 120px;
    
    .number {
      display: inline-block;
      padding-right: 2px;
      text-align: right;
      width: 30px;
    }
    
    .tiptarget {
      width: 70%;
    }
  }
  
  li.range {
    white-space: nowrap;
    width: 115px;
    
    span.number {
      display: inline-block;
      text-align: right;
      width: 30px;
    }
  }
  
  li.date {
    width: 85px;
  }
  
  li.purpose {
    line-height: 1.2em;
    padding-right: 0;
    width: 205px;
  }
  
  li.status {
    width: 192px;
    
    .red {
      font-weight: bold;
      font-style: italic;
    }
  }
}
