@import "shared/mixins";
@import "shared/variables";

.order_line.line {
  
  &.error {
    background: $highlight-red !important;
    border-bottom: 1px solid $borderhighlightred !important;
    border-top: 1px solid $highlight-darkred !important;
    
    &:hover {
      background: $highlight-darkred !important;
      border-top: 1px solid $highlight-darkred !important;
      border-bottom: 1px solid $highlight-darkred !important;
      
      span.grey {
        color: $darkgrey;
      }
    }
  }
  
  li.select {
    padding-right: 5px !important;
  }
  
  li.amount {
    padding-right: 10px !important;
    width: 160px;
    
    span {
      cursor: default;
    }
    
    .selected {
      display: inline-block;
      text-align: right;
      width: 30px;
    }
  }
  
  li.name {
    width: 500px;
  }
  
  li.actions {
    padding-right: 8px;
  }
}