@import "../../shared/mixins"
@import "../../shared/variables"

.line .problems
  padding-right: 0 !important
  min-width: 45px

  .container
    background: rgba(200,200,200,0.4)
    border: 1px solid rgba(150,150,150,0.4)
    padding: 3px 3px 3px 8px
    @include border-radius(4px)
    @include box-shadow(0 1px 0 rgba(255,255,255,0.2))

  .icon
    vertical-align: top

.tip.problems

  ul
    li
      border-bottom: 1px solid $bordergrey
      padding: 4px 0 5px
      text-align: center

      &:last-child
        border-bottom: none
