@import "shared/variables"

.list .line.show-all
  .main
    width: 100%

  li
    color: $grey
    display: block
    font-weight: bold
    height: 27px
    padding: 13px 0 0 0 !important
    text-align: center
    width: 100%