@import "shared/mixins";
@import "shared/variables";

.take_back.line {
  
  li.items {
    width: 120px;
    
    .number {
      display: inline-block;
      padding-right: 2px;
      text-align: right;
      width: 30px;
    }
    
    .tiptarget {
      width: 70%;
    }
  }
  
  li.date {
    width: 85px;
  }
  
  li.range {
    white-space: nowrap;
    width: 115px;
    
    .text.grey {
      display: inline-block;
      width: 55px;
    }
    
    .number {
      display: inline-block;
      padding-right: 2px;
      text-align: right;
      width: 30px;
    }
    
    &.overdue {
      padding-right: 10px !important;
      width: 125px;
      
      .number {
        display: inline-block;
        padding-right: 2px;
        text-align: right;
        width: 30px;
      }
    }
  }
  
  li.reminder {
    padding-left: 10px;
    padding-right: 0;
    width: 180px;
  }
}
