@import "shared/variables"

.toggler.line
  
  li.toggle
    width: 58px
    
    .text
      float: right
      
    .text
      float: left
      width: 42px
  
    .icon
      background: url($image-sprite) no-repeat -102px -15px
      margin-left: 0
      margin-right: 0
      position: relative
      top: -1px
      left: -2px
      height: 14px
      width: 14px
  
    &.open .icon 
      background: url($image-sprite) no-repeat -117px -8px
      height: 14px
      width: 14px
  
  &+.children
    display: none
    
    .line 
      .main 
        padding-left: 45px
        width: 530px

    .children

      .line .main
        width: 530px
        