%label
  .text ${_jed(label)}
  %select{:name => "flags[${name}]"}
    {{each(i, option) options}}
    {{if ((selected == true && option.value == 1) || (selected == false && option.value == 0))}}
    %option{:value => "${option.value}", :selected => true}
      ${_jed(option.label)}
    {{else}}
    %option{:value => "${option.value}"}
      ${_jed(option.label)}
    {{/if}}
    {{/each}}