{{if sort == "manufacturer"}}
{{jed "Manufacturer"/}}
{{else sort == "name"}}
{{jed "Model"/}}
{{/if}}

{{if order == "asc"}}
%i.fa.fa-circle-arrow-up.icon-xs
{{else order == "desc"}}
%i.fa.fa-circle-arrow-down.icon-xs
{{/if}}