${$model = ($item.data.model != undefined) ? $item.data.model : $item.data, ""}

%h1
  %strong{:title => "${$model.name}"}
    ${Str.sliced_trunc($model.name, 36)}
%p.subtitle
  ${_jed("Availability Timeline")}
.navigation
  %a.button.white.close_dialog
    .icon.return
    ${_jed("Back")}
    

{{tmpl "tmpl/loading/loading_img"}}
%iframe#timeline{:src => "${$item.target_url}", :width => "100%", :height => "400px"}