
<div id="tabs">	
	<ul>
		<li <%= 'class="active"' if controller.action_name == "index" %>><%= link_to "<span>" + _("Users") + "<em> (#{@users.size})</em></span>",
																				:controller => 'users' %></li>


</ul>
</div>
