-content_for :title, _(@user)
#user.innercontent
  
  .top
    %h1= @user
  
  %section.settings.indent
    %h3= _("Settings for %s") % [current_inventory_pool]
    %label.start_screen
      %span= _("Start Screen")
      %select
        -binding.pry
        %option{:value => ""}= _("Lending / Daily View") 
