<div class="submit_tasten">
	<%= check_box_tag "nur_zubehoer", 1 %>
	nur Zubehör herausgeben
  &nbsp;&nbsp;&nbsp;&nbsp;
	<%= link_to 'Abbrechen', :controller => 'admin', :action => 'status' %>
	| <%= submit_tag "Weiter" %>
</div>