<%
#    This file is part of leihs.
#
#    leihs is free software; you can redistribute it and/or modify
#    it under the terms of the GNU General Public License as published by
#    the Free Software Foundation; either version 3 of the License, or
#    (at your option) any later version.
#
#    leihs is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU General Public License for more details.
#
#    You should have received a copy of the GNU General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
#    leihs is (C) Zurich University of the Arts
#    
#    This file was written by:
#    Magnus Rembold
%>
<div class="blatt">
  <h1 class="anschluss">Ausleihe zurücknehmen</h1>
  <p>Eine Ausleihe wird ganz oder teilweise zurückgenommen. Dabei kann der Zustand und die Wiederverwendbarkeit einzelner Pakete angepasst werden</p>
  
  <%= render :partial => 'gemeinsam/flashs' %>
  <% error_messages_for 'reservation' %>
  
  <%= render :partial => "reservations/res_ueberschrift", :locals => { :reservation => @reservation } %>
  
    <div class="res_paragraph" id="edit_status_res">
      <%= render( :partial => 'reservations/edit_status', :locals => {
            :reservation => @reservation } ) %>
    </div>
    <br />
    
    <div class="res_paragraph" id="edit_user_res">
      <%= render :partial => 'reservations/edit_user', :locals => {
            :reservation => @reservation } %></div>
    <div class="res_paragraph" id="edit_termin_res">
      <%= render :partial => 'reservations/edit_termin', :locals => {
            :reservation => @reservation } %></div>
    
    <%= form_tag :action => 'ruecknahme_pruefen', :id => @reservation  %>
      <div class="res_paragraph" id="paket_liste">
        <%= render :partial => 'reservations/paket_rueck_liste', :locals => {
              :reservation => @reservation,
              :mit_erweitern => !( @reservation.ausgeliehen? or @reservation.zurueck? ) } %>
      </div>
    
      <div class="res_paragraph" id="zubehoer_liste">
        <%= render :partial => 'reservations/zubehoer_rueck_liste', :locals => {
              :reservation => @reservation,
              :mit_erweitern => !( @reservation.ausgeliehen? or @reservation.zurueck? ) } %>
      </div>
    
      <hr size="1"/>
    
      <%= render( :partial => 'reservations/reservation_teil_unten', :locals => {
            :reservation => @reservation } ) %>
    
      <%= render :partial => 'gemeinsam/letzte_aenderung', :locals => {
            :item => @reservation } %>
    
      <hr size="1"/>
    
      <div class="text_right">
        <label for="reservation_status">Rückgabezustand ist:</label>
        <%= select( 'reservation', 'bewertung', Reservation::BEWERTUNG_TEXT ) %><br/>
        <br/>
      
        <%= link_to 'Abbrechen', :controller => 'admin', :action => 'index' %> |
        <%= submit_tag 'Zurücknehmen' %>
      </div>
    </form>
  </div>
</div>
