#add_item {
  display: block;
  float: left;
  height: 50px;
  position: relative;
  top: 6px;
  
  &>.button {
    position: relative;
    top: -5px;
  }
  
  .barcode {
    border: 1px solid $lightergrey;
    color: $grey;
    font-size: 1.2em;
    height: 22px;
    padding: 0 19px 0 6px;
    position: relative;
    top: 1px;
    width: 100px;
    @include borderRadius(4px);
    
    &:focus {
      border: 1px solid $lightgrey;
    }
  }
  
  & label {
    color: $darkgrey;
    position: absolute;
    top: -15px;
    left: 0;
  }
  
  .item_code {
    display: inline-block;
    position: relative;
    margin-right: 6px;
    
    input[type=submit] {
      background: none;
      border: none;
      color: $grey;
      cursor: pointer;
      font-size: 1.6em;
      padding: 2px 2px 1px 2px;
      position: absolute;
      top: 0;
      right: 0;
      @include borderRadius(4px);
      
      &:hover {
        color: $darkgrey;
      }
    }
  }
  
  .dates {
    display: inline-block;
    margin-right: 4px;
    position: relative;
    
    .container {
      display: inline-block;
      position: relative;
    }
    
    & input {
      border: 1px solid $lightergrey;
      color: $grey;
      display: inline-block;
      font-size: 1.2em;
      height: 22px;
      padding: 0 8px;
      top: 1px;
      position: relative;
      width: 100px;
      @include borderRadius(4px);
    }
    
    & label.datepicker.icon {
      position: relative;
      left: -23px;
      margin-right: -14px;
      top: -1px;
    }
  }
}