#add_item {
  display: block;
  float: left;
  height: 50px;
  position: relative;
  top: 6px;
  
  &>.button {
    font-size: 2.0em;
    padding-bottom: 2px;
    padding-left: 8px;
    padding-right: 8px;
    position: relative;
    top: -5px;
  }
  
  .barcode {
    border: 1px solid $lightergrey;
    color: $lightgrey;
    font-size: 1.2em;
    height: 22px;
    padding: 0 6px;
    position: relative;
    top: 1px;
    width: 100px;
    @include borderRadius(4px);
    
    &:focus {
      border: 1px solid $lightgrey;
    }
  }
  
  & label {
    color: $darkgrey;
    position: absolute;
    top: -15px;
    left: 0;
  }
  
  .container {
    display: inline-block;
    position: relative;
  }
  
  .dates {
    display: inline-block;
    margin-left: 10px;
    position: relative;
    
    & input {
      border: 1px solid $lightergrey;
      color: $grey;
      display: inline-block;
      font-size: 1.2em;
      height: 22px;
      padding: 0 8px;
      top: 1px;
      position: relative;
      width: 100px;
      @include borderRadius(4px);
    }
    
    & label.datepicker.icon {
      position: relative;
      left: -23px;
      margin-right: -14px;
      top: -2px;
    }
  }
}