#chart {
  position: absolute;
  
  .legend {
    font-size: 1.2em;
    position: absolute;
    right: 16px;
    top: 0;
    
    .item {
      margin-top: 2px;
      display: block;
      padding: 4px 0 0 0;
      position: relative;
      
      .color-box {
        display: inline-block;
        font-size: 0.8em;
        height: 14px;
        margin-right: 5px;
        padding-left: 1px;
        position: relative;
        top: 2px;
        text-align: center;
        width: 14px;
      }
    }
  }
  
  .barchart {
    display: block;
    margin-right: 15px;
    margin-top: 20px;
    
    .grid {
      
      .line {
        
        .text {
          font-size: 1.1em;
          position: absolute;
          top: -7px !important;
        }
        
        hr {
          margin: 0 0 0 24px;
        }
      }
    }
    
    .graphField {
      
      .graphBar {
        overflow: visible !important;       
        
        .subBars {
          
          .text {
            color: white;
            display: inline-block;
            font-size: 0.9em;
            padding: 1px 4px;
            margin-top: 1px;
          }
          
          &:nth-child(1) {
            .text {
              padding-top: 0 !important;
              color: $darkgrey !important;             
            }
          }
        } 
      }
    }
    
    .graphLabel {
      color: $darkgrey;
      font-size: 1.2em;
      padding-top: 8px;
      
      strong {
        display: block;
        letter-spacing: 0;
        text-align: center;
      }
    }
    
    .graphValue {
      font-size: 1.2em;
      padding-bottom: 2px;
    }
  }
}
