#content.box {
  
  .contentheader {
  
    .borderleft.round {
      background: url($image-sprite) no-repeat -25px -30px;
    }
  
    .borderright {
      background: url($image-sprite) no-repeat -18px 0;
    }
    
    .borderright.round {
      background: url($image-sprite) no-repeat -18px -14px;
    }
  }
  
  .innercontent {
    .top {
      margin-bottom: 24px;
    } 
    
    .subtitle {
      width: 600px;    
    }
  }
}
