.ui-dialog {
  
  &.acknowledge {
    width: 760px !important;
    
    textarea {
      height: 40px;
      width: 696px;
    }
    
    p.subtitle {
      width: 550px;
    }
    
    .line {
      
      li{
        
       &.model {
          width: 630px;
        }
        
        &.quantity {
          text-align: right;
          width: 35px;
        }
      }
    }
  }
}