.icon {
  background: url($backend-image-sprite) no-repeat 14px 14px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.button.small .icon {
  
  &.valuelist {
    margin: 0 1px;
  }
}

.datepicker.icon { 
  background-position: -132px 0;
  height: 14px;
  width: 14px;
}

.back.icon { 
  background-position: -132px -15px;
  height: 14px;
  width: 14px;
}

.forward.icon { 
  background-position: -132px -30px;
  height: 14px;
  width: 14px;
}

.orders.icon {
  background-position: -112px 0;
  height: 14px;
  width: 19px;
}

.hand_over.icon {
  background-position: -90px -17px;
  height: 16px;
  width: 23px;
}

.overdue.icon {
  background-position: -96px 0;
  height: 16px;
  width: 15px;
}

.take_back.icon {
  background-position: -48px 0;
  height: 16px;
  width: 21px;
}

.edit.icon {
  background-position: -116px -15px;
  height: 16px;
  width: 15px;
}

.approve.icon {
  background-position: -74px -17px;
  height: 15px;
  width: 15px;
}

.delete.icon {
  background-position: -59px -17px;
  height: 15px;
  width: 14px;
}

.send.icon {
  background-position: -28px 0;
  height: 14px;
  width: 19px;
}

.user.icon {
  background-position: -42px -17px;
  height: 16px;
  width: 16px;
}

.contract.icon {
  background-position: -24px -17px;
  height: 16px;
  width: 17px;
}

.item.icon {
  background-position: 0 -134px;
  height: 14px;
  width: 16px;
}

.valuelist.icon {
  background-position: -17px -134px;
  height: 14px;
  width: 14px;
}

.retire.icon {
  background-position: -79px 0;
  height: 16px;
  width: 16px;
}

.model.icon {
  background-position: -32px -134px;
  height: 14px;
  width: 16px;
}

.return.icon {
  background-position: -49px -134px;
  height: 14px;
  width: 12px;
}

.view_item.icon {
  background-position: -62px -134px;
  height: 14px;
  width: 16px;
}

.view_model.icon {
  background-position: -79px -134px;
  height: 14px;
  width: 16px;
}

.view_order.icon {
  background-position: -96px -134px;
  height: 14px;
  width: 16px;
}

