.list {
  display: block;
  margin-bottom: 26px;
  
  .line {
    border-bottom: 1px solid $borderlightergrey;
    border-top: 1px solid white;
    display: table;
    height: 40px;
    position: relative;
    width: 100%;
    
    &>a {
      display: block;
    }
    
    &>a>li:first-child, &>li:first-child {
      padding-left: 14px;
    }
    
    &>li:last-child {
      padding-right: 4px;
    }
    
    .tip {
      display: none;
    }
    
    .visible {
      display: inline-block;
    }
    
    .invisible {
      display: none;
    }
    
    .tiptarget {
      display: block;
      position: absolute;
      top: 9px;
      height: 22px;
      width: 100%;
    }
    
    &:nth-child(even) {
      background: $highlight-grey;
    }
    
    &:hover {
      @include highlightItem;
      
      li {
        color: $darkgrey;
      }
      
      .actions {
        @include opacity(1.0);
      }
    }
    
    span.grey {
      color: $lightgrey;
    }
    
    span.red {
      color: $red;
    }
    
    span.digits {
      letter-spacing: -1px;
    }
    
    &.toggle {
      background: white;
      border-bottom: none;
      cursor: pointer;
      font-size: 1.1em;
      
      .icon {
        background: url($image-sprite) no-repeat -53px -37px;
        display: inline-block;
        height: 6px;
        margin-right: 8px;
        margin-left: 12px;
        position: relative;
        width: 7px;
        @include opacity(0.6);
      }
      
      &.show_less {
        .icon {
          background: url($image-sprite) no-repeat -73px -37px;  
        }
      }
      
      &:hover {
        .icon {
          @include opacity(1.0);
        }
      }
      
      .hidden {
        display: none;
      }
    }
    
    li {
      color: $darkgrey;
      display: table-cell;
      font-size: 1.2em;
      height: 40px;
      position: relative;
      padding-right: 20px;
      padding-top: 2px;
      vertical-align: middle;
      
      &.name {
        font-weight: bold;
        line-height: 1.1em;
        width: 143px;
        
        &.overdue {
          padding-left: 8px;
          width: 126px;
        }
      }
      
      &.quantity_small {
        padding-left: 6px;
        padding-right: 4px;
        width: 10px;
      }
      
      &.quantity {
        white-space: nowrap;
        width: 90px;
        
        .number {
          display: inline-block;
          padding-right: 2px;
          text-align: right;
          width: 30px;
        }
      }
      
      &.range {
        white-space: nowrap;
        width: 115px;
        
        .number {
          display: inline-block;
          padding-right: 2px;
          text-align: right;
          width: 30px;
        }
      }
      
      &.range.overdue {
        padding-right: 10px !important;
        width: 125px;
        
        .number {
          display: inline-block;
          padding-right: 2px;
          text-align: right;
          width: 30px;
        }
      }
      
      &.purpose {
        width: 265px;
      }
      
      &.short_purpose {
        width: 190px;
      }
      
      &.reminder {
        width: 180px;
      }
      
      &.city {
        width: 70px;
      }
      
      &.phone {
        width: 190px;
        
        span.text {
          float: left;
          margin-right: 4px;
        }
        
        span.digits {
          display: block;
          float: left;
          width: 130px;
        }
      }
      
      &.number {
        width: 96px;
      }
      
      &.date {
        width: 86px;
      }
      
      &.items {
        width: 120px;
        
        .number {
          display: inline-block;
          padding-right: 2px;
          text-align: right;
          width: 30px;
        }
        
        .tiptarget {
          width: 70%;
        }
      }
      
      &.modelname {
        font-weight: bold;
        width: 265px;
      }
      
      &.category {
        width: 190px;
      }
      
      &.categories {
        width: 170px;
        
        .tiptarget {
          width: 60%;
        }
      }
      
      &.availability {
        width: 80px;
      }
      
      &.inventory_code {
        font-weight: bold;
        width: 100px;
      }
      
      &.serial_number {
        width: 100px;
      }
      
      &.overdue_icon {
        padding-right: 0;
        padding-left: 8px !important;
      }
      
      &.item_status {
        width: 230px;
      }
      
      &.status_with_date {
        width: 160px;
      }
      
      &.actions {
        font-size: 1.0em;
        text-align: right;
        padding-top: 0;
        @include opacity(0.5);
        
        .button {
          margin-right: 0;
        }
      }
    }
  }
  
  .navigation {
    
    .search {
      padding: 0 !important;
      width: 300px;
      
      input {
        background: white;
        border: 1px solid $borderlightgrey;
        color: $lightgrey !important;
        display: inline-block;
        font-size: 1.1em;
        height: 15px;
        margin-left: 6px;
        margin-right: 4px;
        padding-top: 2px;
        padding-left: 7px;
        padding-right: 26px;
        padding-bottom: 2px;
        position: relative;
        width: 100px;
        @include borderRadius(4px);
        
        &:active, &:focus, &.active {
          color: $darkgrey !important;
        }
      }
      
      .loading {
        display: none;
        height: 14px;
        left: 124px;
        position: absolute;
        top: 12px;
        width: 14px;
      }
    }
    
    .historical_search {
      padding: 0 !important;
      width: 440px;
      
      .hs_container {
        display: inline-block;        
        float: right;
        
        a, span {
          color: #8a8a8a;
          cursor: pointer;
          display: block;
          float: left;
          border: 1px solid $lightgrey;
          border-top: 1px solid #c0c0c0;
          background: url($slices-h) repeat-x 0 -252px;
          padding: 0.3em 0.5em;
          margin-right: 4px;
          margin-bottom: 5px;
          text-align:center;
          min-width:1em;
          @include borderRadius(6px);
          
          &:hover {
            background: url($slices-h) repeat-x 0 -284px;
            color: #515151;
          }
          
          &:active {
            background: url($slices-h) repeat-x 0 -316px;
          }
          
          &[disabled=disabled], &[disabled=disabled]:hover, &[disabled=disabled]:active {
            background: url($slices-h) repeat-x 0 -252px;
            cursor: default;
            color: #8a8a8a !important;
          }
        }
        
        .current, .current:hover {
          background: url($slices-h) repeat-x 0 -252px;
          border: solid 1px $grey;
          color: $darkgrey;
          cursor: default;
        }
      }
    }
    
    &:hover {
      background: white;
      @include noBoxShadow();
    }
  }
}