.list {
  display: block;
  margin-bottom: 26px;
  
  &>.line:not(.toggle) {
    display: none !important;
  }
  
  .line {
    border-bottom: 1px solid $borderlightergrey;
    border-top: 1px solid white;
    display: table;
    height: 40px;
    position: relative;
    width: 100%;
    
    &>a {
      display: block;
    }
    
    &>a>li:first-child {
      padding-left: 14px;
    }
    
    &>li:last-child {
      padding-right: 10px;
    }
    
    .tip {
      display: none;
    }
    
    .tip_target {
      display: block;
      position: absolute;
      top: 9px;
      height: 22px;
      width: 100%;
    }
    
    &:nth-child(even) {
      background: $highlight-grey;
    }
    
    &:hover {
      @include highlightItem;
      
      li {
        color: $darkgrey;
      }
      
      .actions {
        @include opacity(1.0);
      }
    }
    
    span.grey {
      color: $lightgrey;
    }
    
    span.red {
      color: $red;
    }
    
    span.digits {
      letter-spacing: -1px;
    }
    
    &.toggle {
      background: white;
      border-bottom: none;
      cursor: pointer;
      font-size: 1.1em;
      
      .icon {
        background: url($image-sprite) no-repeat -53px -37px;
        display: inline-block;
        height: 6px;
        margin-right: 8px;
        margin-left: 12px;
        position: relative;
        width: 7px;
        @include opacity(0.6);
      }
      
      &.show_less {
        .icon {
          background: url($image-sprite) no-repeat -73px -37px;  
        }
      }
      
      &:hover {
        .icon {
          @include opacity(1.0);
        }
      }
      
      .hidden {
        display: none;
      }
    }
    
    li {
      color: $darkgrey;
      display: table-cell;
      font-size: 1.2em;
      height: 40px;
      position: relative;
      padding-right: 20px;
      padding-top: 2px;
      vertical-align: middle;
      
      &.name {
        font-weight: bold;
        line-height: 1.1em;
        width: 143px;
        
        &.overdue {
          padding-left: 6px;
          width: 128px;
        }
      }
      
      &.quantity {
        white-space: nowrap;
        width: 90px;
        
        .number {
          display: inline-block;
          padding-right: 2px;
          text-align: right;
          width: 30px;
        }
      }
      
      &.range {
        white-space: nowrap;
        width: 115px;
        
        .number {
          display: inline-block;
          padding-right: 2px;
          text-align: right;
          width: 30px;
        }
      }
      
      &.range.overdue {
        padding-right: 10px !important;
        width: 125px;
        
        .number {
          display: inline-block;
          padding-right: 2px;
          text-align: right;
          width: 30px;
        }
      }
      
      &.purpose {
        width: 265px;
      }
      
      &.reminder {
        width: 180px;
      }
      
      &.city {
        width: 70px;
      }
      
      &.phone {
        width: 190px;
        
        span.text {
          float: left;
          margin-right: 4px;
        }
        
        span.digits {
          display: block;
          float: left;
          width: 130px;
        }
      }
      
      &.number {
        width: 70px;
      }
      
      &.date {
        width: 80px;
      }
      
      &.items {
        width: 120px;
        
        .number {
          display: inline-block;
          padding-right: 2px;
          text-align: right;
          width: 30px;
        }
      }
      
      &.modelname {
        font-weight: bold;
        width: 265px;
      }
      
      &.inventory_code {
        font-weight: bold;
        width: 100px;
      }
      
      &.serial_number {
        width: 100px;
      }
      
      &.overdue_icon {
        padding-right: 0;
        padding-left: 8px !important;
      }
      
      &.stock {
        width: 165px;
        
        .digits {
          display: block;
        }
      }
      
      &.status {
        width: 100px;
      }
      
      &.status_with_date {
        width: 185px;
      }
      
      &.approved_with_date {
        text-align: right;
        width: 185px;
      }
      
      &.actions {
        text-align: right;
        @include opacity(0.5);
      }
    }
  }
}