#navigation {
  float: left;
  left: 13px; 
  width: 680px;

  .item {
    margin-right: 5px;
    
    .anchor {
      padding: 7px 18px 0 7px;
      
      .leftend {
        background: url($image-sprite) no-repeat left -91px;
      }
    }
    
    &:hover {
      .leftend {
        background: url($image-sprite) no-repeat left -120px;
      }
    }
    
    &.active {
    
      .anchor {
        padding: 7px 18px 0 7px;
        
        .leftend {
          background: url($image-sprite) no-repeat left -149px;
        }
      }
      
      &:hover {
      
        .leftend {
          background: url($image-sprite) no-repeat left -149px;
        }
      }
    }
  }
}