.list_tip {
  max-width: 410px;
  
  .ui-tooltip-content {
    border-color: $borderdarkergrey;
    border-width: 3px;
    background-color: white;
    color: $darkgrey;
    padding: 10px;
    @include borderRadius(6px);
    @include boxShadow (0 0 10px #CCC);
  }

  .tip {
    position: relative;
    
    &.lines {
      
      .date {
        float: left;
        display: inline-block;
        font-size: 0.9em;
        font-weight: bold;
      }
      
      .range {
        color: $lightgrey;
        float: right;
        display: block;
        font-size: 0.9em;
        padding-right: 4px;
        text-align: right;
        width: 120px;
      }
     
      table {
        margin-top: 2px;
        margin-bottom: 12px;
        
        tr {
          &:nth-child(even) {
            td {
              background: $highlight-grey;
            }
          }
          
          td:nth-child(1) {
            padding-left: 10px;
          }
          
          td:nth-last-child(1) {
            padding-right: 10px;
          }
          
          td {
            &.quantity {
              text-align: right;
              padding-right: 10px;
              padding-left: 8px;
            }
           
            &.model_name {
              width: 350px;
            }
          }
        }
      }
    }
    
    &.user {
      table {
        tr {
          td{
            &.key {
              width: 80px;
            }
          }
        }
      }
    }       
      
    table {
      margin-top: 2px;
      margin-bottom: 12px;
      
      tr {
        &:nth-child(even) {
          td {
            background: $highlight-grey;
          }
        }
        
        td:nth-child(1) {
          padding-left: 10px;
        }
        
        td:nth-last-child(1) {
          padding-right: 10px;
        }
        
        td {
          padding: 4px 0 4px 0;
        }
      }
      
      &:nth-last-child(1) {
        margin-bottom: 0;
      }
    }
  }
}