@import "../shared/mixins";
@import "../shared/variables";

#acknowledge {
  
  .indent.purpose {
    background: $highlight-grey;
    
    section.purpose {
      padding: 8px 4px 8px 4px;
      position: relative;
      
      label {
        position: relative;
      }
      
      p {
        font-size: 1.3em;
        padding-right: 160px;
        position: relative;
        top: 2px;
        
        &.none {
          color: $lightgrey;
        }
      }
      
      .button {
        position: absolute;
        right: 0;
        top: 7px;
      }
    }
    
    &.collapsed {
      color: $grey;
      cursor: s-resize;
      height: 48px;
      overflow: hidden;
      
      &+.showmore {
        background: white;
        color: $lightgrey;
        padding-top: 2px;
        position: relative;
        text-align: left;
        @include box-shadow(0 -4px 8px rgba(0,0,0,0.4));
      }
      
      &:hover {
        color: $darkergrey; 
        height: 49px;
        margin-bottom: -1px;
        
        &+.showmore{
          position: relative;
          top: 1px;
          @include box-shadow(0 -4px 8px rgba(0,0,0,0.5));
        }
      }
    }
    
    &.expanded {
      color: $darkgrey;
      cursor: n-resize;
      height: auto;
      overflow: visible;
      
       &+.showmore {
         display: none;
      }
    }
  }
    
    
  #order {
    
    .linegroup:nth-last-child(2) {
      margin-bottom: 0;
    }
    
    hr:last-child{
      display: none;
    }   
  }
}
