@import "../shared/mixins";
@import "../shared/variables";

#add_item {
  display: block;
  float: left;
  height: 50px;
  position: relative;
  top: 6px;
  
  &>.button {
    position: relative;
    top: -5px;
  }
  
  .quick_add {
    color: $grey;
    font-size: 1.2em;
    padding: 0 6px;
    position: relative;
    top: 1px;
    width: 110px;
    @include borderRadius(4px);
    
    &:focus {
      border: 1px solid $lightgrey;
    }
  }
  
  & label {
    color: $darkgrey;
    position: absolute;
    top: -15px;
    left: 0;
  }
  
  .quick_add_box {
    display: inline-block;
    position: relative;
    margin-right: 6px;
  }
  
  .dates {
    display: inline-block;
    margin-right: 4px;
    position: relative;
    
    .container {
      display: inline-block;
      position: relative;
    }
    
    & input {
      padding: 0 8px;
      top: 1px;
      position: relative;
      width: 100px;
    }
    
    & label.datepicker.icon {
      position: relative;
      left: -23px;
      margin-right: -14px;
      top: -1px;
    }
  }
}