@import "../shared/mixins";
@import "../shared/variables";

.ui-autocomplete {
  background: #FFF;
  border: 1px solid $borderdarkergrey;
  display: inline-block; 
  max-height: 210px;
  width: 300px;
  overflow: auto;
  position: absolute;
  z-index: 1010 !important;
  @include box-shadow (0 2px 4px rgba(0,0,0,0.4));
  
  .ui-menu-item {
    min-height: 15px;
    @include dark-grey-links();
    
    &:nth-child(even) a {
      background: $highlight-grey;
    }
    
    a {
      border-bottom: 1px solid $borderlightergrey;
      border-top: 1px solid white;
      cursor: pointer;
      color: $darkergrey;
      display: block;
      font-size: 1.2em;
      padding: 9px 6px;
      position: relative;
      
      &:hover, &#ui-active-menuitem {
        background: $highlight-darkgrey;
      }

      .delete.icon {
        position: relative;
        top: -2px;
      }

      &.unborrowable {
      color: $lightred;

        &:hover {
          color: $red;
        }
      }
    }
  }
}

.autocomplete {
  & + .arrow.icon  {
    position: absolute;
    right: 8px;
    top: 10px;
    @include opacity(0.6);
  }

  & ~ .loading.icon  {
    position: absolute;
    right: 15px;
    top: 4px;
  }
}
