@import "../shared/mixins";
@import "../shared/variables";

input.clearable {
  padding-right: 24px !important;
}

.clear_icon {
  background: url($backend-image-sprite) no-repeat -145px -134px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  left: -19px;
  margin-right: -14px;
  top: 4px;
  height: 14px;
  width: 14px;
  @include opacity(0.6);
  
  &:hover {
    @include opacity(1.0);
  }
} 
