@import "../shared/mixins"
@import "../shared/variables"

.ui-dialog 
  
  &.small 
    width: 400px !important
  
  &.medium
    width: 760px !important 

  &.large, &.full_width
    width: 900px !important
  
  h1 
    padding-top: 12px
    width: 500px
  
  p.subtitle 
    .date 
      font-size: 0.9em

  section.highlighted
    background: none repeat scroll 0 0 #F8F8F8
    left: -17px
    padding: 4px 24px 6px
    margin: 8px 0 12px 0
    position: relative
    width: 708px
  
  .flash_message 
    color: $darkergrey
    display: none
    border: 1px solid red
    font-size: 1.2em
    font-weight: bold
    text-align: center
    padding: 12px
    margin: 12px 0 16px 0
    @include box-shadow (0 0 8px #AAA)
    
    &.visible 
      display: block
  
  .loading.icon.big 
    background: white
    display: block
    height: 20px
    margin: 25px auto 0 auto
    width: 20px
  
  section 
    position: relative
  
  
  section 
    position: relative
  
  
  textarea 
    display: block
    font-size: 1.4em
    height: 65px        
    margin-top: 12px
    padding: 10px
    vertical-align: top
    width: 700px
    
    &[disabled=disabled] 
      border: 1px solid $lightergrey
    
        
    &+.hint 
      color: $lightgrey
      font-size: 1.4em
      position: absolute
      top: 12px
      left: 14px
    
  
