@import "../shared/mixins";
@import "../shared/variables";

.line .extended {
  display: block;
  position: relative;
  top: -3px;
  
  .note {
    display: block;
    font-size: 1.1em;
    font-weight: bold;
    padding: 0 10px 10px 188px;
  }  
}