@import "../shared/mixins";
@import "../shared/variables";

.line .extended {
  display: block;
  position: relative;
  top: -3px;
  
  .note {
    display: block;
    font-size: 1.1em;
    font-weight: bold;
    margin: 0 9px 4px;
    padding: 0 10px 6px 194px;
  }  
}