@import "../shared/variables"
@import "../shared/mixins"

.field-inline-entry
  font-size: 1.1em
  background: rgba(100,100,100,0.1)
  border-top: 1px solid rgba(255,255,255,0.8)
  display: block
  height: 40px
  line-height: 1.4em
  padding: 8px 6px 8px 12px
  width: 100%
  @include box-sizing(border-box) 

  span
    display: inline

  .tobedeleted
    text-decoration: line-through !important

    &, &:hover
      color: black

  .inventory_code
    display: inline-block !important
    width: 60% !important

  .movetoggle
    cursor: move
    float: left
    font-size: 1.2em
    font-weight: bold
    position: relative
    width: 17px
    top: 2px