@import "../../shared/mixins"
@import "../../shared/variables"

.form_edit
  
  span.loading
    background: rgba(255,255,255,0.5)
    display: inline-block
    height: 100%
    position: absolute
    text-align: center
    top: 0
    width: 98%
    z-index: 1001
    @include box-sizing(border-box)
    
    img
      height: 32px
      top: 40%
      position: relative
      width: 32px

  .field .value > .input
    display: none

  .input .container
    display: block

  &.edit 
    .field 
      .input
        display: block
      .readonly
        display: none
    .field:not(.editable)
      .readonly
        display: block

  .left, .right
    display: block
    float: left
    width: 50%
    @include box-sizing(border-box)
  
  .left section
    margin-right: 5px

  .right section
    margin-left: 5px

  section
    margin: 0 0 10px 0

    h2, h3, h4
      padding: 2%
      @include text-shadow(-1px 1px 0 white)      

    h2 
      color: $black
      padding-top: 6px
      padding-bottom: 4px

    .inner
      background: $highlight-grey
      border: 1px solid $highlight-darkgrey
      border-right: 1px solid $highlight-darkgrey
      border-bottom: 1px solid $highlight-darkgrey
      @include border-radius(6px)

    .field
      border-top: 1px solid white
      border-bottom: 1px solid $highlight-darkgrey
      display: inline-block
      padding: 6px 0
      width: 100%
      @include box-sizing(border-box)

      &:first-child
        @include top-border-radius(6px)

      &.invalid 
        background: $highlight-lightred !important

      &.dependency
        display: none

      &.highlight
        background: $highlight-green

        h2,h3,h4
          @include text-shadow(-1px 1px 0 rgba(255,255,255,0.6))

      &:last-child
        border: none

      .add-button
        float: right

      .add-input
        width: 77% !important
        float: left

      .removable
        cursor: pointer
        float: left
        position: relative
        top: 6px
        left: 6px
        @include opacity(0.4)
        &:hover
          @include opacity(1.0)
          
      .key
        display: block
        float: left
        padding: 1% 2%
        margin: 0 !important
        width: 42%

      h3.key, .key h3
        font-size: 1.2em
        font-weight: bold

      .key h3
        padding: 0
        
      &.has-removeable .key
        padding-left: 3%
        width: 40%

      .value
        display: block
        line-height: 1.5em
        float: right
        padding: 1%
        position: relative
        width: 48%

        label:not(.container), span
          font-size: 1.2em

        input[type=text], textarea
          width: 90%
          @include box-sizing(border-box)

        select
          width: 96%

        .autocomplete
          padding-right: 16px
          width: 95% !important

          &+.arrow.icon
            right: 17px

  &.error
  
    .field.highlight
      background: $highlight-red
