@import "shared/mixins"
@import "shared/variables"

#inventory_helper
  
  h2
    font-size: 1.5em

  .button
    vertical-align: bottom

  .container 
    display: inline-block
    position: relative
  
    label 
      color: $darkgrey
      position: absolute
      top: -15px
      left: 0

  .selection_group
    border: 1px dashed $bordergrey
    background: rgb(250,250,250)
    padding: 2px
    margin: 12px 0
    min-height: 60px
    @include border-radius(6px)

    .left, .right
      background: white
      border: 1px solid $lightergrey
      border-right: 1px solid $lightergrey
      border-bottom: 1px solid $lightergrey
      display: none
      margin: 2px
      width: 49%
      @include border-radius(6px)

  form
   
    &>h2
      text-align: center
      position: relative
      text-align: center
      top: 20px
      @include opacity(0.6)

  #field_selection

    &>.container

      input[type=text]
        padding-right: 15px
        width: 155px

      .arrow.icon
        position: absolute
        right: 8px
        top: 10px
        left: auto
        @include opacity(0.6)

  #item_selection

    .autocomplete
      padding-right: 16px
      width: 154px

    .container .loading.icon
      position: absolute
      top: 4px
      right: 6px

  #item
    min-height: 380px

    h2.none_selected
      top: 170px

    .content_navigation
      top: 0

      .edit.button, .save.button, .cancel.button
        display: none

    &.selected
      background: none
      border: none
      margin: 0
      padding: 0
      @include border-radius(none)

      h2.none_selected
        display: none

      .left, .right
        display: block

      .content_navigation
        .edit.button
          display: inline-block

    &.edit

      .content_navigation

        .edit.button
          display: none !important

        .save.button, .cancel.button
          display: inline-block
