@import "../shared/mixins";
@import "../shared/variables";

#inventory {
  .list > .line:not(.navigation) {
    background: $highlight-grey;
  }
  
  .items > .line {
    background: white;
  }
  
  .items .children > .line {
    background: $highlight-grey;
  }
  
  .line .modelname .package.icon {
    @include opacity(0.5)
  }
  
  .noimage {
    color: $lightgrey;
  }
  
  .filter {
    label {
    }
  }
  
  .line:not(.navigation):hover {
    background: $highlight-darkgrey !important;
  }
}
