@import "../shared/mixins";
@import "../shared/variables";

.list .line {
  background-color: white;
  border-bottom: 1px solid $borderlightergrey;
  border-top: 1px solid white;
  cursor: default;
  display: table;
  height: 40px;
  position: relative;
  word-wrap: 1 break-word;
  width: 100%;
  
  &>div>li {
    color: $darkergrey;
    display: table-cell;
    font-size: 1.2em;
    height: 40px;
    position: relative;
    padding-right: 20px;
    padding-top: 4px;
    vertical-align: middle;
    
    &.actions {
      font-size: 1.0em;
      text-align: right;
      padding-left: 0 !important;
      padding-top: 0;
      position: relative;
      right: 0;
      top: 6px;
      
      &>.button {
        margin-right: 4px;
      }
      
      &>.multibutton {
       margin-right: 3px;       
      }
    }
  }
  
  &>.main {
    display: inline-block;
    width: 77%;
  }  
  
  &>.actions {
    display: inline-block;
    float: right;
    padding-top: 1px;
    width: 23%;
    
    li.actions {
      padding-right: 4px;
      float: right;

      &>.multibutton > .button{
        max-width: 165px;
      }
    }
  }
  
  &>a {
    display: block;
  }
  
  &>a>li:first-child, &>li:first-child, &>div>li:first-child {
    padding-left: 14px;
  }
  
  &>li:last-child {
    padding-right: 4px;
  }
  
  .tip {
    display: none;
  }
  
  .visible {
    display: inline-block;
  }
  
  .invisible {
    display: none;
  }
  
  .tiptarget {
    display: block;
    position: relative;
    top: 0;
    height: 31px;
    margin: -31px auto 0 auto;
    width: 100%;
  }
  
  &:nth-child(even) {
    background: $highlight-grey;
  }
  
  &:nth-child(odd) {
    background: white;
  }
  
  &:not(.navigation):not(.toggle):hover{
    background: $highlight-darkgrey;
    z-index: 999;
    @include box-shadow(inset 0 1px 4px rgba(0,0,0,0.2));

    li {
      color: $darkergrey !important;
    }
  }
  
  &.highlight {
    background-color: $highlight-darkgrey !important;
    
    &.success {
      background-color: $highlight-green !important;  
    }
  }
  
  span.digits {
    letter-spacing: -1px;
  }

  .package.icon {
    margin: 0 0 0 4px;
    @include opacity(0.5);
  }
}

.line .category_name {
  width: 300px;
}