@import "../shared/mixins";
@import "../shared/variables";

section {
  
  .linegroup {
    display: block;
    margin: 10px 0 20px 0;
    padding: 14px 0 9px 0;
    position: relative;
    @include inset-box;
    
    &.selected {
      background: $highlight-darkergrey;
      border: 1px solid $borderdarkgrey;
      @include boxShadow(0 0 8px #CDD);
    }
    
    .dates {
      color: $darkgrey;
      font-size: 1.3em;
      padding-left: 8px;
      margin-bottom: 14px;
      
      label {
        cursor: pointer;
        margin-right: 4px;
        
        input {
          cursor: pointer;
        }
      }
    }
    
    .days {
      color: $grey;
      font-size: 1.2em;
      position: absolute;
      right: 12px;
      top: 12px;
    }
    
    .lines.list {
      margin: 0;
      position: relative;
      
      .line {
        background: $highlight-grey;
        background: white;
        height: 34px; 
        
        &:hover {
          background: $highlight-darkergrey;
        }
      }
    }
  }
}
