@import "../shared/mixins";
@import "../shared/variables";

.list {
  display: block;
  position: relative;
  
  &>.loading {
    background: rgba(255,255,255,0.5);
    display: inline-block;
    height: 100%;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 1001;
    
      img {
        top: 40%;
        display: block;
        width: 30px;
        left: 45%;
        position: relative;
      }
  }
  
  .navigation {
    &:hover {
      background: white !important;
      border-bottom: 1px solid $borderlightergrey !important;
    }
    
    li {
      padding-top: 0 !important;
    }

    label {
      background: #F8F8F8;
      border: 1px solid #E0DFDE;
      color: $grey;
      cursor: pointer;
      display: inline-block;
      height: 29px;
      position: relative;
      vertical-align: top;
      z-index: 101;
      @include border-radius(4px);
      
      &>span {
        font-size: 1.2em;
        display: inline-block;
        margin: 7px 5px 0 0;
      }
      
      &>.icon {
        position: relative;
        top: -1px;
        margin: 0 4px; 
      }
      
      .custom_select {
        cursor: pointer;
        
        .icon {
          position: absolute;
          right: 7px;
          top: 12px;
          @include opacity(0.6);
        }
        
        &:hover .icon {
          @include opacity(1.0);
        }
         
        span {
          border-right: 1px solid rgba(0,0,0,0.1);
          display: block;
          height: 19px;
          padding: 4px 0 0 7px;
          margin-right: 21px;
        }
      }
      
      select {
        cursor: pointer;
        height: 100%;
      }
    }
    
    select {
      font-size: 1.1em;
    }
    
    li.categories {
      font-size: 1em;
      padding: 0 0 0 4px !important;

      .icon {
        position: relative;
        top: 1px;
        left: 1px;
      }
    }

    .search {
      padding: 0 0 0 4px !important;
      width: 335px;
      
      input {
        font-size: 1.1em;
        height: 19px;
        margin-left: 6px;
        margin-right: 4px;
        padding-top: 3px;
        padding-left: 7px;
        padding-right: 26px;
        padding-bottom: 1px;
        position: relative;
        width: 100px;
        
        &:active, &:focus, &.active {
          color: $darkgrey !important;
        }
      }
      
      .loading {
        display: none;
        height: 14px;
        left: -26px;
        margin-right: -14px;
        position: relative;
        top: -1px;
        width: 14px;
      }
      
      .clear_icon {
        display: inline-block;
        top: 2px;
        left: -22px;
      }
    }
    
    .filter {
      font-size: 1em;
      padding-right: 7px;
      text-align: right;
      width: 82%;
    }
    
    .historical_search {
      padding: 0 3px 0 0 !important;
      position: absolute;
      right: 0;
      top: 8px;
      width: 82%;
      
      .hs_container {
        display: inline-block;        
        float: right;
        
        a, span {
          color: #8a8a8a;
          cursor: pointer;
          display: block;
          float: left;
          border: 1px solid $lightgrey;
          border-top: 1px solid #c0c0c0;
          background: url($slices-h) repeat-x 0 -252px;
          padding: 0.3em 0.5em;
          margin-right: 4px;
          margin-bottom: 5px;
          text-align:center;
          min-width:1em;
          @include border-radius(6px);
          
          &:hover {
            background: url($slices-h) repeat-x 0 -284px;
            color: #515151;
          }
          
          &:active {
            background: url($slices-h) repeat-x 0 -316px;
          }
          
          &[disabled=disabled], &[disabled=disabled]:hover, &[disabled=disabled]:active {
            background: url($slices-h) repeat-x 0 -252px;
            cursor: default;
            color: #8a8a8a !important;
          }
        }
        
        .current, .current:hover {
          background: url($slices-h) repeat-x 0 -252px;
          border: solid 1px $grey;
          color: $darkgrey;
          cursor: default;
        }
      }
    }
  }
}