@import "../shared/mixins";
@import "../shared/variables";

#navigation {
  float: left;
  left: 13px; 
  width: 680px;

  .item {
    margin-right: 4px;
    
    .anchor {
      padding: 7px 18px 0 7px;
      
      .leftend {
        background: url($image-sprite) no-repeat left -91px;
      }
      
      .badge {
        background: $borderdarkergrey;
        border: 1px solid white;
        color: white;
        display: inline-block;
        font-size: 0.8em;
        min-width: 12px;
        padding: 1px 2px;
        position: relative;
        top: -4px;
        margin-right: -14px;
        margin-left: 1px;
        text-align: center;
        z-index: 999;
        @include border-radius(5px);
        @include box-shadow (0 0 1px #DDD);
      }
    }
    
    &:hover {
      .leftend {
        background: url($image-sprite) no-repeat left -120px;
      }
    }
    
    &.active {
    
      .anchor {
        padding: 7px 18px 0 7px;
        
        .leftend {
          background: url($image-sprite) no-repeat left -149px;
        }
      }
      
      &:hover {
      
        .leftend {
          background: url($image-sprite) no-repeat left -149px;
        }
      }
    }
  }
}