@import "../shared/mixins"
@import "../shared/variables"

.notifications

  .notification
    background: $highlight-yellow
    border: 1px solid $highlight-darkergrey
    display: block
    margin-bottom: 8px
    line-height: 1.5em
    padding: 12px
    font-size: 1.2em
    @include border-radius(6px)

    &:last-child
      margin-bottom: 20px

    strong
      padding-right: 6px

    &.error
      background: $highlight-lightred
      border: 1px solid $lightred
      color: $black