.package-dialog
  
  #item #form
    -moz-box-sizing: border-box
    box-sizing: border-box
    display: inline-block
    margin-top: 18px
    width: 100%

    .ui-autocomplete
      position: fixed !important