@import "../shared/mixins";
@import "../shared/variables";

#process_helper {
  display: block;
  float: left;
  height: 50px;
  margin-top: 25px;
  margin-bottom: -25px;
  position: relative;
  
  &>.button {
    position: relative;
    top: -4px;
  }
  
  #code {
    color: $lightgrey;
    padding: 0 26px 0 6px;
    width: 115px;
    
    &+.loading {
      height: 16px;
      position: relative;
      left: -20px;
      margin-right: -16px;
      top: -1px;
      width: 16px;
    }
  }
  
  & label {
    color: $darkgrey;
    position: absolute;
    top: -15px;
    left: 0;
  }
  
  >.container {
    display: inline-block;
    position: relative;
    margin-right: 6px;
  }
  
  .dates {
    display: inline-block;
    margin-right: 4px;
    position: relative;
    
    .container {
      display: inline-block;
      position: relative;
    }
    
    & input {
      padding: 0 8px;
      position: relative;
      width: 100px;
    }
    
    & label.datepicker.icon {
      position: relative;
      left: -23px;
      margin-right: -14px;
      top: -1px;
    }
  }
}