@import "../shared/mixins";
@import "../shared/variables";

#selection_actions {
  display: inline-block;
  float: right;
  height: 50px;
  margin-top: 25px;
  margin-bottom: -25px;
  position: relative;
  
  &>.selection {
    background: $highlight-grey;
    border: 1px solid $highlight-darkergrey; 
    bottom: 0;
    display: inline-block;
    font-size: 1.3em;
    padding: 4px 8px;
    position: relative;
    margin-right: 6px;
    @include border-radius(4px);
  }
  
  &>.actions {
    display: inline-block;
    position: relative;
    bottom: 6px;
    top: -4px;
    margin-right: -2px;
    
    .multibutton > .button {
      padding-right: 6px;
      position: relative;
    }
  }
}
