#visits {
  
  .visit {
    
    .date {
      font-size: 1.5em;
      font-weight: normal;
      margin-left: 13px;
      padding-bottom: 4px;
      padding-top: 6px;
    }
    
    &:last-child hr {
      display: none;
    }
  }
}
  

