%div{:class => "line-col {{>~grid}}",
     :data => { :type => "user-cell",
                :id => "{{>id}}", 
                :firstname => "{{>firstname}}", 
                :lastname => "{{>lastname}}", 
                :email => "{{>email}}", 
                :phone => "{{>phone}}", 
                :badge_id => "{{>badge_id}}", 
                :address => "{{>address}}", 
                :image_url => "{{>image_url}}", 
                :zip => "{{>zip}}", 
                :city => "{{>city}}"}}

  %strong
    {{>firstname}} {{>lastname}}
    {{if isSuspended()}}
    %span.darkred-text {{jed "Suspended"/}}!!!
    {{/if}}