.modal.fade.ui-modal.medium.min-height-m{:role => "dialog", :tabindex => "-1"}

  .modal-header.row
    .col3of5
      %h2.headline-l {{jed "Hand over completed"/}}
      %h3.headline-m.light
        {{jed itemsCount "%s item" "%s items" itemsCount/}}
        {{jed "to %s" contract.user().name()/}}
    .col2of5.text-align-right
      .multibutton
        %a.button.white.text-ellipsis{:href => "{{dailyPath/}}"} {{jed "Finish this hand over"/}}
        .dropdown-holder.inline-block
          .button.white.dropdown-toggle
            .arrow.down
          %ul.dropdown.right
            %li
              %a.dropdown-item{:href => ""}
                %i.fa.fa-undo
                {{jed "Back to this user"/}}

  .modal-body
    .padding-inset-l.margin-top-s

      .row.emboss.padding-inset-s.margin-bottom-s
        .col1of3
        .col1of3
          %a.button.white.width-full{:href => "{{>contract.url()}}", :target => "_blank"}
            %i.fa.fa-file-alt
            {{jed "Contract"/}}
        .col1of3

      .row.emboss.padding-inset-s.margin-bottom-s
        .col1of3
        .col1of3
          %a.button.white.width-full{:href => "{{>contract.url('value_list')}}", :target => "_blank"}
            %i.fa.fa-list-ol
            {{jed "Value List"/}}
        .col1of3
