// FONTS
$fonts: "Lucida Grande", "Lucida Sans Unicode", sans-serif

// FONT SIZES

$font-size-xxxs: 0.8em
$font-size-xxs: 1.0em
$font-size-xs: 1.2em
$font-size-s: 1.4em
$font-size-m: 1.6em
$font-size-l: 1.8em
$font-size-xl: 2.1em
$font-size-xxl: 2.6em

// LINE HEIGHTS

$line-height-xxs: 0.8em
$line-height-xs: 1.0em
$line-height-s: 1.2em
$line-height-m: 1.4em
$line-height-l: 1.8em
$line-height-xl: 2.4em