{{if model_id}}
{{partial 'manage/views/lines/take_back_line/item_line' #view.data #view.ctx/}}
{{else option_id}}
{{partial 'manage/views/lines/take_back_line/option_line' #view.data #view.ctx/}}
{{/if}}