:coffeescript
  
  App.Contract.TIMEOUT_MINUTES = #{Setting.timeout_minutes}
  App.User.addRecord new App.User(#{current_user.to_json(except: :extended_info)})
  App.User.current = App.User.find(#{current_user.id})
  App.User.current.groupIds = #{current_user.group_ids.to_json}