%label.min-height-full.width-full{:title => _("Search"), :for => "term"}
  %form.min-height-full.row.width-full{:action => "", :method => :get, :autocomplete => :off}
    %input#term.round-borders.has-addon.width-full{:type => "text", :name => "term", :placeholder => _("Search")}
    .input-addon.transparent.padding-right-xs
      %i.icon-search.icon-size-xxs