#search
  %label.min-height-full.width-full{:title => _("Search"), :for => "search_term"}
    %form.min-height-full.row.width-full{:action => borrow_search_path, :method => :post, :autocomplete => :off}
      = token_tag nil
      %input.text-ellipsis.round-borders.has-addon.width-full.padding-right-m.padding-left-s{:type => "text", :id => "search_term", :name => "search_term", :placeholder => _("Search")}
      .addon.transparent.padding-right-xs
        %i.fa.fa-search.icon-xxs.grey
  #search-autocomplete

:coffeescript
  
  jQuery ->
    new App.SearchTopbarController
      el: $("#search")