/* scrollable sub-sections inside an autocomplete */
.ui-autocomplete.ui-autocomplete-scrollable {

  border: none;

  // spacing:
  max-height: 60vh;
  .submenu-scroll {
    max-height: 20vh;
  }

  // menu positioning:
  .submenu-scroll {
    position: relative;
    display: inherit !important;
    overflow-x: auto;
    overflow-scrolling: touch;
    top: 0 !important;
    left: 0 !important;
    width: 100%;
    height: auto;
    margin: 0;
    border-left: none;
    border-right: none;
    border-radius: 0 !important;
    box-shadow: none;
  }

  // header:
  .submenu-header {
    font-size: 1.2em;
    padding: 8px;
    background-color: #f2f2f2;             // fallback color
    background-color: rgba(0, 0, 0, 0.08); // transparent so shadow below is visible
    border-bottom: 2px solid #d7d7d5;
    border-top: 2px solid #d7d7d5;
  }
  & ul:first-child .submenu-header {
    border-top: none;
  }

  // indicate cut-off content with shadows
  // for main menu as well as the sub-sections!
  &, .submenu-scroll {
    // NOTE: based on http://lea.verou.me/2012/04/background-attachment-local/

    // make it scroll in both axis, in all browsers:
    word-break: normal;
    word-wrap: normal;

    background-repeat: no-repeat;
    background-image:
      // Shadow covers
      //   top and bottom
      linear-gradient(to right, rgba(255, 255, 255, 1) 34%, rgba(255, 255, 255, 0)),
      linear-gradient(to left, rgba(255, 255, 255, 1) 34%, rgba(255, 255, 255, 0)),
      //   left and right
      linear-gradient(to bottom, rgba(255, 255, 255, 1) 34%, rgba(255, 255, 255, 0)),
      linear-gradient(to top, rgba(255, 255, 255, 1) 34%, rgba(255, 255, 255, 0)),

      // Shadows
      //   left and right
      radial-gradient(farthest-side at 0 50%, rgba(0,0,0,.2), rgba(0,0,0,0)),
      radial-gradient(farthest-side at 100% 50% , rgba(0,0,0,.2), rgba(0,0,0,0)),
      //   top and bottom
      radial-gradient(farthest-side at 50% 0, rgba(0,0,0,.2), rgba(0,0,0,0)),
  		radial-gradient(farthest-side at 50% 100%, rgba(0,0,0,.2), rgba(0,0,0,0));

    background-position:
      0% 0%, 100% 100%,
      0% 0%, 100% 100%,
      0% 0%, 100% 100%,
      0% 0%, 100% 100%;
    background-size:
      2em 100%, 2em 100%,
      100% 2em, 100% 2em,
      1em 100%, 1em 100%,
      100% 1em, 100% 1em;
    background-attachment:
      local, local,
      local, local,
      scroll, scroll,
      scroll, scroll;
  }
}
