.ui-datepicker
  background: white
  font-size: $font-size-xs
  display: none
  padding: .2em .2em 0
  width: 17em
  @include border-radius($border-radius-s)
  @include box-shadow($default-box-shadow)
  @include micro-clearfix

  .ui-datepicker-unselectable, .ui-state-disabled
    .ui-state-default
      opacity: 0.5

      &:hover
        background: none
        color: gray

.hidden-datepicker-input
  height: 0px
  position: absolute
  bottom: 0
  opacity: 0 //visibility: hidden
  width: 0px

.ui-datepicker select.ui-datepicker-month-year
  width: 100%

.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year
  width: 49%

.ui-datepicker table
  width: 100%
  font-size: .9em
  border-collapse: collapse
  margin: 0 0 .4em

.ui-datepicker th
  padding: .7em .3em
  text-align: center
  font-weight: bold
  border: 0

.ui-datepicker td
  border: 0
  padding: 1px

.ui-datepicker td span, .ui-datepicker td a
  display: block
  padding: .2em
  text-align: right
  text-decoration: none

.ui-datepicker .ui-datepicker-buttonpane
  background-image: none
  margin: .7em 0 0 0
  padding: 0 .2em
  border-left: 0
  border-right: 0
  border-bottom: 0

.ui-datepicker .ui-datepicker-buttonpane button
  float: right
  margin: .5em .2em .4em
  cursor: pointer
  padding: .2em .6em .3em .6em
  width: auto
  overflow: visible

.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current
  float: left


/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi
  width: auto

.ui-datepicker-multi .ui-datepicker-group
  float: left

.ui-datepicker-multi .ui-datepicker-group table
  width: 95%
  margin: 0 auto .4em

.ui-datepicker-multi-2 .ui-datepicker-group
  width: 50%

.ui-datepicker-multi-3 .ui-datepicker-group
  width: 33.3%

.ui-datepicker-multi-4 .ui-datepicker-group
  width: 25%

.ui-datepicker-multi .ui-datepicker-buttonpane
  clear: left

.ui-datepicker-row-break
  clear: both
  width: 100%
  font-size: 0em


/* RTL support */
.ui-datepicker-rtl
  direction: rtl

.ui-datepicker-rtl .ui-datepicker-buttonpane
  clear:right

.ui-datepicker-rtl .ui-datepicker-buttonpane button
  float: left

.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current
  float:right

.ui-datepicker-rtl .ui-datepicker-group
  float:right

.ui-datepicker th
  font-weight: bold
  color: gray

.ui-datepicker

  td.ui-datepicker-today a
    background: none
    font-weight: bold
    text-decoration: underline

  td.ui-datepicker-days-cell-over a
    background: $lightblue
    color: white
    @include border-radius(4px)

.ui-datepicker td a
  margin-bottom: 0px
  border: 0px

.ui-datepicker td:hover
  color: white

.ui-datepicker .ui-state-default
  border: 0px
  background: none
  margin-bottom: 0px
  padding: 5px
  color: gray
  text-align: center
  filter: none

.ui-datepicker td .ui-state-active
  background: #BFBFBF
  margin-bottom: 0px
  font-size: normal
  text-shadow: 0px
  color: white
  @include border-radius(4px)

.ui-datepicker td .ui-state-default:hover
  background: $blue
  color: white
  @include border-radius(4px)


