#book {
  padding-bottom: 0;
  
  .image {
    float: left;
    margin-right: 24px;
    min-height: 50px;
    width: 60px;
    
    td {
      height: auto;
      text-align: center;
      vertical-align: middle;
    
        img {
          max-height: 50px;
          max-width: 60px;
        }
      }
  }

  h1, h3 {
    width: 515px;
  }
  
  .button {
    position: absolute;
    right: 15px;
    top: 10px;
  }
  
  label {
    cursor: pointer;
    color: $lightgrey;
    position: absolute;
    top: -16px;
  }
  
  .container {
    display: block;
    float: left;
    position: relative;
    margin: 20px 16px 2px 0;
  }
    
  input{
    background: white;
    border: 1px solid #d0d0d0;
    display: block;
    font-size: 1.2em;
    height: 20px;
    position: relative;
    text-align: center;
    @include borderRadius(4px);
  }
    
  .quantity {
    
    input {
      font-size: 1.4em;
      padding-right: 12px;
      width: 30px;
    }
  }
    
  .date {
    
    input {
      padding-right: 6px;
      padding-left: 5px;
      width: 70px;
    }
    
    div {
      float: left;
    }
    
    .dash {
      padding: 7px 6px 0 6px;
    }
  }
    
  .inventorypool {
    
    .select {
      background: white;
      border: 1px solid #d0d0d0;
      cursor: pointer;
      display: block;
      font-size: 1.2em;
      height: 18px;
      padding-top: 4px;
      position: absolute;
      width: 100%;
      @include borderRadius(4px);
      
      .name {
        font-weight: bold;
        padding-left: 6px;
      }
      
      .arrow {
        background: url($image-sprite) no-repeat -53px -37px;
        display: block;
        height: 6px;
        position: absolute;
        right: 5px;
        top: 9px;
        width: 7px;
        @include opacity(0.6);
      }
    }
    
    select {
      cursor: pointer;
      font-size: 1.2em;
      height: 24px;
      padding-right: 8px;
      @include opacity(0);
    }
  }
}