// BUTTON
.button {
  background: none;
  border: 0;
  border: 1px solid $lightgrey;
  cursor: pointer;
  display: inline-block;
  font-size: 1.3em;
  font-weight: bold;
  height: 31px;
  text-align: center;
  padding: 0 12px;
  position: relative;
  vertical-align: middle;
  
  @include borderRadius(6px);
}

.button:active {
  line-height: 1.5em;
}

.button:hover {
  color: #515151 !important;
}

a.button {
  padding-top: 6px;
  height: 23px;
}

// SMALL BUTTON
.smallbutton {
  background: none;
  border: 0;
  border: 1px solid $lightgrey;
  cursor: pointer;
  display: inline-block;
  height: 22px;
  letter-spacing: 0;
  text-align: center;
  padding: 0 8px;
  position: relative;
  vertical-align: middle;
  
  @include borderRadius(6px);
}

button.smallbutton {
  height: 24px;
}

a.smallbutton {
  font-size: 0.9em;
  padding-top: 4px;
  height: 18px;
}

.smallbutton:hover {
  color: #515151 !important;
}

.smallbutton:active {
  line-height: 1.3em;
}

// BUTTON GREEN
.button.green, .smallbutton.green {
  color: #4d9148;
  border-top: 1px solid #47c23e;
}

.button.green {
  background: url($image-sprite) no-repeat 0 -202px;
}

.button.green:hover {
  background: url($image-sprite) no-repeat 0 -340px;
}

.button.green:active {
  background: url($image-sprite) no-repeat 0 -234px;
}

.button.green[disabled=disabled] {
  background: url($image-sprite) no-repeat 0 -202px;
  color: #4d9148 !important;
}

// SMALLBUTTON GREEN
.smallbutton.green {
  background: url($image-sprite) no-repeat 0 -372px;
}

.smallbutton.green:hover {
  background: url($image-sprite) no-repeat 0 -395px;
}

.smallbutton.green:active {
  background: url($image-sprite) no-repeat 0 -418px;
}

.smallbutton.green[disabled=disabled] {
  background: url($image-sprite) no-repeat 0 -372px;
  color: #4d9148 !important;
}

// BUTTON WHITE
.button.white, .smallbutton.white {
  color: #8a8a8a;
  border-top: 1px solid #c0c0c0;
}

.button.white {
  background: url($image-sprite) no-repeat 0 -441px;
}

.button.white:hover {
  background: url($image-sprite) no-repeat 0 -505px;
}

.button.white:active {
  background: url($image-sprite) no-repeat 0 -473px;
}

.button.white[disabled=disabled] {
  background: url($image-sprite) no-repeat 0 -441px;
  color: #8a8a8a !important;
}

// SMALL BUTTON WHITE

.smallbutton.white {
  background: url($image-sprite) no-repeat 0 -537px;
}

.smallbutton.white:hover {
  background: url($image-sprite) no-repeat 0 -560px;
}

.smallbutton.white:active {
  background: url($image-sprite) no-repeat 0 -583px;
}

.smallbutton.white[disabled=disabled] {
  background: url($image-sprite) no-repeat 0 -537px;
  color: #8a8a8a !important;
}

// SMALL BUTTON RED
.smallbutton.red {
  color: #db5252;
  border: 1px solid #df7070;
  border-top: 1px solid #ea9090;
}

.smallbutton.red {
  background: url($image-sprite) no-repeat 0 -606px;
}

.smallbutton.red:hover {
  background: url($image-sprite) no-repeat 0 -629px;
}

.smallbutton.red:active {
  background: url($image-sprite) no-repeat 0 -652px;
}

.smallbutton.red[disabled=disabled] {
  background: url($image-sprite) no-repeat 0 -606px;
  color: #db5252 !important;
}
