#order {

  p {
    margin-bottom: 12px;
  }
  
  .orderlist {
    margin-top: 12px;
    
    .pool {
      display: block;
      margin-top: 14px;
      padding-bottom: 6px;
      
      h3 {
        border-bottom: 1px solid #e3e3e3;
        display: block;
        padding-bottom: 4px;
        margin-bottom: 1px;
        @include greylinks();
        
        a {
          display: inline-block;
          
          span.address {
            font-weight: normal;
            font-size: 0.7em;
          }
        }
      }
    }
    
    .pool:hover {
      h3 a {
        color: $grey;
      }
      
      h3 a:hover {
        color: $darkgrey;
      }
    }
    
    .item {
      border-bottom: 1px solid #e3e3e3;
      margin-bottom: 1px;
      height: 70px;
      position: relative;
      width: 100%;
      
      td {
        font-size: 1.2em;
        height: 70px;
        padding-right: 24px;
        position: relative;
        vertical-align: middle;
      }
      
      td.image {
        height: 70px;
        padding: 0 12px 0 12px;
        position: relative;
        text-align: center;
        vertical-align: middle;
        width: 50px;
        
        img {
          max-height: 50px;
          max-width: 50px;
        }
      }
      
      td.amount {
        text-align: right;
        width: 40px;
      }
      
      td.name {
        width: 250px;
      }
      
      td.manufacturer {
        width: 110px;
      }
      
      td.actions {
        text-align: right;
        @include opacity(0.7);
        
        .delete {
        
          img {
            height: 14px;
            width: 14px;
          }
        }
      }
      
      td.timerange {
        font-size: 1.1em;
        letter-spacing: 0;
      }
    }
    
    .item:nth-child(even) {
      background: $highlight-grey;
    }
    
    .item.with_hover:hover {
      @include highlightItem();
      
      td.actions {
        @include opacity(1);
      }
    }
  }
  
  section.actions {
    display: block;
    margin-top: 28px;
    margin-bottom: 4px;
    text-align: right;
    
    .button {
      margin-left: 6px;
    }
  }
}