.highlight {
  background: yellow;
}

.ui-autocomplete {
  background: #FFF;
  border-right: 1px solid #c3c3c3;
  border-bottom: 1px solid #c3c3c3;
  position: absolute;
  width: 350px !important;
  @include boxShadow (2px 2px 2px #DDD);
  
  .marked {
    background: none;
    color: $lightgrey;
    font-weight: normal;
  }
  
  a:hover {
    .marked {
      color: $grey;
    }
  }
  
  .ui-menu-item.model {
    border-bottom: 1px solid #e3e3e3;
    height: 65px;
    position: relative;
    @include darkGreylinks();
    
    table.image {
      height: 65px;
      position: absolute;
      right: 8px;
    
      tr {
        td {
          vertical-align: middle;
          
          img {
            max-height: 65px;
            max-width: 70px;
          }
        }      
      }
    }
    
    a {
      cursor: pointer;
      display: table-cell;
      height: 65px;
      font-size: 1.2em;
      font-weight: bold;
      padding-left: 12px;
      position: relative;
      vertical-align: middle;
      width: 338px;
      
      span.label {
        display: inline-block;
        width: 240px;
      }
    }
  }
  
  .ui-menu-item.model:nth-child(odd) {
    background: $highlight-grey;
  }
    
  .ui-menu-item.model:hover {
    background: $highlight-darkgrey;
  }
  
  .ui-menu-item.categories {
    border-bottom: 1px solid #e3e3e3;
    display: block;
    padding-left: 14px;
    padding-bottom: 6px;
    padding-top: 12px;
    
    .ui-menu-item.category {
      display: inline-block;
      font-size: 1.4em;
      margin-bottom: 6px;
      @include darkGreylinks();
    }
  }
}

#search {
	position: relative;
	width: 150px;
	z-index: 3;
	
	.borderleftround {
    background: url($image-sprite) no-repeat -32px 0;
    display: block;
    float: left;
    height: 28px;
    position: relative;
    width: 6px;
  }
  
  .borderrightstraight {
    background: url($image-sprite) no-repeat -39px 0;
    display: block;
    float: left;
    height: 28px;
    position: relative; 
    width: 6px;
  }
  
  .inner {
    background: url($slices-h) repeat-x 0 -125px;
    height: 34px;
    float: left;
    
    .container {
      background: url($slices-h) repeat-x 0 -160px;
      height: 21px;
      margin-left: 6px;
      margin-right: 6px;
      position: relative;
      top: 4px;
      
      .borderleft {
        background: url($image-sprite) no-repeat -46px 0;
        display: block;
        height: 21px;
        left: -6px;
        position: absolute; 
        top: 0;
        width: 6px;
      }
      
      .borderright {
        background: url($image-sprite) no-repeat -46px -22px;
        display: block;
        height: 21px;
        right: -6px;
        position: absolute; 
        top: 0;
        width: 6px;
      }
      
      input[type=text] {
        background: none;
        border: none;
        color: $grey;
        display: block;
        font-size: 1.2em;
        height: 19px;
        left: -7px;
        margin-left: -4px;
        padding-left: 13px;
        padding-right: 16px;
        padding-bottom: 4px;
        position: relative;
        width: 90px;
        z-index: 1;
      }
      
      input[type=image] {
        background: none;
        border: none;
        cursor: pointer;
        height: 21px;
        position: absolute;
        right: -6px;
        top: 0;
        width: 20px;
      }
    }
  }
}