#topbar {
  background: url($slices-h) repeat-x;
  display: block;
  height: 45px;
  margin: 0 auto;
  position: relative;
  width: 950px;
  z-index: 999;
  
  .borderleft {
    background: url($image-sprite) no-repeat;
    display: block;
    height: 45px;
    left: -6px;
    position: absolute; 
    top: 0;
    width: 6px;
  }
  
  .borderright {
    background: url($image-sprite) no-repeat -7px 0;
    display: block;
    height: 45px;
    right: -6px;
    position: absolute; 
    top: 0;
    width: 6px;
  }
  
  .light {
    background: url($image-sprite) no-repeat 0 -46px;
    height: 44px;
    left: -6px;
    position: absolute;
    width: 215px;
  }
  
  .logo {
    background: url($image-sprite) no-repeat -111px 0;
    height: 40px;
    float: left;
    position: relative;
    top: 1px;
    width: 103px;
    
    a {
      display: block;
      height: 100%;
      width: 100%;
    }
  }
  
  .navigation {
    float: right;
    
    .seperator {
      background: url($image-sprite) no-repeat -14px 0;
      display: block;
      float: left;
      height: 40px;
      left: 4px;
      position: relative;
      top: 2px;
      width: 3px;
    }
    
    .item {
      float: left;
      height: 45px;
      left: 4px;
      position: relative;
      @include greylinks;
      
      .anchor {
        display: block;
        font-weight: bold;
        font-size: 1.2em;
        height: 26px;
        padding: 13px 16px 0 16px;
        position: relative;
        top: 2px;
      }
      
      .hover {
        display: none;
        left: -1px;
        line-height: 1.5em;
        max-width: 350px;
        position: absolute;
        top: 43px;
        z-index: 999;
        
        .header {
          background: url($slices-h) repeat-x 0 -94px;
          height: 2px;
          position: relative;
          width: 100%;
          
          .borderleft {
            background: url($slices-v) repeat-y 0px 0px;
            height: 100%;
            left: -2px;
            position: absolute;
            top: 0;
            width: 2px;
          }
          
          .borderright {
            background: url($slices-v) repeat-y -3px 0;
            height: 100%;
            right: -5px;
            position: absolute;
            top: 0;
            width: 5px;
          }
        }
        
        .inner {
          background: #FFF;
          height: 100%;
          padding: 9px 11px 11px 10px;
          position: relative;
          
          h3 {
            display: block;
            font-size: 1.1em;
            font-weight: bold;
            padding: 0 0 4px 0;
            margin: 0;
            white-space: nowrap;
          }
          
          p {
            max-width: 250px;
            overflow: hidden;
            padding-bottom: 0px;
          }
          
          .borderleft {
            background: url($slices-v) repeat-y 0px 0px;
            height: 100%;
            left: -2px;
            position: absolute;
            top: 0;
            width: 2px;
          }
          
          .borderright{
            background: url($slices-v) repeat-y -3px 0;
            height: 100%;
            right: -5px;
            position: absolute;
            top: 0;
            width: 5px;
          }
        }
        
        .footer {
          background: url($slices-h) repeat-x 0 -87px;
          height: 6px;
          position: relative;
          width: 100%;
          
          .borderleft {
            background: url($image-sprite) no-repeat -18px 0;
            height: 6px;
            left: -2px;
            position: absolute;
            top: 0;
            width: 2px;
          }
          
          .borderright{
            background: url($image-sprite) no-repeat -18px -7px;
            height: 6px;
            right: -5px;
            position: absolute;
            top: 0;
            width: 5px;
            z-index: 1;
          }
        }
      }

      .hover.pools {
        @include bluelinks;
        
        .inner {
          padding-top: 12px;
          padding-bottom: 13px;
          
          section {
            padding-left: 8px;
            padding-right: 16px;
            position: relative;
            min-width: 150px;
            
            p {
              padding-bottom: 5px !important;
            }
          }
        }
      }
      
      .hover {
        font-size: 1.1em;
        font-weight: bold;
        
        .inner {
          padding: 0;
          
          hr {
            display: block;
            position: relative;
            margin: 0 0 -15px 0;
          }
          
          a {
            display: block;
            overflow: hidden;
            padding: 11px 25px 10px 20px;
            position: relative;
            white-space: nowrap;
          }
        }
      }
      
      .hover.parks {
        .openinghours {
          font-size: 1.0em;
          font-weight: normal;
          letter-spacing: 0px;
          padding-left: 4px;
        }
        
        .address {
          display: block;
          font-size: 1.0em;
          font-weight: normal;
          letter-spacing: 0px;
        }
      }
      
      .topright {
        display: block;
        height: 100%;
        padding: 10px 10px 10px 15px;
        position: absolute;
        text-align: right;
        right: -10px;
        top: -9px;
        width: 100%;
      }
    }
    
    .item:hover {
      .anchor {
        background: url($slices-h) repeat-x 0 -46px;
        color: $darkgrey;
      }
      
      .hover {
        display: block;
      }
    }
    
    .item.active {
      .anchor {
        background: url($slices-h) repeat-x 0 -46px;
        color: $darkgrey;
      }
    }
    
    .item:nth-last-child(1) {
      .anchor {
        margin-right: -2px;
        z-index: 999;
      }
    }
    
    .item:nth-last-child(1):hover {
      .anchor {
        background: url($image-sprite) no-repeat right -268px;
      }
    }
    
    .item.language {
      .anchor {
        padding-right: 33px;
        
        .speechbubble {
          background: url($image-sprite) no-repeat -83px 0;
          display: block;
          height: 14px;
          position: absolute;
          top: 9px;
          right: 12px;
          width: 18px;
        }
      }
    }
    
    .item.language:hover {
      .speechbubble {
        background: url($image-sprite) no-repeat -83px -15px;
      }
    }
  }
} 