@import "../shared/mixins";
@import "../shared/variables";

#book {
  padding-bottom: 0;
  
  .image {
    float: left;
    margin-right: 24px;
    width: 60px;
    
    td {
      height: auto;
      text-align: center;
      vertical-align: middle;
    
      img {
        max-height: 50px;
        max-width: 60px;
      }
    }
  }

  h1, h3 {
    width: 515px;
  }
  
  .button {
    position: absolute;
    right: 15px;
    top: 10px;
  }
  
  #fullcalendar {
    margin-top: 20px;
    height: 567px;
  }
  
  .calendar_input {
    padding-left: 2px;
    position: absolute;
    z-index: 9999;
    
    label {
      cursor: pointer;
      color: $grey;
      position: absolute;
      top: -16px;
      left: 0;
    }
    
    .container {
      display: block;
      float: left;
      position: relative;
      margin: 20px 16px 2px 0;
    }
      
    input {
      background: white;
      border: 1px solid $borderlightgrey;
      display: block;
      font-size: 1.2em;
      height: 20px;
      position: relative;
      text-align: center;
      @include border-radius(4px);
    }
    
    .quantity {
      
      input {
        font-size: 1.4em;
        padding-right: 12px;
        width: 30px;
      }
      
      a {
        display: block;
        height: 12px;
        position: absolute;
        right: 0;
        top: 0;
        width: 11px;
      }
      
      .icon {
        display: block;
        height: 5px;
        position: relative;
        left: 1px;
        width: 5px;
        @include opacity(0.6);
      }
      
      a:hover {
        .icon {
          @include opacity(1.0);
        }
      }
          
      .increase {
        .icon {
          background: url($image-sprite) no-repeat -65px -37px;
          top: 6px;
        } 
      }
      
      .decrease {
        top: 12px;
      
        .icon {
          top: 3px;
          background: url($image-sprite) no-repeat -65px -43px;
        } 
      }
    }
      
    .date {
      
      input {
        padding-right: 6px;
        padding-left: 5px;
        width: 80px;
      }
      
      div {
        float: left;
        position: relative;
      }
      
      .dash {
        padding: 7px 6px 0 6px;
      }
    }
      
    .inventorypool {
      width: 130px;
      
      .select {
        background: white;
        border: 1px solid #d0d0d0;
        cursor: pointer;
        display: block;
        font-size: 1.2em;
        height: 18px;
        padding-top: 4px;
        position: relative;
        width: 100%;
        @include border-radius(4px);
        
        .name {
          font-weight: bold;
          padding-left: 6px;
        }
        
        .arrow {
          background: url($image-sprite) no-repeat -53px -37px;
          display: block;
          height: 6px;
          position: absolute;
          right: 5px;
          top: 9px;
          width: 7px;
          @include opacity(0.6);
        }
      }
      
      select {
        cursor: pointer;
        font-size: 1.2em;
        height: 24px;
        left: 0;
        padding-right: 8px;
        position: absolute;
        top: 0;
        @include opacity(0);
      }
      
      &:hover {
        .arrow {
          @include opacity(1);
        }
      }
    }
  }
}