@import "../shared/mixins";
@import "../shared/variables";

#iplist {
  
  .ip{
  
    .map {
      background: #EEE;
      border: 1px solid #FFF;
      cursor: pointer;
      float: left;
      height: 140px;
      margin-right: 14px;
      position: relative;
      width: 140px;
      @include boxShadow (0 0 8px #EEE);
      
      table tr td {
        color: #DDD;
        font-size: 3.5em;
        height: 130px;
        padding-top: 14px;
        text-align: center;
        vertical-align: middle;
        width: 140px;
        
        a.overlay {
          display: block;
          height: 140px;
          position: absolute;
          top: 0;
          left: 0;
          width: 140px;
        }
      }
    }
    
    .map:hover {
      table tr td {
        color: $lightblue;
      }
    }
    
    .informations {
      padding-top: 4px;
      float: left;
      width: 540px;
      
      h2 {
        margin-bottom: 2px;
        
        a {
          color: $grey;
        }
        
        a:hover {
          color: $darkgrey;
        }
      }
      
      p.address {
        margin-bottom: 10px;
      }
      
      .openingHours {
      
        .day {
          float: left;
          margin-right: 22px;
          padding-top: 12px;
        
          h4 {
            font-weight: bold;
          }
          
          .hours {
            
            p {
              padding-top: 2px;
            }
          }
        }
      }
      
      .categories {
        margin: 8px 0;
        @include greylinks();
        
        a {
          font-size: 1.2em;
          line-height: 1.4em;
          padding: 1px 3px 0 0;
        }
      }
    }
  }
}

#ip {
  
  h1 {
    width: 500px;
  }
  
  #contactEmail {
    font-size: 1.4em;
    position: absolute;
    right: 15px;
    top: 9px;
  }
  
  #map {
    float: left;
    border: 1px solid #FFF;
    height: 300px;
    margin-right: 18px;
    width: 500px;
    @include boxShadow (0 0 8px #AAA);
    @include borderRadius (12px);
  }
  
  section.openingHours {
  
    .group {
      float: left;
      font-size: 1.2em;
      margin-bottom: 12px;
      margin-right: 34px;
      
      .days {
        margin-bottom: 2px;
      }
    }
    
    .group.today {
      font-weight: bold;
    }
  }
  
  .description {
    font-size: 1.1em;
    line-height: 1.4em;
    margin-top: 4px;
    margin-bottom: 20px;
    
    p {
      margin-bottom: 14px;
    }
  }
  
  #categories {
    @include greylinks;
    @include categoriesGrid;
    
    .row { 
      padding-bottom: 14px;
    }
  }  
}
