@import "../shared/mixins";
@import "../shared/variables";

.linelist {
    
  .line {
    display: block;
    padding: 0 0 8px 0; 
    
    ul {
      display: inline-block;
    }
    
    li {
      display: inline-block;
      margin-right: 7px;
      max-width: 415px;
      overflow: hidden;
      position: relative;
    }
  
    .time {
      color: $lightgrey;
    }
  
    .name {
      font-weight: bold;
      margin-right: 2px;
      white-space: nowrap;
      
      a {
        color: $grey;
      }
      
      a:hover, a:active {
        color: $darkgrey;
      }
    }
    
    .action {
      color: $lightgrey;
      display: inline-block;
    }
  }
}