@import "../shared/mixins";
@import "../shared/variables";

@mixin listanchor {
  a, a:link, a:visited, a:hover, a:active {
    color: $darkgrey;
    display: block;
    padding: 10px 0;
    width: 100%;
  }
} 

#models {

  .sidebar {
    border-right: 1px solid #e3e3e3;
    float: left;
    left: 10px;
    position: relative;
    top: -18px;
    width: 171px;
  
    #categories, #templates {
      padding-top: 18px;
      padding-right: 8px;
      @include darkGreylinks;
  
      li {
        list-style-type: none;
        overflow: hidden;
      }
      
      h2 {
        font-size: 1.2em;
        font-weight: bold;
        margin-bottom: 4px;
        
        a {
          color: $darkgrey !important;
        }
      }
      
      li:hover h2 a {
          color:#515151;
      }
      
      ul {
        padding-bottom: 16px;
        
        a {
          display: block;
          font-size: 1.1em;
          line-height: 1.4em;
          padding-top: 3px;
          padding-bottom: 3px;
        }
      }
    }
    
    h2.templates {
      font-size: 1.2em;
      font-weight: 700;
      margin-top: 2px;
    }
    
    hr {
      left: -6px;
      margin-top: 6px;
      position: relative;
    }
  }
  
  #modellist {
    border-left: 1px solid #e3e3e3;
    display: block;
    float: right;
    top: 17px;
    position: relative;
    width: 571px;
    
    .item {
      border-bottom: 1px solid #e3e3e3;
      display: block;
      margin-bottom: 1px;
      height: 70px;
      position: relative;
      width: 100%;
      
      &.unavailable {
        @include opacity(0.5);
        
        &:hover {
          @include opacity(1.0);  
        }
      }
      
      &.available {
        
        .availability {
          color: $darkgrey;
        }
        
        .add {
          @include opacity(1.0);  
        }
      }
      
      td {
        padding-right: 12px;
      }
      
      .image {
        height: 70px;
        padding: 0 16px 0 12px;
        position: relative;
        text-align: center;
        vertical-align: middle;
        width: 50px;
        @include listanchor;
        
        img {
          max-height: 50px;
          max-width: 50px;
        }
      }
      
      .noimage {
        background: #ececec;
        border: 1px solid #d7d7d7;
        height: 40px;
        margin: 0 auto;
        overflow: hidden;
        width: 40px;
        @include borderRadius(8px);
        
        table {
          height: 100%;
          width: 100%;
          
          tr {
            td {
              color: #bfbfbf;
              font-size: 0.8em;
              letter-spacing: -1px;
              line-height: 0.9em;
              padding: 0 0 2px 0;
              text-align: center;
              vertical-align: middle;
            }        
          }
        }
      }
      
      .overlay {
        background: transparent;
        border: none;
        display: inline-block;
        height: 72px;
        left: 0;
        position: absolute;
        width: 82%;
        vertical-align: middle;
 
        .anchor {
          display: block;
          float: left;
          height: 100%;
          position: relative;
          width: 465px;
        }
        
        .tip {
          display: none;          
        }
        
        .tiptarget {
          display: block;
          position: absolute;
          top: 13px;
          height: 43px;
          width: 100%;          
        }
      }
      
      .name {
        color: $darkergrey;
        font-size: 1.2em;
        height: 70px;
        vertical-align: middle;
        width: 250px;
        @include listanchor;
      }
      
      .manufacturer {
        font-size: 1.2em;
        vertical-align: middle;
        width: 115px;
        @include listanchor;
      }
      
      .availability {
        color: $grey;
        font-size: 1.1em;
        text-align: right;
        padding-right: 7px;
        vertical-align: middle;
        width: 110px;
      }
      
      .add {
        padding-right: 10px;
        padding-top: 1px;
        text-align: right;
        vertical-align: middle;
        width: 24px;
        @include opacity(0.5);
        
        .button.small {
          font-size: 1.5em;   
          font-weight: bold;
          height: 21px;
          padding: 1px 6px 0 6px;
        }
      }
    }
    
    .item:nth-child(odd) {
      background: $highlight-grey;
    }
    
    .item:hover {
      @include highlightItem();
          
      .add {
        @include opacity(1);
      }
    }
    
  }
}

#models.fullwidth {
  
  #topfilter {
    width: 741px;
  }
  
  #modellist {
    border-left: 0;
    width: 752px;
    
    .item {
    
      .name {
        width: 310px;
      }
      
      .manufacturer {
        width: 250px;
      }
      
      .pool {
        width: 105px;
      }
    }
   
  }
}