@import "../shared/mixins";
@import "../shared/variables";

#model {
  padding-bottom: 0;

  h1, h3 {
    width: 600px;
  }
  
  .button {
    position: absolute;
    right: 15px;
    top: 10px;
  }
  
  #images {
    position: relative;
  
    #smallimages {
      float: left;
      padding-top: 10px;
      position: absolute;
      top: 0;
      width: 50px;
      z-index: 999;
      padding-bottom: 4px;
      
      table {
        min-height: 30px;
        width: 100%;
        
        tr {
          
          td {
            height: auto;
            vertical-align: middle;
          
            img {
              height: auto;
              @include opacity(0.5);
              width: 50px;
            }
          }
        }
        
        &:hover {
          img {
            @include opacity(1.0); 
          }
        }
      } 
    }
    
    table {
      width: 721px;
      
      tr {
        
        td {
          height: 520px;
          position: relative;
          text-align: center;
          vertical-align: middle;
          
          img {
            max-height: 520px;
            width: auto;
            max-width: 580px;
          }
        }
      }
    }
    
    #hiddenimages {
      position: absolute;
      top: 0;
      
      table {
        position: absolute;
        top: 0;
      }
        
      img {
        @include opacity(0);
      }
    }
  }
  
  .description {
    color: #515151;
    font-size: 1.3em;
    line-height: 1.6em;
    padding: 12px 4px 18px 4px;
  }
  
  .properties {
  
    .item {
      
      tr {
        td {
          border-bottom: 2px solid white;
          display: inline-block;
          font-size: 1.1em;
          line-height: 1.5em;
          padding: 10px 0;
          position: relative;
          top: 0;
          vertical-align: top;
          width: 100%;
        }
        
        .key {
          font-weight: bold;
        }
      }
      
      .key {
        margin-right: 8px;
        padding-left: 16px;
        width: 180px;
      }
      
      .value {
        border-left: 1px solid #FFF;
        padding-left: 12px;
        padding-right: 12px;
        width: 492px
      }
    }
    
    .item:nth-child(odd)  {
      background: $highlight-grey;
    }
    
    .item:nth-child(even)  {
      background: $highlight-darkgrey;
    }
    
    .switcher {
      cursor: pointer;
      font-size: 1.2em;
      font-weight: bold;
      display: block;
      position: relative;
      
      tr {
      
        td {
          padding-left: 16px;
          width: 100%;
        
          .icon {
            background: url($image-sprite) no-repeat -53px -37px;
            display: inline-block;
            height: 6px;
            margin-right: 4px;
            position: relative;
            top: -1px;
            width: 7px;
            @include opacity(0.6);
          }
          
          .icon.rotated {
            background: url($image-sprite) no-repeat -73px -37px;
          }
          
          .amount {
            color: $lightgrey;
          }
          
          .text {
            color: $lightgrey;
          }
          
          .text.less {
            display: none;
          }
        }
      }
    }
    
    .switcher:hover {
      @include highlight-item();
      
      .icon {
        @include opacity(1.0);
      }
      
      .amount {
        color: $grey;
      }
      
      .text {
        color: $grey;
      }
    }
  }
  
  #accessories {
     padding-top: 6px;
     @include grey-links;
     @include modelsGrid;
     
     h2 {
      padding-bottom: 20px;     
     }
  }
}