#topfilter {
  border-bottom: 1px solid #e3e3e3;
  color: #858585;
  height: 34px;
  padding-right: 10px;
  position: absolute;
  top: -10px;
  right: 1px;
  width: 558px;
  
  .ipSelection {
    display: inline-block;
    float: right; 
    font-size: 1.1em;
    padding: 11px 16px 0 0;
    @include greylinks();
    
    a {
      color: $grey !important;
      padding: 2px 0 8px 0;
      position: relative;
      
      .icon {
        background: url($image-sprite) no-repeat -63px -37px;
        height: 9px;
        position: absolute;
        top: 5px;
        right: -8px;
        width: 9px;
        @include opacity(0.7);
      }
    }
    
    a:hover {
      color: $darkgrey !important;
      
      .icon {
        @include opacity(1);
      }
    }
    
    .hover {
      background: #fff;
      display: block;
      padding: 6px 12px;
      position: absolute;
      z-index: 1001;
      
        .line {
          display: block;
          clear: both;
        }
    }
  }
  
  .sort {
    background: none;
    border-right: 1px solid #e2e0de;
    border-left: 1px solid #e2e0de;
    float: right;
    height: 20px;
    padding-left: 6px;
    position: relative;
    top: 8px;
    
    .container {
      float: right;
      padding-right: 6px;
      position: relative;
    
      .select {
        font-size: 1.1em;
        color: $grey;
        cursor: pointer;
        display: inline-block;
        height: 20px;
        padding-top: 3px;
        padding-right: 10px;
        position: absolute;
        right: 0;
        text-align: right;
        width: 120px;
        
        .arrow {
          background: url($image-sprite) no-repeat -53px -37px;
          display: inline-block;
          height: 6px;
          margin-left: 4px;
          width: 7px;
          @include opacity(0.6);
        }
      }
      
      select {
        border: 0;
        color: $grey;
        cursor: pointer;
        height: 23px;
        padding: 5px 0 0 0;
        position: relative;
        text-align: right;
        width: 125px;
      }
    }
  }
  
  .sort:hover {
    .select {
      color: $darkgrey;
      
      .arrow {
        @include opacity(1);
      }
    }
  }
  
  .availability {
    float: right;
    margin: 0 0 0 12px;
    padding: 1px 0 0 0;
    position: relative;
    top: 7px;
    
    .date {
      background: url($image-sprite) no-repeat 0 -312px;
      border: none;
      color: #858585;
      font-size: 1.0em;
      height: 18px;
      padding: 0 10px 0 6px;
      width: 58px;
    }
    
    .checkarea {
      font-size: 1.1em;
      cursor: pointer;
      display: inline-block;
      margin-left: 2px;
      
      label {
        padding: 4px 0 9px 0;
      }
    }
    
    .checkarea:hover {
      color: $darkgrey;
    }
    
    .checkarea.active {
      color: $darkgrey;
    }
    
  }
}