@import "../shared/mixins";
@import "../shared/variables";

#user {
  
  .userdata {
    padding-left: 1px;
    
    dl {
      display: inline-block;
      float: left;
      
      dt {
        color: $lightgrey;
        padding-bottom: 2px;
        padding-right: 16px;
      }
      
      dd {
        font-weight: bold;
        line-height: 1.4em;
        padding-right: 34px;
      }
    }
  }
}