<table>
<tr><td><b>Building:</b></td><td><%= @location.building %></td></tr>	
<tr><td><b>Room:</b></td><td><%=     @location.room     %></td></tr>
<tr><td><b>Shelf:</b></td><td><%=    @location.shelf    %></td></tr>	
</table>
