html:not(.print)
  color: black
  font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif
  font-size: 62.5%
  height: 100%

  @import "shared/reset"
  @import "shared/variables"
  @import "shared/mixins"
  @import "shared/buttons"
  @import "shared/multibutton"
  @import "shared/content"
  @import "shared/datepicker"
  @import "shared/fullcalendar"
  @import "shared/qtips"
  @import "shared/tips"
  @import "shared/tabs"
  @import "shared/topbar"
  @import "shared/dialog"
  @import "shared/search"
  @import "shared/navigation"
  @import "shared/master"
  @import "shared/pagination"
  @import "shared/notification"
  @import "shared/list_toggle"
  @import "shared/show_more"
  @import "shared/summary"
  @import "shared/custom_select"
  @import "shared/icons"
  @import "shared/clickable"
  @import "shared/text"
  @import "backend/acknowledge.scss"
  @import "backend/autocomplete/add_item.sass"
  @import "backend/autocomplete/assign_inventory_code.sass"
  @import "backend/autocomplete/assign_line.sass"
  @import "backend/autocomplete/inventory_helper.sass"
  @import "backend/autocomplete/select_inventory_helper_item.sass"
  @import "backend/autocomplete/user.sass"
  @import "backend/autocomplete.scss"
  @import "backend/chart.scss"
  @import "backend/clearable.scss"
  @import "backend/content.scss"
  @import "backend/daily.scss"
  @import "backend/dialog/calendar.scss"
  @import "backend/dialog/documents/document.sass"
  @import "backend/dialog/documents/documents.sass"
  @import "backend/dialog/documents/value_list.sass"
  @import "backend/dialog/hand_over.sass"
  @import "backend/dialog/inspect.sass"
  @import "backend/dialog/swap_user.sass"
  @import "backend/dialog/timeline.sass"
  @import "backend/dialog.sass"
  @import "backend/explorative-navigation.sass"
  @import "backend/extended_line.scss"
  @import "backend/field_inline_entry.sass"
  @import "backend/form_edit.sass"
  @import "backend/holiday.sass"
  @import "backend/inlinetabs.scss"
  @import "backend/input_container.sass"
  @import "backend/inventory.sass"
  @import "backend/inventory_helper.sass"
  @import "backend/inventory_pool_edit.sass"
  @import "backend/ipselection.scss"
  @import "backend/line.scss"
  @import "backend/linegroups.scss"
  @import "backend/lines/cells/user_name.scss"
  @import "backend/lines/contract.scss"
  @import "backend/lines/group.sass"
  @import "backend/lines/hand_over.scss"
  @import "backend/lines/item.scss"
  @import "backend/lines/item_line.scss"
  @import "backend/lines/model.scss"
  @import "backend/lines/option.scss"
  @import "backend/lines/option_line.scss"
  @import "backend/lines/order.scss"
  @import "backend/lines/order_line.scss"
  @import "backend/lines/problems.sass"
  @import "backend/lines/select.sass"
  @import "backend/lines/show_all.sass"
  @import "backend/lines/take_back.scss"
  @import "backend/lines/toggler.sass"
  @import "backend/lines/user.scss"
  @import "backend/list.scss"
  @import "backend/navigation.scss"
  @import "backend/notifications.sass"
  @import "backend/package-dialog.sass"
  @import "backend/process_helper.scss"
  @import "backend/search.scss"
  @import "backend/search_results.scss"
  @import "backend/selection_actions.scss"
  @import "backend/table.sass"
  @import "backend/tips.scss"
  @import "backend/topbar.scss"
  @import "backend/visits.scss"