@import "print/document"
@import "print/value_list"
@import "definitions/typography"

@media only screen
  body
    padding-top: 1em
    padding-bottom: 4em
    max-width: 50em
    margin: auto

    *
      font-size: 0.966em
      font-family: $fonts
