.row.emboss.margin-bottom-xxs

  .row.padding-inset-s

    %strong.font-size-m= _("Access rights")

  .row

    - @user.access_rights.each do |access_right|

      .row.padding-inset-s.vertical-align-middle= access_right
