.col1of8.line-col{:data => {  :type => 'user-cell',
                              :id => user.id, 
                              :firstname => user.firstname,
                              :lastname => user.lastname,
                              :email => user.email,
                              :phone => user.phone,
                              :badge_id => user.badge_id,
                              :address => user.address,
                              :image_url => user.image_url,
                              :zip => user.zip,
                              :city => user.city}}
  %strong= user