.row.line.font-size-xs
  %input{:type => :hidden, :name => "user[groups][][id]", :value => group.id}
  .line-col.col1of2.text-align-left= group.name
  .line-col.col1of2.text-align-right
    %button.button.inset.small{:"data-remove-group" => true}= _("Remove")
