- content_for :title, _("Edit %s") % _("Category")
- content_for :inventory_section, "active"

#category-view.wrapper.margin-top-m

  = render :partial => 'manage/tabs/inventory', :locals => {:active_tab => :categories}

  .row.content-wrapper.min-height-xl.min-width-full.straight-top

    = render 'form'

:coffeescript

  jQuery ->

    App.Category.addRecord new App.Category #{@category.to_json}

    new App.EditCategoryController
      el: $("#category-view")
      category: App.Category.exists #{@category.id}
