- content_for :title, _("Create %s") % _("Category")
- content_for :inventory_section, "active"

#category-view.wrapper.margin-top-m

  = render :partial => 'manage/tabs/inventory', :locals => {:active_tab => :categories}

  .row.content-wrapper.min-height-xl.min-width-full.straight-top

    = render 'form'

:coffeescript

  jQuery ->

    new App.NewCategoryController
      el: $("#category-view")
      category: new App.Category #{@category.to_json}
