%form#assign-or-add.row{:autocomplete => :off}

  .col2of8
    .padding-right-xs
      %label.row.margin-bottom-xxs{:for => "add-start-date"}= _("Start date")
      .row
        %input.has-addon{:autocomplete => :off, :id => "add-start-date", :name => "start-date", :type => :text, :value => l([@start_date, Date.today].max)}
        %label.addon{:for => "add-start-date"}
          %i.icon-calendar

  .col2of8
    .padding-right-xs
      %label.row.margin-bottom-xxs{:for => "add-end-date"}= _("End date")
      .row
        %input.has-addone{:autocomplete => :off, :id => "add-end-date", :name => "end-date", :type => :text, :value => l([@end_date, Date.today].max)}
        %label.addon{:for => "add-end-date"}
          %i.icon-calendar

  .col4of8
    %label.row.margin-bottom-xxs{:for => "assign-or-add-input"}= _("Add/Assign")
    .row
      %input.row.has-addone{:autocomplete => :off, :id => "assign-or-add-input", :"data-add-contract-line" => true, :name => "input", :type => :text, :placeholder => "#{_("Inventory code, model name, search term")}", :"data-barcode-scanner-target" => true}
      %button.addon{:type => :submit, :title => _("Add")}
        %i.icon-plus-sign-alt