${$max_quantity = App.Line.getMaxQuantity(lines_data),""}
${$max_range = App.Line.getMaxRange(lines_data), ""}
${$max_quantity}
${_jed($max_quantity, "Item", "Items")}
${_jed("for max.")}
${$max_range}
${_jed($max_range, "day")}