${$max_quantity = new MaxQuantity(lines_data).value,""}
${$max_range = new MaxRange(lines_data).value, ""}
${$max_quantity}
${_jed($max_quantity, "Item", "Items")}
${_jed("for max.")}
${$max_range}
${_jed($max_range, "day", "days")}