%h1 ${_jed("Documents for take back")}

.navigation
  .multibutton
    .alternatives
      .trigger
        .arrow
      %a.button.white.close_dialog
        .return.icon
        ${_jed("Back to this take back")}
    %button.button.white.ready
      .take_back.icon
      ${_jed("Finish this take back")}

%br 
%section.documents
  
  .navigation
    %button.button.white.print
      ${_jed("Print")}
      .print.icon
      
  .inlinetabs
    .tab.active{:"data-section" => "contract"} ${_jed("Contracts")}
  
  %section.contract.document.active{:"data-print_title" => '${_jed("Lending Contracts No. %s", Print.map_contract_ids(contracts).join(", "))}'}
    {{each(i, contract) contracts}}
    {{if template}}
    {{tmpl(contract) template}}    
    {{else}}
    {{tmpl(contract) "tmpl/documents/contracts/default"}}
    {{/if}}
    
    {{if i != contracts.length-1}}
    .page_break
    {{/if}}
    {{/each}}