= form_tag '${$item.target_url}', :remote => true, :"data-submit_button" => true, :id => "inspection" do
  %input{:type => "hidden", :name => "line_id", :value => "${id}"}

  %h1
    %strong
      ${_jed("Inspect Item")}
    ${item.inventory_code}

  %p.subtitle
    ${model.name}

  .navigation
    %a.button.red.close_dialog
      ${_jed("Cancel")}
    %button.button.green{:type => "submit", :"data-on_success" => '${$item.on_success}', :tabindex => "4"}
      ${_jed("Save changes")}
  
  .flash_message

  %br

  {{tmpl({selected: item.is_broken,     label: "Status",         name: "is_broken",     options: [{value: 0, label: "Functional"},{value: 1, label: "Defective"}]})     "tmpl/dialog/take_back/inspect/select"}}
  {{tmpl({selected: item.is_incomplete, label: "Completeness",   name: "is_incomplete", options: [{value: 0, label: "Complete"},        {value: 1, label: "Incomplete"}]})   "tmpl/dialog/take_back/inspect/select"}}
  {{tmpl({selected: item.is_borrowable, label: "Borrowable",     name: "is_borrowable", options: [{value: 1, label: "Borrowable"},      {value: 0, label: "Unborrowable"}]}) "tmpl/dialog/take_back/inspect/select"}}

  .clear
  %br
  %br
