= form_tag '${$item.target_url}', :remote => true, :"data-submit_button" => true, :id => "inspection" do
  %input{type: "hidden", name: "line_id", value: "${id}"}

  %h1
    %strong
      = _("Inspect Item")
    ${item.inventory_code}

  %p.subtitle
    ${model.name}

  .navigation
    %a.button.red.close_dialog
      .icon.delete
      = _("Cancel")
    %button.button.green{:type => "submit", :"data-on_success" => '${$item.on_success}', :tabindex => "4"}
      = _("Save Changes")
  
  .flash_message

  %br

  {{tmpl({selected: item.is_broken,     label: "Zustand",         name: "is_broken",     options: [{value: 0, label: "Funktionst체chtig"},{value: 1, label: "Defekt"}]})     "tmpl/dialog/take_back/inspect/select"}}
  {{tmpl({selected: item.is_incomplete, label: "Vollst채ndigkeit", name: "is_incomplete", options: [{value: 0, label: "Vollst채ndig"},{value: 1, label: "Unvollst채ndig"}]})   "tmpl/dialog/take_back/inspect/select"}}
  {{tmpl({selected: item.is_borrowable, label: "Ausleihbar",      name: "is_borrowable", options: [{value: 1, label: "Ausleihbar"},{value: 0, label: "Nicht ausleihbar"}]}) "tmpl/dialog/take_back/inspect/select"}}

  .clear