.row.width-xl.padding-inset-s
  .col7of8
    %h2.headline-m.padding-bottom-s {{jed "Consider opening hours"/}}
    %h3.headline-s {{jed "The selected inventory pool is closed on that day"/}}
  .col1of8.text-align-right
    %i.icon-warning-sign.icon-size-l.grey