.target-selection.row.width-m-alt
  .col1of2.padding-right-xxs
    %button.button.inset.width-full#set-start-date {{jed "Start date"/}}
  .col1of2.text-align-right.padding-left-xxs
    %button.button.inset.width-full#set-end-date {{jed "End date"/}}