= form_tag '${$item.target_url}', :remote => true, :"data-submit_button" => true, :class => "summary" do

  %h1
    ${_jed("Change Borrower")}

  %p.subtitle 
    ${_jed("to substitute")}:
    {{if user}}
    ${user.firstname} ${user.lastname}
    {{/if}}
  
  .navigation
    %button.button.white.close_dialog
      .icon.return
      ${_jed("Back")}
    %button.button.green.hide_on_error{:type => "submit", :"data-on_success" => '${$item.on_success}'}
      ${_jed("Change Borrower")}
  
  {{if $item.error}}
  .flash_message.visible
    ${$item.error}
  {{else}}
  .flash_message
  {{/if}}
  
  %br

  %section.new.borrower.highlighted
    .input_container
      %label.top{:for => "select_user"} ${_jed("New Borrower")}
      %input.autocomplete.focus{:type => "text", :placeholder => '${_jed("Name / ID")}', :name => "select_user", :autocomplete => "off",
      :"data-url" => "/backend/inventory_pools/${current_inventory_pool}/search?types[]=user&with[zip]=1&with[city]=1",
      :"data-autocomplete_class" => "user", 
      :"data-autocomplete_element_tmpl" => "tmpl/autocomplete/user",
      :"data-autocomplete_select_callback" => "SwapUser.setNewUser"}
  
  %hr

  %section.lines.scalable
    {{if lines}}
    ${$grouped_lines = App.Line.groupByDateRanges(lines), ""}
    {{tmpl($grouped_lines) "tmpl/dialog/summary/linegroup"}}
    {{/if}}
