%h1
  %strong
    ${_jed("Error")}

%p.subtitle
  ${_jed("while deleting hand over for")}
  %strong
    ${user.firstname}
    ${user.lastname}

.navigation
  %button.button.white.close_dialog
    .icon.return
    ${_jed("Go Back")}
    
%hr

{{if $item.error}}
.flash_message.visible
  ${$item.error}
{{/if}}

%section.lines.scalable
  ${$startdate = 0, ""}
  ${$enddate = 0, ""}
  {{each(i, line) lines}}
  {{if line.start_date != $startdate || line.end_date != $enddate}}
  ${$startdate = line.start_date, ""}
  ${$enddate = line.end_date, ""}
  .date_range
    .date
      {{html moment(start_date).format(i18n.date.L)}}
      = "-"
      {{html moment(end_date).format(i18n.date.L)}}
    .range
      ${$days = moment(end_date).diff(start_date, "days", "")}
      ${$days}
      ${_jed($days, "Day", "Days")}
  .clear
  .list
    {{each(i, line) lines}}
    {{if line.start_date == $startdate && line.end_date == $enddate}}
    %ul.line
      .main
        %li.quantity
          ${line.quantity}
        %li.model
          ${line.model.name}
    {{/if}}
    {{/each}}  
  {{/if}}
  {{/each}}
