%h1 ${_jed("Documents for hand over")}

.navigation
  .multibutton
    .alternatives
      .trigger
        .arrow
      %a.button.white.close_dialog
        .return.icon
        ${_jed("Back to this hand over")}
    %button.button.white.ready
      .hand_over.icon 
      ${_jed("Finish this hand over")}
 
%br
%section.documents
  
  .navigation
    %button.button.white.print
      ${_jed("Print")}
      .print.icon
      
  .inlinetabs
    .tab.active{:"data-section" => "contract"} ${_jed("Contract")}
    .tab{:"data-section" => "value_list"} ${_jed("Value List")}
    
  %section.contract.document.active{:"data-print_title" => '${_jed("Lending Contract No. %s", contract.id)}'}
    {{if template}}
    {{tmpl(contract) template}}    
    {{else}}
    {{tmpl(contract) "tmpl/documents/contracts/default"}}
    {{/if}}
    
  %section.value_list.document{:"data-print_title" => _("Value List for Lending Contract No. %s") % ["${contract.id}"]}
    {{if template}}
    {{tmpl(contract) template}}    
    {{else}}
    {{tmpl(contract) "tmpl/documents/value_lists/default"}}
    {{/if}}

= form_tag("/backend/inventory_pools/${currentInventoryPool.id}/search", :method => :get, :autocomplete => :off, :style => "display: none", :"onsubmit" => "Dialog.add({content: $.tmpl(\"tmpl/dialog/loading\", {title:\"#{_('Searching')}\", message:\"#{_('please wait...')}\"}),dialogClass: \"loading\"});") do
  %input#search{:type => "text", :name => "term", :class => "barcode_target"}
  
