${$purposes = Line.concatinate_purposes(SelectedLines.lines_data), ""}

= form_tag '${$item.target_url}', :remote => true, :"data-submit_button" => true, :class => "summary" do

  %h1
    ${_jed("Hand Over to")}
    ${Line.get_user(SelectedLines.lines_data[0]).name}
  %p.subtitle
    ${$amount = HandOver.reduce_quantity(SelectedLines.lines_data), ""}
    ${$amount}
    ${_jed($amount, "Item", "Items")}
  
  .navigation
    %button.button.white.close_dialog
      .icon.return
      ${_jed("Back")}
    %button.button.green{:type => "submit", :"data-on_success" => '${$item.on_success}'}
      ${_jed("Hand Over")}
  
  %section{:class => "highlighted purpose{{if $purposes.length==0}} none{{/if}}"}
    %label ${_jed("Purpose")}
    %p ${$purposes}
    {{if HandOver.any_missing_purpose(SelectedLines.lines_data)}}
    %button.button.white
      ${_jed("Add Purpose")}
    {{/if}}
    .clear
    %section.add_purpose
      %textarea#purpose.focus{:type => :text, :name => "purpose"}
      %p.hint ${_jed("Please provide a purpose...")}
 
  %hr
  %section.lines.scalable
    
    ${$grouped_lines = App.Line.groupByDateRanges(Line.prepare_for_handover(SelectedLines.lines_data)), ""}
    {{tmpl($grouped_lines) "tmpl/dialog/summary/linegroup"}}
    
  %section.note
    %textarea#comment.focus{:name => "note"}
    %p.hint ${_jed("Write a note... (the note will be part of the contract)")}
