.row.line.font-size-xs.focus-hover-thin{:"data-type" => "inline-entry"}

  .line-col.col7of10.text-align-left
    %a.blue{:href => "{{>public_filename}}", :target => "_blank"}
      {{>filename}}

  .line-col.col3of10.text-align-right
