<ul>
	<li><%= link_to icon_tag("accept") + " " + _('Acknowledge') + " (#{@to_acknowledge_size})", :controller => 'acknowledge' %></li>
	<li><%= link_to icon_tag("arrow_turn_right") + " " + _('Hand Over') + " (#{@to_hand_over_size})", :controller => 'hand_over' %></li>
	<li><%= link_to icon_tag("arrow_undo") + " " + _('Take Back') + " (#{@to_take_back_size})", :controller => 'take_back' %></li>
	<li><%= link_to icon_tag("clock") + " " + _('Remind') + " (#{@to_remind_size})", :controller => 'take_back', :remind => true %></li>				
</ul>
