- content_for :title, _("Create %s") % _("Supplier")
- content_for :manage_section, "active"

.wrapper.margin-top-m

  = render :partial => 'manage/tabs/admin', :locals => {:active_tab => :suppliers}

  .row.content-wrapper.min-height-xl.min-width-full.straight-top

    = form_tag admin_suppliers_path do

      = render partial: "admin/suppliers/form"