{{if top}}
{{if top != current}}
%h2.explorative-top 
  {{if typeof top == "string"}}
  .icon.search
  ${top}
  {{else}}
  ${top.name}
  {{/if}}
{{/if}}
{{/if}}

{{if current}}
%h3.explorative-current 
  {{if typeof current == "string"}}
  .icon.search
  ${current}
  {{else}}
  .icon.arrow.left
  ${current.name}
  {{/if}}
{{/if}}

%ul
  {{tmpl(categories) "app/views/explorative_search/entry"}}