%h1 ${_jed("Add %s", _jed("Model"))}
%p.subtitle ${_jed("By browsing categories")}

.navigation
  %button.button.white.close_dialog
    .return.icon
    ${_jed("Back")}
    
%hr

.table

  .explorative-navigation.open
    
    %div.explorative-header

      %input.explorative-search.hidden{:type => :text, :placeholder => "${_jed('Search %s', _jed('Category'))}", :tabindex => -1, :autocomplete => :off}

    .explorative-container

      %span.loading
        = image_tag "loading.gif"

  .list.min-height
    %span.loading
      = image_tag "loading.gif"

  .pagination_container

  .clear

  %br
  %br
