- content_for :title, _("Maintenance")

.wrapper.margin-top-m

  .row.content-wrapper.min-height-xl.min-width-full.straight-top

    .margin-top-l.padding-horizontal-m

      .row

        %h1.headline-xxl.float-left.darkred-text= yield :title

      .row.margin-top-m

        %p.paragraph-m.darkred-text= message
