%nav.topbar
  
  .wrapper
  
    %a.topbar-logo.padding-horizontal-s.margin-right-s{:href => root_path}
      - if Setting.logo_url
        .table
          .table-row
            .table-cell.vertical-align-middle
              %img{:src => asset_path(Setting.logo_url)}
      - else
        leihs
