- content_for :title, _("Order Overview")

.wrapper
  
  .row.margin-top-m
    %nav
      %ul
        %li
          %a.navigation-tab-item.margin-right-xxs.padding-horizontal-m.float-left.active
            %i.icon-shopping-cart
            = _("Order")

  .row.content-wrapper.straight-top-left.padding-inset-l

    %h1.headline-xl= _("Order Overview")