<h2><%= _("Returned items") %></h2>
<br />

<%= lines_summary(@lines) %>

<br />		
<div class="buttons">
	<%=	link_to( icon_tag("door_out") + " " + _("Confirm"),
				 { :action            => 'close_contract',
                   :lines             => @lines,
                   :returned_quantity => params[:returned_quantity]  },
				 :class  => 'positive',
                 :method => 'post',
                 :target => (current_inventory_pool.print_contracts ? "_self" : "_top") ) unless @lines.empty? %>
				 
	<%=	cancel_popup_button(_("Cancel") ) %>
</div>	