
<p>Crazy plural forms first.</p>

<% n_("day", "days", 5) %>
<% n_("Item", "Items", 5) %>

<p>More or less normal strings.</p>


<% _("Additional notes") %>
<% _("Add Purpose") %>
<% _("Approve") %>
<% _("Approve anyway") %>
<% _("Availability Timeline") %>
<% _("available") %>
<% _("Back") %>
<% _("Back to this take back") %>
<% _("Badge%s", ":") %>
<% _("Borrower") %>
<% _("Cancel") %>
<% _("could not be assigned for take back") %>
<% _("Documents for hand over") %>
<% _("Documents for take back") %>
<% _("Edit purpose for order from") %>
<% _("Edit this Order") %>
<% _("End date") %>
<% _("Finish this take back") %>
<% _("for max.") %>
<% _("Hand Over to") %>
<% _("Inspect") %>
<% _("Inspect Item") %>
<% _("In Total") %>
<% _("In Total") %>
<% _("In Total") %>
<% _("Inventory code") %>
<% _("Item is defective") %>
<% _("Item is incomplete") %>
<% _("Item not borrowable") %>
<% _("jump to this date") %>
<% _("Latest Reminder") %>
<% _("Lender") %>
<% _("Lending Contract No.") %>
<% _("Loading") %>
<% _("Model not present anymore") %>
<% _("No.") %>
<% _("No description available for this model.") %>
<% _("No entries found") %>
<% _("No hand overs found") %>
<% _("no image") %>
<% _("No reminder yet") %>
<% _("No take backs found") %>
<% _("Not available") %>
<% _("not borrowable") %>
<% _("Order from") %>
<% _("Other Groups") %>
<% _("Overdue") %>
<% _("Overdue Visit") %>
<% _("Phone%s", ":") %>
<% _("Please provide a purpose...") %>
<% _("please wait") %>
<% _("Print") %>
<% _("Problems") %>
<% _("Purpose these items are borrowed for") %>
<% _("Quantity") %>
<% _("Remind") %>
<% _("Return") %>
<% _("Returned Items") %>
<% _("Save Changes") %>
<% _("Saved") %>
<% _("Show Availability") %>
<% _("show package parts") %>
<% _("Signature") %>
<% _("since") %>
<% _("since max.") %>
<% _("Start date") %>
<% _("Take Back from") %>
<% _("Terms and conditions of the lender apply.") %>
<% _("This customer's groups") %>
<% _("this is a package") %>
<% _("Timeline") %>
<% _("today") %>
<% _("Total") %>
<% _("unknown Model") %>
<% _("Unsigned Hand Over") %>
<% _("upcoming") %>
<% _("Value") %>
<% _("Value List for Lending Contract No.") %>
<% _("View Item") %>
<% _("View Model") %>
<% _("View Option") %>
<% _("was assigned for take back") %>
<% _("while deleting a hand over line") %>
<% _("while deleting hand over for") %>
<% _("while deleting order line for") %>
<% _("while try to send an e-mail reminder to:") %>
<% _("Write a comment. The comment will be part of the rejection e-mail.") %>
<% _("Write a comment... your comment will be part of the confirmation e-mail") %>
<% _("Write a note... the note will be part of the contract") %>
<% _("you cannot hand out lines wich are starting in the future") %>
<% _("you cannot hand out lines with unassigned inventory codes") %>

<% _("Approved on") %>
<% _("assigned to %s", "foo") %>
<% _("assigned to %s", "foo") %>
<% _("Edit multiple selected lines") %>
<% _("Group %s", "foo") %>
<% _("Group %s", "foo") %>
<% _("Lending Contract No. %s", "1") %>
<% _("Lending Contracts No. %s", "1,2,3") %>
<% _("Name / ID") %>
<% _("New Borrower") %>
<% _("New Orderer") %>
<% _("quantity increased by %s", "1") %>
<% _("Rejected on") %>
<% _("reset user") %>
<% _("Retire") %>
<% _("Show all %s...", "foo") %>
<% _("The assignment for %s was removed", "foo") %>
<% _("to substitute") %>
<% _("Value List for Lending Contract No. %s", "foo") %>

<% _("Functional") %>
<% _("Defective") %>
<% _("Complete") %>
<% _("Incomplete") %>

<% _("Consider Opening Hours") %>
<% _("Edit Item") %>
<% _("Package Code") %>
<% _("Please provide all required fields") %>
<% _("Retire Item") %>
<% _("Save") %>
<% _("This inventory pool is closed on that day.") %>
<% _("This item will be given to a different inventory pool and not show up in yours anymore!") %>
<% _("Warning") %>

<% _("requested") %>
<% _("Show all %s...", "foo") %>
<% _("show packages"} %>
<% _("show items"} %>
<% _("The assignment for %s was removed", "foo") %>
<% _("This customer's groups") %>

<% _("You were served by %s", "foo") %>
