.line.row.focus-hover-thin{:"data-type" => "item", :"data-id" => "{{>id}}"}
  
  .col1of8.line-col
    %strong {{>inventory_code}}

  .col3of8.line-col.text-align-left
    {{>model().name()}}
    %strong.block.darkred-text {{>getProblems()}}

  .col2of8.line-col.text-align-left.padding-right-s
    {{>currentLocation()}}

  .col2of8.line-col.line-actions.padding-right-xs
    {{if ~accessRight.atLeastRole(~currentUserRole, "lending_manager") }}
    .multibutton
      %a.button.white{:href => "{{>url('edit')}}", :title => "{{jed 'Edit Item'/}}"}
        {{jed "Edit Item"/}}
      .dropdown-holder.inline-block
        .button.white.dropdown-toggle
          .arrow.down
        %ul.dropdown.right
          %li
            %a.dropdown-item{:href => "{{>url('copy')}}"}
              %i.fa.fa-copy
              {{jed "Copy Item"/}}
    {{/if}}