.row.line.font-size-xs.focus-hover-thin{:"data-type" => "inline-entry", :"data-new" => true}

  .line-col.text-align-center{:title => "{{jed 'File has to be uploaded on save'/}}"}
    %i.fa.fa-cloud-upload

  .line-col.col1of10.text-align-center
    %img.max-height-xxs.max-width-xxs

  .line-col.col6of10.text-align-left
    {{>name}}

  .line-col.col3of10.text-align-right
    %button.button.small.inset{:"data-remove" => true, :type => :button}= _("Remove")