.modal.medium.hide.fade.ui-modal.padding-inset-m.padding-horizontal-l{:role => "dialog", :tabindex => "-1"}

  .row.padding-vertical-m
    .col2of3
      %h3.headline-l {{jed "Upload problems"/}}
      %h3.headline-s.light 
        {{>headlineMessage}}

    .col1of3
      .float-right
        %a.button.white{:href => "{{>url}}"}
          {{>buttonLabel}}

  .modal-body.row.margin-top-m

    .emboss.error.padding-inset-s

      %p.paragraph-s {{>errors}}
