%h1= _('Organisations of the requesters')

= render partial: 'index', locals: {organizations: @organizations}

-#.text-right
  %a.btn.btn-success{href: new_organization_path}
    %i.fa.fa-plus
    = _('Add')
