li.overdue_icon {
  display: none !important;
  padding-right: 0 !important;
  padding-left: 8px !important;
}

.overdue li.overdue_icon {
  display: table-cell !important;
}

li.user_name {
  padding-left: 14px;
  font-weight: bold;
  line-height: 1.1em;
  width: 143px;
}

.overdue li.user_name {
  padding-left: 8px;
  width: 126px;
}