.ui-autocomplete.user
  max-height: 250px !important
  width: 500px !important

  a > span
    display: inline-block
    vertical-align: text-top

  .name
    font-weight: bold
    padding-left: 1%
    width: 54%

  .zip
    width: 13%

  .city
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap
    width: 25%
