%li.current_category.model_group_link{:"data-parent_id" => "${parent_id}"}
  %b
    %input{:autocomplete => "off", :disabled => "disabled", :type => "checkbox"}
    %span.name ${name}
  %input{:placeholder => "Label", :type => "text", :name => "label"}