.row.line.font-size-xs.focus-hover-thin{:"data-type" => "inline-entry", :"data-new" => true}
  
  %input{:type => :hidden, :name => "model[accessories_attributes][{{>~uid}}][inventory_pool_toggle]", :value => "0,{{current_inventory_pool_id/}}"}
  
  %label.line-col.col1of10.text-align-center.no-padding
    %input{:type => :checkbox, 
           :name => "model[accessories_attributes][{{>~uid}}][inventory_pool_toggle]", 
           :value => "1,{{current_inventory_pool_id/}}", 
           :checked => true,
           :autocomplete => :off}

  .line-col.col6of10.text-align-left
    {{>name}}
    %input{:type => :hidden, :name => "model[accessories_attributes][{{>~uid}}][name]", :value => "{{>name}}"}

  .line-col.col3of10.text-align-right
    %button.button.small.inset{:"data-remove" => true}= _("Remove")