.row.line.font-size-xs.focus-hover-thin{:"data-type" => "inline-entry", :"data-new" => true}

  %input{:type => :hidden, :name => "model[compatible_ids][]", :value => "{{>id}}", :"data-disable-on-remove" => true}
  
  .line-col.col2of3.text-align-left
    {{>name()}}

  .line-col.col1of3.text-align-right
    %button.button.small.inset{:"data-remove" => true, :type => :button}= _("Remove")
