.row.line.font-size-xs.focus-hover-thin{:"data-type" => "inline-entry", :"date-new" => true}
  
  .line-col.col1of10.text-align-left.no-padding.text-align-center.cursor-move{:"data-type" => "sort-handle"}
    %i.fa.fa-resize-vertical
  
  .line-col.col4of10.no-padding
    %input.small.width-full{:type => :text, :name => "model[properties_attributes][][key]"}

  .line-col.col4of10
    %input.small.width-full{:type => :text, :name => "model[properties_attributes][][value]"}

  .line-col.col1of10.text-align-right
    %button.button.small.inset{:"data-remove" => true, :title => _("Remove")}
      %i.fa.fa-trash