.calendar_input
    
  {{tmpl($item.data) "tmpl/dialog/calendar/input/partition"}}

  {{tmpl($item.data) "tmpl/dialog/calendar/input/quantity"}}
  
  {{tmpl($item.data) "tmpl/dialog/calendar/input/dates"}}

  {{tmpl($item.data) "tmpl/dialog/calendar/input/inventory_pool"}}