	<% for ip in @model.inventory_pools & current_user.inventory_pools %>
		<span style="border: 1px solid black; padding: 1px;"><%= ip.name %>: <%= ip.items.where(:model_id => @model.id).count %></span>
	<% end %>

	<hr />
	
	TODO: calendar with colors
