<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Language" content="de" />
	<meta http-equiv="Cache-Control" content="max-age=0" />
	<meta http-equiv="pragma" content="no-cache" />
	<meta http-equiv="expires" content="0" />
	<meta name="copyright" content="(c) Copyright 2005-2007 Magnus Rembold" />
	<%= stylesheet_link_tag 'haupt' %>
	<%= javascript_include_tag :defaults %>
	<title>leihs | Ausleihe an der HGKZ/HMT | <%= ( params[ :controller ].to_s + '.' + params[ :action ].to_s ) %></title>
</head>
<body>

<div id="alles">


	<div id="menu">
		<% unless session[ :user ] -%>
			<%= render :partial => 'menu/menu' %>
		<% else
			case session[ :user ].benutzer_typ
				when :reservierender -%>
					<%= render :partial => 'menu/menu_reservierender' %>
				<% when :herausgeber, :admin, :root -%>
					<%= render :partial => 'menu/menu_herausgeber' %>
				<% else -%>
					<%= render :partial => 'menu/menu' %>
			<% end
		end -%>
		
		<div id="auswahl">
			<%= render( :partial => 'gemeinsam/reservieren_paketauswahl',
						:locals => { :paketauswahl => @paketauswahl }
									) if @paketauswahl %>
		</div>
		
		<% if defined?( @t_diff ) -%>
		<div id="timing" style="margin: 0.5em; margin-left: 3em; font-size: 9px; color:#999;">
			Server-Zeit: <%= "%10.3f" % @t_diff %>
		</div>
		<% end %>
	</div>
		
	<% unless session[ :hilfe_aus ] -%>
		<% logger.debug( "I --- layout allgemein -- hilfeseite:#{session[ :hilfeseite ]}" ) -%>
		<div id="hilfe">
			<%= render_component :controller => 'hilfe/hilfesys', :action => 'anzeigen' %>
		</div>
	<% else -%>
	  <div id="hilfe_klein">
	    <%= link_to( image_tag( 'help.png' ),
	          :controller => 'admin',
	          :action => 'schalte_hilfe' ) %>
	  </div>
	<% end -%>
	
	<div id="inhalt">
<% if ( ENV["RAILS_ENV"] || RAILS_ENV ) == 'development' %>
<div id="devwarning">
Development-Version
</div>
<% end %>


		<%= yield %>
	</div>
	
</div>		
</body>
</html>
