<!DOCTYPE html>
	
<html lang="de-CH">

<head>
	<meta charset="utf-8" />
	<title>leihs 2.9</title>

	<%= stylesheet_link_tag $layout_public_path + "/css/general.css", :media => "all" %>
</head>

<body>

	<div id="wrap">

		<div id="header">
			<div id="logo">
				<h1><%= link_to "leihs 2.9", root_path %></h1>
			</div>
			<div id="personal-toolbar">
				<%= render :partial => '/layouts/backend/00-patterns/personal_toolbar' %>
			</div>		
		</div>
	
		<%= yield %>

	</div> 
  
</body>

</html> 
