%input.small.width-full.has-addon.text-align-center{:disabled => true, :autocomplete => :off, :id => "assigned-item-{{>id}}", :type => :text, :"data-assign-item" => true, :value => "{{>item().inventory_code}}"}
%label.addon.small.transparent.no-padding{:for => "assigned-item-{{>id}}",:"data-remove-assignment" => true}
  %span.link.grey.padding-inset-xs.vertical-align-middle
    %i.icon-remove-sign