%a.emboss.links.black.row.focus-hover-thin.font-size-m.padding-horizontal-s.padding-vertical-xs.round-border-on-hover{:"data-type" => "category-search", :"data-id" => "{{>id}}"}
  %strong 
    %i.fa.fa-search.icon-xxs.vertical-align-top
    {{>search_term}}