.row.line{:"data-parent" => true, :"data-id" => "{{>id}}"}

  .col1of9.line-col

    {{if children().length}}
    %button.button.inset.small.min-width-xs{:"data-type" => "expander"}
      %i.arrow.right
      %span
        {{>children().length}}
    {{/if}}

  .col3of9.line-col.text-align-left
    %strong
      {{>name}}

  .col2of9.line-col
    {{if !is_used()}}
    %strong.darkred-text
      {{jed "not used"/}}
    {{/if}}

  .col3of9.line-col.line-actions

    {{if is_used()}}

    %a.button.white{href: "{{>url('edit')}}"}
      {{jed "Edit"/}}

    {{else}}

    .multibutton

      %a.button.white{href: "{{>url('edit')}}"}
        {{jed "Edit"/}}

      .dropdown-holder.inline-block
        .button.white.dropdown-toggle
          .arrow.down

        %ul.dropdown.right

          %li
            %a.dropdown-item.red{href: "{{>url()}}", :"data-method" => "delete"}
              %i.fa.fa-trash
              {{jed "Delete"/}}

    {{/if}}
